<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel addbreaks add}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN BreakoutLimit_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BreakoutLimit}" data-fieldname="BreakoutLimit" data-signal-error-for="BreakoutLimit{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BreakoutLimit}">
		{BEGIN BreakoutLimit_label}{$label addbreaks BreakoutLimit}{END BreakoutLimit_label}
	</label>
	<div class="col-md-6" >
		{$BreakoutLimit_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BreakoutLimit">
		<div class="text-muted" >
		{$tooltip addbreaks BreakoutLimit}
		</div>
	</div>
</div>
</div>
{END BreakoutLimit_fieldblock}

			{BEGIN BreakInLimit_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BreakInLimit}" data-fieldname="BreakInLimit" data-signal-error-for="BreakInLimit{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BreakInLimit}">
		{BEGIN BreakInLimit_label}{$label addbreaks BreakInLimit}{END BreakInLimit_label}
	</label>
	<div class="col-md-6" >
		{$BreakInLimit_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BreakInLimit">
		<div class="text-muted" >
		{$tooltip addbreaks BreakInLimit}
		</div>
	</div>
</div>
</div>
{END BreakInLimit_fieldblock}

			{BEGIN AllowedBreakMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AllowedBreakMins}" data-fieldname="AllowedBreakMins" data-signal-error-for="AllowedBreakMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AllowedBreakMins}">
		{BEGIN AllowedBreakMins_label}{$label addbreaks AllowedBreakMins}{END AllowedBreakMins_label}
	</label>
	<div class="col-md-6" >
		{$AllowedBreakMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AllowedBreakMins">
		<div class="text-muted" >
		{$tooltip addbreaks AllowedBreakMins}
		</div>
	</div>
</div>
</div>
{END AllowedBreakMins_fieldblock}

			{BEGIN shID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_shID}" data-fieldname="shID" data-signal-error-for="shID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_shID}">
		{BEGIN shID_label}{$label addbreaks shID}{END shID_label}
	</label>
	<div class="col-md-6" >
		{$shID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="shID">
		<div class="text-muted" >
		{$tooltip addbreaks shID}
		</div>
	</div>
</div>
</div>
{END shID_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">Reset</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">Back to list</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
