<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN NoLateDeduction_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NoLateDeduction}" data-fieldname="NoLateDeduction" data-signal-error-for="NoLateDeduction{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NoLateDeduction}">
			{BEGIN NoLateDeduction_label}{$label demo_user2 NoLateDeduction}{END NoLateDeduction_label}
		</label>
		<div class="col-md-6 " >
			{$NoLateDeduction_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NoLateDeduction">
			<div class="text-muted" >
			{$tooltip demo_user2 NoLateDeduction}
			</div>
		</div>
	</div>
</div>
{END NoLateDeduction_tabfieldblock}
{BEGIN GracePeriodMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_GracePeriodMins}" data-fieldname="GracePeriodMins" data-signal-error-for="GracePeriodMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_GracePeriodMins}">
			{BEGIN GracePeriodMins_label}{$label demo_user2 GracePeriodMins}{END GracePeriodMins_label}
		</label>
		<div class="col-md-6 " >
			{$GracePeriodMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="GracePeriodMins">
			<div class="text-muted" >
			{$tooltip demo_user2 GracePeriodMins}
			</div>
		</div>
	</div>
</div>
{END GracePeriodMins_tabfieldblock}
{BEGIN WithAdditionalBreaks_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_WithAdditionalBreaks}" data-fieldname="WithAdditionalBreaks" data-signal-error-for="WithAdditionalBreaks{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_WithAdditionalBreaks}">
			{BEGIN WithAdditionalBreaks_label}{$label demo_user2 WithAdditionalBreaks}{END WithAdditionalBreaks_label}
		</label>
		<div class="col-md-6 " >
			{$WithAdditionalBreaks_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="WithAdditionalBreaks">
			<div class="text-muted" >
			{$tooltip demo_user2 WithAdditionalBreaks}
			</div>
		</div>
	</div>
</div>
{END WithAdditionalBreaks_tabfieldblock}
{BEGIN IncludeBreakLate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_IncludeBreakLate}" data-fieldname="IncludeBreakLate" data-signal-error-for="IncludeBreakLate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_IncludeBreakLate}">
			{BEGIN IncludeBreakLate_label}{$label demo_user2 IncludeBreakLate}{END IncludeBreakLate_label}
		</label>
		<div class="col-md-6 " >
			{$IncludeBreakLate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="IncludeBreakLate">
			<div class="text-muted" >
			{$tooltip demo_user2 IncludeBreakLate}
			</div>
		</div>
	</div>
</div>
{END IncludeBreakLate_tabfieldblock}
{BEGIN LateFixPenalty_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_LateFixPenalty}" data-fieldname="LateFixPenalty" data-signal-error-for="LateFixPenalty{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_LateFixPenalty}">
			{BEGIN LateFixPenalty_label}{$label demo_user2 LateFixPenalty}{END LateFixPenalty_label}
		</label>
		<div class="col-md-6 " >
			{$LateFixPenalty_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="LateFixPenalty">
			<div class="text-muted" >
			{$tooltip demo_user2 LateFixPenalty}
			</div>
		</div>
	</div>
</div>
{END LateFixPenalty_tabfieldblock}





</div>
{END container_tabfields}

</div>