<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN EmployeeType_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_EmployeeType}" data-fieldname="EmployeeType" >
		<label class=" control-label" for="{$labelfor_EmployeeType}">
			{$label demo_user EmployeeType}
		</label>
		<div class="" >
			{$EmployeeType_value}
		</div>
	</div>
{END EmployeeType_tabfieldblock}
{BEGIN Level_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Level}" data-fieldname="Level" >
		<label class=" control-label" for="{$labelfor_Level}">
			{$label demo_user Level}
		</label>
		<div class="" >
			{$Level_value}
		</div>
	</div>
{END Level_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>