<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN EmployeeID_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" >
		<label class=" control-label" for="{$labelfor_EmployeeID}">
			{$label demo_user1 EmployeeID}
		</label>
		<div class="" >
			{$EmployeeID_value}
		</div>
	</div>
{END EmployeeID_tabfieldblock}
{BEGIN IDNo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_IDNo}" data-fieldname="IDNo" >
		<label class=" control-label" for="{$labelfor_IDNo}">
			{$label demo_user1 IDNo}
		</label>
		<div class="" >
			{$IDNo_value}
		</div>
	</div>
{END IDNo_tabfieldblock}
{BEGIN Photo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Photo}" data-fieldname="Photo" >
		<label class=" control-label" for="{$labelfor_Photo}">
			{$label demo_user1 Photo}
		</label>
		<div class="" >
			{$Photo_value}
		</div>
	</div>
{END Photo_tabfieldblock}
{BEGIN user_name_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_user_name}" data-fieldname="user_name" >
		<label class=" control-label" for="{$labelfor_user_name}">
			{$label demo_user1 user_name}
		</label>
		<div class="" >
			{$user_name_value}
		</div>
	</div>
{END user_name_tabfieldblock}
{BEGIN Employer_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Employer}" data-fieldname="Employer" >
		<label class=" control-label" for="{$labelfor_Employer}">
			{$label demo_user1 Employer}
		</label>
		<div class="" >
			{$Employer_value}
		</div>
	</div>
{END Employer_tabfieldblock}
{BEGIN Division_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Division}" data-fieldname="Division" >
		<label class=" control-label" for="{$labelfor_Division}">
			{$label demo_user1 Division}
		</label>
		<div class="" >
			{$Division_value}
		</div>
	</div>
{END Division_tabfieldblock}
{BEGIN Department_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Department}" data-fieldname="Department" >
		<label class=" control-label" for="{$labelfor_Department}">
			{$label demo_user1 Department}
		</label>
		<div class="" >
			{$Department_value}
		</div>
	</div>
{END Department_tabfieldblock}
{BEGIN HiredDate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_HiredDate}" data-fieldname="HiredDate" >
		<label class=" control-label" for="{$labelfor_HiredDate}">
			{$label demo_user1 HiredDate}
		</label>
		<div class="" >
			{$HiredDate_value}
		</div>
	</div>
{END HiredDate_tabfieldblock}
{BEGIN Inactive_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Inactive}" data-fieldname="Inactive" >
		<label class=" control-label" for="{$labelfor_Inactive}">
			{$label demo_user1 Inactive}
		</label>
		<div class="" >
			{$Inactive_value}
		</div>
	</div>
{END Inactive_tabfieldblock}
{BEGIN ExitDate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ExitDate}" data-fieldname="ExitDate" >
		<label class=" control-label" for="{$labelfor_ExitDate}">
			{$label demo_user1 ExitDate}
		</label>
		<div class="" >
			{$ExitDate_value}
		</div>
	</div>
{END ExitDate_tabfieldblock}
{BEGIN Status_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Status}" data-fieldname="Status" >
		<label class=" control-label" for="{$labelfor_Status}">
			{$label demo_user1 Status}
		</label>
		<div class="" >
			{$Status_value}
		</div>
	</div>
{END Status_tabfieldblock}
{BEGIN Position_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Position}" data-fieldname="Position" >
		<label class=" control-label" for="{$labelfor_Position}">
			{$label demo_user1 Position}
		</label>
		<div class="" >
			{$Position_value}
		</div>
	</div>
{END Position_tabfieldblock}
{BEGIN Superior_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Superior}" data-fieldname="Superior" >
		<label class=" control-label" for="{$labelfor_Superior}">
			{$label demo_user1 Superior}
		</label>
		<div class="" >
			{$Superior_value}
		</div>
	</div>
{END Superior_tabfieldblock}
{BEGIN Superior2_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Superior2}" data-fieldname="Superior2" >
		<label class=" control-label" for="{$labelfor_Superior2}">
			{$label demo_user1 Superior2}
		</label>
		<div class="" >
			{$Superior2_value}
		</div>
	</div>
{END Superior2_tabfieldblock}
{BEGIN Mobile_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Mobile}" data-fieldname="Mobile" >
		<label class=" control-label" for="{$labelfor_Mobile}">
			{$label demo_user1 Mobile}
		</label>
		<div class="" >
			{$Mobile_value}
		</div>
	</div>
{END Mobile_tabfieldblock}
{BEGIN Address_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Address}" data-fieldname="Address" >
		<label class=" control-label" for="{$labelfor_Address}">
			{$label demo_user1 Address}
		</label>
		<div class="" >
			{$Address_value}
		</div>
	</div>
{END Address_tabfieldblock}
{BEGIN Birthday_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Birthday}" data-fieldname="Birthday" >
		<label class=" control-label" for="{$labelfor_Birthday}">
			{$label demo_user1 Birthday}
		</label>
		<div class="" >
			{$Birthday_value}
		</div>
	</div>
{END Birthday_tabfieldblock}
{BEGIN Email_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Email}" data-fieldname="Email" >
		<label class=" control-label" for="{$labelfor_Email}">
			{$label demo_user1 Email}
		</label>
		<div class="" >
			{$Email_value}
		</div>
	</div>
{END Email_tabfieldblock}
{BEGIN SSSNo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SSSNo}" data-fieldname="SSSNo" >
		<label class=" control-label" for="{$labelfor_SSSNo}">
			{$label demo_user1 SSSNo}
		</label>
		<div class="" >
			{$SSSNo_value}
		</div>
	</div>
{END SSSNo_tabfieldblock}
{BEGIN PagIbigNo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PagIbigNo}" data-fieldname="PagIbigNo" >
		<label class=" control-label" for="{$labelfor_PagIbigNo}">
			{$label demo_user1 PagIbigNo}
		</label>
		<div class="" >
			{$PagIbigNo_value}
		</div>
	</div>
{END PagIbigNo_tabfieldblock}
{BEGIN PhilHealthNo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PhilHealthNo}" data-fieldname="PhilHealthNo" >
		<label class=" control-label" for="{$labelfor_PhilHealthNo}">
			{$label demo_user1 PhilHealthNo}
		</label>
		<div class="" >
			{$PhilHealthNo_value}
		</div>
	</div>
{END PhilHealthNo_tabfieldblock}
{BEGIN TIN_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TIN}" data-fieldname="TIN" >
		<label class=" control-label" for="{$labelfor_TIN}">
			{$label demo_user1 TIN}
		</label>
		<div class="" >
			{$TIN_value}
		</div>
	</div>
{END TIN_tabfieldblock}
{BEGIN Bank_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Bank}" data-fieldname="Bank" >
		<label class=" control-label" for="{$labelfor_Bank}">
			{$label demo_user1 Bank}
		</label>
		<div class="" >
			{$Bank_value}
		</div>
	</div>
{END Bank_tabfieldblock}
{BEGIN AccountNo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AccountNo}" data-fieldname="AccountNo" >
		<label class=" control-label" for="{$labelfor_AccountNo}">
			{$label demo_user1 AccountNo}
		</label>
		<div class="" >
			{$AccountNo_value}
		</div>
	</div>
{END AccountNo_tabfieldblock}
{BEGIN ExcludeBio_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ExcludeBio}" data-fieldname="ExcludeBio" >
		<label class=" control-label" for="{$labelfor_ExcludeBio}">
			{$label demo_user1 ExcludeBio}
		</label>
		<div class="" >
			{$ExcludeBio_value}
		</div>
	</div>
{END ExcludeBio_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>