<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN DateCreated_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DateCreated}" data-fieldname="DateCreated" data-signal-error-for="DateCreated{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DateCreated}">
			{BEGIN DateCreated_label}{$label demo_user DateCreated}{END DateCreated_label}
		</label>
		<div class="col-md-6 " >
			{$DateCreated_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DateCreated">
			<div class="text-muted" >
			{$tooltip demo_user DateCreated}
			</div>
		</div>
	</div>
</div>
{END DateCreated_tabfieldblock}
{BEGIN Preparedby_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Preparedby}" data-fieldname="Preparedby" data-signal-error-for="Preparedby{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Preparedby}">
			{BEGIN Preparedby_label}{$label demo_user Preparedby}{END Preparedby_label}
		</label>
		<div class="col-md-6 " >
			{$Preparedby_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Preparedby">
			<div class="text-muted" >
			{$tooltip demo_user Preparedby}
			</div>
		</div>
	</div>
</div>
{END Preparedby_tabfieldblock}
{BEGIN Checked_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Checked}" data-fieldname="Checked" data-signal-error-for="Checked{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Checked}">
			{BEGIN Checked_label}{$label demo_user Checked}{END Checked_label}
		</label>
		<div class="col-md-6 " >
			{$Checked_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Checked">
			<div class="text-muted" >
			{$tooltip demo_user Checked}
			</div>
		</div>
	</div>
</div>
{END Checked_tabfieldblock}
{BEGIN Checkedby_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Checkedby}" data-fieldname="Checkedby" data-signal-error-for="Checkedby{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Checkedby}">
			{BEGIN Checkedby_label}{$label demo_user Checkedby}{END Checkedby_label}
		</label>
		<div class="col-md-6 " >
			{$Checkedby_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Checkedby">
			<div class="text-muted" >
			{$tooltip demo_user Checkedby}
			</div>
		</div>
	</div>
</div>
{END Checkedby_tabfieldblock}
{BEGIN CheckedDate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CheckedDate}" data-fieldname="CheckedDate" data-signal-error-for="CheckedDate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CheckedDate}">
			{BEGIN CheckedDate_label}{$label demo_user CheckedDate}{END CheckedDate_label}
		</label>
		<div class="col-md-6 " >
			{$CheckedDate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CheckedDate">
			<div class="text-muted" >
			{$tooltip demo_user CheckedDate}
			</div>
		</div>
	</div>
</div>
{END CheckedDate_tabfieldblock}
{BEGIN Approved_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Approved}" data-fieldname="Approved" data-signal-error-for="Approved{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Approved}">
			{BEGIN Approved_label}{$label demo_user Approved}{END Approved_label}
		</label>
		<div class="col-md-6 " >
			{$Approved_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Approved">
			<div class="text-muted" >
			{$tooltip demo_user Approved}
			</div>
		</div>
	</div>
</div>
{END Approved_tabfieldblock}
{BEGIN Approvedby_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Approvedby}" data-fieldname="Approvedby" data-signal-error-for="Approvedby{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Approvedby}">
			{BEGIN Approvedby_label}{$label demo_user Approvedby}{END Approvedby_label}
		</label>
		<div class="col-md-6 " >
			{$Approvedby_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Approvedby">
			<div class="text-muted" >
			{$tooltip demo_user Approvedby}
			</div>
		</div>
	</div>
</div>
{END Approvedby_tabfieldblock}
{BEGIN ApprovedDate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedDate}" data-fieldname="ApprovedDate" data-signal-error-for="ApprovedDate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedDate}">
			{BEGIN ApprovedDate_label}{$label demo_user ApprovedDate}{END ApprovedDate_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedDate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedDate">
			<div class="text-muted" >
			{$tooltip demo_user ApprovedDate}
			</div>
		</div>
	</div>
</div>
{END ApprovedDate_tabfieldblock}





</div>
{END container_tabfields}

</div>