<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel demo_user masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$EmployeeID_class}">{$label demo_user EmployeeID}</th>
			<th class="{$IDNo_class}">{$label demo_user IDNo}</th>
			<th class="{$Photo_class}">{$label demo_user Photo}</th>
			<th class="{$user_name_class}">{$label demo_user user_name}</th>
			<th class="{$Employer_class}">{$label demo_user Employer}</th>
			<th class="{$Division_class}">{$label demo_user Division}</th>
			<th class="{$Department_class}">{$label demo_user Department}</th>
			<th class="{$HiredDate_class}">{$label demo_user HiredDate}</th>
			<th class="{$Inactive_class}">{$label demo_user Inactive}</th>
			<th class="{$ExitDate_class}">{$label demo_user ExitDate}</th>
			<th class="{$Status_class}">{$label demo_user Status}</th>
			<th class="{$Position_class}">{$label demo_user Position}</th>
			<th class="{$Superior_class}">{$label demo_user Superior}</th>
			<th class="{$Superior2_class}">{$label demo_user Superior2}</th>
			<th class="{$Mobile_class}">{$label demo_user Mobile}</th>
			<th class="{$Address_class}">{$label demo_user Address}</th>
			<th class="{$Birthday_class}">{$label demo_user Birthday}</th>
			<th class="{$Email_class}">{$label demo_user Email}</th>
			<th class="{$SSSNo_class}">{$label demo_user SSSNo}</th>
			<th class="{$PagIbigNo_class}">{$label demo_user PagIbigNo}</th>
			<th class="{$PhilHealthNo_class}">{$label demo_user PhilHealthNo}</th>
			<th class="{$TIN_class}">{$label demo_user TIN}</th>
			<th class="{$Bank_class}">{$label demo_user Bank}</th>
			<th class="{$AccountNo_class}">{$label demo_user AccountNo}</th>
			<th class="{$AllowableSickLeave_class}">{$label demo_user AllowableSickLeave}</th>
			<th class="{$AllowableVacationLeave_class}">{$label demo_user AllowableVacationLeave}</th>
			<th class="{$AllowableEmergencyLeave_class}">{$label demo_user AllowableEmergencyLeave}</th>
			<th class="{$AllowablePaternityLeave_class}">{$label demo_user AllowablePaternityLeave}</th>
			<th class="{$EmployeeType_class}">{$label demo_user EmployeeType}</th>
			<th class="{$Level_class}">{$label demo_user Level}</th>
			<th class="{$DoNotUpdateContributions_class}">{$label demo_user DoNotUpdateContributions}</th>
			<th class="{$ExcludeContributionOnPayroll_class}">{$label demo_user ExcludeContributionOnPayroll}</th>
			<th class="{$SSSEE_class}">{$label demo_user SSSEE}</th>
			<th class="{$SSSER_class}">{$label demo_user SSSER}</th>
			<th class="{$SSSEC_class}">{$label demo_user SSSEC}</th>
			<th class="{$PhilHealthEE_class}">{$label demo_user PhilHealthEE}</th>
			<th class="{$PhilHealthER_class}">{$label demo_user PhilHealthER}</th>
			<th class="{$PagIbigEE_class}">{$label demo_user PagIbigEE}</th>
			<th class="{$PagIbigER_class}">{$label demo_user PagIbigER}</th>
			<th class="{$NoLateDeduction_class}">{$label demo_user NoLateDeduction}</th>
			<th class="{$GracePeriodMins_class}">{$label demo_user GracePeriodMins}</th>
			<th class="{$WithAdditionalBreaks_class}">{$label demo_user WithAdditionalBreaks}</th>
			<th class="{$IncludeBreakLate_class}">{$label demo_user IncludeBreakLate}</th>
			<th class="{$user_id_class}">{$label demo_user user_id}</th>
			<th class="{$LateFixPenalty_class}">{$label demo_user LateFixPenalty}</th>
			<th class="{$CalMonthly_class}">{$label demo_user CalMonthly}</th>
			<th class="{$PresetMoNonTax_class}">{$label demo_user PresetMoNonTax}</th>
			<th class="{$PreCalMoTaxable_class}">{$label demo_user PreCalMoTaxable}</th>
			<th class="{$TaxPeriods_class}">{$label demo_user TaxPeriods}</th>
			<th class="{$TaxPerPeriod_class}">{$label demo_user TaxPerPeriod}</th>
			<th class="{$DateCreated_class}">{$label demo_user DateCreated}</th>
			<th class="{$Preparedby_class}">{$label demo_user Preparedby}</th>
			<th class="{$Checked_class}">{$label demo_user Checked}</th>
			<th class="{$Checkedby_class}">{$label demo_user Checkedby}</th>
			<th class="{$CheckedDate_class}">{$label demo_user CheckedDate}</th>
			<th class="{$Approved_class}">{$label demo_user Approved}</th>
			<th class="{$Approvedby_class}">{$label demo_user Approvedby}</th>
			<th class="{$ApprovedDate_class}">{$label demo_user ApprovedDate}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$EmployeeID_class}">{$EmployeeID_mastervalue}</td>
			<td class="{$IDNo_class}">{$IDNo_mastervalue}</td>
			<td class="{$Photo_class}">{$Photo_mastervalue}</td>
			<td class="{$user_name_class}">{$user_name_mastervalue}</td>
			<td class="{$Employer_class}">{$Employer_mastervalue}</td>
			<td class="{$Division_class}">{$Division_mastervalue}</td>
			<td class="{$Department_class}">{$Department_mastervalue}</td>
			<td class="{$HiredDate_class}">{$HiredDate_mastervalue}</td>
			<td class="{$Inactive_class}">{$Inactive_mastervalue}</td>
			<td class="{$ExitDate_class}">{$ExitDate_mastervalue}</td>
			<td class="{$Status_class}">{$Status_mastervalue}</td>
			<td class="{$Position_class}">{$Position_mastervalue}</td>
			<td class="{$Superior_class}">{$Superior_mastervalue}</td>
			<td class="{$Superior2_class}">{$Superior2_mastervalue}</td>
			<td class="{$Mobile_class}">{$Mobile_mastervalue}</td>
			<td class="{$Address_class}">{$Address_mastervalue}</td>
			<td class="{$Birthday_class}">{$Birthday_mastervalue}</td>
			<td class="{$Email_class}">{$Email_mastervalue}</td>
			<td class="{$SSSNo_class}">{$SSSNo_mastervalue}</td>
			<td class="{$PagIbigNo_class}">{$PagIbigNo_mastervalue}</td>
			<td class="{$PhilHealthNo_class}">{$PhilHealthNo_mastervalue}</td>
			<td class="{$TIN_class}">{$TIN_mastervalue}</td>
			<td class="{$Bank_class}">{$Bank_mastervalue}</td>
			<td class="{$AccountNo_class}">{$AccountNo_mastervalue}</td>
			<td class="{$AllowableSickLeave_class}">{$AllowableSickLeave_mastervalue}</td>
			<td class="{$AllowableVacationLeave_class}">{$AllowableVacationLeave_mastervalue}</td>
			<td class="{$AllowableEmergencyLeave_class}">{$AllowableEmergencyLeave_mastervalue}</td>
			<td class="{$AllowablePaternityLeave_class}">{$AllowablePaternityLeave_mastervalue}</td>
			<td class="{$EmployeeType_class}">{$EmployeeType_mastervalue}</td>
			<td class="{$Level_class}">{$Level_mastervalue}</td>
			<td class="{$DoNotUpdateContributions_class}">{$DoNotUpdateContributions_mastervalue}</td>
			<td class="{$ExcludeContributionOnPayroll_class}">{$ExcludeContributionOnPayroll_mastervalue}</td>
			<td class="{$SSSEE_class}">{$SSSEE_mastervalue}</td>
			<td class="{$SSSER_class}">{$SSSER_mastervalue}</td>
			<td class="{$SSSEC_class}">{$SSSEC_mastervalue}</td>
			<td class="{$PhilHealthEE_class}">{$PhilHealthEE_mastervalue}</td>
			<td class="{$PhilHealthER_class}">{$PhilHealthER_mastervalue}</td>
			<td class="{$PagIbigEE_class}">{$PagIbigEE_mastervalue}</td>
			<td class="{$PagIbigER_class}">{$PagIbigER_mastervalue}</td>
			<td class="{$NoLateDeduction_class}">{$NoLateDeduction_mastervalue}</td>
			<td class="{$GracePeriodMins_class}">{$GracePeriodMins_mastervalue}</td>
			<td class="{$WithAdditionalBreaks_class}">{$WithAdditionalBreaks_mastervalue}</td>
			<td class="{$IncludeBreakLate_class}">{$IncludeBreakLate_mastervalue}</td>
			<td class="{$user_id_class}">{$user_id_mastervalue}</td>
			<td class="{$LateFixPenalty_class}">{$LateFixPenalty_mastervalue}</td>
			<td class="{$CalMonthly_class}">{$CalMonthly_mastervalue}</td>
			<td class="{$PresetMoNonTax_class}">{$PresetMoNonTax_mastervalue}</td>
			<td class="{$PreCalMoTaxable_class}">{$PreCalMoTaxable_mastervalue}</td>
			<td class="{$TaxPeriods_class}">{$TaxPeriods_mastervalue}</td>
			<td class="{$TaxPerPeriod_class}">{$TaxPerPeriod_mastervalue}</td>
			<td class="{$DateCreated_class}">{$DateCreated_mastervalue}</td>
			<td class="{$Preparedby_class}">{$Preparedby_mastervalue}</td>
			<td class="{$Checked_class}">{$Checked_mastervalue}</td>
			<td class="{$Checkedby_class}">{$Checkedby_mastervalue}</td>
			<td class="{$CheckedDate_class}">{$CheckedDate_mastervalue}</td>
			<td class="{$Approved_class}">{$Approved_mastervalue}</td>
			<td class="{$Approvedby_class}">{$Approvedby_mastervalue}</td>
			<td class="{$ApprovedDate_class}">{$ApprovedDate_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>