<div {$pageattrs}>

{BEGIN container_tabfields}<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN DoNotUpdateContributions_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoNotUpdateContributions}" data-fieldname="DoNotUpdateContributions" data-signal-error-for="DoNotUpdateContributions{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoNotUpdateContributions}">
			{BEGIN DoNotUpdateContributions_label}{$label demo_useractive DoNotUpdateContributions}{END DoNotUpdateContributions_label}
		</label>
		<div class="col-md-6 " >
			{$DoNotUpdateContributions_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoNotUpdateContributions">
			<div class="text-muted" >
			{$tooltip demo_useractive DoNotUpdateContributions}
			</div>
		</div>
	</div>
</div>
{END DoNotUpdateContributions_tabfieldblock}
{BEGIN ExcludeContributionOnPayroll_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_ExcludeContributionOnPayroll}" data-fieldname="ExcludeContributionOnPayroll" data-signal-error-for="ExcludeContributionOnPayroll{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ExcludeContributionOnPayroll}">
			{BEGIN ExcludeContributionOnPayroll_label}{$label demo_useractive ExcludeContributionOnPayroll}{END ExcludeContributionOnPayroll_label}
		</label>
		<div class="col-md-6 " >
			{$ExcludeContributionOnPayroll_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ExcludeContributionOnPayroll">
			<div class="text-muted" >
			{$tooltip demo_useractive ExcludeContributionOnPayroll}
			</div>
		</div>
	</div>
</div>
{END ExcludeContributionOnPayroll_tabfieldblock}
{BEGIN SSSEE_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_SSSEE}" data-fieldname="SSSEE" data-signal-error-for="SSSEE{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SSSEE}">
			{BEGIN SSSEE_label}{$label demo_useractive SSSEE}{END SSSEE_label}
		</label>
		<div class="col-md-6 " >
			{$SSSEE_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SSSEE">
			<div class="text-muted" >
			{$tooltip demo_useractive SSSEE}
			</div>
		</div>
	</div>
</div>
{END SSSEE_tabfieldblock}
{BEGIN SSSER_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_SSSER}" data-fieldname="SSSER" data-signal-error-for="SSSER{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SSSER}">
			{BEGIN SSSER_label}{$label demo_useractive SSSER}{END SSSER_label}
		</label>
		<div class="col-md-6 " >
			{$SSSER_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SSSER">
			<div class="text-muted" >
			{$tooltip demo_useractive SSSER}
			</div>
		</div>
	</div>
</div>
{END SSSER_tabfieldblock}
{BEGIN SSSEC_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_SSSEC}" data-fieldname="SSSEC" data-signal-error-for="SSSEC{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SSSEC}">
			{BEGIN SSSEC_label}{$label demo_useractive SSSEC}{END SSSEC_label}
		</label>
		<div class="col-md-6 " >
			{$SSSEC_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SSSEC">
			<div class="text-muted" >
			{$tooltip demo_useractive SSSEC}
			</div>
		</div>
	</div>
</div>
{END SSSEC_tabfieldblock}
{BEGIN PhilHealthEE_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_PhilHealthEE}" data-fieldname="PhilHealthEE" data-signal-error-for="PhilHealthEE{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PhilHealthEE}">
			{BEGIN PhilHealthEE_label}{$label demo_useractive PhilHealthEE}{END PhilHealthEE_label}
		</label>
		<div class="col-md-6 " >
			{$PhilHealthEE_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PhilHealthEE">
			<div class="text-muted" >
			{$tooltip demo_useractive PhilHealthEE}
			</div>
		</div>
	</div>
</div>
{END PhilHealthEE_tabfieldblock}
{BEGIN PhilHealthER_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_PhilHealthER}" data-fieldname="PhilHealthER" data-signal-error-for="PhilHealthER{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PhilHealthER}">
			{BEGIN PhilHealthER_label}{$label demo_useractive PhilHealthER}{END PhilHealthER_label}
		</label>
		<div class="col-md-6 " >
			{$PhilHealthER_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PhilHealthER">
			<div class="text-muted" >
			{$tooltip demo_useractive PhilHealthER}
			</div>
		</div>
	</div>
</div>
{END PhilHealthER_tabfieldblock}
{BEGIN PagIbigEE_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_PagIbigEE}" data-fieldname="PagIbigEE" data-signal-error-for="PagIbigEE{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PagIbigEE}">
			{BEGIN PagIbigEE_label}{$label demo_useractive PagIbigEE}{END PagIbigEE_label}
		</label>
		<div class="col-md-6 " >
			{$PagIbigEE_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PagIbigEE">
			<div class="text-muted" >
			{$tooltip demo_useractive PagIbigEE}
			</div>
		</div>
	</div>
</div>
{END PagIbigEE_tabfieldblock}
{BEGIN PagIbigER_tabfieldblock}<div class="container">
	<div class="form-group in-tab {$fielddispclass_PagIbigER}" data-fieldname="PagIbigER" data-signal-error-for="PagIbigER{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PagIbigER}">
			{BEGIN PagIbigER_label}{$label demo_useractive PagIbigER}{END PagIbigER_label}
		</label>
		<div class="col-md-6 " >
			{$PagIbigER_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PagIbigER">
			<div class="text-muted" >
			{$tooltip demo_useractive PagIbigER}
			</div>
		</div>
	</div>
</div>
{END PagIbigER_tabfieldblock}





</div>
{END container_tabfields}

</div>