<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN CalMonthly_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CalMonthly}" data-fieldname="CalMonthly" data-signal-error-for="CalMonthly{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CalMonthly}">
			{BEGIN CalMonthly_label}{$label demo_user11 CalMonthly}{END CalMonthly_label}
		</label>
		<div class="col-md-6 " >
			{$CalMonthly_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CalMonthly">
			<div class="text-muted" >
			{$tooltip demo_user11 CalMonthly}
			</div>
		</div>
	</div>
</div>
{END CalMonthly_tabfieldblock}
{BEGIN PresetMoNonTax_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PresetMoNonTax}" data-fieldname="PresetMoNonTax" data-signal-error-for="PresetMoNonTax{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PresetMoNonTax}">
			{BEGIN PresetMoNonTax_label}{$label demo_user11 PresetMoNonTax}{END PresetMoNonTax_label}
		</label>
		<div class="col-md-6 " >
			{$PresetMoNonTax_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PresetMoNonTax">
			<div class="text-muted" >
			{$tooltip demo_user11 PresetMoNonTax}
			</div>
		</div>
	</div>
</div>
{END PresetMoNonTax_tabfieldblock}
{BEGIN PreCalMoTaxable_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PreCalMoTaxable}" data-fieldname="PreCalMoTaxable" data-signal-error-for="PreCalMoTaxable{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PreCalMoTaxable}">
			{BEGIN PreCalMoTaxable_label}{$label demo_user11 PreCalMoTaxable}{END PreCalMoTaxable_label}
		</label>
		<div class="col-md-6 " >
			{$PreCalMoTaxable_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PreCalMoTaxable">
			<div class="text-muted" >
			{$tooltip demo_user11 PreCalMoTaxable}
			</div>
		</div>
	</div>
</div>
{END PreCalMoTaxable_tabfieldblock}
{BEGIN TaxPeriods_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TaxPeriods}" data-fieldname="TaxPeriods" data-signal-error-for="TaxPeriods{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TaxPeriods}">
			{BEGIN TaxPeriods_label}{$label demo_user11 TaxPeriods}{END TaxPeriods_label}
		</label>
		<div class="col-md-6 " >
			{$TaxPeriods_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TaxPeriods">
			<div class="text-muted" >
			{$tooltip demo_user11 TaxPeriods}
			</div>
		</div>
	</div>
</div>
{END TaxPeriods_tabfieldblock}
{BEGIN TaxPerPeriod_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TaxPerPeriod}" data-fieldname="TaxPerPeriod" data-signal-error-for="TaxPerPeriod{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TaxPerPeriod}">
			{BEGIN TaxPerPeriod_label}{$label demo_user11 TaxPerPeriod}{END TaxPerPeriod_label}
		</label>
		<div class="col-md-6 " >
			{$TaxPerPeriod_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TaxPerPeriod">
			<div class="text-muted" >
			{$tooltip demo_user11 TaxPerPeriod}
			</div>
		</div>
	</div>
</div>
{END TaxPerPeriod_tabfieldblock}





</div>
{END container_tabfields}

</div>