<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="IDNo">
	{$IDNo_editcontrol}
	</control>
	<control field="Photo">
	{$Photo_editcontrol}
	</control>
	<control field="user_name">
	{$user_name_editcontrol}
	</control>
	<control field="Employer">
	{$Employer_editcontrol}
	</control>
	<control field="Division">
	{$Division_editcontrol}
	</control>
	<control field="Department">
	{$Department_editcontrol}
	</control>
	<control field="HiredDate">
	{$HiredDate_editcontrol}
	</control>
	<control field="Inactive">
	{$Inactive_editcontrol}
	</control>
	<control field="ExitDate">
	{$ExitDate_editcontrol}
	</control>
	<control field="Status">
	{$Status_editcontrol}
	</control>
	<control field="Position">
	{$Position_editcontrol}
	</control>
	<control field="Superior">
	{$Superior_editcontrol}
	</control>
	<control field="Mobile">
	{$Mobile_editcontrol}
	</control>
	<control field="Address">
	{$Address_editcontrol}
	</control>
	<control field="Birthday">
	{$Birthday_editcontrol}
	</control>
	<control field="Email">
	{$Email_editcontrol}
	</control>
	<control field="SSSNo">
	{$SSSNo_editcontrol}
	</control>
	<control field="PagIbigNo">
	{$PagIbigNo_editcontrol}
	</control>
	<control field="PhilHealthNo">
	{$PhilHealthNo_editcontrol}
	</control>
	<control field="TIN">
	{$TIN_editcontrol}
	</control>
	<control field="Bank">
	{$Bank_editcontrol}
	</control>
	<control field="AccountNo">
	{$AccountNo_editcontrol}
	</control>
	<control field="AllowableSickLeave">
	{$AllowableSickLeave_editcontrol}
	</control>
	<control field="AllowableVacationLeave">
	{$AllowableVacationLeave_editcontrol}
	</control>
	<control field="AllowableEmergencyLeave">
	{$AllowableEmergencyLeave_editcontrol}
	</control>
	<control field="AllowablePaternityLeave">
	{$AllowablePaternityLeave_editcontrol}
	</control>
	<control field="EmployeeType">
	{$EmployeeType_editcontrol}
	</control>
	<control field="Level">
	{$Level_editcontrol}
	</control>
	<control field="DoNotUpdateContributions">
	{$DoNotUpdateContributions_editcontrol}
	</control>
	<control field="ExcludeContributionOnPayroll">
	{$ExcludeContributionOnPayroll_editcontrol}
	</control>
	<control field="SSSEE">
	{$SSSEE_editcontrol}
	</control>
	<control field="SSSER">
	{$SSSER_editcontrol}
	</control>
	<control field="SSSEC">
	{$SSSEC_editcontrol}
	</control>
	<control field="PhilHealthEE">
	{$PhilHealthEE_editcontrol}
	</control>
	<control field="PhilHealthER">
	{$PhilHealthER_editcontrol}
	</control>
	<control field="PagIbigEE">
	{$PagIbigEE_editcontrol}
	</control>
	<control field="PagIbigER">
	{$PagIbigER_editcontrol}
	</control>
	<control field="PresetTax">
	{$PresetTax_editcontrol}
	</control>
	<control field="NoLateDeduction">
	{$NoLateDeduction_editcontrol}
	</control>
	<control field="GracePeriodMins">
	{$GracePeriodMins_editcontrol}
	</control>
	<control field="WithAdditionalBreaks">
	{$WithAdditionalBreaks_editcontrol}
	</control>
	<control field="IncludeBreakLate">
	{$IncludeBreakLate_editcontrol}
	</control>
	<control field="LateFixPenalty">
	{$LateFixPenalty_editcontrol}
	</control>
	<control field="DateCreated">
	{$DateCreated_editcontrol}
	</control>
	<control field="Preparedby">
	{$Preparedby_editcontrol}
	</control>
	<control field="Checked">
	{$Checked_editcontrol}
	</control>
	<control field="Checkedby">
	{$Checkedby_editcontrol}
	</control>
	<control field="CheckedDate">
	{$CheckedDate_editcontrol}
	</control>
	<control field="Approved">
	{$Approved_editcontrol}
	</control>
	<control field="Approvedby">
	{$Approvedby_editcontrol}
	</control>
	<control field="ApprovedDate">
	{$ApprovedDate_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>