<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN CalMonthly_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CalMonthly}" data-fieldname="CalMonthly" >
		<label class=" control-label" for="{$labelfor_CalMonthly}">
			{$label demo_user CalMonthly}
		</label>
		<div class="" >
			{$CalMonthly_value}
		</div>
	</div>
{END CalMonthly_tabfieldblock}
{BEGIN PresetMoNonTax_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PresetMoNonTax}" data-fieldname="PresetMoNonTax" >
		<label class=" control-label" for="{$labelfor_PresetMoNonTax}">
			{$label demo_user PresetMoNonTax}
		</label>
		<div class="" >
			{$PresetMoNonTax_value}
		</div>
	</div>
{END PresetMoNonTax_tabfieldblock}
{BEGIN PreCalMoTaxable_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PreCalMoTaxable}" data-fieldname="PreCalMoTaxable" >
		<label class=" control-label" for="{$labelfor_PreCalMoTaxable}">
			{$label demo_user PreCalMoTaxable}
		</label>
		<div class="" >
			{$PreCalMoTaxable_value}
		</div>
	</div>
{END PreCalMoTaxable_tabfieldblock}
{BEGIN TaxPeriods_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TaxPeriods}" data-fieldname="TaxPeriods" >
		<label class=" control-label" for="{$labelfor_TaxPeriods}">
			{$label demo_user TaxPeriods}
		</label>
		<div class="" >
			{$TaxPeriods_value}
		</div>
	</div>
{END TaxPeriods_tabfieldblock}
{BEGIN TaxPerPeriod_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TaxPerPeriod}" data-fieldname="TaxPerPeriod" >
		<label class=" control-label" for="{$labelfor_TaxPerPeriod}">
			{$label demo_user TaxPerPeriod}
		</label>
		<div class="" >
			{$TaxPerPeriod_value}
		</div>
	</div>
{END TaxPerPeriod_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>