<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN EmployeeType_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_EmployeeType}" data-fieldname="EmployeeType" data-signal-error-for="EmployeeType{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_EmployeeType}">
			{BEGIN EmployeeType_label}{$label demo_user EmployeeType}{END EmployeeType_label}
		</label>
		<div class="col-md-6 " >
			{$EmployeeType_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="EmployeeType">
			<div class="text-muted" >
			{$tooltip demo_user EmployeeType}
			</div>
		</div>
	</div>
</div>
{END EmployeeType_tabfieldblock}
{BEGIN Level_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Level}" data-fieldname="Level" data-signal-error-for="Level{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Level}">
			{BEGIN Level_label}{$label demo_user Level}{END Level_label}
		</label>
		<div class="col-md-6 " >
			{$Level_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Level">
			<div class="text-muted" >
			{$tooltip demo_user Level}
			</div>
		</div>
	</div>
</div>
{END Level_tabfieldblock}





</div>
{END container_tabfields}

</div>