<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN EmployeeType_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_EmployeeType}" data-fieldname="EmployeeType" >
		<label class=" control-label" for="{$labelfor_EmployeeType}">
			{$label demo_user1 EmployeeType}
		</label>
		<div class="" >
			{$EmployeeType_value}
		</div>
	</div>
{END EmployeeType_tabfieldblock}
{BEGIN Level_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Level}" data-fieldname="Level" >
		<label class=" control-label" for="{$labelfor_Level}">
			{$label demo_user1 Level}
		</label>
		<div class="" >
			{$Level_value}
		</div>
	</div>
{END Level_tabfieldblock}
{BEGIN DeMinimis_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DeMinimis}" data-fieldname="DeMinimis" >
		<label class=" control-label" for="{$labelfor_DeMinimis}">
			{$label demo_user1 DeMinimis}
		</label>
		<div class="" >
			{$DeMinimis_value}
		</div>
	</div>
{END DeMinimis_tabfieldblock}
{BEGIN BasicMonthlyPay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_BasicMonthlyPay}" data-fieldname="BasicMonthlyPay" >
		<label class=" control-label" for="{$labelfor_BasicMonthlyPay}">
			{$label demo_user1 BasicMonthlyPay}
		</label>
		<div class="" >
			{$BasicMonthlyPay_value}
		</div>
	</div>
{END BasicMonthlyPay_tabfieldblock}
{BEGIN BasicDailyPay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_BasicDailyPay}" data-fieldname="BasicDailyPay" >
		<label class=" control-label" for="{$labelfor_BasicDailyPay}">
			{$label demo_user1 BasicDailyPay}
		</label>
		<div class="" >
			{$BasicDailyPay_value}
		</div>
	</div>
{END BasicDailyPay_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>