<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN AllowableSickLeave_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowableSickLeave}" data-fieldname="AllowableSickLeave" data-signal-error-for="AllowableSickLeave{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowableSickLeave}">
			{BEGIN AllowableSickLeave_label}{$label demo_user1 AllowableSickLeave}{END AllowableSickLeave_label}
		</label>
		<div class="col-md-6 " >
			{$AllowableSickLeave_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowableSickLeave">
			<div class="text-muted" >
			{$tooltip demo_user1 AllowableSickLeave}
			</div>
		</div>
	</div>
</div>
{END AllowableSickLeave_tabfieldblock}
{BEGIN AllowableVacationLeave_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowableVacationLeave}" data-fieldname="AllowableVacationLeave" data-signal-error-for="AllowableVacationLeave{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowableVacationLeave}">
			{BEGIN AllowableVacationLeave_label}{$label demo_user1 AllowableVacationLeave}{END AllowableVacationLeave_label}
		</label>
		<div class="col-md-6 " >
			{$AllowableVacationLeave_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowableVacationLeave">
			<div class="text-muted" >
			{$tooltip demo_user1 AllowableVacationLeave}
			</div>
		</div>
	</div>
</div>
{END AllowableVacationLeave_tabfieldblock}
{BEGIN AllowableEmergencyLeave_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowableEmergencyLeave}" data-fieldname="AllowableEmergencyLeave" data-signal-error-for="AllowableEmergencyLeave{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowableEmergencyLeave}">
			{BEGIN AllowableEmergencyLeave_label}{$label demo_user1 AllowableEmergencyLeave}{END AllowableEmergencyLeave_label}
		</label>
		<div class="col-md-6 " >
			{$AllowableEmergencyLeave_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowableEmergencyLeave">
			<div class="text-muted" >
			{$tooltip demo_user1 AllowableEmergencyLeave}
			</div>
		</div>
	</div>
</div>
{END AllowableEmergencyLeave_tabfieldblock}
{BEGIN AllowablePaternityLeave_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowablePaternityLeave}" data-fieldname="AllowablePaternityLeave" data-signal-error-for="AllowablePaternityLeave{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowablePaternityLeave}">
			{BEGIN AllowablePaternityLeave_label}{$label demo_user1 AllowablePaternityLeave}{END AllowablePaternityLeave_label}
		</label>
		<div class="col-md-6 " >
			{$AllowablePaternityLeave_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowablePaternityLeave">
			<div class="text-muted" >
			{$tooltip demo_user1 AllowablePaternityLeave}
			</div>
		</div>
	</div>
</div>
{END AllowablePaternityLeave_tabfieldblock}





</div>
{END container_tabfields}

</div>