<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN AllowableSickLeave_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowableSickLeave}" data-fieldname="AllowableSickLeave" >
		<label class=" control-label" for="{$labelfor_AllowableSickLeave}">
			{$label demo_user_open AllowableSickLeave}
		</label>
		<div class="" >
			{$AllowableSickLeave_value}
		</div>
	</div>
{END AllowableSickLeave_tabfieldblock}
{BEGIN AllowableVacationLeave_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowableVacationLeave}" data-fieldname="AllowableVacationLeave" >
		<label class=" control-label" for="{$labelfor_AllowableVacationLeave}">
			{$label demo_user_open AllowableVacationLeave}
		</label>
		<div class="" >
			{$AllowableVacationLeave_value}
		</div>
	</div>
{END AllowableVacationLeave_tabfieldblock}
{BEGIN AllowableEmergencyLeave_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowableEmergencyLeave}" data-fieldname="AllowableEmergencyLeave" >
		<label class=" control-label" for="{$labelfor_AllowableEmergencyLeave}">
			{$label demo_user_open AllowableEmergencyLeave}
		</label>
		<div class="" >
			{$AllowableEmergencyLeave_value}
		</div>
	</div>
{END AllowableEmergencyLeave_tabfieldblock}
{BEGIN AllowablePaternityLeave_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowablePaternityLeave}" data-fieldname="AllowablePaternityLeave" >
		<label class=" control-label" for="{$labelfor_AllowablePaternityLeave}">
			{$label demo_user_open AllowablePaternityLeave}
		</label>
		<div class="" >
			{$AllowablePaternityLeave_value}
		</div>
	</div>
{END AllowablePaternityLeave_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>