<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN DoNotUpdateContributions_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoNotUpdateContributions}" data-fieldname="DoNotUpdateContributions" >
		<label class=" control-label" for="{$labelfor_DoNotUpdateContributions}">
			{$label demo_user2 DoNotUpdateContributions}
		</label>
		<div class="" >
			{$DoNotUpdateContributions_value}
		</div>
	</div>
{END DoNotUpdateContributions_tabfieldblock}
{BEGIN ExcludeContributionOnPayroll_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ExcludeContributionOnPayroll}" data-fieldname="ExcludeContributionOnPayroll" >
		<label class=" control-label" for="{$labelfor_ExcludeContributionOnPayroll}">
			{$label demo_user2 ExcludeContributionOnPayroll}
		</label>
		<div class="" >
			{$ExcludeContributionOnPayroll_value}
		</div>
	</div>
{END ExcludeContributionOnPayroll_tabfieldblock}
{BEGIN SSSEE_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SSSEE}" data-fieldname="SSSEE" >
		<label class=" control-label" for="{$labelfor_SSSEE}">
			{$label demo_user2 SSSEE}
		</label>
		<div class="" >
			{$SSSEE_value}
		</div>
	</div>
{END SSSEE_tabfieldblock}
{BEGIN SSSER_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SSSER}" data-fieldname="SSSER" >
		<label class=" control-label" for="{$labelfor_SSSER}">
			{$label demo_user2 SSSER}
		</label>
		<div class="" >
			{$SSSER_value}
		</div>
	</div>
{END SSSER_tabfieldblock}
{BEGIN SSSEC_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SSSEC}" data-fieldname="SSSEC" >
		<label class=" control-label" for="{$labelfor_SSSEC}">
			{$label demo_user2 SSSEC}
		</label>
		<div class="" >
			{$SSSEC_value}
		</div>
	</div>
{END SSSEC_tabfieldblock}
{BEGIN PhilHealthEE_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PhilHealthEE}" data-fieldname="PhilHealthEE" >
		<label class=" control-label" for="{$labelfor_PhilHealthEE}">
			{$label demo_user2 PhilHealthEE}
		</label>
		<div class="" >
			{$PhilHealthEE_value}
		</div>
	</div>
{END PhilHealthEE_tabfieldblock}
{BEGIN PhilHealthER_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PhilHealthER}" data-fieldname="PhilHealthER" >
		<label class=" control-label" for="{$labelfor_PhilHealthER}">
			{$label demo_user2 PhilHealthER}
		</label>
		<div class="" >
			{$PhilHealthER_value}
		</div>
	</div>
{END PhilHealthER_tabfieldblock}
{BEGIN PagIbigEE_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PagIbigEE}" data-fieldname="PagIbigEE" >
		<label class=" control-label" for="{$labelfor_PagIbigEE}">
			{$label demo_user2 PagIbigEE}
		</label>
		<div class="" >
			{$PagIbigEE_value}
		</div>
	</div>
{END PagIbigEE_tabfieldblock}
{BEGIN PagIbigER_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PagIbigER}" data-fieldname="PagIbigER" >
		<label class=" control-label" for="{$labelfor_PagIbigER}">
			{$label demo_user2 PagIbigER}
		</label>
		<div class="" >
			{$PagIbigER_value}
		</div>
	</div>
{END PagIbigER_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>