<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN EmployeeID_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
			{BEGIN EmployeeID_label}{$label demo_user_open EmployeeID}{END EmployeeID_label}
		</label>
		<div class="col-md-6 " >
			{$EmployeeID_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="EmployeeID">
			<div class="text-muted" >
			{$tooltip demo_user_open EmployeeID}
			</div>
		</div>
	</div>
</div>
{END EmployeeID_tabfieldblock}
{BEGIN IDNo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_IDNo}" data-fieldname="IDNo" data-signal-error-for="IDNo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_IDNo}">
			{BEGIN IDNo_label}{$label demo_user_open IDNo}{END IDNo_label}
		</label>
		<div class="col-md-6 " >
			{$IDNo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="IDNo">
			<div class="text-muted" >
			{$tooltip demo_user_open IDNo}
			</div>
		</div>
	</div>
</div>
{END IDNo_tabfieldblock}
{BEGIN Photo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Photo}" data-fieldname="Photo" data-signal-error-for="Photo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Photo}">
			{BEGIN Photo_label}{$label demo_user_open Photo}{END Photo_label}
		</label>
		<div class="col-md-6 " >
			{$Photo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Photo">
			<div class="text-muted" >
			{$tooltip demo_user_open Photo}
			</div>
		</div>
	</div>
</div>
{END Photo_tabfieldblock}
{BEGIN user_name_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_user_name}" data-fieldname="user_name" data-signal-error-for="user_name{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_user_name}">
			{BEGIN user_name_label}{$label demo_user_open user_name}{END user_name_label}
		</label>
		<div class="col-md-6 " >
			{$user_name_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="user_name">
			<div class="text-muted" >
			{$tooltip demo_user_open user_name}
			</div>
		</div>
	</div>
</div>
{END user_name_tabfieldblock}
{BEGIN Employer_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Employer}" data-fieldname="Employer" data-signal-error-for="Employer{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Employer}">
			{BEGIN Employer_label}{$label demo_user_open Employer}{END Employer_label}
		</label>
		<div class="col-md-6 " >
			{$Employer_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Employer">
			<div class="text-muted" >
			{$tooltip demo_user_open Employer}
			</div>
		</div>
	</div>
</div>
{END Employer_tabfieldblock}
{BEGIN Division_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Division}" data-fieldname="Division" data-signal-error-for="Division{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Division}">
			{BEGIN Division_label}{$label demo_user_open Division}{END Division_label}
		</label>
		<div class="col-md-6 " >
			{$Division_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Division">
			<div class="text-muted" >
			{$tooltip demo_user_open Division}
			</div>
		</div>
	</div>
</div>
{END Division_tabfieldblock}
{BEGIN Department_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Department}" data-fieldname="Department" data-signal-error-for="Department{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Department}">
			{BEGIN Department_label}{$label demo_user_open Department}{END Department_label}
		</label>
		<div class="col-md-6 " >
			{$Department_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Department">
			<div class="text-muted" >
			{$tooltip demo_user_open Department}
			</div>
		</div>
	</div>
</div>
{END Department_tabfieldblock}
{BEGIN HiredDate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_HiredDate}" data-fieldname="HiredDate" data-signal-error-for="HiredDate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_HiredDate}">
			{BEGIN HiredDate_label}{$label demo_user_open HiredDate}{END HiredDate_label}
		</label>
		<div class="col-md-6 " >
			{$HiredDate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="HiredDate">
			<div class="text-muted" >
			{$tooltip demo_user_open HiredDate}
			</div>
		</div>
	</div>
</div>
{END HiredDate_tabfieldblock}
{BEGIN Inactive_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Inactive}" data-fieldname="Inactive" data-signal-error-for="Inactive{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Inactive}">
			{BEGIN Inactive_label}{$label demo_user_open Inactive}{END Inactive_label}
		</label>
		<div class="col-md-6 " >
			{$Inactive_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Inactive">
			<div class="text-muted" >
			{$tooltip demo_user_open Inactive}
			</div>
		</div>
	</div>
</div>
{END Inactive_tabfieldblock}
{BEGIN ExitDate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ExitDate}" data-fieldname="ExitDate" data-signal-error-for="ExitDate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ExitDate}">
			{BEGIN ExitDate_label}{$label demo_user_open ExitDate}{END ExitDate_label}
		</label>
		<div class="col-md-6 " >
			{$ExitDate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ExitDate">
			<div class="text-muted" >
			{$tooltip demo_user_open ExitDate}
			</div>
		</div>
	</div>
</div>
{END ExitDate_tabfieldblock}
{BEGIN Status_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Status}" data-fieldname="Status" data-signal-error-for="Status{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Status}">
			{BEGIN Status_label}{$label demo_user_open Status}{END Status_label}
		</label>
		<div class="col-md-6 " >
			{$Status_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Status">
			<div class="text-muted" >
			{$tooltip demo_user_open Status}
			</div>
		</div>
	</div>
</div>
{END Status_tabfieldblock}
{BEGIN Position_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Position}" data-fieldname="Position" data-signal-error-for="Position{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Position}">
			{BEGIN Position_label}{$label demo_user_open Position}{END Position_label}
		</label>
		<div class="col-md-6 " >
			{$Position_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Position">
			<div class="text-muted" >
			{$tooltip demo_user_open Position}
			</div>
		</div>
	</div>
</div>
{END Position_tabfieldblock}
{BEGIN Superior_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Superior}" data-fieldname="Superior" data-signal-error-for="Superior{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Superior}">
			{BEGIN Superior_label}{$label demo_user_open Superior}{END Superior_label}
		</label>
		<div class="col-md-6 " >
			{$Superior_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Superior">
			<div class="text-muted" >
			{$tooltip demo_user_open Superior}
			</div>
		</div>
	</div>
</div>
{END Superior_tabfieldblock}
{BEGIN Superior2_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Superior2}" data-fieldname="Superior2" data-signal-error-for="Superior2{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Superior2}">
			{BEGIN Superior2_label}{$label demo_user_open Superior2}{END Superior2_label}
		</label>
		<div class="col-md-6 " >
			{$Superior2_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Superior2">
			<div class="text-muted" >
			{$tooltip demo_user_open Superior2}
			</div>
		</div>
	</div>
</div>
{END Superior2_tabfieldblock}
{BEGIN Mobile_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Mobile}" data-fieldname="Mobile" data-signal-error-for="Mobile{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Mobile}">
			{BEGIN Mobile_label}{$label demo_user_open Mobile}{END Mobile_label}
		</label>
		<div class="col-md-6 " >
			{$Mobile_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Mobile">
			<div class="text-muted" >
			{$tooltip demo_user_open Mobile}
			</div>
		</div>
	</div>
</div>
{END Mobile_tabfieldblock}
{BEGIN Address_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Address}" data-fieldname="Address" data-signal-error-for="Address{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Address}">
			{BEGIN Address_label}{$label demo_user_open Address}{END Address_label}
		</label>
		<div class="col-md-6 " >
			{$Address_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Address">
			<div class="text-muted" >
			{$tooltip demo_user_open Address}
			</div>
		</div>
	</div>
</div>
{END Address_tabfieldblock}
{BEGIN Birthday_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Birthday}" data-fieldname="Birthday" data-signal-error-for="Birthday{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Birthday}">
			{BEGIN Birthday_label}{$label demo_user_open Birthday}{END Birthday_label}
		</label>
		<div class="col-md-6 " >
			{$Birthday_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Birthday">
			<div class="text-muted" >
			{$tooltip demo_user_open Birthday}
			</div>
		</div>
	</div>
</div>
{END Birthday_tabfieldblock}
{BEGIN Email_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Email}" data-fieldname="Email" data-signal-error-for="Email{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Email}">
			{BEGIN Email_label}{$label demo_user_open Email}{END Email_label}
		</label>
		<div class="col-md-6 " >
			{$Email_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Email">
			<div class="text-muted" >
			{$tooltip demo_user_open Email}
			</div>
		</div>
	</div>
</div>
{END Email_tabfieldblock}
{BEGIN SSSNo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SSSNo}" data-fieldname="SSSNo" data-signal-error-for="SSSNo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SSSNo}">
			{BEGIN SSSNo_label}{$label demo_user_open SSSNo}{END SSSNo_label}
		</label>
		<div class="col-md-6 " >
			{$SSSNo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SSSNo">
			<div class="text-muted" >
			{$tooltip demo_user_open SSSNo}
			</div>
		</div>
	</div>
</div>
{END SSSNo_tabfieldblock}
{BEGIN PagIbigNo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PagIbigNo}" data-fieldname="PagIbigNo" data-signal-error-for="PagIbigNo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PagIbigNo}">
			{BEGIN PagIbigNo_label}{$label demo_user_open PagIbigNo}{END PagIbigNo_label}
		</label>
		<div class="col-md-6 " >
			{$PagIbigNo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PagIbigNo">
			<div class="text-muted" >
			{$tooltip demo_user_open PagIbigNo}
			</div>
		</div>
	</div>
</div>
{END PagIbigNo_tabfieldblock}
{BEGIN PhilHealthNo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PhilHealthNo}" data-fieldname="PhilHealthNo" data-signal-error-for="PhilHealthNo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PhilHealthNo}">
			{BEGIN PhilHealthNo_label}{$label demo_user_open PhilHealthNo}{END PhilHealthNo_label}
		</label>
		<div class="col-md-6 " >
			{$PhilHealthNo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PhilHealthNo">
			<div class="text-muted" >
			{$tooltip demo_user_open PhilHealthNo}
			</div>
		</div>
	</div>
</div>
{END PhilHealthNo_tabfieldblock}
{BEGIN TIN_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TIN}" data-fieldname="TIN" data-signal-error-for="TIN{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TIN}">
			{BEGIN TIN_label}{$label demo_user_open TIN}{END TIN_label}
		</label>
		<div class="col-md-6 " >
			{$TIN_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TIN">
			<div class="text-muted" >
			{$tooltip demo_user_open TIN}
			</div>
		</div>
	</div>
</div>
{END TIN_tabfieldblock}
{BEGIN Bank_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Bank}" data-fieldname="Bank" data-signal-error-for="Bank{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Bank}">
			{BEGIN Bank_label}{$label demo_user_open Bank}{END Bank_label}
		</label>
		<div class="col-md-6 " >
			{$Bank_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Bank">
			<div class="text-muted" >
			{$tooltip demo_user_open Bank}
			</div>
		</div>
	</div>
</div>
{END Bank_tabfieldblock}
{BEGIN AccountNo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AccountNo}" data-fieldname="AccountNo" data-signal-error-for="AccountNo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AccountNo}">
			{BEGIN AccountNo_label}{$label demo_user_open AccountNo}{END AccountNo_label}
		</label>
		<div class="col-md-6 " >
			{$AccountNo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AccountNo">
			<div class="text-muted" >
			{$tooltip demo_user_open AccountNo}
			</div>
		</div>
	</div>
</div>
{END AccountNo_tabfieldblock}





</div>
{END container_tabfields}

</div>