<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN DateCreated_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DateCreated}" data-fieldname="DateCreated" >
		<label class=" control-label" for="{$labelfor_DateCreated}">
			{$label demo_user_open DateCreated}
		</label>
		<div class="" >
			{$DateCreated_value}
		</div>
	</div>
{END DateCreated_tabfieldblock}
{BEGIN Preparedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Preparedby}" data-fieldname="Preparedby" >
		<label class=" control-label" for="{$labelfor_Preparedby}">
			{$label demo_user_open Preparedby}
		</label>
		<div class="" >
			{$Preparedby_value}
		</div>
	</div>
{END Preparedby_tabfieldblock}
{BEGIN Checked_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Checked}" data-fieldname="Checked" >
		<label class=" control-label" for="{$labelfor_Checked}">
			{$label demo_user_open Checked}
		</label>
		<div class="" >
			{$Checked_value}
		</div>
	</div>
{END Checked_tabfieldblock}
{BEGIN Checkedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Checkedby}" data-fieldname="Checkedby" >
		<label class=" control-label" for="{$labelfor_Checkedby}">
			{$label demo_user_open Checkedby}
		</label>
		<div class="" >
			{$Checkedby_value}
		</div>
	</div>
{END Checkedby_tabfieldblock}
{BEGIN CheckedDate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CheckedDate}" data-fieldname="CheckedDate" >
		<label class=" control-label" for="{$labelfor_CheckedDate}">
			{$label demo_user_open CheckedDate}
		</label>
		<div class="" >
			{$CheckedDate_value}
		</div>
	</div>
{END CheckedDate_tabfieldblock}
{BEGIN Approved_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Approved}" data-fieldname="Approved" >
		<label class=" control-label" for="{$labelfor_Approved}">
			{$label demo_user_open Approved}
		</label>
		<div class="" >
			{$Approved_value}
		</div>
	</div>
{END Approved_tabfieldblock}
{BEGIN Approvedby_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Approvedby}" data-fieldname="Approvedby" >
		<label class=" control-label" for="{$labelfor_Approvedby}">
			{$label demo_user_open Approvedby}
		</label>
		<div class="" >
			{$Approvedby_value}
		</div>
	</div>
{END Approvedby_tabfieldblock}
{BEGIN ApprovedDate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ApprovedDate}" data-fieldname="ApprovedDate" >
		<label class=" control-label" for="{$labelfor_ApprovedDate}">
			{$label demo_user_open ApprovedDate}
		</label>
		<div class="" >
			{$ApprovedDate_value}
		</div>
	</div>
{END ApprovedDate_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>