<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN NoLateDeduction_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NoLateDeduction}" data-fieldname="NoLateDeduction" >
		<label class=" control-label" for="{$labelfor_NoLateDeduction}">
			{$label demo_useremp NoLateDeduction}
		</label>
		<div class="" >
			{$NoLateDeduction_value}
		</div>
	</div>
{END NoLateDeduction_tabfieldblock}
{BEGIN GracePeriodMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_GracePeriodMins}" data-fieldname="GracePeriodMins" >
		<label class=" control-label" for="{$labelfor_GracePeriodMins}">
			{$label demo_useremp GracePeriodMins}
		</label>
		<div class="" >
			{$GracePeriodMins_value}
		</div>
	</div>
{END GracePeriodMins_tabfieldblock}
{BEGIN WithAdditionalBreaks_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_WithAdditionalBreaks}" data-fieldname="WithAdditionalBreaks" >
		<label class=" control-label" for="{$labelfor_WithAdditionalBreaks}">
			{$label demo_useremp WithAdditionalBreaks}
		</label>
		<div class="" >
			{$WithAdditionalBreaks_value}
		</div>
	</div>
{END WithAdditionalBreaks_tabfieldblock}
{BEGIN IncludeBreakLate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_IncludeBreakLate}" data-fieldname="IncludeBreakLate" >
		<label class=" control-label" for="{$labelfor_IncludeBreakLate}">
			{$label demo_useremp IncludeBreakLate}
		</label>
		<div class="" >
			{$IncludeBreakLate_value}
		</div>
	</div>
{END IncludeBreakLate_tabfieldblock}
{BEGIN LateFixPenalty_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LateFixPenalty}" data-fieldname="LateFixPenalty" >
		<label class=" control-label" for="{$labelfor_LateFixPenalty}">
			{$label demo_useremp LateFixPenalty}
		</label>
		<div class="" >
			{$LateFixPenalty_value}
		</div>
	</div>
{END LateFixPenalty_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>