<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN EmployeeType_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_EmployeeType}" data-fieldname="EmployeeType" data-signal-error-for="EmployeeType{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_EmployeeType}">
			{BEGIN EmployeeType_label}{$label demo_user1 EmployeeType}{END EmployeeType_label}
		</label>
		<div class="col-md-6 " >
			{$EmployeeType_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="EmployeeType">
			<div class="text-muted" >
			{$tooltip demo_user1 EmployeeType}
			</div>
		</div>
	</div>
</div>
{END EmployeeType_tabfieldblock}
{BEGIN Level_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Level}" data-fieldname="Level" data-signal-error-for="Level{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Level}">
			{BEGIN Level_label}{$label demo_user1 Level}{END Level_label}
		</label>
		<div class="col-md-6 " >
			{$Level_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Level">
			<div class="text-muted" >
			{$tooltip demo_user1 Level}
			</div>
		</div>
	</div>
</div>
{END Level_tabfieldblock}
{BEGIN DeMinimis_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DeMinimis}" data-fieldname="DeMinimis" data-signal-error-for="DeMinimis{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DeMinimis}">
			{BEGIN DeMinimis_label}{$label demo_user1 DeMinimis}{END DeMinimis_label}
		</label>
		<div class="col-md-6 " >
			{$DeMinimis_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DeMinimis">
			<div class="text-muted" >
			{$tooltip demo_user1 DeMinimis}
			</div>
		</div>
	</div>
</div>
{END DeMinimis_tabfieldblock}
{BEGIN BasicMonthlyPay_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_BasicMonthlyPay}" data-fieldname="BasicMonthlyPay" data-signal-error-for="BasicMonthlyPay{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_BasicMonthlyPay}">
			{BEGIN BasicMonthlyPay_label}{$label demo_user1 BasicMonthlyPay}{END BasicMonthlyPay_label}
		</label>
		<div class="col-md-6 " >
			{$BasicMonthlyPay_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="BasicMonthlyPay">
			<div class="text-muted" >
			{$tooltip demo_user1 BasicMonthlyPay}
			</div>
		</div>
	</div>
</div>
{END BasicMonthlyPay_tabfieldblock}
{BEGIN BasicDailyPay_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_BasicDailyPay}" data-fieldname="BasicDailyPay" data-signal-error-for="BasicDailyPay{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_BasicDailyPay}">
			{BEGIN BasicDailyPay_label}{$label demo_user1 BasicDailyPay}{END BasicDailyPay_label}
		</label>
		<div class="col-md-6 " >
			{$BasicDailyPay_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="BasicDailyPay">
			<div class="text-muted" >
			{$tooltip demo_user1 BasicDailyPay}
			</div>
		</div>
	</div>
</div>
{END BasicDailyPay_tabfieldblock}





</div>
{END container_tabfields}

</div>