<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Division">
	{$Division_editcontrol}
	</control>
	<control field="MontlyPaymentPeriods">
	{$MontlyPaymentPeriods_editcontrol}
	</control>
	<control field="StatutoryPayment">
	{$StatutoryPayment_editcontrol}
	</control>
	<control field="MinimumMonhtlyWage">
	{$MinimumMonhtlyWage_editcontrol}
	</control>
	<control field="MinimumDailyWage">
	{$MinimumDailyWage_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>