<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel dt5 search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label dt5 EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN UserName_fieldblock}		
	<div class="container {$fielddispclass_UserName}" data-fieldname="UserName">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UserName}">
				{$label dt5 UserName}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UserName}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol1}
			</div>
		</div>
	</div>
{END UserName_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label dt5 Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label dt5 Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN Department_fieldblock}		
	<div class="container {$fielddispclass_Department}" data-fieldname="Department">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Department}">
				{$label dt5 Department}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Department}
			</div>
			<div class="col-md-4" >
				{$Department_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Department_editcontrol1}
			</div>
		</div>
	</div>
{END Department_fieldblock}
	{BEGIN WageType_fieldblock}		
	<div class="container {$fielddispclass_WageType}" data-fieldname="WageType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WageType}">
				{$label dt5 WageType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WageType}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol1}
			</div>
		</div>
	</div>
{END WageType_fieldblock}
	{BEGIN SDate_fieldblock}		
	<div class="container {$fielddispclass_SDate}" data-fieldname="SDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SDate}">
				{$label dt5 SDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SDate}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol1}
			</div>
		</div>
	</div>
{END SDate_fieldblock}
	{BEGIN RestDay_fieldblock}		
	<div class="container {$fielddispclass_RestDay}" data-fieldname="RestDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RestDay}">
				{$label dt5 RestDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RestDay}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol1}
			</div>
		</div>
	</div>
{END RestDay_fieldblock}
	{BEGIN MisPunched_fieldblock}		
	<div class="container {$fielddispclass_MisPunched}" data-fieldname="MisPunched">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_MisPunched}">
				{$label dt5 MisPunched}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_MisPunched}
			</div>
			<div class="col-md-4" >
				{$MisPunched_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MisPunched_editcontrol1}
			</div>
		</div>
	</div>
{END MisPunched_fieldblock}
	{BEGIN Absent_fieldblock}		
	<div class="container {$fielddispclass_Absent}" data-fieldname="Absent">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Absent}">
				{$label dt5 Absent}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Absent}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol1}
			</div>
		</div>
	</div>
{END Absent_fieldblock}
	{BEGIN LateMins_fieldblock}		
	<div class="container {$fielddispclass_LateMins}" data-fieldname="LateMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LateMins}">
				{$label dt5 LateMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LateMins}
			</div>
			<div class="col-md-4" >
				{$LateMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LateMins_editcontrol1}
			</div>
		</div>
	</div>
{END LateMins_fieldblock}
	{BEGIN UnderstimeMins_fieldblock}		
	<div class="container {$fielddispclass_UnderstimeMins}" data-fieldname="UnderstimeMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UnderstimeMins}">
				{$label dt5 UnderstimeMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UnderstimeMins}
			</div>
			<div class="col-md-4" >
				{$UnderstimeMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UnderstimeMins_editcontrol1}
			</div>
		</div>
	</div>
{END UnderstimeMins_fieldblock}
	{BEGIN HolidayType_fieldblock}		
	<div class="container {$fielddispclass_HolidayType}" data-fieldname="HolidayType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_HolidayType}">
				{$label dt5 HolidayType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_HolidayType}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol1}
			</div>
		</div>
	</div>
{END HolidayType_fieldblock}
	{BEGIN RH_fieldblock}		
	<div class="container {$fielddispclass_RH}" data-fieldname="RH">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RH}">
				{$label dt5 RH}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RH}
			</div>
			<div class="col-md-4" >
				{$RH_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RH_editcontrol1}
			</div>
		</div>
	</div>
{END RH_fieldblock}
	{BEGIN SH_fieldblock}		
	<div class="container {$fielddispclass_SH}" data-fieldname="SH">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SH}">
				{$label dt5 SH}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SH}
			</div>
			<div class="col-md-4" >
				{$SH_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SH_editcontrol1}
			</div>
		</div>
	</div>
{END SH_fieldblock}
	{BEGIN PostMins_fieldblock}		
	<div class="container {$fielddispclass_PostMins}" data-fieldname="PostMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PostMins}">
				{$label dt5 PostMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PostMins}
			</div>
			<div class="col-md-4" >
				{$PostMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PostMins_editcontrol1}
			</div>
		</div>
	</div>
{END PostMins_fieldblock}
	{BEGIN TempOT_fieldblock}		
	<div class="container {$fielddispclass_TempOT}" data-fieldname="TempOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TempOT}">
				{$label dt5 TempOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TempOT}
			</div>
			<div class="col-md-4" >
				{$TempOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TempOT_editcontrol1}
			</div>
		</div>
	</div>
{END TempOT_fieldblock}
	{BEGIN ApprovedOT_fieldblock}		
	<div class="container {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedOT}">
				{$label dt5 ApprovedOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedOT}
			</div>
			<div class="col-md-4" >
				{$ApprovedOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedOT_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedOT_fieldblock}
	{BEGIN AOTMins_fieldblock}		
	<div class="container {$fielddispclass_AOTMins}" data-fieldname="AOTMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AOTMins}">
				{$label dt5 AOTMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AOTMins}
			</div>
			<div class="col-md-4" >
				{$AOTMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AOTMins_editcontrol1}
			</div>
		</div>
	</div>
{END AOTMins_fieldblock}
	{BEGIN NDMins_fieldblock}		
	<div class="container {$fielddispclass_NDMins}" data-fieldname="NDMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NDMins}">
				{$label dt5 NDMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NDMins}
			</div>
			<div class="col-md-4" >
				{$NDMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NDMins_editcontrol1}
			</div>
		</div>
	</div>
{END NDMins_fieldblock}
	{BEGIN ApprovedNightDiff_fieldblock}		
	<div class="container {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedNightDiff}">
				{$label dt5 ApprovedNightDiff}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedNightDiff}
			</div>
			<div class="col-md-4" >
				{$ApprovedNightDiff_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedNightDiff_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedNightDiff_fieldblock}
	{BEGIN ANDiff_fieldblock}		
	<div class="container {$fielddispclass_ANDiff}" data-fieldname="ANDiff">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ANDiff}">
				{$label dt5 ANDiff}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ANDiff}
			</div>
			<div class="col-md-4" >
				{$ANDiff_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ANDiff_editcontrol1}
			</div>
		</div>
	</div>
{END ANDiff_fieldblock}
	{BEGIN ApprovedRD_fieldblock}		
	<div class="container {$fielddispclass_ApprovedRD}" data-fieldname="ApprovedRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedRD}">
				{$label dt5 ApprovedRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedRD}
			</div>
			<div class="col-md-4" >
				{$ApprovedRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedRD_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedRD_fieldblock}
	{BEGIN RDMins_fieldblock}		
	<div class="container {$fielddispclass_RDMins}" data-fieldname="RDMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDMins}">
				{$label dt5 RDMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDMins}
			</div>
			<div class="col-md-4" >
				{$RDMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDMins_editcontrol1}
			</div>
		</div>
	</div>
{END RDMins_fieldblock}
	{BEGIN RegOT_fieldblock}		
	<div class="container {$fielddispclass_RegOT}" data-fieldname="RegOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegOT}">
				{$label dt5 RegOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegOT}
			</div>
			<div class="col-md-4" >
				{$RegOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegOT_editcontrol1}
			</div>
		</div>
	</div>
{END RegOT_fieldblock}
	{BEGIN RHOT_fieldblock}		
	<div class="container {$fielddispclass_RHOT}" data-fieldname="RHOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHOT}">
				{$label dt5 RHOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHOT}
			</div>
			<div class="col-md-4" >
				{$RHOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHOT_editcontrol1}
			</div>
		</div>
	</div>
{END RHOT_fieldblock}
	{BEGIN SHOT_fieldblock}		
	<div class="container {$fielddispclass_SHOT}" data-fieldname="SHOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHOT}">
				{$label dt5 SHOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHOT}
			</div>
			<div class="col-md-4" >
				{$SHOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHOT_editcontrol1}
			</div>
		</div>
	</div>
{END SHOT_fieldblock}
	{BEGIN SHOTD_fieldblock}		
	<div class="container {$fielddispclass_SHOTD}" data-fieldname="SHOTD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHOTD}">
				{$label dt5 SHOTD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHOTD}
			</div>
			<div class="col-md-4" >
				{$SHOTD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHOTD_editcontrol1}
			</div>
		</div>
	</div>
{END SHOTD_fieldblock}
	{BEGIN RegND_fieldblock}		
	<div class="container {$fielddispclass_RegND}" data-fieldname="RegND">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegND}">
				{$label dt5 RegND}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegND}
			</div>
			<div class="col-md-4" >
				{$RegND_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegND_editcontrol1}
			</div>
		</div>
	</div>
{END RegND_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
