<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel dt5 masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=ScID]:before {
		content: "{$label dt5 ScID}";
	}
	.bs-gridcell[data-field=EmployeeID]:before {
		content: "{$label dt5 EmployeeID}";
	}
	.bs-gridcell[data-field=UserName]:before {
		content: "{$label dt5 UserName}";
	}
	.bs-gridcell[data-field=WageType]:before {
		content: "{$label dt5 WageType}";
	}
	.bs-gridcell[data-field=SDate]:before {
		content: "{$label dt5 SDate}";
	}
	.bs-gridcell[data-field=DayIs]:before {
		content: "{$label dt5 DayIs}";
	}
	.bs-gridcell[data-field=RestDay]:before {
		content: "{$label dt5 RestDay}";
	}
	.bs-gridcell[data-field=STimeIn]:before {
		content: "{$label dt5 STimeIn}";
	}
	.bs-gridcell[data-field=STimeOut]:before {
		content: "{$label dt5 STimeOut}";
	}
	.bs-gridcell[data-field=TimeIn]:before {
		content: "{$label dt5 TimeIn}";
	}
	.bs-gridcell[data-field=TimeOut]:before {
		content: "{$label dt5 TimeOut}";
	}
	.bs-gridcell[data-field=MisPunched]:before {
		content: "{$label dt5 MisPunched}";
	}
	.bs-gridcell[data-field=RegWD]:before {
		content: "{$label dt5 RegWD}";
	}
	.bs-gridcell[data-field=DWork]:before {
		content: "{$label dt5 DWork}";
	}
	.bs-gridcell[data-field=Absent]:before {
		content: "{$label dt5 Absent}";
	}
	.bs-gridcell[data-field=LateMins]:before {
		content: "{$label dt5 LateMins}";
	}
	.bs-gridcell[data-field=UnderstimeMins]:before {
		content: "{$label dt5 UnderstimeMins}";
	}
	.bs-gridcell[data-field=HolidayType]:before {
		content: "{$label dt5 HolidayType}";
	}
	.bs-gridcell[data-field=TempOT]:before {
		content: "{$label dt5 TempOT}";
	}
	.bs-gridcell[data-field=ApprovedOT]:before {
		content: "{$label dt5 ApprovedOT}";
	}
	.bs-gridcell[data-field=AOTMins]:before {
		content: "{$label dt5 AOTMins}";
	}
	.bs-gridcell[data-field=NDMins]:before {
		content: "{$label dt5 NDMins}";
	}
	.bs-gridcell[data-field=ApprovedNightDiff]:before {
		content: "{$label dt5 ApprovedNightDiff}";
	}
	.bs-gridcell[data-field=ANDiff]:before {
		content: "{$label dt5 ANDiff}";
	}
	.bs-gridcell[data-field=ApprovedRD]:before {
		content: "{$label dt5 ApprovedRD}";
	}
	.bs-gridcell[data-field=RDMins]:before {
		content: "{$label dt5 RDMins}";
	}
	.bs-gridcell[data-field=VL]:before {
		content: "{$label dt5 VL}";
	}
	.bs-gridcell[data-field=SL]:before {
		content: "{$label dt5 SL}";
	}
	.bs-gridcell[data-field=EL]:before {
		content: "{$label dt5 EL}";
	}
	.bs-gridcell[data-field=PL]:before {
		content: "{$label dt5 PL}";
	}
	.bs-gridcell[data-field=TrO]:before {
		content: "{$label dt5 TrO}";
	}
	.bs-gridcell[data-field=Rlink]:before {
		content: "{$label dt5 Rlink}";
	}
	.bs-gridcell[data-field=Division]:before {
		content: "{$label dt5 Division}";
	}
	.bs-gridcell[data-field=Department]:before {
		content: "{$label dt5 Department}";
	}
	.bs-gridcell[data-field=Employer]:before {
		content: "{$label dt5 Employer}";
	}
	.bs-gridcell[data-field=AfterBreakLogOut]:before {
		content: "{$label dt5 AfterBreakLogOut}";
	}
	.bs-gridcell[data-field=AfterBreakLog]:before {
		content: "{$label dt5 AfterBreakLog}";
	}
	.bs-gridcell[data-field=BreakLateMins]:before {
		content: "{$label dt5 BreakLateMins}";
	}
	.bs-gridcell[data-field=EarlyMins]:before {
		content: "{$label dt5 EarlyMins}";
	}
	.bs-gridcell[data-field=SHOTD]:before {
		content: "{$label dt5 SHOTD}";
	}
	.bs-gridcell[data-field=DHOT]:before {
		content: "{$label dt5 DHOT}";
	}
	.bs-gridcell[data-field=NDOT]:before {
		content: "{$label dt5 NDOT}";
	}
	.bs-gridcell[data-field=SHND]:before {
		content: "{$label dt5 SHND}";
	}
	.bs-gridcell[data-field=DHND]:before {
		content: "{$label dt5 DHND}";
	}
	.bs-gridcell[data-field=DHRDND]:before {
		content: "{$label dt5 DHRDND}";
	}
	.bs-gridcell[data-field=RHRDND]:before {
		content: "{$label dt5 RHRDND}";
	}
	.bs-gridcell[data-field=SHRDND]:before {
		content: "{$label dt5 SHRDND}";
	}
	.bs-gridcell[data-field=RHNDOT]:before {
		content: "{$label dt5 RHNDOT}";
	}
	.bs-gridcell[data-field=SHNDOT]:before {
		content: "{$label dt5 SHNDOT}";
	}
	.bs-gridcell[data-field=DHNDOT]:before {
		content: "{$label dt5 DHNDOT}";
	}
	.bs-gridcell[data-field=RDNDOT]:before {
		content: "{$label dt5 RDNDOT}";
	}
	.bs-gridcell[data-field=RHRDOT]:before {
		content: "{$label dt5 RHRDOT}";
	}
	.bs-gridcell[data-field=SHRDOT]:before {
		content: "{$label dt5 SHRDOT}";
	}
	.bs-gridcell[data-field=SHRDOTD]:before {
		content: "{$label dt5 SHRDOTD}";
	}
	.bs-gridcell[data-field=DHRDOT]:before {
		content: "{$label dt5 DHRDOT}";
	}
	.bs-gridcell[data-field=RHRDNDOT]:before {
		content: "{$label dt5 RHRDNDOT}";
	}
	.bs-gridcell[data-field=SHRDNDOT]:before {
		content: "{$label dt5 SHRDNDOT}";
	}
	.bs-gridcell[data-field=DHRDNDOT]:before {
		content: "{$label dt5 DHRDNDOT}";
	}
	.bs-gridcell[data-field=RH]:before {
		content: "{$label dt5 RH}";
	}
	.bs-gridcell[data-field=SH]:before {
		content: "{$label dt5 SH}";
	}
	.bs-gridcell[data-field=DH]:before {
		content: "{$label dt5 DH}";
	}
	.bs-gridcell[data-field=RHRD]:before {
		content: "{$label dt5 RHRD}";
	}
	.bs-gridcell[data-field=SHRD]:before {
		content: "{$label dt5 SHRD}";
	}
	.bs-gridcell[data-field=DHRD]:before {
		content: "{$label dt5 DHRD}";
	}
	.bs-gridcell[data-field=RegOT]:before {
		content: "{$label dt5 RegOT}";
	}
	.bs-gridcell[data-field=RHOT]:before {
		content: "{$label dt5 RHOT}";
	}
	.bs-gridcell[data-field=SHOT]:before {
		content: "{$label dt5 SHOT}";
	}
	.bs-gridcell[data-field=RHND]:before {
		content: "{$label dt5 RHND}";
	}
	.bs-gridcell[data-field=RDOT]:before {
		content: "{$label dt5 RDOT}";
	}
	.bs-gridcell[data-field=RegND]:before {
		content: "{$label dt5 RegND}";
	}
	.bs-gridcell[data-field=RegRD]:before {
		content: "{$label dt5 RegRD}";
	}
	.bs-gridcell[data-field=RDND]:before {
		content: "{$label dt5 RDND}";
	}
	.bs-gridcell[data-field=NDOTMins]:before {
		content: "{$label dt5 NDOTMins}";
	}
	.bs-gridcell[data-field=PostMins]:before {
		content: "{$label dt5 PostMins}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$ScID_class}">{$label dt5 ScID}</th>
			<th class="{$EmployeeID_class}">{$label dt5 EmployeeID}</th>
			<th class="{$UserName_class}">{$label dt5 UserName}</th>
			<th class="{$Employer_class}">{$label dt5 Employer}</th>
			<th class="{$Division_class}">{$label dt5 Division}</th>
			<th class="{$Department_class}">{$label dt5 Department}</th>
			<th class="{$WageType_class}">{$label dt5 WageType}</th>
			<th class="{$SDate_class}">{$label dt5 SDate}</th>
			<th class="{$DayIs_class}">{$label dt5 DayIs}</th>
			<th class="{$RestDay_class}">{$label dt5 RestDay}</th>
			<th class="{$STimeIn_class}">{$label dt5 STimeIn}</th>
			<th class="{$STimeOut_class}">{$label dt5 STimeOut}</th>
			<th class="{$TimeIn_class}">{$label dt5 TimeIn}</th>
			<th class="{$TimeOut_class}">{$label dt5 TimeOut}</th>
			<th class="{$AfterBreakLogOut_class}">{$label dt5 AfterBreakLogOut}</th>
			<th class="{$AfterBreakLog_class}">{$label dt5 AfterBreakLog}</th>
			<th class="{$MisPunched_class}">{$label dt5 MisPunched}</th>
			<th class="{$RegWD_class}">{$label dt5 RegWD}</th>
			<th class="{$DWork_class}">{$label dt5 DWork}</th>
			<th class="{$Absent_class}">{$label dt5 Absent}</th>
			<th class="{$LateMins_class}">{$label dt5 LateMins}</th>
			<th class="{$UnderstimeMins_class}">{$label dt5 UnderstimeMins}</th>
			<th class="{$BreakLateMins_class}">{$label dt5 BreakLateMins}</th>
			<th class="{$HolidayType_class}">{$label dt5 HolidayType}</th>
			<th class="{$VL_class}">{$label dt5 VL}</th>
			<th class="{$SL_class}">{$label dt5 SL}</th>
			<th class="{$EL_class}">{$label dt5 EL}</th>
			<th class="{$PL_class}">{$label dt5 PL}</th>
			<th class="{$TrO_class}">{$label dt5 TrO}</th>
			<th class="{$RH_class}">{$label dt5 RH}</th>
			<th class="{$SH_class}">{$label dt5 SH}</th>
			<th class="{$DH_class}">{$label dt5 DH}</th>
			<th class="{$RegRD_class}">{$label dt5 RegRD}</th>
			<th class="{$EarlyMins_class}">{$label dt5 EarlyMins}</th>
			<th class="{$PostMins_class}">{$label dt5 PostMins}</th>
			<th class="{$TempOT_class}">{$label dt5 TempOT}</th>
			<th class="{$ApprovedOT_class}">{$label dt5 ApprovedOT}</th>
			<th class="{$AOTMins_class}">{$label dt5 AOTMins}</th>
			<th class="{$NDMins_class}">{$label dt5 NDMins}</th>
			<th class="{$ApprovedNightDiff_class}">{$label dt5 ApprovedNightDiff}</th>
			<th class="{$ANDiff_class}">{$label dt5 ANDiff}</th>
			<th class="{$ApprovedRD_class}">{$label dt5 ApprovedRD}</th>
			<th class="{$RDMins_class}">{$label dt5 RDMins}</th>
			<th class="{$RegOT_class}">{$label dt5 RegOT}</th>
			<th class="{$RHOT_class}">{$label dt5 RHOT}</th>
			<th class="{$SHOT_class}">{$label dt5 SHOT}</th>
			<th class="{$SHOTD_class}">{$label dt5 SHOTD}</th>
			<th class="{$RDOT_class}">{$label dt5 RDOT}</th>
			<th class="{$DHOT_class}">{$label dt5 DHOT}</th>
			<th class="{$NDOT_class}">{$label dt5 NDOT}</th>
			<th class="{$RegND_class}">{$label dt5 RegND}</th>
			<th class="{$RHND_class}">{$label dt5 RHND}</th>
			<th class="{$SHND_class}">{$label dt5 SHND}</th>
			<th class="{$DHND_class}">{$label dt5 DHND}</th>
			<th class="{$RDND_class}">{$label dt5 RDND}</th>
			<th class="{$RHNDOT_class}">{$label dt5 RHNDOT}</th>
			<th class="{$SHNDOT_class}">{$label dt5 SHNDOT}</th>
			<th class="{$DHNDOT_class}">{$label dt5 DHNDOT}</th>
			<th class="{$RDNDOT_class}">{$label dt5 RDNDOT}</th>
			<th class="{$RHRD_class}">{$label dt5 RHRD}</th>
			<th class="{$SHRD_class}">{$label dt5 SHRD}</th>
			<th class="{$DHRD_class}">{$label dt5 DHRD}</th>
			<th class="{$RHRDOT_class}">{$label dt5 RHRDOT}</th>
			<th class="{$SHRDOT_class}">{$label dt5 SHRDOT}</th>
			<th class="{$SHRDOTD_class}">{$label dt5 SHRDOTD}</th>
			<th class="{$DHRDOT_class}">{$label dt5 DHRDOT}</th>
			<th class="{$RHRDND_class}">{$label dt5 RHRDND}</th>
			<th class="{$SHRDND_class}">{$label dt5 SHRDND}</th>
			<th class="{$DHRDND_class}">{$label dt5 DHRDND}</th>
			<th class="{$RHRDNDOT_class}">{$label dt5 RHRDNDOT}</th>
			<th class="{$SHRDNDOT_class}">{$label dt5 SHRDNDOT}</th>
			<th class="{$DHRDNDOT_class}">{$label dt5 DHRDNDOT}</th>
			<th class="{$Rlink_class}">{$label dt5 Rlink}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$ScID_class} bs-gridcell" data-field=ScID>{$ScID_mastervalue}</td>
			<td class="{$EmployeeID_class} bs-gridcell" data-field=EmployeeID>{$EmployeeID_mastervalue}</td>
			<td class="{$UserName_class} bs-gridcell" data-field=UserName>{$UserName_mastervalue}</td>
			<td class="{$Employer_class} bs-gridcell" data-field=Employer>{$Employer_mastervalue}</td>
			<td class="{$Division_class} bs-gridcell" data-field=Division>{$Division_mastervalue}</td>
			<td class="{$Department_class} bs-gridcell" data-field=Department>{$Department_mastervalue}</td>
			<td class="{$WageType_class} bs-gridcell" data-field=WageType>{$WageType_mastervalue}</td>
			<td class="{$SDate_class} bs-gridcell" data-field=SDate>{$SDate_mastervalue}</td>
			<td class="{$DayIs_class} bs-gridcell" data-field=DayIs>{$DayIs_mastervalue}</td>
			<td class="{$RestDay_class} bs-gridcell" data-field=RestDay>{$RestDay_mastervalue}</td>
			<td class="{$STimeIn_class} bs-gridcell" data-field=STimeIn>{$STimeIn_mastervalue}</td>
			<td class="{$STimeOut_class} bs-gridcell" data-field=STimeOut>{$STimeOut_mastervalue}</td>
			<td class="{$TimeIn_class} bs-gridcell" data-field=TimeIn>{$TimeIn_mastervalue}</td>
			<td class="{$TimeOut_class} bs-gridcell" data-field=TimeOut>{$TimeOut_mastervalue}</td>
			<td class="{$AfterBreakLogOut_class} bs-gridcell" data-field=AfterBreakLogOut>{$AfterBreakLogOut_mastervalue}</td>
			<td class="{$AfterBreakLog_class} bs-gridcell" data-field=AfterBreakLog>{$AfterBreakLog_mastervalue}</td>
			<td class="{$MisPunched_class} bs-gridcell" data-field=MisPunched>{$MisPunched_mastervalue}</td>
			<td class="{$RegWD_class} bs-gridcell" data-field=RegWD>{$RegWD_mastervalue}</td>
			<td class="{$DWork_class} bs-gridcell" data-field=DWork>{$DWork_mastervalue}</td>
			<td class="{$Absent_class} bs-gridcell" data-field=Absent>{$Absent_mastervalue}</td>
			<td class="{$LateMins_class} bs-gridcell" data-field=LateMins>{$LateMins_mastervalue}</td>
			<td class="{$UnderstimeMins_class} bs-gridcell" data-field=UnderstimeMins>{$UnderstimeMins_mastervalue}</td>
			<td class="{$BreakLateMins_class} bs-gridcell" data-field=BreakLateMins>{$BreakLateMins_mastervalue}</td>
			<td class="{$HolidayType_class} bs-gridcell" data-field=HolidayType>{$HolidayType_mastervalue}</td>
			<td class="{$VL_class} bs-gridcell" data-field=VL>{$VL_mastervalue}</td>
			<td class="{$SL_class} bs-gridcell" data-field=SL>{$SL_mastervalue}</td>
			<td class="{$EL_class} bs-gridcell" data-field=EL>{$EL_mastervalue}</td>
			<td class="{$PL_class} bs-gridcell" data-field=PL>{$PL_mastervalue}</td>
			<td class="{$TrO_class} bs-gridcell" data-field=TrO>{$TrO_mastervalue}</td>
			<td class="{$RH_class} bs-gridcell" data-field=RH>{$RH_mastervalue}</td>
			<td class="{$SH_class} bs-gridcell" data-field=SH>{$SH_mastervalue}</td>
			<td class="{$DH_class} bs-gridcell" data-field=DH>{$DH_mastervalue}</td>
			<td class="{$RegRD_class} bs-gridcell" data-field=RegRD>{$RegRD_mastervalue}</td>
			<td class="{$EarlyMins_class} bs-gridcell" data-field=EarlyMins>{$EarlyMins_mastervalue}</td>
			<td class="{$PostMins_class} bs-gridcell" data-field=PostMins>{$PostMins_mastervalue}</td>
			<td class="{$TempOT_class} bs-gridcell" data-field=TempOT>{$TempOT_mastervalue}</td>
			<td class="{$ApprovedOT_class} bs-gridcell" data-field=ApprovedOT>{$ApprovedOT_mastervalue}</td>
			<td class="{$AOTMins_class} bs-gridcell" data-field=AOTMins>{$AOTMins_mastervalue}</td>
			<td class="{$NDMins_class} bs-gridcell" data-field=NDMins>{$NDMins_mastervalue}</td>
			<td class="{$ApprovedNightDiff_class} bs-gridcell" data-field=ApprovedNightDiff>{$ApprovedNightDiff_mastervalue}</td>
			<td class="{$ANDiff_class} bs-gridcell" data-field=ANDiff>{$ANDiff_mastervalue}</td>
			<td class="{$ApprovedRD_class} bs-gridcell" data-field=ApprovedRD>{$ApprovedRD_mastervalue}</td>
			<td class="{$RDMins_class} bs-gridcell" data-field=RDMins>{$RDMins_mastervalue}</td>
			<td class="{$RegOT_class} bs-gridcell" data-field=RegOT>{$RegOT_mastervalue}</td>
			<td class="{$RHOT_class} bs-gridcell" data-field=RHOT>{$RHOT_mastervalue}</td>
			<td class="{$SHOT_class} bs-gridcell" data-field=SHOT>{$SHOT_mastervalue}</td>
			<td class="{$SHOTD_class} bs-gridcell" data-field=SHOTD>{$SHOTD_mastervalue}</td>
			<td class="{$RDOT_class} bs-gridcell" data-field=RDOT>{$RDOT_mastervalue}</td>
			<td class="{$DHOT_class} bs-gridcell" data-field=DHOT>{$DHOT_mastervalue}</td>
			<td class="{$NDOT_class} bs-gridcell" data-field=NDOT>{$NDOT_mastervalue}</td>
			<td class="{$RegND_class} bs-gridcell" data-field=RegND>{$RegND_mastervalue}</td>
			<td class="{$RHND_class} bs-gridcell" data-field=RHND>{$RHND_mastervalue}</td>
			<td class="{$SHND_class} bs-gridcell" data-field=SHND>{$SHND_mastervalue}</td>
			<td class="{$DHND_class} bs-gridcell" data-field=DHND>{$DHND_mastervalue}</td>
			<td class="{$RDND_class} bs-gridcell" data-field=RDND>{$RDND_mastervalue}</td>
			<td class="{$RHNDOT_class} bs-gridcell" data-field=RHNDOT>{$RHNDOT_mastervalue}</td>
			<td class="{$SHNDOT_class} bs-gridcell" data-field=SHNDOT>{$SHNDOT_mastervalue}</td>
			<td class="{$DHNDOT_class} bs-gridcell" data-field=DHNDOT>{$DHNDOT_mastervalue}</td>
			<td class="{$RDNDOT_class} bs-gridcell" data-field=RDNDOT>{$RDNDOT_mastervalue}</td>
			<td class="{$RHRD_class} bs-gridcell" data-field=RHRD>{$RHRD_mastervalue}</td>
			<td class="{$SHRD_class} bs-gridcell" data-field=SHRD>{$SHRD_mastervalue}</td>
			<td class="{$DHRD_class} bs-gridcell" data-field=DHRD>{$DHRD_mastervalue}</td>
			<td class="{$RHRDOT_class} bs-gridcell" data-field=RHRDOT>{$RHRDOT_mastervalue}</td>
			<td class="{$SHRDOT_class} bs-gridcell" data-field=SHRDOT>{$SHRDOT_mastervalue}</td>
			<td class="{$SHRDOTD_class} bs-gridcell" data-field=SHRDOTD>{$SHRDOTD_mastervalue}</td>
			<td class="{$DHRDOT_class} bs-gridcell" data-field=DHRDOT>{$DHRDOT_mastervalue}</td>
			<td class="{$RHRDND_class} bs-gridcell" data-field=RHRDND>{$RHRDND_mastervalue}</td>
			<td class="{$SHRDND_class} bs-gridcell" data-field=SHRDND>{$SHRDND_mastervalue}</td>
			<td class="{$DHRDND_class} bs-gridcell" data-field=DHRDND>{$DHRDND_mastervalue}</td>
			<td class="{$RHRDNDOT_class} bs-gridcell" data-field=RHRDNDOT>{$RHRDNDOT_mastervalue}</td>
			<td class="{$SHRDNDOT_class} bs-gridcell" data-field=SHRDNDOT>{$SHRDNDOT_mastervalue}</td>
			<td class="{$DHRDNDOT_class} bs-gridcell" data-field=DHRDNDOT>{$DHRDNDOT_mastervalue}</td>
			<td class="{$Rlink_class} bs-gridcell" data-field=Rlink>{$Rlink_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>