<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel dtrcard1 search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ScID_fieldblock}		
	<div class="container {$fielddispclass_ScID}" data-fieldname="ScID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ScID}">
				{$label dtrcard1 ScID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ScID}
			</div>
			<div class="col-md-4" >
				{$ScID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ScID_editcontrol1}
			</div>
		</div>
	</div>
{END ScID_fieldblock}
	{BEGIN SDate_fieldblock}		
	<div class="container {$fielddispclass_SDate}" data-fieldname="SDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SDate}">
				{$label dtrcard1 SDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SDate}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol1}
			</div>
		</div>
	</div>
{END SDate_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label dtrcard1 EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN DayIs_fieldblock}		
	<div class="container {$fielddispclass_DayIs}" data-fieldname="DayIs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DayIs}">
				{$label dtrcard1 DayIs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DayIs}
			</div>
			<div class="col-md-4" >
				{$DayIs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DayIs_editcontrol1}
			</div>
		</div>
	</div>
{END DayIs_fieldblock}
	{BEGIN STimeIn_fieldblock}		
	<div class="container {$fielddispclass_STimeIn}" data-fieldname="STimeIn">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_STimeIn}">
				{$label dtrcard1 STimeIn}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_STimeIn}
			</div>
			<div class="col-md-4" >
				{$STimeIn_editcontrol}
			</div>
			<div class="col-md-4" >
				{$STimeIn_editcontrol1}
			</div>
		</div>
	</div>
{END STimeIn_fieldblock}
	{BEGIN STimeOut_fieldblock}		
	<div class="container {$fielddispclass_STimeOut}" data-fieldname="STimeOut">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_STimeOut}">
				{$label dtrcard1 STimeOut}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_STimeOut}
			</div>
			<div class="col-md-4" >
				{$STimeOut_editcontrol}
			</div>
			<div class="col-md-4" >
				{$STimeOut_editcontrol1}
			</div>
		</div>
	</div>
{END STimeOut_fieldblock}
	{BEGIN TimeIn_fieldblock}		
	<div class="container {$fielddispclass_TimeIn}" data-fieldname="TimeIn">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeIn}">
				{$label dtrcard1 TimeIn}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeIn}
			</div>
			<div class="col-md-4" >
				{$TimeIn_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeIn_editcontrol1}
			</div>
		</div>
	</div>
{END TimeIn_fieldblock}
	{BEGIN TimeOut_fieldblock}		
	<div class="container {$fielddispclass_TimeOut}" data-fieldname="TimeOut">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeOut}">
				{$label dtrcard1 TimeOut}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeOut}
			</div>
			<div class="col-md-4" >
				{$TimeOut_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeOut_editcontrol1}
			</div>
		</div>
	</div>
{END TimeOut_fieldblock}
	{BEGIN Mispunched_fieldblock}		
	<div class="container {$fielddispclass_Mispunched}" data-fieldname="Mispunched">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Mispunched}">
				{$label dtrcard1 Mispunched}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Mispunched}
			</div>
			<div class="col-md-4" >
				{$Mispunched_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Mispunched_editcontrol1}
			</div>
		</div>
	</div>
{END Mispunched_fieldblock}
	{BEGIN Late_fieldblock}		
	<div class="container {$fielddispclass_Late}" data-fieldname="Late">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Late}">
				{$label dtrcard1 Late}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Late}
			</div>
			<div class="col-md-4" >
				{$Late_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Late_editcontrol1}
			</div>
		</div>
	</div>
{END Late_fieldblock}
	{BEGIN UTime_fieldblock}		
	<div class="container {$fielddispclass_UTime}" data-fieldname="UTime">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UTime}">
				{$label dtrcard1 UTime}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UTime}
			</div>
			<div class="col-md-4" >
				{$UTime_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UTime_editcontrol1}
			</div>
		</div>
	</div>
{END UTime_fieldblock}
	{BEGIN Absent_fieldblock}		
	<div class="container {$fielddispclass_Absent}" data-fieldname="Absent">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Absent}">
				{$label dtrcard1 Absent}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Absent}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol1}
			</div>
		</div>
	</div>
{END Absent_fieldblock}
	{BEGIN OTmins_fieldblock}		
	<div class="container {$fielddispclass_OTmins}" data-fieldname="OTmins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OTmins}">
				{$label dtrcard1 OTmins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OTmins}
			</div>
			<div class="col-md-4" >
				{$OTmins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OTmins_editcontrol1}
			</div>
		</div>
	</div>
{END OTmins_fieldblock}
	{BEGIN RestDay_fieldblock}		
	<div class="container {$fielddispclass_RestDay}" data-fieldname="RestDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RestDay}">
				{$label dtrcard1 RestDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RestDay}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol1}
			</div>
		</div>
	</div>
{END RestDay_fieldblock}
	{BEGIN HolidayType_fieldblock}		
	<div class="container {$fielddispclass_HolidayType}" data-fieldname="HolidayType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_HolidayType}">
				{$label dtrcard1 HolidayType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_HolidayType}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol1}
			</div>
		</div>
	</div>
{END HolidayType_fieldblock}
	{BEGIN VLDay_fieldblock}		
	<div class="container {$fielddispclass_VLDay}" data-fieldname="VLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VLDay}">
				{$label dtrcard1 VLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VLDay}
			</div>
			<div class="col-md-4" >
				{$VLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VLDay_editcontrol1}
			</div>
		</div>
	</div>
{END VLDay_fieldblock}
	{BEGIN SLDay_fieldblock}		
	<div class="container {$fielddispclass_SLDay}" data-fieldname="SLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SLDay}">
				{$label dtrcard1 SLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SLDay}
			</div>
			<div class="col-md-4" >
				{$SLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SLDay_editcontrol1}
			</div>
		</div>
	</div>
{END SLDay_fieldblock}
	{BEGIN ELDay_fieldblock}		
	<div class="container {$fielddispclass_ELDay}" data-fieldname="ELDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ELDay}">
				{$label dtrcard1 ELDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ELDay}
			</div>
			<div class="col-md-4" >
				{$ELDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ELDay_editcontrol1}
			</div>
		</div>
	</div>
{END ELDay_fieldblock}
	{BEGIN PLDay_fieldblock}		
	<div class="container {$fielddispclass_PLDay}" data-fieldname="PLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PLDay}">
				{$label dtrcard1 PLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PLDay}
			</div>
			<div class="col-md-4" >
				{$PLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PLDay_editcontrol1}
			</div>
		</div>
	</div>
{END PLDay_fieldblock}
	{BEGIN OBDay_fieldblock}		
	<div class="container {$fielddispclass_OBDay}" data-fieldname="OBDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OBDay}">
				{$label dtrcard1 OBDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OBDay}
			</div>
			<div class="col-md-4" >
				{$OBDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OBDay_editcontrol1}
			</div>
		</div>
	</div>
{END OBDay_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
