<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel dtrsummary print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN ScID_fieldheadercolumn}
			<th class="{$ScID_class}" {$ScID_style}  data-field="ScID">
				{$label dtrsummary ScID}
			</th>
			{END ScID_fieldheadercolumn}
			{BEGIN SDate_fieldheadercolumn}
			<th class="{$SDate_class}" {$SDate_style}  data-field="SDate">
				{$label dtrsummary SDate}
			</th>
			{END SDate_fieldheadercolumn}
			{BEGIN STimeIn_fieldheadercolumn}
			<th class="{$STimeIn_class}" {$STimeIn_style}  data-field="STimeIn">
				{$label dtrsummary STimeIn}
			</th>
			{END STimeIn_fieldheadercolumn}
			{BEGIN STimeOut_fieldheadercolumn}
			<th class="{$STimeOut_class}" {$STimeOut_style}  data-field="STimeOut">
				{$label dtrsummary STimeOut}
			</th>
			{END STimeOut_fieldheadercolumn}
			{BEGIN SchedType_fieldheadercolumn}
			<th class="{$SchedType_class}" {$SchedType_style}  data-field="SchedType">
				{$label dtrsummary SchedType}
			</th>
			{END SchedType_fieldheadercolumn}
			{BEGIN ApprovedOT_fieldheadercolumn}
			<th class="{$ApprovedOT_class}" {$ApprovedOT_style}  data-field="ApprovedOT">
				{$label dtrsummary ApprovedOT}
			</th>
			{END ApprovedOT_fieldheadercolumn}
			{BEGIN AOTMins_fieldheadercolumn}
			<th class="{$AOTMins_class}" {$AOTMins_style}  data-field="AOTMins">
				{$label dtrsummary AOTMins}
			</th>
			{END AOTMins_fieldheadercolumn}
			{BEGIN ApprovedNightDiff_fieldheadercolumn}
			<th class="{$ApprovedNightDiff_class}" {$ApprovedNightDiff_style}  data-field="ApprovedNightDiff">
				{$label dtrsummary ApprovedNightDiff}
			</th>
			{END ApprovedNightDiff_fieldheadercolumn}
			{BEGIN ANDiff_fieldheadercolumn}
			<th class="{$ANDiff_class}" {$ANDiff_style}  data-field="ANDiff">
				{$label dtrsummary ANDiff}
			</th>
			{END ANDiff_fieldheadercolumn}
			{BEGIN MinsPerDay_fieldheadercolumn}
			<th class="{$MinsPerDay_class}" {$MinsPerDay_style}  data-field="MinsPerDay">
				{$label dtrsummary MinsPerDay}
			</th>
			{END MinsPerDay_fieldheadercolumn}
			{BEGIN BreakMins_fieldheadercolumn}
			<th class="{$BreakMins_class}" {$BreakMins_style}  data-field="BreakMins">
				{$label dtrsummary BreakMins}
			</th>
			{END BreakMins_fieldheadercolumn}
			{BEGIN Shift_fieldheadercolumn}
			<th class="{$Shift_class}" {$Shift_style}  data-field="Shift">
				{$label dtrsummary Shift}
			</th>
			{END Shift_fieldheadercolumn}
			{BEGIN ApprovedRD_fieldheadercolumn}
			<th class="{$ApprovedRD_class}" {$ApprovedRD_style}  data-field="ApprovedRD">
				{$label dtrsummary ApprovedRD}
			</th>
			{END ApprovedRD_fieldheadercolumn}
			{BEGIN RDMins_fieldheadercolumn}
			<th class="{$RDMins_class}" {$RDMins_style}  data-field="RDMins">
				{$label dtrsummary RDMins}
			</th>
			{END RDMins_fieldheadercolumn}
			{BEGIN LunchBreakFrom_fieldheadercolumn}
			<th class="{$LunchBreakFrom_class}" {$LunchBreakFrom_style}  data-field="LunchBreakFrom">
				{$label dtrsummary LunchBreakFrom}
			</th>
			{END LunchBreakFrom_fieldheadercolumn}
			{BEGIN LunchBreakTo_fieldheadercolumn}
			<th class="{$LunchBreakTo_class}" {$LunchBreakTo_style}  data-field="LunchBreakTo">
				{$label dtrsummary LunchBreakTo}
			</th>
			{END LunchBreakTo_fieldheadercolumn}
			{BEGIN NDMealAllowancePerShift_fieldheadercolumn}
			<th class="{$NDMealAllowancePerShift_class}" {$NDMealAllowancePerShift_style}  data-field="NDMealAllowancePerShift">
				{$label dtrsummary NDMealAllowancePerShift}
			</th>
			{END NDMealAllowancePerShift_fieldheadercolumn}
			{BEGIN NDMinimumHrs_fieldheadercolumn}
			<th class="{$NDMinimumHrs_class}" {$NDMinimumHrs_style}  data-field="NDMinimumHrs">
				{$label dtrsummary NDMinimumHrs}
			</th>
			{END NDMinimumHrs_fieldheadercolumn}
			{BEGIN TimeIn_fieldheadercolumn}
			<th class="{$TimeIn_class}" {$TimeIn_style}  data-field="TimeIn">
				{$label dtrsummary TimeIn}
			</th>
			{END TimeIn_fieldheadercolumn}
			{BEGIN TimeOut_fieldheadercolumn}
			<th class="{$TimeOut_class}" {$TimeOut_style}  data-field="TimeOut">
				{$label dtrsummary TimeOut}
			</th>
			{END TimeOut_fieldheadercolumn}
			{BEGIN DayIs_fieldheadercolumn}
			<th class="{$DayIs_class}" {$DayIs_style}  data-field="DayIs">
				{$label dtrsummary DayIs}
			</th>
			{END DayIs_fieldheadercolumn}
			{BEGIN RestDay_fieldheadercolumn}
			<th class="{$RestDay_class}" {$RestDay_style}  data-field="RestDay">
				{$label dtrsummary RestDay}
			</th>
			{END RestDay_fieldheadercolumn}
			{BEGIN Department_fieldheadercolumn}
			<th class="{$Department_class}" {$Department_style}  data-field="Department">
				{$label dtrsummary Department}
			</th>
			{END Department_fieldheadercolumn}
			{BEGIN VLDay_fieldheadercolumn}
			<th class="{$VLDay_class}" {$VLDay_style}  data-field="VLDay">
				{$label dtrsummary VLDay}
			</th>
			{END VLDay_fieldheadercolumn}
			{BEGIN SLDay_fieldheadercolumn}
			<th class="{$SLDay_class}" {$SLDay_style}  data-field="SLDay">
				{$label dtrsummary SLDay}
			</th>
			{END SLDay_fieldheadercolumn}
			{BEGIN ELDay_fieldheadercolumn}
			<th class="{$ELDay_class}" {$ELDay_style}  data-field="ELDay">
				{$label dtrsummary ELDay}
			</th>
			{END ELDay_fieldheadercolumn}
			{BEGIN PLDay_fieldheadercolumn}
			<th class="{$PLDay_class}" {$PLDay_style}  data-field="PLDay">
				{$label dtrsummary PLDay}
			</th>
			{END PLDay_fieldheadercolumn}
			{BEGIN TrODay_fieldheadercolumn}
			<th class="{$TrODay_class}" {$TrODay_style}  data-field="TrODay">
				{$label dtrsummary TrODay}
			</th>
			{END TrODay_fieldheadercolumn}
			{BEGIN HolidayType_fieldheadercolumn}
			<th class="{$HolidayType_class}" {$HolidayType_style}  data-field="HolidayType">
				{$label dtrsummary HolidayType}
			</th>
			{END HolidayType_fieldheadercolumn}
			{BEGIN Mispunched_fieldheadercolumn}
			<th class="{$Mispunched_class}" {$Mispunched_style}  data-field="Mispunched">
				{$label dtrsummary Mispunched}
			</th>
			{END Mispunched_fieldheadercolumn}
			{BEGIN Holiday1stHalf_fieldheadercolumn}
			<th class="{$Holiday1stHalf_class}" {$Holiday1stHalf_style}  data-field="Holiday1stHalf">
				{$label dtrsummary Holiday1stHalf}
			</th>
			{END Holiday1stHalf_fieldheadercolumn}
			{BEGIN Holiday2ndHalf_fieldheadercolumn}
			<th class="{$Holiday2ndHalf_class}" {$Holiday2ndHalf_style}  data-field="Holiday2ndHalf">
				{$label dtrsummary Holiday2ndHalf}
			</th>
			{END Holiday2ndHalf_fieldheadercolumn}
			{BEGIN TotLateMins_fieldheadercolumn}
			<th class="{$TotLateMins_class}" {$TotLateMins_style}  data-field="TotLateMins">
				{$label dtrsummary TotLateMins}
			</th>
			{END TotLateMins_fieldheadercolumn}
			{BEGIN LatePenaltyMins_fieldheadercolumn}
			<th class="{$LatePenaltyMins_class}" {$LatePenaltyMins_style}  data-field="LatePenaltyMins">
				{$label dtrsummary LatePenaltyMins}
			</th>
			{END LatePenaltyMins_fieldheadercolumn}
			{BEGIN LateFixPenalty_fieldheadercolumn}
			<th class="{$LateFixPenalty_class}" {$LateFixPenalty_style}  data-field="LateFixPenalty">
				{$label dtrsummary LateFixPenalty}
			</th>
			{END LateFixPenalty_fieldheadercolumn}
			{BEGIN AfterBreakLogOut_fieldheadercolumn}
			<th class="{$AfterBreakLogOut_class}" {$AfterBreakLogOut_style}  data-field="AfterBreakLogOut">
				{$label dtrsummary AfterBreakLogOut}
			</th>
			{END AfterBreakLogOut_fieldheadercolumn}
			{BEGIN AfterBreakLog_fieldheadercolumn}
			<th class="{$AfterBreakLog_class}" {$AfterBreakLog_style}  data-field="AfterBreakLog">
				{$label dtrsummary AfterBreakLog}
			</th>
			{END AfterBreakLog_fieldheadercolumn}
			{BEGIN PreLogMins_fieldheadercolumn}
			<th class="{$PreLogMins_class}" {$PreLogMins_style}  data-field="PreLogMins">
				{$label dtrsummary PreLogMins}
			</th>
			{END PreLogMins_fieldheadercolumn}
			{BEGIN IncludeBreakLate_fieldheadercolumn}
			<th class="{$IncludeBreakLate_class}" {$IncludeBreakLate_style}  data-field="IncludeBreakLate">
				{$label dtrsummary IncludeBreakLate}
			</th>
			{END IncludeBreakLate_fieldheadercolumn}
			{BEGIN GracePeriodMins_fieldheadercolumn}
			<th class="{$GracePeriodMins_class}" {$GracePeriodMins_style}  data-field="GracePeriodMins">
				{$label dtrsummary GracePeriodMins}
			</th>
			{END GracePeriodMins_fieldheadercolumn}
			{BEGIN BreakLateMins_fieldheadercolumn}
			<th class="{$BreakLateMins_class}" {$BreakLateMins_style}  data-field="BreakLateMins">
				{$label dtrsummary BreakLateMins}
			</th>
			{END BreakLateMins_fieldheadercolumn}
			{BEGIN ANDOTMins_fieldheadercolumn}
			<th class="{$ANDOTMins_class}" {$ANDOTMins_style}  data-field="ANDOTMins">
				{$label dtrsummary ANDOTMins}
			</th>
			{END ANDOTMins_fieldheadercolumn}
			{BEGIN RegNDOTHrs_fieldheadercolumn}
			<th class="{$RegNDOTHrs_class}" {$RegNDOTHrs_style}  data-field="RegNDOTHrs">
				{$label dtrsummary RegNDOTHrs}
			</th>
			{END RegNDOTHrs_fieldheadercolumn}
			{BEGIN RHNDOTHrs_fieldheadercolumn}
			<th class="{$RHNDOTHrs_class}" {$RHNDOTHrs_style}  data-field="RHNDOTHrs">
				{$label dtrsummary RHNDOTHrs}
			</th>
			{END RHNDOTHrs_fieldheadercolumn}
			{BEGIN SHNDOTHrs_fieldheadercolumn}
			<th class="{$SHNDOTHrs_class}" {$SHNDOTHrs_style}  data-field="SHNDOTHrs">
				{$label dtrsummary SHNDOTHrs}
			</th>
			{END SHNDOTHrs_fieldheadercolumn}
			{BEGIN CHNDOTHrs_fieldheadercolumn}
			<th class="{$CHNDOTHrs_class}" {$CHNDOTHrs_style}  data-field="CHNDOTHrs">
				{$label dtrsummary CHNDOTHrs}
			</th>
			{END CHNDOTHrs_fieldheadercolumn}
			{BEGIN RDNDOTHrs_fieldheadercolumn}
			<th class="{$RDNDOTHrs_class}" {$RDNDOTHrs_style}  data-field="RDNDOTHrs">
				{$label dtrsummary RDNDOTHrs}
			</th>
			{END RDNDOTHrs_fieldheadercolumn}
			{BEGIN EmployeeID_fieldheadercolumn}
			<th class="{$EmployeeID_class}" {$EmployeeID_style}  data-field="EmployeeID">
				{$label dtrsummary EmployeeID}
			</th>
			{END EmployeeID_fieldheadercolumn}
			{BEGIN UserName_fieldheadercolumn}
			<th class="{$UserName_class}" {$UserName_style}  data-field="UserName">
				{$label dtrsummary UserName}
			</th>
			{END UserName_fieldheadercolumn}
			{BEGIN Employer_fieldheadercolumn}
			<th class="{$Employer_class}" {$Employer_style}  data-field="Employer">
				{$label dtrsummary Employer}
			</th>
			{END Employer_fieldheadercolumn}
			{BEGIN Division_fieldheadercolumn}
			<th class="{$Division_class}" {$Division_style}  data-field="Division">
				{$label dtrsummary Division}
			</th>
			{END Division_fieldheadercolumn}
			{BEGIN WageType_fieldheadercolumn}
			<th class="{$WageType_class}" {$WageType_style}  data-field="WageType">
				{$label dtrsummary WageType}
			</th>
			{END WageType_fieldheadercolumn}
			{BEGIN RegWD_fieldheadercolumn}
			<th class="{$RegWD_class}" {$RegWD_style}  data-field="RegWD">
				{$label dtrsummary RegWD}
			</th>
			{END RegWD_fieldheadercolumn}
			{BEGIN DWork_fieldheadercolumn}
			<th class="{$DWork_class}" {$DWork_style}  data-field="DWork">
				{$label dtrsummary DWork}
			</th>
			{END DWork_fieldheadercolumn}
			{BEGIN Absent_fieldheadercolumn}
			<th class="{$Absent_class}" {$Absent_style}  data-field="Absent">
				{$label dtrsummary Absent}
			</th>
			{END Absent_fieldheadercolumn}
			{BEGIN LateMins_fieldheadercolumn}
			<th class="{$LateMins_class}" {$LateMins_style}  data-field="LateMins">
				{$label dtrsummary LateMins}
			</th>
			{END LateMins_fieldheadercolumn}
			{BEGIN UndertimeMins_fieldheadercolumn}
			<th class="{$UndertimeMins_class}" {$UndertimeMins_style}  data-field="UndertimeMins">
				{$label dtrsummary UndertimeMins}
			</th>
			{END UndertimeMins_fieldheadercolumn}
			{BEGIN RHolidayHrs_fieldheadercolumn}
			<th class="{$RHolidayHrs_class}" {$RHolidayHrs_style}  data-field="RHolidayHrs">
				{$label dtrsummary RHolidayHrs}
			</th>
			{END RHolidayHrs_fieldheadercolumn}
			{BEGIN SHolidayHrs_fieldheadercolumn}
			<th class="{$SHolidayHrs_class}" {$SHolidayHrs_style}  data-field="SHolidayHrs">
				{$label dtrsummary SHolidayHrs}
			</th>
			{END SHolidayHrs_fieldheadercolumn}
			{BEGIN CHolidayHrs_fieldheadercolumn}
			<th class="{$CHolidayHrs_class}" {$CHolidayHrs_style}  data-field="CHolidayHrs">
				{$label dtrsummary CHolidayHrs}
			</th>
			{END CHolidayHrs_fieldheadercolumn}
			{BEGIN ExcessHrs_fieldheadercolumn}
			<th class="{$ExcessHrs_class}" {$ExcessHrs_style}  data-field="ExcessHrs">
				{$label dtrsummary ExcessHrs}
			</th>
			{END ExcessHrs_fieldheadercolumn}
			{BEGIN RegOTHrs_fieldheadercolumn}
			<th class="{$RegOTHrs_class}" {$RegOTHrs_style}  data-field="RegOTHrs">
				{$label dtrsummary RegOTHrs}
			</th>
			{END RegOTHrs_fieldheadercolumn}
			{BEGIN RHOTHrs_fieldheadercolumn}
			<th class="{$RHOTHrs_class}" {$RHOTHrs_style}  data-field="RHOTHrs">
				{$label dtrsummary RHOTHrs}
			</th>
			{END RHOTHrs_fieldheadercolumn}
			{BEGIN SHOTHrs_fieldheadercolumn}
			<th class="{$SHOTHrs_class}" {$SHOTHrs_style}  data-field="SHOTHrs">
				{$label dtrsummary SHOTHrs}
			</th>
			{END SHOTHrs_fieldheadercolumn}
			{BEGIN CHOTHrs_fieldheadercolumn}
			<th class="{$CHOTHrs_class}" {$CHOTHrs_style}  data-field="CHOTHrs">
				{$label dtrsummary CHOTHrs}
			</th>
			{END CHOTHrs_fieldheadercolumn}
			{BEGIN RDOTHrs_fieldheadercolumn}
			<th class="{$RDOTHrs_class}" {$RDOTHrs_style}  data-field="RDOTHrs">
				{$label dtrsummary RDOTHrs}
			</th>
			{END RDOTHrs_fieldheadercolumn}
			{BEGIN NDHrs_fieldheadercolumn}
			<th class="{$NDHrs_class}" {$NDHrs_style}  data-field="NDHrs">
				{$label dtrsummary NDHrs}
			</th>
			{END NDHrs_fieldheadercolumn}
			{BEGIN RDHrs_fieldheadercolumn}
			<th class="{$RDHrs_class}" {$RDHrs_style}  data-field="RDHrs">
				{$label dtrsummary RDHrs}
			</th>
			{END RDHrs_fieldheadercolumn}
			{BEGIN RegNDHrs_fieldheadercolumn}
			<th class="{$RegNDHrs_class}" {$RegNDHrs_style}  data-field="RegNDHrs">
				{$label dtrsummary RegNDHrs}
			</th>
			{END RegNDHrs_fieldheadercolumn}
			{BEGIN RHNDHrs_fieldheadercolumn}
			<th class="{$RHNDHrs_class}" {$RHNDHrs_style}  data-field="RHNDHrs">
				{$label dtrsummary RHNDHrs}
			</th>
			{END RHNDHrs_fieldheadercolumn}
			{BEGIN SHNDHrs_fieldheadercolumn}
			<th class="{$SHNDHrs_class}" {$SHNDHrs_style}  data-field="SHNDHrs">
				{$label dtrsummary SHNDHrs}
			</th>
			{END SHNDHrs_fieldheadercolumn}
			{BEGIN CHNDHrs_fieldheadercolumn}
			<th class="{$CHNDHrs_class}" {$CHNDHrs_style}  data-field="CHNDHrs">
				{$label dtrsummary CHNDHrs}
			</th>
			{END CHNDHrs_fieldheadercolumn}
			{BEGIN RDNDHrs_fieldheadercolumn}
			<th class="{$RDNDHrs_class}" {$RDNDHrs_style}  data-field="RDNDHrs">
				{$label dtrsummary RDNDHrs}
			</th>
			{END RDNDHrs_fieldheadercolumn}
			{BEGIN NDMealAllowance_fieldheadercolumn}
			<th class="{$NDMealAllowance_class}" {$NDMealAllowance_style}  data-field="NDMealAllowance">
				{$label dtrsummary NDMealAllowance}
			</th>
			{END NDMealAllowance_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN ScID_fieldcolumn}
			<td  class="{$ScID_class}" {$ScID_style} {$recordattrs}>
				{$ScID_value}
			</td>
			{END ScID_fieldcolumn}
			{BEGIN SDate_fieldcolumn}
			<td  class="{$SDate_class}" {$SDate_style} {$recordattrs}>
				{$SDate_value}
			</td>
			{END SDate_fieldcolumn}
			{BEGIN STimeIn_fieldcolumn}
			<td  class="{$STimeIn_class}" {$STimeIn_style} {$recordattrs}>
				{$STimeIn_value}
			</td>
			{END STimeIn_fieldcolumn}
			{BEGIN STimeOut_fieldcolumn}
			<td  class="{$STimeOut_class}" {$STimeOut_style} {$recordattrs}>
				{$STimeOut_value}
			</td>
			{END STimeOut_fieldcolumn}
			{BEGIN SchedType_fieldcolumn}
			<td  class="{$SchedType_class}" {$SchedType_style} {$recordattrs}>
				{$SchedType_value}
			</td>
			{END SchedType_fieldcolumn}
			{BEGIN ApprovedOT_fieldcolumn}
			<td  class="{$ApprovedOT_class}" {$ApprovedOT_style} {$recordattrs}>
				{$ApprovedOT_value}
			</td>
			{END ApprovedOT_fieldcolumn}
			{BEGIN AOTMins_fieldcolumn}
			<td  class="{$AOTMins_class}" {$AOTMins_style} {$recordattrs}>
				{$AOTMins_value}
			</td>
			{END AOTMins_fieldcolumn}
			{BEGIN ApprovedNightDiff_fieldcolumn}
			<td  class="{$ApprovedNightDiff_class}" {$ApprovedNightDiff_style} {$recordattrs}>
				{$ApprovedNightDiff_value}
			</td>
			{END ApprovedNightDiff_fieldcolumn}
			{BEGIN ANDiff_fieldcolumn}
			<td  class="{$ANDiff_class}" {$ANDiff_style} {$recordattrs}>
				{$ANDiff_value}
			</td>
			{END ANDiff_fieldcolumn}
			{BEGIN MinsPerDay_fieldcolumn}
			<td  class="{$MinsPerDay_class}" {$MinsPerDay_style} {$recordattrs}>
				{$MinsPerDay_value}
			</td>
			{END MinsPerDay_fieldcolumn}
			{BEGIN BreakMins_fieldcolumn}
			<td  class="{$BreakMins_class}" {$BreakMins_style} {$recordattrs}>
				{$BreakMins_value}
			</td>
			{END BreakMins_fieldcolumn}
			{BEGIN Shift_fieldcolumn}
			<td  class="{$Shift_class}" {$Shift_style} {$recordattrs}>
				{$Shift_value}
			</td>
			{END Shift_fieldcolumn}
			{BEGIN ApprovedRD_fieldcolumn}
			<td  class="{$ApprovedRD_class}" {$ApprovedRD_style} {$recordattrs}>
				{$ApprovedRD_value}
			</td>
			{END ApprovedRD_fieldcolumn}
			{BEGIN RDMins_fieldcolumn}
			<td  class="{$RDMins_class}" {$RDMins_style} {$recordattrs}>
				{$RDMins_value}
			</td>
			{END RDMins_fieldcolumn}
			{BEGIN LunchBreakFrom_fieldcolumn}
			<td  class="{$LunchBreakFrom_class}" {$LunchBreakFrom_style} {$recordattrs}>
				{$LunchBreakFrom_value}
			</td>
			{END LunchBreakFrom_fieldcolumn}
			{BEGIN LunchBreakTo_fieldcolumn}
			<td  class="{$LunchBreakTo_class}" {$LunchBreakTo_style} {$recordattrs}>
				{$LunchBreakTo_value}
			</td>
			{END LunchBreakTo_fieldcolumn}
			{BEGIN NDMealAllowancePerShift_fieldcolumn}
			<td  class="{$NDMealAllowancePerShift_class}" {$NDMealAllowancePerShift_style} {$recordattrs}>
				{$NDMealAllowancePerShift_value}
			</td>
			{END NDMealAllowancePerShift_fieldcolumn}
			{BEGIN NDMinimumHrs_fieldcolumn}
			<td  class="{$NDMinimumHrs_class}" {$NDMinimumHrs_style} {$recordattrs}>
				{$NDMinimumHrs_value}
			</td>
			{END NDMinimumHrs_fieldcolumn}
			{BEGIN TimeIn_fieldcolumn}
			<td  class="{$TimeIn_class}" {$TimeIn_style} {$recordattrs}>
				{$TimeIn_value}
			</td>
			{END TimeIn_fieldcolumn}
			{BEGIN TimeOut_fieldcolumn}
			<td  class="{$TimeOut_class}" {$TimeOut_style} {$recordattrs}>
				{$TimeOut_value}
			</td>
			{END TimeOut_fieldcolumn}
			{BEGIN DayIs_fieldcolumn}
			<td  class="{$DayIs_class}" {$DayIs_style} {$recordattrs}>
				{$DayIs_value}
			</td>
			{END DayIs_fieldcolumn}
			{BEGIN RestDay_fieldcolumn}
			<td  class="{$RestDay_class}" {$RestDay_style} {$recordattrs}>
				{$RestDay_value}
			</td>
			{END RestDay_fieldcolumn}
			{BEGIN Department_fieldcolumn}
			<td  class="{$Department_class}" {$Department_style} {$recordattrs}>
				{$Department_value}
			</td>
			{END Department_fieldcolumn}
			{BEGIN VLDay_fieldcolumn}
			<td  class="{$VLDay_class}" {$VLDay_style} {$recordattrs}>
				{$VLDay_value}
			</td>
			{END VLDay_fieldcolumn}
			{BEGIN SLDay_fieldcolumn}
			<td  class="{$SLDay_class}" {$SLDay_style} {$recordattrs}>
				{$SLDay_value}
			</td>
			{END SLDay_fieldcolumn}
			{BEGIN ELDay_fieldcolumn}
			<td  class="{$ELDay_class}" {$ELDay_style} {$recordattrs}>
				{$ELDay_value}
			</td>
			{END ELDay_fieldcolumn}
			{BEGIN PLDay_fieldcolumn}
			<td  class="{$PLDay_class}" {$PLDay_style} {$recordattrs}>
				{$PLDay_value}
			</td>
			{END PLDay_fieldcolumn}
			{BEGIN TrODay_fieldcolumn}
			<td  class="{$TrODay_class}" {$TrODay_style} {$recordattrs}>
				{$TrODay_value}
			</td>
			{END TrODay_fieldcolumn}
			{BEGIN HolidayType_fieldcolumn}
			<td  class="{$HolidayType_class}" {$HolidayType_style} {$recordattrs}>
				{$HolidayType_value}
			</td>
			{END HolidayType_fieldcolumn}
			{BEGIN Mispunched_fieldcolumn}
			<td  class="{$Mispunched_class}" {$Mispunched_style} {$recordattrs}>
				{$Mispunched_value}
			</td>
			{END Mispunched_fieldcolumn}
			{BEGIN Holiday1stHalf_fieldcolumn}
			<td  class="{$Holiday1stHalf_class}" {$Holiday1stHalf_style} {$recordattrs}>
				{$Holiday1stHalf_value}
			</td>
			{END Holiday1stHalf_fieldcolumn}
			{BEGIN Holiday2ndHalf_fieldcolumn}
			<td  class="{$Holiday2ndHalf_class}" {$Holiday2ndHalf_style} {$recordattrs}>
				{$Holiday2ndHalf_value}
			</td>
			{END Holiday2ndHalf_fieldcolumn}
			{BEGIN TotLateMins_fieldcolumn}
			<td  class="{$TotLateMins_class}" {$TotLateMins_style} {$recordattrs}>
				{$TotLateMins_value}
			</td>
			{END TotLateMins_fieldcolumn}
			{BEGIN LatePenaltyMins_fieldcolumn}
			<td  class="{$LatePenaltyMins_class}" {$LatePenaltyMins_style} {$recordattrs}>
				{$LatePenaltyMins_value}
			</td>
			{END LatePenaltyMins_fieldcolumn}
			{BEGIN LateFixPenalty_fieldcolumn}
			<td  class="{$LateFixPenalty_class}" {$LateFixPenalty_style} {$recordattrs}>
				{$LateFixPenalty_value}
			</td>
			{END LateFixPenalty_fieldcolumn}
			{BEGIN AfterBreakLogOut_fieldcolumn}
			<td  class="{$AfterBreakLogOut_class}" {$AfterBreakLogOut_style} {$recordattrs}>
				{$AfterBreakLogOut_value}
			</td>
			{END AfterBreakLogOut_fieldcolumn}
			{BEGIN AfterBreakLog_fieldcolumn}
			<td  class="{$AfterBreakLog_class}" {$AfterBreakLog_style} {$recordattrs}>
				{$AfterBreakLog_value}
			</td>
			{END AfterBreakLog_fieldcolumn}
			{BEGIN PreLogMins_fieldcolumn}
			<td  class="{$PreLogMins_class}" {$PreLogMins_style} {$recordattrs}>
				{$PreLogMins_value}
			</td>
			{END PreLogMins_fieldcolumn}
			{BEGIN IncludeBreakLate_fieldcolumn}
			<td  class="{$IncludeBreakLate_class}" {$IncludeBreakLate_style} {$recordattrs}>
				{$IncludeBreakLate_value}
			</td>
			{END IncludeBreakLate_fieldcolumn}
			{BEGIN GracePeriodMins_fieldcolumn}
			<td  class="{$GracePeriodMins_class}" {$GracePeriodMins_style} {$recordattrs}>
				{$GracePeriodMins_value}
			</td>
			{END GracePeriodMins_fieldcolumn}
			{BEGIN BreakLateMins_fieldcolumn}
			<td  class="{$BreakLateMins_class}" {$BreakLateMins_style} {$recordattrs}>
				{$BreakLateMins_value}
			</td>
			{END BreakLateMins_fieldcolumn}
			{BEGIN ANDOTMins_fieldcolumn}
			<td  class="{$ANDOTMins_class}" {$ANDOTMins_style} {$recordattrs}>
				{$ANDOTMins_value}
			</td>
			{END ANDOTMins_fieldcolumn}
			{BEGIN RegNDOTHrs_fieldcolumn}
			<td  class="{$RegNDOTHrs_class}" {$RegNDOTHrs_style} {$recordattrs}>
				{$RegNDOTHrs_value}
			</td>
			{END RegNDOTHrs_fieldcolumn}
			{BEGIN RHNDOTHrs_fieldcolumn}
			<td  class="{$RHNDOTHrs_class}" {$RHNDOTHrs_style} {$recordattrs}>
				{$RHNDOTHrs_value}
			</td>
			{END RHNDOTHrs_fieldcolumn}
			{BEGIN SHNDOTHrs_fieldcolumn}
			<td  class="{$SHNDOTHrs_class}" {$SHNDOTHrs_style} {$recordattrs}>
				{$SHNDOTHrs_value}
			</td>
			{END SHNDOTHrs_fieldcolumn}
			{BEGIN CHNDOTHrs_fieldcolumn}
			<td  class="{$CHNDOTHrs_class}" {$CHNDOTHrs_style} {$recordattrs}>
				{$CHNDOTHrs_value}
			</td>
			{END CHNDOTHrs_fieldcolumn}
			{BEGIN RDNDOTHrs_fieldcolumn}
			<td  class="{$RDNDOTHrs_class}" {$RDNDOTHrs_style} {$recordattrs}>
				{$RDNDOTHrs_value}
			</td>
			{END RDNDOTHrs_fieldcolumn}
			{BEGIN EmployeeID_fieldcolumn}
			<td  class="{$EmployeeID_class}" {$EmployeeID_style} {$recordattrs}>
				{$EmployeeID_value}
			</td>
			{END EmployeeID_fieldcolumn}
			{BEGIN UserName_fieldcolumn}
			<td  class="{$UserName_class}" {$UserName_style} {$recordattrs}>
				{$UserName_value}
			</td>
			{END UserName_fieldcolumn}
			{BEGIN Employer_fieldcolumn}
			<td  class="{$Employer_class}" {$Employer_style} {$recordattrs}>
				{$Employer_value}
			</td>
			{END Employer_fieldcolumn}
			{BEGIN Division_fieldcolumn}
			<td  class="{$Division_class}" {$Division_style} {$recordattrs}>
				{$Division_value}
			</td>
			{END Division_fieldcolumn}
			{BEGIN WageType_fieldcolumn}
			<td  class="{$WageType_class}" {$WageType_style} {$recordattrs}>
				{$WageType_value}
			</td>
			{END WageType_fieldcolumn}
			{BEGIN RegWD_fieldcolumn}
			<td  class="{$RegWD_class}" {$RegWD_style} {$recordattrs}>
				{$RegWD_value}
			</td>
			{END RegWD_fieldcolumn}
			{BEGIN DWork_fieldcolumn}
			<td  class="{$DWork_class}" {$DWork_style} {$recordattrs}>
				{$DWork_value}
			</td>
			{END DWork_fieldcolumn}
			{BEGIN Absent_fieldcolumn}
			<td  class="{$Absent_class}" {$Absent_style} {$recordattrs}>
				{$Absent_value}
			</td>
			{END Absent_fieldcolumn}
			{BEGIN LateMins_fieldcolumn}
			<td  class="{$LateMins_class}" {$LateMins_style} {$recordattrs}>
				{$LateMins_value}
			</td>
			{END LateMins_fieldcolumn}
			{BEGIN UndertimeMins_fieldcolumn}
			<td  class="{$UndertimeMins_class}" {$UndertimeMins_style} {$recordattrs}>
				{$UndertimeMins_value}
			</td>
			{END UndertimeMins_fieldcolumn}
			{BEGIN RHolidayHrs_fieldcolumn}
			<td  class="{$RHolidayHrs_class}" {$RHolidayHrs_style} {$recordattrs}>
				{$RHolidayHrs_value}
			</td>
			{END RHolidayHrs_fieldcolumn}
			{BEGIN SHolidayHrs_fieldcolumn}
			<td  class="{$SHolidayHrs_class}" {$SHolidayHrs_style} {$recordattrs}>
				{$SHolidayHrs_value}
			</td>
			{END SHolidayHrs_fieldcolumn}
			{BEGIN CHolidayHrs_fieldcolumn}
			<td  class="{$CHolidayHrs_class}" {$CHolidayHrs_style} {$recordattrs}>
				{$CHolidayHrs_value}
			</td>
			{END CHolidayHrs_fieldcolumn}
			{BEGIN ExcessHrs_fieldcolumn}
			<td  class="{$ExcessHrs_class}" {$ExcessHrs_style} {$recordattrs}>
				{$ExcessHrs_value}
			</td>
			{END ExcessHrs_fieldcolumn}
			{BEGIN RegOTHrs_fieldcolumn}
			<td  class="{$RegOTHrs_class}" {$RegOTHrs_style} {$recordattrs}>
				{$RegOTHrs_value}
			</td>
			{END RegOTHrs_fieldcolumn}
			{BEGIN RHOTHrs_fieldcolumn}
			<td  class="{$RHOTHrs_class}" {$RHOTHrs_style} {$recordattrs}>
				{$RHOTHrs_value}
			</td>
			{END RHOTHrs_fieldcolumn}
			{BEGIN SHOTHrs_fieldcolumn}
			<td  class="{$SHOTHrs_class}" {$SHOTHrs_style} {$recordattrs}>
				{$SHOTHrs_value}
			</td>
			{END SHOTHrs_fieldcolumn}
			{BEGIN CHOTHrs_fieldcolumn}
			<td  class="{$CHOTHrs_class}" {$CHOTHrs_style} {$recordattrs}>
				{$CHOTHrs_value}
			</td>
			{END CHOTHrs_fieldcolumn}
			{BEGIN RDOTHrs_fieldcolumn}
			<td  class="{$RDOTHrs_class}" {$RDOTHrs_style} {$recordattrs}>
				{$RDOTHrs_value}
			</td>
			{END RDOTHrs_fieldcolumn}
			{BEGIN NDHrs_fieldcolumn}
			<td  class="{$NDHrs_class}" {$NDHrs_style} {$recordattrs}>
				{$NDHrs_value}
			</td>
			{END NDHrs_fieldcolumn}
			{BEGIN RDHrs_fieldcolumn}
			<td  class="{$RDHrs_class}" {$RDHrs_style} {$recordattrs}>
				{$RDHrs_value}
			</td>
			{END RDHrs_fieldcolumn}
			{BEGIN RegNDHrs_fieldcolumn}
			<td  class="{$RegNDHrs_class}" {$RegNDHrs_style} {$recordattrs}>
				{$RegNDHrs_value}
			</td>
			{END RegNDHrs_fieldcolumn}
			{BEGIN RHNDHrs_fieldcolumn}
			<td  class="{$RHNDHrs_class}" {$RHNDHrs_style} {$recordattrs}>
				{$RHNDHrs_value}
			</td>
			{END RHNDHrs_fieldcolumn}
			{BEGIN SHNDHrs_fieldcolumn}
			<td  class="{$SHNDHrs_class}" {$SHNDHrs_style} {$recordattrs}>
				{$SHNDHrs_value}
			</td>
			{END SHNDHrs_fieldcolumn}
			{BEGIN CHNDHrs_fieldcolumn}
			<td  class="{$CHNDHrs_class}" {$CHNDHrs_style} {$recordattrs}>
				{$CHNDHrs_value}
			</td>
			{END CHNDHrs_fieldcolumn}
			{BEGIN RDNDHrs_fieldcolumn}
			<td  class="{$RDNDHrs_class}" {$RDNDHrs_style} {$recordattrs}>
				{$RDNDHrs_value}
			</td>
			{END RDNDHrs_fieldcolumn}
			{BEGIN NDMealAllowance_fieldcolumn}
			<td  class="{$NDMealAllowance_class}" {$NDMealAllowance_style} {$recordattrs}>
				{$NDMealAllowance_value}
			</td>
			{END NDMealAllowance_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
