<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel dtrsummary2 view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN RDOTh_fieldblock}
	<div class="{$fielddispclass_RDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RDOTh">
		<label class="control-label" for="{$labelfor_RDOTh}">
			{$label dtrsummary2 RDOTh}
		</label>
		<div class="" >
			{$RDOTh_value}&nbsp;
		</div>
	</div>
{END RDOTh_fieldblock}
					{BEGIN RegNDh_fieldblock}
	<div class="{$fielddispclass_RegNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RegNDh">
		<label class="control-label" for="{$labelfor_RegNDh}">
			{$label dtrsummary2 RegNDh}
		</label>
		<div class="" >
			{$RegNDh_value}&nbsp;
		</div>
	</div>
{END RegNDh_fieldblock}
					{BEGIN RegRDh_fieldblock}
	<div class="{$fielddispclass_RegRDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RegRDh">
		<label class="control-label" for="{$labelfor_RegRDh}">
			{$label dtrsummary2 RegRDh}
		</label>
		<div class="" >
			{$RegRDh_value}&nbsp;
		</div>
	</div>
{END RegRDh_fieldblock}
					{BEGIN RDNDh_fieldblock}
	<div class="{$fielddispclass_RDNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RDNDh">
		<label class="control-label" for="{$labelfor_RDNDh}">
			{$label dtrsummary2 RDNDh}
		</label>
		<div class="" >
			{$RDNDh_value}&nbsp;
		</div>
	</div>
{END RDNDh_fieldblock}
					{BEGIN EmployeeID_fieldblock}
	<div class="{$fielddispclass_EmployeeID} col-md-6 bs-viewcontrolgroup" data-fieldname="EmployeeID">
		<label class="control-label" for="{$labelfor_EmployeeID}">
			{$label dtrsummary2 EmployeeID}
		</label>
		<div class="" >
			{$EmployeeID_value}&nbsp;
		</div>
	</div>
{END EmployeeID_fieldblock}
					{BEGIN UserName_fieldblock}
	<div class="{$fielddispclass_UserName} col-md-6 bs-viewcontrolgroup" data-fieldname="UserName">
		<label class="control-label" for="{$labelfor_UserName}">
			{$label dtrsummary2 UserName}
		</label>
		<div class="" >
			{$UserName_value}&nbsp;
		</div>
	</div>
{END UserName_fieldblock}
					{BEGIN Division_fieldblock}
	<div class="{$fielddispclass_Division} col-md-6 bs-viewcontrolgroup" data-fieldname="Division">
		<label class="control-label" for="{$labelfor_Division}">
			{$label dtrsummary2 Division}
		</label>
		<div class="" >
			{$Division_value}&nbsp;
		</div>
	</div>
{END Division_fieldblock}
					{BEGIN WageType_fieldblock}
	<div class="{$fielddispclass_WageType} col-md-6 bs-viewcontrolgroup" data-fieldname="WageType">
		<label class="control-label" for="{$labelfor_WageType}">
			{$label dtrsummary2 WageType}
		</label>
		<div class="" >
			{$WageType_value}&nbsp;
		</div>
	</div>
{END WageType_fieldblock}
					{BEGIN Employer_fieldblock}
	<div class="{$fielddispclass_Employer} col-md-6 bs-viewcontrolgroup" data-fieldname="Employer">
		<label class="control-label" for="{$labelfor_Employer}">
			{$label dtrsummary2 Employer}
		</label>
		<div class="" >
			{$Employer_value}&nbsp;
		</div>
	</div>
{END Employer_fieldblock}
					{BEGIN RegWD_fieldblock}
	<div class="{$fielddispclass_RegWD} col-md-6 bs-viewcontrolgroup" data-fieldname="RegWD">
		<label class="control-label" for="{$labelfor_RegWD}">
			{$label dtrsummary2 RegWD}
		</label>
		<div class="" >
			{$RegWD_value}&nbsp;
		</div>
	</div>
{END RegWD_fieldblock}
					{BEGIN DWork_fieldblock}
	<div class="{$fielddispclass_DWork} col-md-6 bs-viewcontrolgroup" data-fieldname="DWork">
		<label class="control-label" for="{$labelfor_DWork}">
			{$label dtrsummary2 DWork}
		</label>
		<div class="" >
			{$DWork_value}&nbsp;
		</div>
	</div>
{END DWork_fieldblock}
					{BEGIN Absent_fieldblock}
	<div class="{$fielddispclass_Absent} col-md-6 bs-viewcontrolgroup" data-fieldname="Absent">
		<label class="control-label" for="{$labelfor_Absent}">
			{$label dtrsummary2 Absent}
		</label>
		<div class="" >
			{$Absent_value}&nbsp;
		</div>
	</div>
{END Absent_fieldblock}
					{BEGIN TLates_fieldblock}
	<div class="{$fielddispclass_TLates} col-md-6 bs-viewcontrolgroup" data-fieldname="TLates">
		<label class="control-label" for="{$labelfor_TLates}">
			{$label dtrsummary2 TLates}
		</label>
		<div class="" >
			{$TLates_value}&nbsp;
		</div>
	</div>
{END TLates_fieldblock}
					{BEGIN LateMins_fieldblock}
	<div class="{$fielddispclass_LateMins} col-md-6 bs-viewcontrolgroup" data-fieldname="LateMins">
		<label class="control-label" for="{$labelfor_LateMins}">
			{$label dtrsummary2 LateMins}
		</label>
		<div class="" >
			{$LateMins_value}&nbsp;
		</div>
	</div>
{END LateMins_fieldblock}
					{BEGIN UndertimeMins_fieldblock}
	<div class="{$fielddispclass_UndertimeMins} col-md-6 bs-viewcontrolgroup" data-fieldname="UndertimeMins">
		<label class="control-label" for="{$labelfor_UndertimeMins}">
			{$label dtrsummary2 UndertimeMins}
		</label>
		<div class="" >
			{$UndertimeMins_value}&nbsp;
		</div>
	</div>
{END UndertimeMins_fieldblock}
					{BEGIN VLDays_fieldblock}
	<div class="{$fielddispclass_VLDays} col-md-6 bs-viewcontrolgroup" data-fieldname="VLDays">
		<label class="control-label" for="{$labelfor_VLDays}">
			{$label dtrsummary2 VLDays}
		</label>
		<div class="" >
			{$VLDays_value}&nbsp;
		</div>
	</div>
{END VLDays_fieldblock}
					{BEGIN SLDays_fieldblock}
	<div class="{$fielddispclass_SLDays} col-md-6 bs-viewcontrolgroup" data-fieldname="SLDays">
		<label class="control-label" for="{$labelfor_SLDays}">
			{$label dtrsummary2 SLDays}
		</label>
		<div class="" >
			{$SLDays_value}&nbsp;
		</div>
	</div>
{END SLDays_fieldblock}
					{BEGIN ELDays_fieldblock}
	<div class="{$fielddispclass_ELDays} col-md-6 bs-viewcontrolgroup" data-fieldname="ELDays">
		<label class="control-label" for="{$labelfor_ELDays}">
			{$label dtrsummary2 ELDays}
		</label>
		<div class="" >
			{$ELDays_value}&nbsp;
		</div>
	</div>
{END ELDays_fieldblock}
					{BEGIN PLDays_fieldblock}
	<div class="{$fielddispclass_PLDays} col-md-6 bs-viewcontrolgroup" data-fieldname="PLDays">
		<label class="control-label" for="{$labelfor_PLDays}">
			{$label dtrsummary2 PLDays}
		</label>
		<div class="" >
			{$PLDays_value}&nbsp;
		</div>
	</div>
{END PLDays_fieldblock}
					{BEGIN TrODays_fieldblock}
	<div class="{$fielddispclass_TrODays} col-md-6 bs-viewcontrolgroup" data-fieldname="TrODays">
		<label class="control-label" for="{$labelfor_TrODays}">
			{$label dtrsummary2 TrODays}
		</label>
		<div class="" >
			{$TrODays_value}&nbsp;
		</div>
	</div>
{END TrODays_fieldblock}
					{BEGIN RHh_fieldblock}
	<div class="{$fielddispclass_RHh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHh">
		<label class="control-label" for="{$labelfor_RHh}">
			{$label dtrsummary2 RHh}
		</label>
		<div class="" >
			{$RHh_value}&nbsp;
		</div>
	</div>
{END RHh_fieldblock}
					{BEGIN SHh_fieldblock}
	<div class="{$fielddispclass_SHh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHh">
		<label class="control-label" for="{$labelfor_SHh}">
			{$label dtrsummary2 SHh}
		</label>
		<div class="" >
			{$SHh_value}&nbsp;
		</div>
	</div>
{END SHh_fieldblock}
					{BEGIN DHh_fieldblock}
	<div class="{$fielddispclass_DHh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHh">
		<label class="control-label" for="{$labelfor_DHh}">
			{$label dtrsummary2 DHh}
		</label>
		<div class="" >
			{$DHh_value}&nbsp;
		</div>
	</div>
{END DHh_fieldblock}
					{BEGIN ExcessHrs_fieldblock}
	<div class="{$fielddispclass_ExcessHrs} col-md-6 bs-viewcontrolgroup" data-fieldname="ExcessHrs">
		<label class="control-label" for="{$labelfor_ExcessHrs}">
			{$label dtrsummary2 ExcessHrs}
		</label>
		<div class="" >
			{$ExcessHrs_value}&nbsp;
		</div>
	</div>
{END ExcessHrs_fieldblock}
					{BEGIN RegOTh_fieldblock}
	<div class="{$fielddispclass_RegOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RegOTh">
		<label class="control-label" for="{$labelfor_RegOTh}">
			{$label dtrsummary2 RegOTh}
		</label>
		<div class="" >
			{$RegOTh_value}&nbsp;
		</div>
	</div>
{END RegOTh_fieldblock}
					{BEGIN RHOTh_fieldblock}
	<div class="{$fielddispclass_RHOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHOTh">
		<label class="control-label" for="{$labelfor_RHOTh}">
			{$label dtrsummary2 RHOTh}
		</label>
		<div class="" >
			{$RHOTh_value}&nbsp;
		</div>
	</div>
{END RHOTh_fieldblock}
					{BEGIN SHOTh_fieldblock}
	<div class="{$fielddispclass_SHOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHOTh">
		<label class="control-label" for="{$labelfor_SHOTh}">
			{$label dtrsummary2 SHOTh}
		</label>
		<div class="" >
			{$SHOTh_value}&nbsp;
		</div>
	</div>
{END SHOTh_fieldblock}
					{BEGIN SHOTDh_fieldblock}
	<div class="{$fielddispclass_SHOTDh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHOTDh">
		<label class="control-label" for="{$labelfor_SHOTDh}">
			{$label dtrsummary2 SHOTDh}
		</label>
		<div class="" >
			{$SHOTDh_value}&nbsp;
		</div>
	</div>
{END SHOTDh_fieldblock}
					{BEGIN DHOTh_fieldblock}
	<div class="{$fielddispclass_DHOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHOTh">
		<label class="control-label" for="{$labelfor_DHOTh}">
			{$label dtrsummary2 DHOTh}
		</label>
		<div class="" >
			{$DHOTh_value}&nbsp;
		</div>
	</div>
{END DHOTh_fieldblock}
					{BEGIN NDOTh_fieldblock}
	<div class="{$fielddispclass_NDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="NDOTh">
		<label class="control-label" for="{$labelfor_NDOTh}">
			{$label dtrsummary2 NDOTh}
		</label>
		<div class="" >
			{$NDOTh_value}&nbsp;
		</div>
	</div>
{END NDOTh_fieldblock}
					{BEGIN RHNDh_fieldblock}
	<div class="{$fielddispclass_RHNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHNDh">
		<label class="control-label" for="{$labelfor_RHNDh}">
			{$label dtrsummary2 RHNDh}
		</label>
		<div class="" >
			{$RHNDh_value}&nbsp;
		</div>
	</div>
{END RHNDh_fieldblock}
					{BEGIN SHNDh_fieldblock}
	<div class="{$fielddispclass_SHNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHNDh">
		<label class="control-label" for="{$labelfor_SHNDh}">
			{$label dtrsummary2 SHNDh}
		</label>
		<div class="" >
			{$SHNDh_value}&nbsp;
		</div>
	</div>
{END SHNDh_fieldblock}
					{BEGIN DHNDh_fieldblock}
	<div class="{$fielddispclass_DHNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHNDh">
		<label class="control-label" for="{$labelfor_DHNDh}">
			{$label dtrsummary2 DHNDh}
		</label>
		<div class="" >
			{$DHNDh_value}&nbsp;
		</div>
	</div>
{END DHNDh_fieldblock}
					{BEGIN RHNDOTh_fieldblock}
	<div class="{$fielddispclass_RHNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHNDOTh">
		<label class="control-label" for="{$labelfor_RHNDOTh}">
			{$label dtrsummary2 RHNDOTh}
		</label>
		<div class="" >
			{$RHNDOTh_value}&nbsp;
		</div>
	</div>
{END RHNDOTh_fieldblock}
					{BEGIN SHNDOTh_fieldblock}
	<div class="{$fielddispclass_SHNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHNDOTh">
		<label class="control-label" for="{$labelfor_SHNDOTh}">
			{$label dtrsummary2 SHNDOTh}
		</label>
		<div class="" >
			{$SHNDOTh_value}&nbsp;
		</div>
	</div>
{END SHNDOTh_fieldblock}
					{BEGIN DHNDOTh_fieldblock}
	<div class="{$fielddispclass_DHNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHNDOTh">
		<label class="control-label" for="{$labelfor_DHNDOTh}">
			{$label dtrsummary2 DHNDOTh}
		</label>
		<div class="" >
			{$DHNDOTh_value}&nbsp;
		</div>
	</div>
{END DHNDOTh_fieldblock}
					{BEGIN RDNDOTh_fieldblock}
	<div class="{$fielddispclass_RDNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RDNDOTh">
		<label class="control-label" for="{$labelfor_RDNDOTh}">
			{$label dtrsummary2 RDNDOTh}
		</label>
		<div class="" >
			{$RDNDOTh_value}&nbsp;
		</div>
	</div>
{END RDNDOTh_fieldblock}
					{BEGIN RHRDh_fieldblock}
	<div class="{$fielddispclass_RHRDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHRDh">
		<label class="control-label" for="{$labelfor_RHRDh}">
			{$label dtrsummary2 RHRDh}
		</label>
		<div class="" >
			{$RHRDh_value}&nbsp;
		</div>
	</div>
{END RHRDh_fieldblock}
					{BEGIN SHRDh_fieldblock}
	<div class="{$fielddispclass_SHRDh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHRDh">
		<label class="control-label" for="{$labelfor_SHRDh}">
			{$label dtrsummary2 SHRDh}
		</label>
		<div class="" >
			{$SHRDh_value}&nbsp;
		</div>
	</div>
{END SHRDh_fieldblock}
					{BEGIN DHRDh_fieldblock}
	<div class="{$fielddispclass_DHRDh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHRDh">
		<label class="control-label" for="{$labelfor_DHRDh}">
			{$label dtrsummary2 DHRDh}
		</label>
		<div class="" >
			{$DHRDh_value}&nbsp;
		</div>
	</div>
{END DHRDh_fieldblock}
					{BEGIN RHRDOTh_fieldblock}
	<div class="{$fielddispclass_RHRDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHRDOTh">
		<label class="control-label" for="{$labelfor_RHRDOTh}">
			{$label dtrsummary2 RHRDOTh}
		</label>
		<div class="" >
			{$RHRDOTh_value}&nbsp;
		</div>
	</div>
{END RHRDOTh_fieldblock}
					{BEGIN SHRDOTh_fieldblock}
	<div class="{$fielddispclass_SHRDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHRDOTh">
		<label class="control-label" for="{$labelfor_SHRDOTh}">
			{$label dtrsummary2 SHRDOTh}
		</label>
		<div class="" >
			{$SHRDOTh_value}&nbsp;
		</div>
	</div>
{END SHRDOTh_fieldblock}
					{BEGIN SHRDOTDh_fieldblock}
	<div class="{$fielddispclass_SHRDOTDh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHRDOTDh">
		<label class="control-label" for="{$labelfor_SHRDOTDh}">
			{$label dtrsummary2 SHRDOTDh}
		</label>
		<div class="" >
			{$SHRDOTDh_value}&nbsp;
		</div>
	</div>
{END SHRDOTDh_fieldblock}
					{BEGIN DHRDOTh_fieldblock}
	<div class="{$fielddispclass_DHRDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHRDOTh">
		<label class="control-label" for="{$labelfor_DHRDOTh}">
			{$label dtrsummary2 DHRDOTh}
		</label>
		<div class="" >
			{$DHRDOTh_value}&nbsp;
		</div>
	</div>
{END DHRDOTh_fieldblock}
					{BEGIN RHRDNDh_fieldblock}
	<div class="{$fielddispclass_RHRDNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHRDNDh">
		<label class="control-label" for="{$labelfor_RHRDNDh}">
			{$label dtrsummary2 RHRDNDh}
		</label>
		<div class="" >
			{$RHRDNDh_value}&nbsp;
		</div>
	</div>
{END RHRDNDh_fieldblock}
					{BEGIN SHRDNDh_fieldblock}
	<div class="{$fielddispclass_SHRDNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHRDNDh">
		<label class="control-label" for="{$labelfor_SHRDNDh}">
			{$label dtrsummary2 SHRDNDh}
		</label>
		<div class="" >
			{$SHRDNDh_value}&nbsp;
		</div>
	</div>
{END SHRDNDh_fieldblock}
					{BEGIN DHRDNDh_fieldblock}
	<div class="{$fielddispclass_DHRDNDh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHRDNDh">
		<label class="control-label" for="{$labelfor_DHRDNDh}">
			{$label dtrsummary2 DHRDNDh}
		</label>
		<div class="" >
			{$DHRDNDh_value}&nbsp;
		</div>
	</div>
{END DHRDNDh_fieldblock}
					{BEGIN RHRDNDOTh_fieldblock}
	<div class="{$fielddispclass_RHRDNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="RHRDNDOTh">
		<label class="control-label" for="{$labelfor_RHRDNDOTh}">
			{$label dtrsummary2 RHRDNDOTh}
		</label>
		<div class="" >
			{$RHRDNDOTh_value}&nbsp;
		</div>
	</div>
{END RHRDNDOTh_fieldblock}
					{BEGIN SHRDNDOTh_fieldblock}
	<div class="{$fielddispclass_SHRDNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="SHRDNDOTh">
		<label class="control-label" for="{$labelfor_SHRDNDOTh}">
			{$label dtrsummary2 SHRDNDOTh}
		</label>
		<div class="" >
			{$SHRDNDOTh_value}&nbsp;
		</div>
	</div>
{END SHRDNDOTh_fieldblock}
					{BEGIN DHRDNDOTh_fieldblock}
	<div class="{$fielddispclass_DHRDNDOTh} col-md-6 bs-viewcontrolgroup" data-fieldname="DHRDNDOTh">
		<label class="control-label" for="{$labelfor_DHRDNDOTh}">
			{$label dtrsummary2 DHRDNDOTh}
		</label>
		<div class="" >
			{$DHRDNDOTh_value}&nbsp;
		</div>
	</div>
{END DHRDNDOTh_fieldblock}
					{BEGIN RLink_fieldblock}
	<div class="{$fielddispclass_RLink} col-md-6 bs-viewcontrolgroup" data-fieldname="RLink">
		<label class="control-label" for="{$labelfor_RLink}">
			{$label dtrsummary2 RLink}
		</label>
		<div class="" >
			{$RLink_value}&nbsp;
		</div>
	</div>
{END RLink_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
