<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel dtrsummary search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ScID_fieldblock}		
	<div class="container {$fielddispclass_ScID}" data-fieldname="ScID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ScID}">
				{$label dtrsummary ScID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ScID}
			</div>
			<div class="col-md-4" >
				{$ScID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ScID_editcontrol1}
			</div>
		</div>
	</div>
{END ScID_fieldblock}
	{BEGIN SDate_fieldblock}		
	<div class="container {$fielddispclass_SDate}" data-fieldname="SDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SDate}">
				{$label dtrsummary SDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SDate}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SDate_editcontrol1}
			</div>
		</div>
	</div>
{END SDate_fieldblock}
	{BEGIN STimeIn_fieldblock}		
	<div class="container {$fielddispclass_STimeIn}" data-fieldname="STimeIn">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_STimeIn}">
				{$label dtrsummary STimeIn}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_STimeIn}
			</div>
			<div class="col-md-4" >
				{$STimeIn_editcontrol}
			</div>
			<div class="col-md-4" >
				{$STimeIn_editcontrol1}
			</div>
		</div>
	</div>
{END STimeIn_fieldblock}
	{BEGIN STimeOut_fieldblock}		
	<div class="container {$fielddispclass_STimeOut}" data-fieldname="STimeOut">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_STimeOut}">
				{$label dtrsummary STimeOut}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_STimeOut}
			</div>
			<div class="col-md-4" >
				{$STimeOut_editcontrol}
			</div>
			<div class="col-md-4" >
				{$STimeOut_editcontrol1}
			</div>
		</div>
	</div>
{END STimeOut_fieldblock}
	{BEGIN SchedType_fieldblock}		
	<div class="container {$fielddispclass_SchedType}" data-fieldname="SchedType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SchedType}">
				{$label dtrsummary SchedType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SchedType}
			</div>
			<div class="col-md-4" >
				{$SchedType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SchedType_editcontrol1}
			</div>
		</div>
	</div>
{END SchedType_fieldblock}
	{BEGIN ApprovedOT_fieldblock}		
	<div class="container {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedOT}">
				{$label dtrsummary ApprovedOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedOT}
			</div>
			<div class="col-md-4" >
				{$ApprovedOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedOT_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedOT_fieldblock}
	{BEGIN AOTMins_fieldblock}		
	<div class="container {$fielddispclass_AOTMins}" data-fieldname="AOTMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AOTMins}">
				{$label dtrsummary AOTMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AOTMins}
			</div>
			<div class="col-md-4" >
				{$AOTMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AOTMins_editcontrol1}
			</div>
		</div>
	</div>
{END AOTMins_fieldblock}
	{BEGIN ApprovedNightDiff_fieldblock}		
	<div class="container {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedNightDiff}">
				{$label dtrsummary ApprovedNightDiff}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedNightDiff}
			</div>
			<div class="col-md-4" >
				{$ApprovedNightDiff_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedNightDiff_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedNightDiff_fieldblock}
	{BEGIN ANDiff_fieldblock}		
	<div class="container {$fielddispclass_ANDiff}" data-fieldname="ANDiff">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ANDiff}">
				{$label dtrsummary ANDiff}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ANDiff}
			</div>
			<div class="col-md-4" >
				{$ANDiff_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ANDiff_editcontrol1}
			</div>
		</div>
	</div>
{END ANDiff_fieldblock}
	{BEGIN MinsPerDay_fieldblock}		
	<div class="container {$fielddispclass_MinsPerDay}" data-fieldname="MinsPerDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_MinsPerDay}">
				{$label dtrsummary MinsPerDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_MinsPerDay}
			</div>
			<div class="col-md-4" >
				{$MinsPerDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MinsPerDay_editcontrol1}
			</div>
		</div>
	</div>
{END MinsPerDay_fieldblock}
	{BEGIN BreakMins_fieldblock}		
	<div class="container {$fielddispclass_BreakMins}" data-fieldname="BreakMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BreakMins}">
				{$label dtrsummary BreakMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BreakMins}
			</div>
			<div class="col-md-4" >
				{$BreakMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BreakMins_editcontrol1}
			</div>
		</div>
	</div>
{END BreakMins_fieldblock}
	{BEGIN Shift_fieldblock}		
	<div class="container {$fielddispclass_Shift}" data-fieldname="Shift">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Shift}">
				{$label dtrsummary Shift}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Shift}
			</div>
			<div class="col-md-4" >
				{$Shift_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Shift_editcontrol1}
			</div>
		</div>
	</div>
{END Shift_fieldblock}
	{BEGIN ApprovedRD_fieldblock}		
	<div class="container {$fielddispclass_ApprovedRD}" data-fieldname="ApprovedRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ApprovedRD}">
				{$label dtrsummary ApprovedRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ApprovedRD}
			</div>
			<div class="col-md-4" >
				{$ApprovedRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ApprovedRD_editcontrol1}
			</div>
		</div>
	</div>
{END ApprovedRD_fieldblock}
	{BEGIN RDMins_fieldblock}		
	<div class="container {$fielddispclass_RDMins}" data-fieldname="RDMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDMins}">
				{$label dtrsummary RDMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDMins}
			</div>
			<div class="col-md-4" >
				{$RDMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDMins_editcontrol1}
			</div>
		</div>
	</div>
{END RDMins_fieldblock}
	{BEGIN LunchBreakFrom_fieldblock}		
	<div class="container {$fielddispclass_LunchBreakFrom}" data-fieldname="LunchBreakFrom">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LunchBreakFrom}">
				{$label dtrsummary LunchBreakFrom}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LunchBreakFrom}
			</div>
			<div class="col-md-4" >
				{$LunchBreakFrom_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LunchBreakFrom_editcontrol1}
			</div>
		</div>
	</div>
{END LunchBreakFrom_fieldblock}
	{BEGIN LunchBreakTo_fieldblock}		
	<div class="container {$fielddispclass_LunchBreakTo}" data-fieldname="LunchBreakTo">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LunchBreakTo}">
				{$label dtrsummary LunchBreakTo}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LunchBreakTo}
			</div>
			<div class="col-md-4" >
				{$LunchBreakTo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LunchBreakTo_editcontrol1}
			</div>
		</div>
	</div>
{END LunchBreakTo_fieldblock}
	{BEGIN NDMealAllowancePerShift_fieldblock}		
	<div class="container {$fielddispclass_NDMealAllowancePerShift}" data-fieldname="NDMealAllowancePerShift">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NDMealAllowancePerShift}">
				{$label dtrsummary NDMealAllowancePerShift}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NDMealAllowancePerShift}
			</div>
			<div class="col-md-4" >
				{$NDMealAllowancePerShift_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NDMealAllowancePerShift_editcontrol1}
			</div>
		</div>
	</div>
{END NDMealAllowancePerShift_fieldblock}
	{BEGIN NDMinimumHrs_fieldblock}		
	<div class="container {$fielddispclass_NDMinimumHrs}" data-fieldname="NDMinimumHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NDMinimumHrs}">
				{$label dtrsummary NDMinimumHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NDMinimumHrs}
			</div>
			<div class="col-md-4" >
				{$NDMinimumHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NDMinimumHrs_editcontrol1}
			</div>
		</div>
	</div>
{END NDMinimumHrs_fieldblock}
	{BEGIN TimeIn_fieldblock}		
	<div class="container {$fielddispclass_TimeIn}" data-fieldname="TimeIn">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeIn}">
				{$label dtrsummary TimeIn}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeIn}
			</div>
			<div class="col-md-4" >
				{$TimeIn_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeIn_editcontrol1}
			</div>
		</div>
	</div>
{END TimeIn_fieldblock}
	{BEGIN TimeOut_fieldblock}		
	<div class="container {$fielddispclass_TimeOut}" data-fieldname="TimeOut">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeOut}">
				{$label dtrsummary TimeOut}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeOut}
			</div>
			<div class="col-md-4" >
				{$TimeOut_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeOut_editcontrol1}
			</div>
		</div>
	</div>
{END TimeOut_fieldblock}
	{BEGIN DayIs_fieldblock}		
	<div class="container {$fielddispclass_DayIs}" data-fieldname="DayIs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DayIs}">
				{$label dtrsummary DayIs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DayIs}
			</div>
			<div class="col-md-4" >
				{$DayIs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DayIs_editcontrol1}
			</div>
		</div>
	</div>
{END DayIs_fieldblock}
	{BEGIN RestDay_fieldblock}		
	<div class="container {$fielddispclass_RestDay}" data-fieldname="RestDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RestDay}">
				{$label dtrsummary RestDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RestDay}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RestDay_editcontrol1}
			</div>
		</div>
	</div>
{END RestDay_fieldblock}
	{BEGIN Department_fieldblock}		
	<div class="container {$fielddispclass_Department}" data-fieldname="Department">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Department}">
				{$label dtrsummary Department}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Department}
			</div>
			<div class="col-md-4" >
				{$Department_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Department_editcontrol1}
			</div>
		</div>
	</div>
{END Department_fieldblock}
	{BEGIN VLDay_fieldblock}		
	<div class="container {$fielddispclass_VLDay}" data-fieldname="VLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VLDay}">
				{$label dtrsummary VLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VLDay}
			</div>
			<div class="col-md-4" >
				{$VLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VLDay_editcontrol1}
			</div>
		</div>
	</div>
{END VLDay_fieldblock}
	{BEGIN SLDay_fieldblock}		
	<div class="container {$fielddispclass_SLDay}" data-fieldname="SLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SLDay}">
				{$label dtrsummary SLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SLDay}
			</div>
			<div class="col-md-4" >
				{$SLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SLDay_editcontrol1}
			</div>
		</div>
	</div>
{END SLDay_fieldblock}
	{BEGIN ELDay_fieldblock}		
	<div class="container {$fielddispclass_ELDay}" data-fieldname="ELDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ELDay}">
				{$label dtrsummary ELDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ELDay}
			</div>
			<div class="col-md-4" >
				{$ELDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ELDay_editcontrol1}
			</div>
		</div>
	</div>
{END ELDay_fieldblock}
	{BEGIN PLDay_fieldblock}		
	<div class="container {$fielddispclass_PLDay}" data-fieldname="PLDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PLDay}">
				{$label dtrsummary PLDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PLDay}
			</div>
			<div class="col-md-4" >
				{$PLDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PLDay_editcontrol1}
			</div>
		</div>
	</div>
{END PLDay_fieldblock}
	{BEGIN TrODay_fieldblock}		
	<div class="container {$fielddispclass_TrODay}" data-fieldname="TrODay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TrODay}">
				{$label dtrsummary TrODay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TrODay}
			</div>
			<div class="col-md-4" >
				{$TrODay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TrODay_editcontrol1}
			</div>
		</div>
	</div>
{END TrODay_fieldblock}
	{BEGIN HolidayType_fieldblock}		
	<div class="container {$fielddispclass_HolidayType}" data-fieldname="HolidayType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_HolidayType}">
				{$label dtrsummary HolidayType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_HolidayType}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$HolidayType_editcontrol1}
			</div>
		</div>
	</div>
{END HolidayType_fieldblock}
	{BEGIN Mispunched_fieldblock}		
	<div class="container {$fielddispclass_Mispunched}" data-fieldname="Mispunched">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Mispunched}">
				{$label dtrsummary Mispunched}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Mispunched}
			</div>
			<div class="col-md-4" >
				{$Mispunched_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Mispunched_editcontrol1}
			</div>
		</div>
	</div>
{END Mispunched_fieldblock}
	{BEGIN Holiday1stHalf_fieldblock}		
	<div class="container {$fielddispclass_Holiday1stHalf}" data-fieldname="Holiday1stHalf">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Holiday1stHalf}">
				{$label dtrsummary Holiday1stHalf}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Holiday1stHalf}
			</div>
			<div class="col-md-4" >
				{$Holiday1stHalf_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Holiday1stHalf_editcontrol1}
			</div>
		</div>
	</div>
{END Holiday1stHalf_fieldblock}
	{BEGIN Holiday2ndHalf_fieldblock}		
	<div class="container {$fielddispclass_Holiday2ndHalf}" data-fieldname="Holiday2ndHalf">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Holiday2ndHalf}">
				{$label dtrsummary Holiday2ndHalf}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Holiday2ndHalf}
			</div>
			<div class="col-md-4" >
				{$Holiday2ndHalf_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Holiday2ndHalf_editcontrol1}
			</div>
		</div>
	</div>
{END Holiday2ndHalf_fieldblock}
	{BEGIN TotLateMins_fieldblock}		
	<div class="container {$fielddispclass_TotLateMins}" data-fieldname="TotLateMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TotLateMins}">
				{$label dtrsummary TotLateMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TotLateMins}
			</div>
			<div class="col-md-4" >
				{$TotLateMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TotLateMins_editcontrol1}
			</div>
		</div>
	</div>
{END TotLateMins_fieldblock}
	{BEGIN LatePenaltyMins_fieldblock}		
	<div class="container {$fielddispclass_LatePenaltyMins}" data-fieldname="LatePenaltyMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LatePenaltyMins}">
				{$label dtrsummary LatePenaltyMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LatePenaltyMins}
			</div>
			<div class="col-md-4" >
				{$LatePenaltyMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LatePenaltyMins_editcontrol1}
			</div>
		</div>
	</div>
{END LatePenaltyMins_fieldblock}
	{BEGIN LateFixPenalty_fieldblock}		
	<div class="container {$fielddispclass_LateFixPenalty}" data-fieldname="LateFixPenalty">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LateFixPenalty}">
				{$label dtrsummary LateFixPenalty}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LateFixPenalty}
			</div>
			<div class="col-md-4" >
				{$LateFixPenalty_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LateFixPenalty_editcontrol1}
			</div>
		</div>
	</div>
{END LateFixPenalty_fieldblock}
	{BEGIN AfterBreakLogOut_fieldblock}		
	<div class="container {$fielddispclass_AfterBreakLogOut}" data-fieldname="AfterBreakLogOut">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AfterBreakLogOut}">
				{$label dtrsummary AfterBreakLogOut}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AfterBreakLogOut}
			</div>
			<div class="col-md-4" >
				{$AfterBreakLogOut_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AfterBreakLogOut_editcontrol1}
			</div>
		</div>
	</div>
{END AfterBreakLogOut_fieldblock}
	{BEGIN AfterBreakLog_fieldblock}		
	<div class="container {$fielddispclass_AfterBreakLog}" data-fieldname="AfterBreakLog">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AfterBreakLog}">
				{$label dtrsummary AfterBreakLog}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AfterBreakLog}
			</div>
			<div class="col-md-4" >
				{$AfterBreakLog_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AfterBreakLog_editcontrol1}
			</div>
		</div>
	</div>
{END AfterBreakLog_fieldblock}
	{BEGIN PreLogMins_fieldblock}		
	<div class="container {$fielddispclass_PreLogMins}" data-fieldname="PreLogMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PreLogMins}">
				{$label dtrsummary PreLogMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PreLogMins}
			</div>
			<div class="col-md-4" >
				{$PreLogMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PreLogMins_editcontrol1}
			</div>
		</div>
	</div>
{END PreLogMins_fieldblock}
	{BEGIN IncludeBreakLate_fieldblock}		
	<div class="container {$fielddispclass_IncludeBreakLate}" data-fieldname="IncludeBreakLate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_IncludeBreakLate}">
				{$label dtrsummary IncludeBreakLate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_IncludeBreakLate}
			</div>
			<div class="col-md-4" >
				{$IncludeBreakLate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$IncludeBreakLate_editcontrol1}
			</div>
		</div>
	</div>
{END IncludeBreakLate_fieldblock}
	{BEGIN GracePeriodMins_fieldblock}		
	<div class="container {$fielddispclass_GracePeriodMins}" data-fieldname="GracePeriodMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_GracePeriodMins}">
				{$label dtrsummary GracePeriodMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_GracePeriodMins}
			</div>
			<div class="col-md-4" >
				{$GracePeriodMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$GracePeriodMins_editcontrol1}
			</div>
		</div>
	</div>
{END GracePeriodMins_fieldblock}
	{BEGIN BreakLateMins_fieldblock}		
	<div class="container {$fielddispclass_BreakLateMins}" data-fieldname="BreakLateMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BreakLateMins}">
				{$label dtrsummary BreakLateMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BreakLateMins}
			</div>
			<div class="col-md-4" >
				{$BreakLateMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BreakLateMins_editcontrol1}
			</div>
		</div>
	</div>
{END BreakLateMins_fieldblock}
	{BEGIN ANDOTMins_fieldblock}		
	<div class="container {$fielddispclass_ANDOTMins}" data-fieldname="ANDOTMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ANDOTMins}">
				{$label dtrsummary ANDOTMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ANDOTMins}
			</div>
			<div class="col-md-4" >
				{$ANDOTMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ANDOTMins_editcontrol1}
			</div>
		</div>
	</div>
{END ANDOTMins_fieldblock}
	{BEGIN RegNDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RegNDOTHrs}" data-fieldname="RegNDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegNDOTHrs}">
				{$label dtrsummary RegNDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegNDOTHrs}
			</div>
			<div class="col-md-4" >
				{$RegNDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegNDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RegNDOTHrs_fieldblock}
	{BEGIN RHNDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RHNDOTHrs}" data-fieldname="RHNDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHNDOTHrs}">
				{$label dtrsummary RHNDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHNDOTHrs}
			</div>
			<div class="col-md-4" >
				{$RHNDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHNDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RHNDOTHrs_fieldblock}
	{BEGIN SHNDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_SHNDOTHrs}" data-fieldname="SHNDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHNDOTHrs}">
				{$label dtrsummary SHNDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHNDOTHrs}
			</div>
			<div class="col-md-4" >
				{$SHNDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHNDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END SHNDOTHrs_fieldblock}
	{BEGIN CHNDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_CHNDOTHrs}" data-fieldname="CHNDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CHNDOTHrs}">
				{$label dtrsummary CHNDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CHNDOTHrs}
			</div>
			<div class="col-md-4" >
				{$CHNDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CHNDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END CHNDOTHrs_fieldblock}
	{BEGIN RDNDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RDNDOTHrs}" data-fieldname="RDNDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDNDOTHrs}">
				{$label dtrsummary RDNDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDNDOTHrs}
			</div>
			<div class="col-md-4" >
				{$RDNDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDNDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RDNDOTHrs_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label dtrsummary EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN UserName_fieldblock}		
	<div class="container {$fielddispclass_UserName}" data-fieldname="UserName">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UserName}">
				{$label dtrsummary UserName}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UserName}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol1}
			</div>
		</div>
	</div>
{END UserName_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label dtrsummary Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label dtrsummary Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN WageType_fieldblock}		
	<div class="container {$fielddispclass_WageType}" data-fieldname="WageType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WageType}">
				{$label dtrsummary WageType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WageType}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol1}
			</div>
		</div>
	</div>
{END WageType_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
