<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control 
	field="AdjustmentDescription">
	{$AdjustmentDescription_editcontrol}
	</control>
	<control 
	field="PerPayrollAmount">
	{$PerPayrollAmount_editcontrol}
	</control>
	<control 
	field="PaymentPeriod">
	{$PaymentPeriod_editcontrol}
	</control>
	<control 
	field="LessAbsences">
	{$LessAbsences_editcontrol}
	</control>
	<control 
	field="Inactive">
	{$Inactive_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
