<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel earningadjustment add}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN EmployeeID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
		{BEGIN EmployeeID_label}{$label earningadjustment EmployeeID}{END EmployeeID_label}
	</label>
	<div class="col-md-6" >
		{$EmployeeID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EmployeeID">
		<div class="text-muted" >
		{$tooltip earningadjustment EmployeeID}
		</div>
	</div>
</div>
</div>
{END EmployeeID_fieldblock}

			{BEGIN AdjustmentDescription_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AdjustmentDescription}" data-fieldname="AdjustmentDescription" data-signal-error-for="AdjustmentDescription{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AdjustmentDescription}">
		{BEGIN AdjustmentDescription_label}{$label earningadjustment AdjustmentDescription}{END AdjustmentDescription_label}
	</label>
	<div class="col-md-6" >
		{$AdjustmentDescription_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AdjustmentDescription">
		<div class="text-muted" >
		{$tooltip earningadjustment AdjustmentDescription}
		</div>
	</div>
</div>
</div>
{END AdjustmentDescription_fieldblock}

			{BEGIN PaymentPeriod_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PaymentPeriod}" data-fieldname="PaymentPeriod" data-signal-error-for="PaymentPeriod{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PaymentPeriod}">
		{BEGIN PaymentPeriod_label}{$label earningadjustment PaymentPeriod}{END PaymentPeriod_label}
	</label>
	<div class="col-md-6" >
		{$PaymentPeriod_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PaymentPeriod">
		<div class="text-muted" >
		{$tooltip earningadjustment PaymentPeriod}
		</div>
	</div>
</div>
</div>
{END PaymentPeriod_fieldblock}

			{BEGIN StartDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_StartDate}" data-fieldname="StartDate" data-signal-error-for="StartDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_StartDate}">
		{BEGIN StartDate_label}{$label earningadjustment StartDate}{END StartDate_label}
	</label>
	<div class="col-md-6" >
		{$StartDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="StartDate">
		<div class="text-muted" >
		{$tooltip earningadjustment StartDate}
		</div>
	</div>
</div>
</div>
{END StartDate_fieldblock}

			{BEGIN EndDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EndDate}" data-fieldname="EndDate" data-signal-error-for="EndDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EndDate}">
		{BEGIN EndDate_label}{$label earningadjustment EndDate}{END EndDate_label}
	</label>
	<div class="col-md-6" >
		{$EndDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EndDate">
		<div class="text-muted" >
		{$tooltip earningadjustment EndDate}
		</div>
	</div>
</div>
</div>
{END EndDate_fieldblock}

			{BEGIN PerDay_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PerDay}" data-fieldname="PerDay" data-signal-error-for="PerDay{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PerDay}">
		{BEGIN PerDay_label}{$label earningadjustment PerDay}{END PerDay_label}
	</label>
	<div class="col-md-6" >
		{$PerDay_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PerDay">
		<div class="text-muted" >
		{$tooltip earningadjustment PerDay}
		</div>
	</div>
</div>
</div>
{END PerDay_fieldblock}

			{BEGIN PerPayrollAmount_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PerPayrollAmount}" data-fieldname="PerPayrollAmount" data-signal-error-for="PerPayrollAmount{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PerPayrollAmount}">
		{BEGIN PerPayrollAmount_label}{$label earningadjustment PerPayrollAmount}{END PerPayrollAmount_label}
	</label>
	<div class="col-md-6" >
		{$PerPayrollAmount_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PerPayrollAmount">
		<div class="text-muted" >
		{$tooltip earningadjustment PerPayrollAmount}
		</div>
	</div>
</div>
</div>
{END PerPayrollAmount_fieldblock}

			{BEGIN LessAbsences_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LessAbsences}" data-fieldname="LessAbsences" data-signal-error-for="LessAbsences{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LessAbsences}">
		{BEGIN LessAbsences_label}{$label earningadjustment LessAbsences}{END LessAbsences_label}
	</label>
	<div class="col-md-6" >
		{$LessAbsences_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LessAbsences">
		<div class="text-muted" >
		{$tooltip earningadjustment LessAbsences}
		</div>
	</div>
</div>
</div>
{END LessAbsences_fieldblock}

			{BEGIN Inactive_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Inactive}" data-fieldname="Inactive" data-signal-error-for="Inactive{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Inactive}">
		{BEGIN Inactive_label}{$label earningadjustment Inactive}{END Inactive_label}
	</label>
	<div class="col-md-6" >
		{$Inactive_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Inactive">
		<div class="text-muted" >
		{$tooltip earningadjustment Inactive}
		</div>
	</div>
</div>
</div>
{END Inactive_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">Reset</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">Back to list</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
