<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN LateMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LateMins}" data-fieldname="LateMins" >
		<label class=" control-label" for="{$labelfor_LateMins}">
			{$label empdtr LateMins}
		</label>
		<div class="" >
			{$LateMins_value}
		</div>
	</div>
{END LateMins_tabfieldblock}
{BEGIN UndertimeMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_UndertimeMins}" data-fieldname="UndertimeMins" >
		<label class=" control-label" for="{$labelfor_UndertimeMins}">
			{$label empdtr UndertimeMins}
		</label>
		<div class="" >
			{$UndertimeMins_value}
		</div>
	</div>
{END UndertimeMins_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>