<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN Shift_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Shift}" data-fieldname="Shift" >
		<label class=" control-label" for="{$labelfor_Shift}">
			{$label empdtr Shift}
		</label>
		<div class="" >
			{$Shift_value}
		</div>
	</div>
{END Shift_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>