<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN NDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDHrs}" data-fieldname="NDHrs" data-signal-error-for="NDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDHrs}">
			{BEGIN NDHrs_label}{$label empindschedule NDHrs}{END NDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$NDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule NDHrs}
			</div>
		</div>
	</div>
</div>
{END NDHrs_tabfieldblock}
{BEGIN RegNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegNDHrs}" data-fieldname="RegNDHrs" data-signal-error-for="RegNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegNDHrs}">
			{BEGIN RegNDHrs_label}{$label empindschedule RegNDHrs}{END RegNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegNDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule RegNDHrs}
			</div>
		</div>
	</div>
</div>
{END RegNDHrs_tabfieldblock}
{BEGIN RDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDHrs}" data-fieldname="RDHrs" data-signal-error-for="RDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDHrs}">
			{BEGIN RDHrs_label}{$label empindschedule RDHrs}{END RDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule RDHrs}
			</div>
		</div>
	</div>
</div>
{END RDHrs_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" data-signal-error-for="RHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDHrs}">
			{BEGIN RHNDHrs_label}{$label empindschedule RHNDHrs}{END RHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule RHNDHrs}
			</div>
		</div>
	</div>
</div>
{END RHNDHrs_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" data-signal-error-for="RDNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDHrs}">
			{BEGIN RDNDHrs_label}{$label empindschedule RDNDHrs}{END RDNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule RDNDHrs}
			</div>
		</div>
	</div>
</div>
{END RDNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" data-signal-error-for="SHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDHrs}">
			{BEGIN SHNDHrs_label}{$label empindschedule SHNDHrs}{END SHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule SHNDHrs}
			</div>
		</div>
	</div>
</div>
{END SHNDHrs_tabfieldblock}
{BEGIN CHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHNDHrs}" data-fieldname="CHNDHrs" data-signal-error-for="CHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHNDHrs}">
			{BEGIN CHNDHrs_label}{$label empindschedule CHNDHrs}{END CHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$CHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHNDHrs">
			<div class="text-muted" >
			{$tooltip empindschedule CHNDHrs}
			</div>
		</div>
	</div>
</div>
{END CHNDHrs_tabfieldblock}





</div>
{END container_tabfields}

</div>