<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN ExcessHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" >
		<label class=" control-label" for="{$labelfor_ExcessHrs}">
			{$label empindschedule ExcessHrs}
		</label>
		<div class="" >
			{$ExcessHrs_value}
		</div>
	</div>
{END ExcessHrs_tabfieldblock}
{BEGIN RegOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" >
		<label class=" control-label" for="{$labelfor_RegOTHrs}">
			{$label empindschedule RegOTHrs}
		</label>
		<div class="" >
			{$RegOTHrs_value}
		</div>
	</div>
{END RegOTHrs_tabfieldblock}
{BEGIN RDOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" >
		<label class=" control-label" for="{$labelfor_RDOTHrs}">
			{$label empindschedule RDOTHrs}
		</label>
		<div class="" >
			{$RDOTHrs_value}
		</div>
	</div>
{END RDOTHrs_tabfieldblock}
{BEGIN SHOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTHrs}" data-fieldname="SHOTHrs" >
		<label class=" control-label" for="{$labelfor_SHOTHrs}">
			{$label empindschedule SHOTHrs}
		</label>
		<div class="" >
			{$SHOTHrs_value}
		</div>
	</div>
{END SHOTHrs_tabfieldblock}
{BEGIN CHOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHOTHrs}" data-fieldname="CHOTHrs" >
		<label class=" control-label" for="{$labelfor_CHOTHrs}">
			{$label empindschedule CHOTHrs}
		</label>
		<div class="" >
			{$CHOTHrs_value}
		</div>
	</div>
{END CHOTHrs_tabfieldblock}
{BEGIN RHOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" >
		<label class=" control-label" for="{$labelfor_RHOTHrs}">
			{$label empindschedule RHOTHrs}
		</label>
		<div class="" >
			{$RHOTHrs_value}
		</div>
	</div>
{END RHOTHrs_tabfieldblock}
{BEGIN TrODay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TrODay}" data-fieldname="TrODay" >
		<label class=" control-label" for="{$labelfor_TrODay}">
			{$label empindschedule TrODay}
		</label>
		<div class="" >
			{$TrODay_value}
		</div>
	</div>
{END TrODay_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>