<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN NDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDHrs}" data-fieldname="NDHrs" >
		<label class=" control-label" for="{$labelfor_NDHrs}">
			{$label empindschedule NDHrs}
		</label>
		<div class="" >
			{$NDHrs_value}
		</div>
	</div>
{END NDHrs_tabfieldblock}
{BEGIN RegNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegNDHrs}" data-fieldname="RegNDHrs" >
		<label class=" control-label" for="{$labelfor_RegNDHrs}">
			{$label empindschedule RegNDHrs}
		</label>
		<div class="" >
			{$RegNDHrs_value}
		</div>
	</div>
{END RegNDHrs_tabfieldblock}
{BEGIN RDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDHrs}" data-fieldname="RDHrs" >
		<label class=" control-label" for="{$labelfor_RDHrs}">
			{$label empindschedule RDHrs}
		</label>
		<div class="" >
			{$RDHrs_value}
		</div>
	</div>
{END RDHrs_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" >
		<label class=" control-label" for="{$labelfor_RHNDHrs}">
			{$label empindschedule RHNDHrs}
		</label>
		<div class="" >
			{$RHNDHrs_value}
		</div>
	</div>
{END RHNDHrs_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" >
		<label class=" control-label" for="{$labelfor_RDNDHrs}">
			{$label empindschedule RDNDHrs}
		</label>
		<div class="" >
			{$RDNDHrs_value}
		</div>
	</div>
{END RDNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" >
		<label class=" control-label" for="{$labelfor_SHNDHrs}">
			{$label empindschedule SHNDHrs}
		</label>
		<div class="" >
			{$SHNDHrs_value}
		</div>
	</div>
{END SHNDHrs_tabfieldblock}
{BEGIN CHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHNDHrs}" data-fieldname="CHNDHrs" >
		<label class=" control-label" for="{$labelfor_CHNDHrs}">
			{$label empindschedule CHNDHrs}
		</label>
		<div class="" >
			{$CHNDHrs_value}
		</div>
	</div>
{END CHNDHrs_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>