<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN UserName_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_UserName}" data-fieldname="UserName" >
		<label class=" control-label" for="{$labelfor_UserName}">
			{$label empindschedule UserName}
		</label>
		<div class="" >
			{$UserName_value}
		</div>
	</div>
{END UserName_tabfieldblock}
{BEGIN Division_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Division}" data-fieldname="Division" >
		<label class=" control-label" for="{$labelfor_Division}">
			{$label empindschedule Division}
		</label>
		<div class="" >
			{$Division_value}
		</div>
	</div>
{END Division_tabfieldblock}
{BEGIN Department_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Department}" data-fieldname="Department" >
		<label class=" control-label" for="{$labelfor_Department}">
			{$label empindschedule Department}
		</label>
		<div class="" >
			{$Department_value}
		</div>
	</div>
{END Department_tabfieldblock}
{BEGIN WageType_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_WageType}" data-fieldname="WageType" >
		<label class=" control-label" for="{$labelfor_WageType}">
			{$label empindschedule WageType}
		</label>
		<div class="" >
			{$WageType_value}
		</div>
	</div>
{END WageType_tabfieldblock}
{BEGIN SDate_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SDate}" data-fieldname="SDate" >
		<label class=" control-label" for="{$labelfor_SDate}">
			{$label empindschedule SDate}
		</label>
		<div class="" >
			{$SDate_value}
		</div>
	</div>
{END SDate_tabfieldblock}
{BEGIN DayIs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DayIs}" data-fieldname="DayIs" >
		<label class=" control-label" for="{$labelfor_DayIs}">
			{$label empindschedule DayIs}
		</label>
		<div class="" >
			{$DayIs_value}
		</div>
	</div>
{END DayIs_tabfieldblock}
{BEGIN RestDay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RestDay}" data-fieldname="RestDay" >
		<label class=" control-label" for="{$labelfor_RestDay}">
			{$label empindschedule RestDay}
		</label>
		<div class="" >
			{$RestDay_value}
		</div>
	</div>
{END RestDay_tabfieldblock}
{BEGIN STimeIn_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_STimeIn}" data-fieldname="STimeIn" >
		<label class=" control-label" for="{$labelfor_STimeIn}">
			{$label empindschedule STimeIn}
		</label>
		<div class="" >
			{$STimeIn_value}
		</div>
	</div>
{END STimeIn_tabfieldblock}
{BEGIN STimeOut_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_STimeOut}" data-fieldname="STimeOut" >
		<label class=" control-label" for="{$labelfor_STimeOut}">
			{$label empindschedule STimeOut}
		</label>
		<div class="" >
			{$STimeOut_value}
		</div>
	</div>
{END STimeOut_tabfieldblock}
{BEGIN TimeIn_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TimeIn}" data-fieldname="TimeIn" >
		<label class=" control-label" for="{$labelfor_TimeIn}">
			{$label empindschedule TimeIn}
		</label>
		<div class="" >
			{$TimeIn_value}
		</div>
	</div>
{END TimeIn_tabfieldblock}
{BEGIN TimeOut_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TimeOut}" data-fieldname="TimeOut" >
		<label class=" control-label" for="{$labelfor_TimeOut}">
			{$label empindschedule TimeOut}
		</label>
		<div class="" >
			{$TimeOut_value}
		</div>
	</div>
{END TimeOut_tabfieldblock}
{BEGIN LunchBreakFrom_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LunchBreakFrom}" data-fieldname="LunchBreakFrom" >
		<label class=" control-label" for="{$labelfor_LunchBreakFrom}">
			{$label empindschedule LunchBreakFrom}
		</label>
		<div class="" >
			{$LunchBreakFrom_value}
		</div>
	</div>
{END LunchBreakFrom_tabfieldblock}
{BEGIN LunchBreakTo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LunchBreakTo}" data-fieldname="LunchBreakTo" >
		<label class=" control-label" for="{$labelfor_LunchBreakTo}">
			{$label empindschedule LunchBreakTo}
		</label>
		<div class="" >
			{$LunchBreakTo_value}
		</div>
	</div>
{END LunchBreakTo_tabfieldblock}
{BEGIN AfterBreakLogOut_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AfterBreakLogOut}" data-fieldname="AfterBreakLogOut" >
		<label class=" control-label" for="{$labelfor_AfterBreakLogOut}">
			{$label empindschedule AfterBreakLogOut}
		</label>
		<div class="" >
			{$AfterBreakLogOut_value}
		</div>
	</div>
{END AfterBreakLogOut_tabfieldblock}
{BEGIN AfterBreakLog_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AfterBreakLog}" data-fieldname="AfterBreakLog" >
		<label class=" control-label" for="{$labelfor_AfterBreakLog}">
			{$label empindschedule AfterBreakLog}
		</label>
		<div class="" >
			{$AfterBreakLog_value}
		</div>
	</div>
{END AfterBreakLog_tabfieldblock}
{BEGIN Mispunched_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Mispunched}" data-fieldname="Mispunched" >
		<label class=" control-label" for="{$labelfor_Mispunched}">
			{$label empindschedule Mispunched}
		</label>
		<div class="" >
			{$Mispunched_value}
		</div>
	</div>
{END Mispunched_tabfieldblock}
{BEGIN RegWD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegWD}" data-fieldname="RegWD" >
		<label class=" control-label" for="{$labelfor_RegWD}">
			{$label empindschedule RegWD}
		</label>
		<div class="" >
			{$RegWD_value}
		</div>
	</div>
{END RegWD_tabfieldblock}
{BEGIN DWork_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DWork}" data-fieldname="DWork" >
		<label class=" control-label" for="{$labelfor_DWork}">
			{$label empindschedule DWork}
		</label>
		<div class="" >
			{$DWork_value}
		</div>
	</div>
{END DWork_tabfieldblock}
{BEGIN Absent_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Absent}" data-fieldname="Absent" >
		<label class=" control-label" for="{$labelfor_Absent}">
			{$label empindschedule Absent}
		</label>
		<div class="" >
			{$Absent_value}
		</div>
	</div>
{END Absent_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>