<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EmployerName">
	{$EmployerName_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="SSSNo">
	{$SSSNo_editcontrol}
	</control>
	<control 
	field="TIN">
	{$TIN_editcontrol}
	</control>
	<control 
	field="PHICNo">
	{$PHICNo_editcontrol}
	</control>
	<control 
	field="PagIbig">
	{$PagIbig_editcontrol}
	</control>
	<control 
	field="TelNo">
	{$TelNo_editcontrol}
	</control>
	<control 
	field="ZipCode">
	{$ZipCode_editcontrol}
	</control>
	<control 
	field="AdminEmail">
	{$AdminEmail_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
