<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control 
	field="log_time">
	{$log_time_editcontrol}
	</control>
	<control 
	field="ClockType">
	{$ClockType_editcontrol}
	</control>
	<control 
	field="data">
	{$data_editcontrol}
	</control>
	<control 
	field="MLogID">
	{$MLogID_editcontrol}
	</control>
	<control 
	field="MLogDate">
	{$MLogDate_editcontrol}
	</control>
	<control 
	field="CheckedBy">
	{$CheckedBy_editcontrol}
	</control>
	<control 
	field="ApprovedBy">
	{$ApprovedBy_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
