<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel filelog2 edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN Locked_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Locked}" data-fieldname="Locked" data-signal-error-for="Locked{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Locked}">
		{BEGIN Locked_label}{$label filelog2 Locked}{END Locked_label}
	</label>
	<div class="col-md-6" >
		{$Locked_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Locked">
		<div class="text-muted" >
		{$tooltip filelog2 Locked}
		</div>
	</div>
</div>
</div>
{END Locked_fieldblock}

			{BEGIN EmployeeID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
		{BEGIN EmployeeID_label}{$label filelog2 EmployeeID}{END EmployeeID_label}
	</label>
	<div class="col-md-6" >
		{$EmployeeID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EmployeeID">
		<div class="text-muted" >
		{$tooltip filelog2 EmployeeID}
		</div>
	</div>
</div>
</div>
{END EmployeeID_fieldblock}

			{BEGIN log_time_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_log_time}" data-fieldname="log_time" data-signal-error-for="log_time{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_log_time}">
		{BEGIN log_time_label}{$label filelog2 log_time}{END log_time_label}
	</label>
	<div class="col-md-6" >
		{$log_time_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="log_time">
		<div class="text-muted" >
		{$tooltip filelog2 log_time}
		</div>
	</div>
</div>
</div>
{END log_time_fieldblock}

			{BEGIN Reason_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Reason}" data-fieldname="Reason" data-signal-error-for="Reason{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Reason}">
		{BEGIN Reason_label}{$label filelog2 Reason}{END Reason_label}
	</label>
	<div class="col-md-6" >
		{$Reason_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Reason">
		<div class="text-muted" >
		{$tooltip filelog2 Reason}
		</div>
	</div>
</div>
</div>
{END Reason_fieldblock}

			{BEGIN ClockType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ClockType}" data-fieldname="ClockType" data-signal-error-for="ClockType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ClockType}">
		{BEGIN ClockType_label}{$label filelog2 ClockType}{END ClockType_label}
	</label>
	<div class="col-md-6" >
		{$ClockType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ClockType">
		<div class="text-muted" >
		{$tooltip filelog2 ClockType}
		</div>
	</div>
</div>
</div>
{END ClockType_fieldblock}

			{BEGIN data_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_data}" data-fieldname="data" data-signal-error-for="data{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_data}">
		{BEGIN data_label}{$label filelog2 data}{END data_label}
	</label>
	<div class="col-md-6" >
		{$data_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="data">
		<div class="text-muted" >
		{$tooltip filelog2 data}
		</div>
	</div>
</div>
</div>
{END data_fieldblock}

			{BEGIN MLogID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_MLogID}" data-fieldname="MLogID" data-signal-error-for="MLogID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_MLogID}">
		{BEGIN MLogID_label}{$label filelog2 MLogID}{END MLogID_label}
	</label>
	<div class="col-md-6" >
		{$MLogID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="MLogID">
		<div class="text-muted" >
		{$tooltip filelog2 MLogID}
		</div>
	</div>
</div>
</div>
{END MLogID_fieldblock}

			{BEGIN MLogDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_MLogDate}" data-fieldname="MLogDate" data-signal-error-for="MLogDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_MLogDate}">
		{BEGIN MLogDate_label}{$label filelog2 MLogDate}{END MLogDate_label}
	</label>
	<div class="col-md-6" >
		{$MLogDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="MLogDate">
		<div class="text-muted" >
		{$tooltip filelog2 MLogDate}
		</div>
	</div>
</div>
</div>
{END MLogDate_fieldblock}

			{BEGIN CheckedBy_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CheckedBy}" data-fieldname="CheckedBy" data-signal-error-for="CheckedBy{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CheckedBy}">
		{BEGIN CheckedBy_label}{$label filelog2 CheckedBy}{END CheckedBy_label}
	</label>
	<div class="col-md-6" >
		{$CheckedBy_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CheckedBy">
		<div class="text-muted" >
		{$tooltip filelog2 CheckedBy}
		</div>
	</div>
</div>
</div>
{END CheckedBy_fieldblock}

			{BEGIN Checked_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Checked}" data-fieldname="Checked" data-signal-error-for="Checked{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Checked}">
		{BEGIN Checked_label}{$label filelog2 Checked}{END Checked_label}
	</label>
	<div class="col-md-6" >
		{$Checked_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Checked">
		<div class="text-muted" >
		{$tooltip filelog2 Checked}
		</div>
	</div>
</div>
</div>
{END Checked_fieldblock}

			{BEGIN ApprovedBy_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedBy}" data-fieldname="ApprovedBy" data-signal-error-for="ApprovedBy{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedBy}">
		{BEGIN ApprovedBy_label}{$label filelog2 ApprovedBy}{END ApprovedBy_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedBy_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedBy">
		<div class="text-muted" >
		{$tooltip filelog2 ApprovedBy}
		</div>
	</div>
</div>
</div>
{END ApprovedBy_fieldblock}

			{BEGIN Approved_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Approved}" data-fieldname="Approved" data-signal-error-for="Approved{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Approved}">
		{BEGIN Approved_label}{$label filelog2 Approved}{END Approved_label}
	</label>
	<div class="col-md-6" >
		{$Approved_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Approved">
		<div class="text-muted" >
		{$tooltip filelog2 Approved}
		</div>
	</div>
</div>
</div>
{END Approved_fieldblock}

			{BEGIN HRApproval_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_HRApproval}" data-fieldname="HRApproval" data-signal-error-for="HRApproval{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_HRApproval}">
		{BEGIN HRApproval_label}{$label filelog2 HRApproval}{END HRApproval_label}
	</label>
	<div class="col-md-6" >
		{$HRApproval_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="HRApproval">
		<div class="text-muted" >
		{$tooltip filelog2 HRApproval}
		</div>
	</div>
</div>
</div>
{END HRApproval_fieldblock}

			{BEGIN HRApproved_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_HRApproved}" data-fieldname="HRApproved" data-signal-error-for="HRApproved{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_HRApproved}">
		{BEGIN HRApproved_label}{$label filelog2 HRApproved}{END HRApproved_label}
	</label>
	<div class="col-md-6" >
		{$HRApproved_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="HRApproved">
		<div class="text-muted" >
		{$tooltip filelog2 HRApproved}
		</div>
	</div>
</div>
</div>
{END HRApproved_fieldblock}

			{BEGIN HRApprovedDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_HRApprovedDate}" data-fieldname="HRApprovedDate" data-signal-error-for="HRApprovedDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_HRApprovedDate}">
		{BEGIN HRApprovedDate_label}{$label filelog2 HRApprovedDate}{END HRApprovedDate_label}
	</label>
	<div class="col-md-6" >
		{$HRApprovedDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="HRApprovedDate">
		<div class="text-muted" >
		{$tooltip filelog2 HRApprovedDate}
		</div>
	</div>
</div>
</div>
{END HRApprovedDate_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
