<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="HolidayDate">
	{$HolidayDate_editcontrol}
	</control>
	<control field="HolidayDescription">
	{$HolidayDescription_editcontrol}
	</control>
	<control field="HolidayType">
	{$HolidayType_editcontrol}
	</control>
	<control field="FirstHalf">
	{$FirstHalf_editcontrol}
	</control>
	<control field="SecondHalf">
	{$SecondHalf_editcontrol}
	</control>
	<control field="HolidayDay">
	{$HolidayDay_editcontrol}
	</control>
	<control field="Division">
	{$Division_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>