<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="HolidayType">
	{$HolidayType_editcontrol}
	</control>
	<control field="MonthliesNormalFactor">
	{$MonthliesNormalFactor_editcontrol}
	</control>
	<control field="MonthliesOTFactor">
	{$MonthliesOTFactor_editcontrol}
	</control>
	<control field="DailiesNormalFactor">
	{$DailiesNormalFactor_editcontrol}
	</control>
	<control field="DailiesOTFactor">
	{$DailiesOTFactor_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>