<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="HolidayType">
	{$HolidayType_editcontrol}
	</control>
	<control 
	field="1stHalf">
	{$1stHalf_editcontrol}
	</control>
	<control 
	field="2ndHalf">
	{$2ndHalf_editcontrol}
	</control>
	<control 
	field="HDate">
	{$HDate_editcontrol}
	</control>
	<control 
	field="Employer">
	{$Employer_editcontrol}
	</control>
	<control 
	field="Division">
	{$Division_editcontrol}
	</control>
	<control 
	field="Department">
	{$Department_editcontrol}
	</control>
	<control 
	field="Employee">
	{$Employee_editcontrol}
	</control>
	<control 
	field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
