<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="LeaveType">
	{$LeaveType_editcontrol}
	</control>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="LDate">
	{$LDate_editcontrol}
	</control>
	<control field="FirtHalf">
	{$FirtHalf_editcontrol}
	</control>
	<control field="SecondHalf">
	{$SecondHalf_editcontrol}
	</control>
	<control field="NoDays">
	{$NoDays_editcontrol}
	</control>
	<control field="LWOP">
	{$LWOP_editcontrol}
	</control>
	<control field="LvID">
	{$LvID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>