<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel indovertime view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN iOTID_fieldblock}
	<div class="{$fielddispclass_iOTID} col-md-6 bs-viewcontrolgroup" data-fieldname="iOTID">
		<label class="control-label" for="{$labelfor_iOTID}">
			{$label indovertime iOTID}
		</label>
		<div class="" >
			{$iOTID_value}&nbsp;
		</div>
	</div>
{END iOTID_fieldblock}
					{BEGIN DateCreated_fieldblock}
	<div class="{$fielddispclass_DateCreated} col-md-6 bs-viewcontrolgroup" data-fieldname="DateCreated">
		<label class="control-label" for="{$labelfor_DateCreated}">
			{$label indovertime DateCreated}
		</label>
		<div class="" >
			{$DateCreated_value}&nbsp;
		</div>
	</div>
{END DateCreated_fieldblock}
					{BEGIN EmployeeID_fieldblock}
	<div class="{$fielddispclass_EmployeeID} col-md-6 bs-viewcontrolgroup" data-fieldname="EmployeeID">
		<label class="control-label" for="{$labelfor_EmployeeID}">
			{$label indovertime EmployeeID}
		</label>
		<div class="" >
			{$EmployeeID_value}&nbsp;
		</div>
	</div>
{END EmployeeID_fieldblock}
					{BEGIN Reason_fieldblock}
	<div class="{$fielddispclass_Reason} col-md-6 bs-viewcontrolgroup" data-fieldname="Reason">
		<label class="control-label" for="{$labelfor_Reason}">
			{$label indovertime Reason}
		</label>
		<div class="" >
			{$Reason_value}&nbsp;
		</div>
	</div>
{END Reason_fieldblock}
					{BEGIN OTDate_fieldblock}
	<div class="{$fielddispclass_OTDate} col-md-6 bs-viewcontrolgroup" data-fieldname="OTDate">
		<label class="control-label" for="{$labelfor_OTDate}">
			{$label indovertime OTDate}
		</label>
		<div class="" >
			{$OTDate_value}&nbsp;
		</div>
	</div>
{END OTDate_fieldblock}
					{BEGIN FromTime_fieldblock}
	<div class="{$fielddispclass_FromTime} col-md-6 bs-viewcontrolgroup" data-fieldname="FromTime">
		<label class="control-label" for="{$labelfor_FromTime}">
			{$label indovertime FromTime}
		</label>
		<div class="" >
			{$FromTime_value}&nbsp;
		</div>
	</div>
{END FromTime_fieldblock}
					{BEGIN ToTime_fieldblock}
	<div class="{$fielddispclass_ToTime} col-md-6 bs-viewcontrolgroup" data-fieldname="ToTime">
		<label class="control-label" for="{$labelfor_ToTime}">
			{$label indovertime ToTime}
		</label>
		<div class="" >
			{$ToTime_value}&nbsp;
		</div>
	</div>
{END ToTime_fieldblock}
					{BEGIN NoMins_fieldblock}
	<div class="{$fielddispclass_NoMins} col-md-6 bs-viewcontrolgroup" data-fieldname="NoMins">
		<label class="control-label" for="{$labelfor_NoMins}">
			{$label indovertime NoMins}
		</label>
		<div class="" >
			{$NoMins_value}&nbsp;
		</div>
	</div>
{END NoMins_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
