<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN SchedType_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SchedType}" data-fieldname="SchedType" data-signal-error-for="SchedType{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SchedType}">
			{BEGIN SchedType_label}{$label indschedule SchedType}{END SchedType_label}
		</label>
		<div class="col-md-6 " >
			{$SchedType_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SchedType">
			<div class="text-muted" >
			{$tooltip indschedule SchedType}
			</div>
		</div>
	</div>
</div>
{END SchedType_tabfieldblock}
{BEGIN Shift_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Shift}" data-fieldname="Shift" data-signal-error-for="Shift{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Shift}">
			{BEGIN Shift_label}{$label indschedule Shift}{END Shift_label}
		</label>
		<div class="col-md-6 " >
			{$Shift_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Shift">
			<div class="text-muted" >
			{$tooltip indschedule Shift}
			</div>
		</div>
	</div>
</div>
{END Shift_tabfieldblock}
{BEGIN PreLogMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PreLogMins}" data-fieldname="PreLogMins" data-signal-error-for="PreLogMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PreLogMins}">
			{BEGIN PreLogMins_label}{$label indschedule PreLogMins}{END PreLogMins_label}
		</label>
		<div class="col-md-6 " >
			{$PreLogMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PreLogMins">
			<div class="text-muted" >
			{$tooltip indschedule PreLogMins}
			</div>
		</div>
	</div>
</div>
{END PreLogMins_tabfieldblock}
{BEGIN BreakMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_BreakMins}" data-fieldname="BreakMins" data-signal-error-for="BreakMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_BreakMins}">
			{BEGIN BreakMins_label}{$label indschedule BreakMins}{END BreakMins_label}
		</label>
		<div class="col-md-6 " >
			{$BreakMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="BreakMins">
			<div class="text-muted" >
			{$tooltip indschedule BreakMins}
			</div>
		</div>
	</div>
</div>
{END BreakMins_tabfieldblock}





</div>
{END container_tabfields}

</div>