<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN ApprovedNightDiff_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff" data-signal-error-for="ApprovedNightDiff{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedNightDiff}">
			{BEGIN ApprovedNightDiff_label}{$label indscheduleemp ApprovedNightDiff}{END ApprovedNightDiff_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedNightDiff_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedNightDiff">
			<div class="text-muted" >
			{$tooltip indscheduleemp ApprovedNightDiff}
			</div>
		</div>
	</div>
</div>
{END ApprovedNightDiff_tabfieldblock}
{BEGIN RegND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegND}" data-fieldname="RegND" data-signal-error-for="RegND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegND}">
			{BEGIN RegND_label}{$label indscheduleemp RegND}{END RegND_label}
		</label>
		<div class="col-md-6 " >
			{$RegND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegND">
			<div class="text-muted" >
			{$tooltip indscheduleemp RegND}
			</div>
		</div>
	</div>
</div>
{END RegND_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" data-signal-error-for="RHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDHrs}">
			{BEGIN RHNDHrs_label}{$label indscheduleemp RHNDHrs}{END RHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDHrs">
			<div class="text-muted" >
			{$tooltip indscheduleemp RHNDHrs}
			</div>
		</div>
	</div>
</div>
{END RHNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" data-signal-error-for="SHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDHrs}">
			{BEGIN SHNDHrs_label}{$label indscheduleemp SHNDHrs}{END SHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDHrs">
			<div class="text-muted" >
			{$tooltip indscheduleemp SHNDHrs}
			</div>
		</div>
	</div>
</div>
{END SHNDHrs_tabfieldblock}
{BEGIN DHND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHND}" data-fieldname="DHND" data-signal-error-for="DHND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHND}">
			{BEGIN DHND_label}{$label indscheduleemp DHND}{END DHND_label}
		</label>
		<div class="col-md-6 " >
			{$DHND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHND">
			<div class="text-muted" >
			{$tooltip indscheduleemp DHND}
			</div>
		</div>
	</div>
</div>
{END DHND_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" data-signal-error-for="RDNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDHrs}">
			{BEGIN RDNDHrs_label}{$label indscheduleemp RDNDHrs}{END RDNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDHrs">
			<div class="text-muted" >
			{$tooltip indscheduleemp RDNDHrs}
			</div>
		</div>
	</div>
</div>
{END RDNDHrs_tabfieldblock}
{BEGIN RHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDND}" data-fieldname="RHRDND" data-signal-error-for="RHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDND}">
			{BEGIN RHRDND_label}{$label indscheduleemp RHRDND}{END RHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDND">
			<div class="text-muted" >
			{$tooltip indscheduleemp RHRDND}
			</div>
		</div>
	</div>
</div>
{END RHRDND_tabfieldblock}
{BEGIN SHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDND}" data-fieldname="SHRDND" data-signal-error-for="SHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDND}">
			{BEGIN SHRDND_label}{$label indscheduleemp SHRDND}{END SHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDND">
			<div class="text-muted" >
			{$tooltip indscheduleemp SHRDND}
			</div>
		</div>
	</div>
</div>
{END SHRDND_tabfieldblock}
{BEGIN DHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDND}" data-fieldname="DHRDND" data-signal-error-for="DHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDND}">
			{BEGIN DHRDND_label}{$label indscheduleemp DHRDND}{END DHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDND">
			<div class="text-muted" >
			{$tooltip indscheduleemp DHRDND}
			</div>
		</div>
	</div>
</div>
{END DHRDND_tabfieldblock}





</div>
{END container_tabfields}

</div>