<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN NDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDHrs}" data-fieldname="NDHrs" >
		<label class=" control-label" for="{$labelfor_NDHrs}">
			{$label indschedule NDHrs}
		</label>
		<div class="" >
			{$NDHrs_value}
		</div>
	</div>
{END NDHrs_tabfieldblock}
{BEGIN ApprovedNightDiff_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff" >
		<label class=" control-label" for="{$labelfor_ApprovedNightDiff}">
			{$label indschedule ApprovedNightDiff}
		</label>
		<div class="" >
			{$ApprovedNightDiff_value}
		</div>
	</div>
{END ApprovedNightDiff_tabfieldblock}
{BEGIN ANDiff_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ANDiff}" data-fieldname="ANDiff" >
		<label class=" control-label" for="{$labelfor_ANDiff}">
			{$label indschedule ANDiff}
		</label>
		<div class="" >
			{$ANDiff_value}
		</div>
	</div>
{END ANDiff_tabfieldblock}
{BEGIN RegNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegNDHrs}" data-fieldname="RegNDHrs" >
		<label class=" control-label" for="{$labelfor_RegNDHrs}">
			{$label indschedule RegNDHrs}
		</label>
		<div class="" >
			{$RegNDHrs_value}
		</div>
	</div>
{END RegNDHrs_tabfieldblock}
{BEGIN RDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDHrs}" data-fieldname="RDHrs" >
		<label class=" control-label" for="{$labelfor_RDHrs}">
			{$label indschedule RDHrs}
		</label>
		<div class="" >
			{$RDHrs_value}
		</div>
	</div>
{END RDHrs_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" >
		<label class=" control-label" for="{$labelfor_RHNDHrs}">
			{$label indschedule RHNDHrs}
		</label>
		<div class="" >
			{$RHNDHrs_value}
		</div>
	</div>
{END RHNDHrs_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" >
		<label class=" control-label" for="{$labelfor_RDNDHrs}">
			{$label indschedule RDNDHrs}
		</label>
		<div class="" >
			{$RDNDHrs_value}
		</div>
	</div>
{END RDNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" >
		<label class=" control-label" for="{$labelfor_SHNDHrs}">
			{$label indschedule SHNDHrs}
		</label>
		<div class="" >
			{$SHNDHrs_value}
		</div>
	</div>
{END SHNDHrs_tabfieldblock}
{BEGIN CHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHNDHrs}" data-fieldname="CHNDHrs" >
		<label class=" control-label" for="{$labelfor_CHNDHrs}">
			{$label indschedule CHNDHrs}
		</label>
		<div class="" >
			{$CHNDHrs_value}
		</div>
	</div>
{END CHNDHrs_tabfieldblock}
{BEGIN NDMealAllowance_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDMealAllowance}" data-fieldname="NDMealAllowance" >
		<label class=" control-label" for="{$labelfor_NDMealAllowance}">
			{$label indschedule NDMealAllowance}
		</label>
		<div class="" >
			{$NDMealAllowance_value}
		</div>
	</div>
{END NDMealAllowance_tabfieldblock}
{BEGIN NDMealAllowancePerShift_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDMealAllowancePerShift}" data-fieldname="NDMealAllowancePerShift" >
		<label class=" control-label" for="{$labelfor_NDMealAllowancePerShift}">
			{$label indschedule NDMealAllowancePerShift}
		</label>
		<div class="" >
			{$NDMealAllowancePerShift_value}
		</div>
	</div>
{END NDMealAllowancePerShift_tabfieldblock}
{BEGIN NDMinimumHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDMinimumHrs}" data-fieldname="NDMinimumHrs" >
		<label class=" control-label" for="{$labelfor_NDMinimumHrs}">
			{$label indschedule NDMinimumHrs}
		</label>
		<div class="" >
			{$NDMinimumHrs_value}
		</div>
	</div>
{END NDMinimumHrs_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>