<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN ExcessHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" data-signal-error-for="ExcessHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ExcessHrs}">
			{BEGIN ExcessHrs_label}{$label indschedule ExcessHrs}{END ExcessHrs_label}
		</label>
		<div class="col-md-6 " >
			{$ExcessHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ExcessHrs">
			<div class="text-muted" >
			{$tooltip indschedule ExcessHrs}
			</div>
		</div>
	</div>
</div>
{END ExcessHrs_tabfieldblock}
{BEGIN ApprovedOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT" data-signal-error-for="ApprovedOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedOT}">
			{BEGIN ApprovedOT_label}{$label indschedule ApprovedOT}{END ApprovedOT_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedOT">
			<div class="text-muted" >
			{$tooltip indschedule ApprovedOT}
			</div>
		</div>
	</div>
</div>
{END ApprovedOT_tabfieldblock}
{BEGIN AOTMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AOTMins}" data-fieldname="AOTMins" data-signal-error-for="AOTMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AOTMins}">
			{BEGIN AOTMins_label}{$label indschedule AOTMins}{END AOTMins_label}
		</label>
		<div class="col-md-6 " >
			{$AOTMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AOTMins">
			<div class="text-muted" >
			{$tooltip indschedule AOTMins}
			</div>
		</div>
	</div>
</div>
{END AOTMins_tabfieldblock}
{BEGIN RegOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" data-signal-error-for="RegOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegOTHrs}">
			{BEGIN RegOTHrs_label}{$label indschedule RegOTHrs}{END RegOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RegOTHrs}
			</div>
		</div>
	</div>
</div>
{END RegOTHrs_tabfieldblock}
{BEGIN RDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" data-signal-error-for="RDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDOTHrs}">
			{BEGIN RDOTHrs_label}{$label indschedule RDOTHrs}{END RDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RDOTHrs_tabfieldblock}
{BEGIN SHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTHrs}" data-fieldname="SHOTHrs" data-signal-error-for="SHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTHrs}">
			{BEGIN SHOTHrs_label}{$label indschedule SHOTHrs}{END SHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHOTHrs}
			</div>
		</div>
	</div>
</div>
{END SHOTHrs_tabfieldblock}
{BEGIN CHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHOTHrs}" data-fieldname="CHOTHrs" data-signal-error-for="CHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHOTHrs}">
			{BEGIN CHOTHrs_label}{$label indschedule CHOTHrs}{END CHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$CHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule CHOTHrs}
			</div>
		</div>
	</div>
</div>
{END CHOTHrs_tabfieldblock}
{BEGIN RHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" data-signal-error-for="RHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHOTHrs}">
			{BEGIN RHOTHrs_label}{$label indschedule RHOTHrs}{END RHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHOTHrs}
			</div>
		</div>
	</div>
</div>
{END RHOTHrs_tabfieldblock}
{BEGIN TrODay_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TrODay}" data-fieldname="TrODay" data-signal-error-for="TrODay{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TrODay}">
			{BEGIN TrODay_label}{$label indschedule TrODay}{END TrODay_label}
		</label>
		<div class="col-md-6 " >
			{$TrODay_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TrODay">
			<div class="text-muted" >
			{$tooltip indschedule TrODay}
			</div>
		</div>
	</div>
</div>
{END TrODay_tabfieldblock}
{BEGIN RDMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDMins}" data-fieldname="RDMins" data-signal-error-for="RDMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDMins}">
			{BEGIN RDMins_label}{$label indschedule RDMins}{END RDMins_label}
		</label>
		<div class="col-md-6 " >
			{$RDMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDMins">
			<div class="text-muted" >
			{$tooltip indschedule RDMins}
			</div>
		</div>
	</div>
</div>
{END RDMins_tabfieldblock}
{BEGIN ApprovedRD_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedRD}" data-fieldname="ApprovedRD" data-signal-error-for="ApprovedRD{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedRD}">
			{BEGIN ApprovedRD_label}{$label indschedule ApprovedRD}{END ApprovedRD_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedRD_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedRD">
			<div class="text-muted" >
			{$tooltip indschedule ApprovedRD}
			</div>
		</div>
	</div>
</div>
{END ApprovedRD_tabfieldblock}





</div>
{END container_tabfields}

</div>