<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN HolidayType_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_HolidayType}" data-fieldname="HolidayType" >
		<label class=" control-label" for="{$labelfor_HolidayType}">
			{$label indschedule HolidayType}
		</label>
		<div class="" >
			{$HolidayType_value}
		</div>
	</div>
{END HolidayType_tabfieldblock}
{BEGIN Holiday1stHalf_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Holiday1stHalf}" data-fieldname="Holiday1stHalf" >
		<label class=" control-label" for="{$labelfor_Holiday1stHalf}">
			{$label indschedule Holiday1stHalf}
		</label>
		<div class="" >
			{$Holiday1stHalf_value}
		</div>
	</div>
{END Holiday1stHalf_tabfieldblock}
{BEGIN Holiday2ndHalf_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_Holiday2ndHalf}" data-fieldname="Holiday2ndHalf" >
		<label class=" control-label" for="{$labelfor_Holiday2ndHalf}">
			{$label indschedule Holiday2ndHalf}
		</label>
		<div class="" >
			{$Holiday2ndHalf_value}
		</div>
	</div>
{END Holiday2ndHalf_tabfieldblock}
{BEGIN RHolidayHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHolidayHrs}" data-fieldname="RHolidayHrs" >
		<label class=" control-label" for="{$labelfor_RHolidayHrs}">
			{$label indschedule RHolidayHrs}
		</label>
		<div class="" >
			{$RHolidayHrs_value}
		</div>
	</div>
{END RHolidayHrs_tabfieldblock}
{BEGIN SHolidayHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHolidayHrs}" data-fieldname="SHolidayHrs" >
		<label class=" control-label" for="{$labelfor_SHolidayHrs}">
			{$label indschedule SHolidayHrs}
		</label>
		<div class="" >
			{$SHolidayHrs_value}
		</div>
	</div>
{END SHolidayHrs_tabfieldblock}
{BEGIN CHolidayHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHolidayHrs}" data-fieldname="CHolidayHrs" >
		<label class=" control-label" for="{$labelfor_CHolidayHrs}">
			{$label indschedule CHolidayHrs}
		</label>
		<div class="" >
			{$CHolidayHrs_value}
		</div>
	</div>
{END CHolidayHrs_tabfieldblock}
{BEGIN DH_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DH}" data-fieldname="DH" >
		<label class=" control-label" for="{$labelfor_DH}">
			{$label indschedule DH}
		</label>
		<div class="" >
			{$DH_value}
		</div>
	</div>
{END DH_tabfieldblock}
{BEGIN DHRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHRD}" data-fieldname="DHRD" >
		<label class=" control-label" for="{$labelfor_DHRD}">
			{$label indschedule DHRD}
		</label>
		<div class="" >
			{$DHRD_value}
		</div>
	</div>
{END DHRD_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>