<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}"><span>{$pagetitlelabel indschedule masterprint}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



<table {$bsmasterprintgrid_hiddenattr} data-pageid="{$pageid}" data-brick="bsmasterprintgrid" class="table rnr-b-mastergridfields rnr-gridtable" >
		<thead>
		<tr>
			<th class="{$ScID_class}">{$label indschedule ScID}</th>
			<th class="{$EmployeeID_class}">{$label indschedule EmployeeID}</th>
			<th class="{$UserName_class}">{$label indschedule UserName}</th>
			<th class="{$Employer_class}">{$label indschedule Employer}</th>
			<th class="{$Division_class}">{$label indschedule Division}</th>
			<th class="{$Department_class}">{$label indschedule Department}</th>
			<th class="{$WageType_class}">{$label indschedule WageType}</th>
			<th class="{$SDate_class}">{$label indschedule SDate}</th>
			<th class="{$DayIs_class}">{$label indschedule DayIs}</th>
			<th class="{$RestDay_class}">{$label indschedule RestDay}</th>
			<th class="{$STimeIn_class}">{$label indschedule STimeIn}</th>
			<th class="{$STimeOut_class}">{$label indschedule STimeOut}</th>
			<th class="{$TimeIn_class}">{$label indschedule TimeIn}</th>
			<th class="{$TimeOut_class}">{$label indschedule TimeOut}</th>
			<th class="{$LunchBreakFrom_class}">{$label indschedule LunchBreakFrom}</th>
			<th class="{$LunchBreakTo_class}">{$label indschedule LunchBreakTo}</th>
			<th class="{$AfterBreakLogOut_class}">{$label indschedule AfterBreakLogOut}</th>
			<th class="{$AfterBreakLog_class}">{$label indschedule AfterBreakLog}</th>
			<th class="{$Mispunched_class}">{$label indschedule Mispunched}</th>
			<th class="{$RegWD_class}">{$label indschedule RegWD}</th>
			<th class="{$DWork_class}">{$label indschedule DWork}</th>
			<th class="{$Absent_class}">{$label indschedule Absent}</th>
			<th class="{$LateMins_class}">{$label indschedule LateMins}</th>
			<th class="{$UndertimeMins_class}">{$label indschedule UndertimeMins}</th>
			<th class="{$LatePenaltyMins_class}">{$label indschedule LatePenaltyMins}</th>
			<th class="{$LateFixPenalty_class}">{$label indschedule LateFixPenalty}</th>
			<th class="{$BreakLateMins_class}">{$label indschedule BreakLateMins}</th>
			<th class="{$TotLateMins_class}">{$label indschedule TotLateMins}</th>
			<th class="{$HolidayType_class}">{$label indschedule HolidayType}</th>
			<th class="{$Holiday1stHalf_class}">{$label indschedule Holiday1stHalf}</th>
			<th class="{$Holiday2ndHalf_class}">{$label indschedule Holiday2ndHalf}</th>
			<th class="{$RHolidayHrs_class}">{$label indschedule RHolidayHrs}</th>
			<th class="{$SHolidayHrs_class}">{$label indschedule SHolidayHrs}</th>
			<th class="{$DH_class}">{$label indschedule DH}</th>
			<th class="{$ApprovedNightDiff_class}">{$label indschedule ApprovedNightDiff}</th>
			<th class="{$RegND_class}">{$label indschedule RegND}</th>
			<th class="{$RHNDHrs_class}">{$label indschedule RHNDHrs}</th>
			<th class="{$SHNDHrs_class}">{$label indschedule SHNDHrs}</th>
			<th class="{$DHND_class}">{$label indschedule DHND}</th>
			<th class="{$RDNDHrs_class}">{$label indschedule RDNDHrs}</th>
			<th class="{$RHRDND_class}">{$label indschedule RHRDND}</th>
			<th class="{$SHRDND_class}">{$label indschedule SHRDND}</th>
			<th class="{$DHRDND_class}">{$label indschedule DHRDND}</th>
			<th class="{$ExcessHrs_class}">{$label indschedule ExcessHrs}</th>
			<th class="{$ApprovedOT_class}">{$label indschedule ApprovedOT}</th>
			<th class="{$RegOTHrs_class}">{$label indschedule RegOTHrs}</th>
			<th class="{$RHOTHrs_class}">{$label indschedule RHOTHrs}</th>
			<th class="{$SHOTHrs_class}">{$label indschedule SHOTHrs}</th>
			<th class="{$SHOTD_class}">{$label indschedule SHOTD}</th>
			<th class="{$DHOT_class}">{$label indschedule DHOT}</th>
			<th class="{$RDOTHrs_class}">{$label indschedule RDOTHrs}</th>
			<th class="{$NDOT_class}">{$label indschedule NDOT}</th>
			<th class="{$RHNDOTHrs_class}">{$label indschedule RHNDOTHrs}</th>
			<th class="{$SHNDOTHrs_class}">{$label indschedule SHNDOTHrs}</th>
			<th class="{$DHNDOT_class}">{$label indschedule DHNDOT}</th>
			<th class="{$RDNDOTHrs_class}">{$label indschedule RDNDOTHrs}</th>
			<th class="{$RHRDOT_class}">{$label indschedule RHRDOT}</th>
			<th class="{$SHRDOT_class}">{$label indschedule SHRDOT}</th>
			<th class="{$SHRDOTD_class}">{$label indschedule SHRDOTD}</th>
			<th class="{$DHRDOT_class}">{$label indschedule DHRDOT}</th>
			<th class="{$RHRDNDOT_class}">{$label indschedule RHRDNDOT}</th>
			<th class="{$SHRDNDOT_class}">{$label indschedule SHRDNDOT}</th>
			<th class="{$DHRDNDOT_class}">{$label indschedule DHRDNDOT}</th>
			<th class="{$VLDay_class}">{$label indschedule VLDay}</th>
			<th class="{$SLDay_class}">{$label indschedule SLDay}</th>
			<th class="{$ELDay_class}">{$label indschedule ELDay}</th>
			<th class="{$PLDay_class}">{$label indschedule PLDay}</th>
			<th class="{$TrODay_class}">{$label indschedule TrODay}</th>
			<th class="{$ApprovedRD_class}">{$label indschedule ApprovedRD}</th>
			<th class="{$RegRD_class}">{$label indschedule RegRD}</th>
			<th class="{$RHRD_class}">{$label indschedule RHRD}</th>
			<th class="{$SHRD_class}">{$label indschedule SHRD}</th>
			<th class="{$DHRD_class}">{$label indschedule DHRD}</th>
			<th class="{$SchedType_class}">{$label indschedule SchedType}</th>
			<th class="{$Shift_class}">{$label indschedule Shift}</th>
			<th class="{$PreLogMins_class}">{$label indschedule PreLogMins}</th>
			<th class="{$BreakMins_class}">{$label indschedule BreakMins}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="{$ScID_class}">{$ScID_mastervalue}</td>
			<td class="{$EmployeeID_class}">{$EmployeeID_mastervalue}</td>
			<td class="{$UserName_class}">{$UserName_mastervalue}</td>
			<td class="{$Employer_class}">{$Employer_mastervalue}</td>
			<td class="{$Division_class}">{$Division_mastervalue}</td>
			<td class="{$Department_class}">{$Department_mastervalue}</td>
			<td class="{$WageType_class}">{$WageType_mastervalue}</td>
			<td class="{$SDate_class}">{$SDate_mastervalue}</td>
			<td class="{$DayIs_class}">{$DayIs_mastervalue}</td>
			<td class="{$RestDay_class}">{$RestDay_mastervalue}</td>
			<td class="{$STimeIn_class}">{$STimeIn_mastervalue}</td>
			<td class="{$STimeOut_class}">{$STimeOut_mastervalue}</td>
			<td class="{$TimeIn_class}">{$TimeIn_mastervalue}</td>
			<td class="{$TimeOut_class}">{$TimeOut_mastervalue}</td>
			<td class="{$LunchBreakFrom_class}">{$LunchBreakFrom_mastervalue}</td>
			<td class="{$LunchBreakTo_class}">{$LunchBreakTo_mastervalue}</td>
			<td class="{$AfterBreakLogOut_class}">{$AfterBreakLogOut_mastervalue}</td>
			<td class="{$AfterBreakLog_class}">{$AfterBreakLog_mastervalue}</td>
			<td class="{$Mispunched_class}">{$Mispunched_mastervalue}</td>
			<td class="{$RegWD_class}">{$RegWD_mastervalue}</td>
			<td class="{$DWork_class}">{$DWork_mastervalue}</td>
			<td class="{$Absent_class}">{$Absent_mastervalue}</td>
			<td class="{$LateMins_class}">{$LateMins_mastervalue}</td>
			<td class="{$UndertimeMins_class}">{$UndertimeMins_mastervalue}</td>
			<td class="{$LatePenaltyMins_class}">{$LatePenaltyMins_mastervalue}</td>
			<td class="{$LateFixPenalty_class}">{$LateFixPenalty_mastervalue}</td>
			<td class="{$BreakLateMins_class}">{$BreakLateMins_mastervalue}</td>
			<td class="{$TotLateMins_class}">{$TotLateMins_mastervalue}</td>
			<td class="{$HolidayType_class}">{$HolidayType_mastervalue}</td>
			<td class="{$Holiday1stHalf_class}">{$Holiday1stHalf_mastervalue}</td>
			<td class="{$Holiday2ndHalf_class}">{$Holiday2ndHalf_mastervalue}</td>
			<td class="{$RHolidayHrs_class}">{$RHolidayHrs_mastervalue}</td>
			<td class="{$SHolidayHrs_class}">{$SHolidayHrs_mastervalue}</td>
			<td class="{$DH_class}">{$DH_mastervalue}</td>
			<td class="{$ApprovedNightDiff_class}">{$ApprovedNightDiff_mastervalue}</td>
			<td class="{$RegND_class}">{$RegND_mastervalue}</td>
			<td class="{$RHNDHrs_class}">{$RHNDHrs_mastervalue}</td>
			<td class="{$SHNDHrs_class}">{$SHNDHrs_mastervalue}</td>
			<td class="{$DHND_class}">{$DHND_mastervalue}</td>
			<td class="{$RDNDHrs_class}">{$RDNDHrs_mastervalue}</td>
			<td class="{$RHRDND_class}">{$RHRDND_mastervalue}</td>
			<td class="{$SHRDND_class}">{$SHRDND_mastervalue}</td>
			<td class="{$DHRDND_class}">{$DHRDND_mastervalue}</td>
			<td class="{$ExcessHrs_class}">{$ExcessHrs_mastervalue}</td>
			<td class="{$ApprovedOT_class}">{$ApprovedOT_mastervalue}</td>
			<td class="{$RegOTHrs_class}">{$RegOTHrs_mastervalue}</td>
			<td class="{$RHOTHrs_class}">{$RHOTHrs_mastervalue}</td>
			<td class="{$SHOTHrs_class}">{$SHOTHrs_mastervalue}</td>
			<td class="{$SHOTD_class}">{$SHOTD_mastervalue}</td>
			<td class="{$DHOT_class}">{$DHOT_mastervalue}</td>
			<td class="{$RDOTHrs_class}">{$RDOTHrs_mastervalue}</td>
			<td class="{$NDOT_class}">{$NDOT_mastervalue}</td>
			<td class="{$RHNDOTHrs_class}">{$RHNDOTHrs_mastervalue}</td>
			<td class="{$SHNDOTHrs_class}">{$SHNDOTHrs_mastervalue}</td>
			<td class="{$DHNDOT_class}">{$DHNDOT_mastervalue}</td>
			<td class="{$RDNDOTHrs_class}">{$RDNDOTHrs_mastervalue}</td>
			<td class="{$RHRDOT_class}">{$RHRDOT_mastervalue}</td>
			<td class="{$SHRDOT_class}">{$SHRDOT_mastervalue}</td>
			<td class="{$SHRDOTD_class}">{$SHRDOTD_mastervalue}</td>
			<td class="{$DHRDOT_class}">{$DHRDOT_mastervalue}</td>
			<td class="{$RHRDNDOT_class}">{$RHRDNDOT_mastervalue}</td>
			<td class="{$SHRDNDOT_class}">{$SHRDNDOT_mastervalue}</td>
			<td class="{$DHRDNDOT_class}">{$DHRDNDOT_mastervalue}</td>
			<td class="{$VLDay_class}">{$VLDay_mastervalue}</td>
			<td class="{$SLDay_class}">{$SLDay_mastervalue}</td>
			<td class="{$ELDay_class}">{$ELDay_mastervalue}</td>
			<td class="{$PLDay_class}">{$PLDay_mastervalue}</td>
			<td class="{$TrODay_class}">{$TrODay_mastervalue}</td>
			<td class="{$ApprovedRD_class}">{$ApprovedRD_mastervalue}</td>
			<td class="{$RegRD_class}">{$RegRD_mastervalue}</td>
			<td class="{$RHRD_class}">{$RHRD_mastervalue}</td>
			<td class="{$SHRD_class}">{$SHRD_mastervalue}</td>
			<td class="{$DHRD_class}">{$DHRD_mastervalue}</td>
			<td class="{$SchedType_class}">{$SchedType_mastervalue}</td>
			<td class="{$Shift_class}">{$Shift_mastervalue}</td>
			<td class="{$PreLogMins_class}">{$PreLogMins_mastervalue}</td>
			<td class="{$BreakMins_class}">{$BreakMins_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>