<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN NDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDHrs}" data-fieldname="NDHrs" data-signal-error-for="NDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDHrs}">
			{BEGIN NDHrs_label}{$label indschedule NDHrs}{END NDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$NDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDHrs">
			<div class="text-muted" >
			{$tooltip indschedule NDHrs}
			</div>
		</div>
	</div>
</div>
{END NDHrs_tabfieldblock}
{BEGIN ApprovedNightDiff_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff" data-signal-error-for="ApprovedNightDiff{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedNightDiff}">
			{BEGIN ApprovedNightDiff_label}{$label indschedule ApprovedNightDiff}{END ApprovedNightDiff_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedNightDiff_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedNightDiff">
			<div class="text-muted" >
			{$tooltip indschedule ApprovedNightDiff}
			</div>
		</div>
	</div>
</div>
{END ApprovedNightDiff_tabfieldblock}
{BEGIN ANDiff_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ANDiff}" data-fieldname="ANDiff" data-signal-error-for="ANDiff{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ANDiff}">
			{BEGIN ANDiff_label}{$label indschedule ANDiff}{END ANDiff_label}
		</label>
		<div class="col-md-6 " >
			{$ANDiff_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ANDiff">
			<div class="text-muted" >
			{$tooltip indschedule ANDiff}
			</div>
		</div>
	</div>
</div>
{END ANDiff_tabfieldblock}
{BEGIN ANDOTMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ANDOTMins}" data-fieldname="ANDOTMins" data-signal-error-for="ANDOTMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ANDOTMins}">
			{BEGIN ANDOTMins_label}{$label indschedule ANDOTMins}{END ANDOTMins_label}
		</label>
		<div class="col-md-6 " >
			{$ANDOTMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ANDOTMins">
			<div class="text-muted" >
			{$tooltip indschedule ANDOTMins}
			</div>
		</div>
	</div>
</div>
{END ANDOTMins_tabfieldblock}
{BEGIN RegNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegNDHrs}" data-fieldname="RegNDHrs" data-signal-error-for="RegNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegNDHrs}">
			{BEGIN RegNDHrs_label}{$label indschedule RegNDHrs}{END RegNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegNDHrs">
			<div class="text-muted" >
			{$tooltip indschedule RegNDHrs}
			</div>
		</div>
	</div>
</div>
{END RegNDHrs_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" data-signal-error-for="RHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDHrs}">
			{BEGIN RHNDHrs_label}{$label indschedule RHNDHrs}{END RHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHNDHrs}
			</div>
		</div>
	</div>
</div>
{END RHNDHrs_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" data-signal-error-for="RDNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDHrs}">
			{BEGIN RDNDHrs_label}{$label indschedule RDNDHrs}{END RDNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDNDHrs}
			</div>
		</div>
	</div>
</div>
{END RDNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" data-signal-error-for="SHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDHrs}">
			{BEGIN SHNDHrs_label}{$label indschedule SHNDHrs}{END SHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHNDHrs}
			</div>
		</div>
	</div>
</div>
{END SHNDHrs_tabfieldblock}
{BEGIN CHNDHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHNDHrs}" data-fieldname="CHNDHrs" data-signal-error-for="CHNDHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHNDHrs}">
			{BEGIN CHNDHrs_label}{$label indschedule CHNDHrs}{END CHNDHrs_label}
		</label>
		<div class="col-md-6 " >
			{$CHNDHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHNDHrs">
			<div class="text-muted" >
			{$tooltip indschedule CHNDHrs}
			</div>
		</div>
	</div>
</div>
{END CHNDHrs_tabfieldblock}
{BEGIN DHND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHND}" data-fieldname="DHND" data-signal-error-for="DHND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHND}">
			{BEGIN DHND_label}{$label indschedule DHND}{END DHND_label}
		</label>
		<div class="col-md-6 " >
			{$DHND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHND">
			<div class="text-muted" >
			{$tooltip indschedule DHND}
			</div>
		</div>
	</div>
</div>
{END DHND_tabfieldblock}
{BEGIN DHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDND}" data-fieldname="DHRDND" data-signal-error-for="DHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDND}">
			{BEGIN DHRDND_label}{$label indschedule DHRDND}{END DHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDND">
			<div class="text-muted" >
			{$tooltip indschedule DHRDND}
			</div>
		</div>
	</div>
</div>
{END DHRDND_tabfieldblock}
{BEGIN SHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDND}" data-fieldname="SHRDND" data-signal-error-for="SHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDND}">
			{BEGIN SHRDND_label}{$label indschedule SHRDND}{END SHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDND">
			<div class="text-muted" >
			{$tooltip indschedule SHRDND}
			</div>
		</div>
	</div>
</div>
{END SHRDND_tabfieldblock}
{BEGIN RHRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDND}" data-fieldname="RHRDND" data-signal-error-for="RHRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDND}">
			{BEGIN RHRDND_label}{$label indschedule RHRDND}{END RHRDND_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDND">
			<div class="text-muted" >
			{$tooltip indschedule RHRDND}
			</div>
		</div>
	</div>
</div>
{END RHRDND_tabfieldblock}
{BEGIN NDMealAllowance_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDMealAllowance}" data-fieldname="NDMealAllowance" data-signal-error-for="NDMealAllowance{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDMealAllowance}">
			{BEGIN NDMealAllowance_label}{$label indschedule NDMealAllowance}{END NDMealAllowance_label}
		</label>
		<div class="col-md-6 " >
			{$NDMealAllowance_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDMealAllowance">
			<div class="text-muted" >
			{$tooltip indschedule NDMealAllowance}
			</div>
		</div>
	</div>
</div>
{END NDMealAllowance_tabfieldblock}
{BEGIN NDMealAllowancePerShift_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDMealAllowancePerShift}" data-fieldname="NDMealAllowancePerShift" data-signal-error-for="NDMealAllowancePerShift{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDMealAllowancePerShift}">
			{BEGIN NDMealAllowancePerShift_label}{$label indschedule NDMealAllowancePerShift}{END NDMealAllowancePerShift_label}
		</label>
		<div class="col-md-6 " >
			{$NDMealAllowancePerShift_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDMealAllowancePerShift">
			<div class="text-muted" >
			{$tooltip indschedule NDMealAllowancePerShift}
			</div>
		</div>
	</div>
</div>
{END NDMealAllowancePerShift_tabfieldblock}
{BEGIN NDMinimumHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDMinimumHrs}" data-fieldname="NDMinimumHrs" data-signal-error-for="NDMinimumHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDMinimumHrs}">
			{BEGIN NDMinimumHrs_label}{$label indschedule NDMinimumHrs}{END NDMinimumHrs_label}
		</label>
		<div class="col-md-6 " >
			{$NDMinimumHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDMinimumHrs">
			<div class="text-muted" >
			{$tooltip indschedule NDMinimumHrs}
			</div>
		</div>
	</div>
</div>
{END NDMinimumHrs_tabfieldblock}





</div>
{END container_tabfields}

</div>