<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control 
	field="UserName">
	{$UserName_editcontrol}
	</control>
	<control 
	field="Employer">
	{$Employer_editcontrol}
	</control>
	<control 
	field="Division">
	{$Division_editcontrol}
	</control>
	<control 
	field="Department">
	{$Department_editcontrol}
	</control>
	<control 
	field="WageType">
	{$WageType_editcontrol}
	</control>
	<control 
	field="SDate">
	{$SDate_editcontrol}
	</control>
	<control 
	field="DayIs">
	{$DayIs_editcontrol}
	</control>
	<control 
	field="RestDay">
	{$RestDay_editcontrol}
	</control>
	<control 
	field="STimeIn">
	{$STimeIn_editcontrol}
	</control>
	<control 
	field="STimeOut">
	{$STimeOut_editcontrol}
	</control>
	<control 
	field="TimeIn">
	{$TimeIn_editcontrol}
	</control>
	<control 
	field="TimeOut">
	{$TimeOut_editcontrol}
	</control>
	<control 
	field="LunchBreakFrom">
	{$LunchBreakFrom_editcontrol}
	</control>
	<control 
	field="LunchBreakTo">
	{$LunchBreakTo_editcontrol}
	</control>
	<control 
	field="AfterBreakLogOut">
	{$AfterBreakLogOut_editcontrol}
	</control>
	<control 
	field="AfterBreakLog">
	{$AfterBreakLog_editcontrol}
	</control>
	<control 
	field="Mispunched">
	{$Mispunched_editcontrol}
	</control>
	<control 
	field="RegWD">
	{$RegWD_editcontrol}
	</control>
	<control 
	field="DWork">
	{$DWork_editcontrol}
	</control>
	<control 
	field="Absent">
	{$Absent_editcontrol}
	</control>
	<control 
	field="LateMins">
	{$LateMins_editcontrol}
	</control>
	<control 
	field="UndertimeMins">
	{$UndertimeMins_editcontrol}
	</control>
	<control 
	field="LatePenaltyMins">
	{$LatePenaltyMins_editcontrol}
	</control>
	<control 
	field="LateFixPenalty">
	{$LateFixPenalty_editcontrol}
	</control>
	<control 
	field="BreakLateMins">
	{$BreakLateMins_editcontrol}
	</control>
	<control 
	field="TotLateMins">
	{$TotLateMins_editcontrol}
	</control>
	<control 
	field="HolidayType">
	{$HolidayType_editcontrol}
	</control>
	<control 
	field="Holiday1stHalf">
	{$Holiday1stHalf_editcontrol}
	</control>
	<control 
	field="Holiday2ndHalf">
	{$Holiday2ndHalf_editcontrol}
	</control>
	<control 
	field="RHolidayHrs">
	{$RHolidayHrs_editcontrol}
	</control>
	<control 
	field="SHolidayHrs">
	{$SHolidayHrs_editcontrol}
	</control>
	<control 
	field="DH">
	{$DH_editcontrol}
	</control>
	<control 
	field="ApprovedNightDiff">
	{$ApprovedNightDiff_editcontrol}
	</control>
	<control 
	field="RegND">
	{$RegND_editcontrol}
	</control>
	<control 
	field="RHNDHrs">
	{$RHNDHrs_editcontrol}
	</control>
	<control 
	field="SHNDHrs">
	{$SHNDHrs_editcontrol}
	</control>
	<control 
	field="DHND">
	{$DHND_editcontrol}
	</control>
	<control 
	field="RDNDHrs">
	{$RDNDHrs_editcontrol}
	</control>
	<control 
	field="RHRDND">
	{$RHRDND_editcontrol}
	</control>
	<control 
	field="SHRDND">
	{$SHRDND_editcontrol}
	</control>
	<control 
	field="DHRDND">
	{$DHRDND_editcontrol}
	</control>
	<control 
	field="ExcessHrs">
	{$ExcessHrs_editcontrol}
	</control>
	<control 
	field="ApprovedOT">
	{$ApprovedOT_editcontrol}
	</control>
	<control 
	field="RegOTHrs">
	{$RegOTHrs_editcontrol}
	</control>
	<control 
	field="RHOTHrs">
	{$RHOTHrs_editcontrol}
	</control>
	<control 
	field="SHOTHrs">
	{$SHOTHrs_editcontrol}
	</control>
	<control 
	field="SHOTD">
	{$SHOTD_editcontrol}
	</control>
	<control 
	field="DHOT">
	{$DHOT_editcontrol}
	</control>
	<control 
	field="RDOTHrs">
	{$RDOTHrs_editcontrol}
	</control>
	<control 
	field="NDOT">
	{$NDOT_editcontrol}
	</control>
	<control 
	field="RHNDOTHrs">
	{$RHNDOTHrs_editcontrol}
	</control>
	<control 
	field="SHNDOTHrs">
	{$SHNDOTHrs_editcontrol}
	</control>
	<control 
	field="DHNDOT">
	{$DHNDOT_editcontrol}
	</control>
	<control 
	field="RDNDOTHrs">
	{$RDNDOTHrs_editcontrol}
	</control>
	<control 
	field="RHRDOT">
	{$RHRDOT_editcontrol}
	</control>
	<control 
	field="SHRDOT">
	{$SHRDOT_editcontrol}
	</control>
	<control 
	field="SHRDOTD">
	{$SHRDOTD_editcontrol}
	</control>
	<control 
	field="DHRDOT">
	{$DHRDOT_editcontrol}
	</control>
	<control 
	field="RHRDNDOT">
	{$RHRDNDOT_editcontrol}
	</control>
	<control 
	field="SHRDNDOT">
	{$SHRDNDOT_editcontrol}
	</control>
	<control 
	field="DHRDNDOT">
	{$DHRDNDOT_editcontrol}
	</control>
	<control 
	field="VLDay">
	{$VLDay_editcontrol}
	</control>
	<control 
	field="SLDay">
	{$SLDay_editcontrol}
	</control>
	<control 
	field="ELDay">
	{$ELDay_editcontrol}
	</control>
	<control 
	field="PLDay">
	{$PLDay_editcontrol}
	</control>
	<control 
	field="TrODay">
	{$TrODay_editcontrol}
	</control>
	<control 
	field="ApprovedRD">
	{$ApprovedRD_editcontrol}
	</control>
	<control 
	field="RegRD">
	{$RegRD_editcontrol}
	</control>
	<control 
	field="RHRD">
	{$RHRD_editcontrol}
	</control>
	<control 
	field="SHRD">
	{$SHRD_editcontrol}
	</control>
	<control 
	field="DHRD">
	{$DHRD_editcontrol}
	</control>
	<control 
	field="SchedType">
	{$SchedType_editcontrol}
	</control>
	<control 
	field="Shift">
	{$Shift_editcontrol}
	</control>
	<control 
	field="PreLogMins">
	{$PreLogMins_editcontrol}
	</control>
	<control 
	field="BreakMins">
	{$BreakMins_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
