<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN LateMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LateMins}" data-fieldname="LateMins" >
		<label class=" control-label" for="{$labelfor_LateMins}">
			{$label indscheduleemp LateMins}
		</label>
		<div class="" >
			{$LateMins_value}
		</div>
	</div>
{END LateMins_tabfieldblock}
{BEGIN UndertimeMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_UndertimeMins}" data-fieldname="UndertimeMins" >
		<label class=" control-label" for="{$labelfor_UndertimeMins}">
			{$label indscheduleemp UndertimeMins}
		</label>
		<div class="" >
			{$UndertimeMins_value}
		</div>
	</div>
{END UndertimeMins_tabfieldblock}
{BEGIN LatePenaltyMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LatePenaltyMins}" data-fieldname="LatePenaltyMins" >
		<label class=" control-label" for="{$labelfor_LatePenaltyMins}">
			{$label indscheduleemp LatePenaltyMins}
		</label>
		<div class="" >
			{$LatePenaltyMins_value}
		</div>
	</div>
{END LatePenaltyMins_tabfieldblock}
{BEGIN LateFixPenalty_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_LateFixPenalty}" data-fieldname="LateFixPenalty" >
		<label class=" control-label" for="{$labelfor_LateFixPenalty}">
			{$label indscheduleemp LateFixPenalty}
		</label>
		<div class="" >
			{$LateFixPenalty_value}
		</div>
	</div>
{END LateFixPenalty_tabfieldblock}
{BEGIN BreakLateMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_BreakLateMins}" data-fieldname="BreakLateMins" >
		<label class=" control-label" for="{$labelfor_BreakLateMins}">
			{$label indscheduleemp BreakLateMins}
		</label>
		<div class="" >
			{$BreakLateMins_value}
		</div>
	</div>
{END BreakLateMins_tabfieldblock}
{BEGIN TotLateMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TotLateMins}" data-fieldname="TotLateMins" >
		<label class=" control-label" for="{$labelfor_TotLateMins}">
			{$label indscheduleemp TotLateMins}
		</label>
		<div class="" >
			{$TotLateMins_value}
		</div>
	</div>
{END TotLateMins_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>