<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="SDate">
	{$SDate_editcontrol}
	</control>
	<control field="UserName">
	{$UserName_editcontrol}
	</control>
	<control field="TempOT">
	{$TempOT_editcontrol}
	</control>
	<control field="FiledOT">
	{$FiledOT_editcontrol}
	</control>
	<control field="ApprovedOT">
	{$ApprovedOT_editcontrol}
	</control>
	<control field="AOTMins">
	{$AOTMins_editcontrol}
	</control>
	<control field="NDMins">
	{$NDMins_editcontrol}
	</control>
	<control field="NDOTMins">
	{$NDOTMins_editcontrol}
	</control>
	<control field="ApprovedNightDiff">
	{$ApprovedNightDiff_editcontrol}
	</control>
	<control field="ANDiff">
	{$ANDiff_editcontrol}
	</control>
	<control field="ANDOTMins">
	{$ANDOTMins_editcontrol}
	</control>
	<control field="WorkMinsNet">
	{$WorkMinsNet_editcontrol}
	</control>
	<control field="ApprovedRD">
	{$ApprovedRD_editcontrol}
	</control>
	<control field="RDMins">
	{$RDMins_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>