<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN ApprovedRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ApprovedRD}" data-fieldname="ApprovedRD" >
		<label class=" control-label" for="{$labelfor_ApprovedRD}">
			{$label indschedule ApprovedRD}
		</label>
		<div class="" >
			{$ApprovedRD_value}
		</div>
	</div>
{END ApprovedRD_tabfieldblock}
{BEGIN RegRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegRD}" data-fieldname="RegRD" >
		<label class=" control-label" for="{$labelfor_RegRD}">
			{$label indschedule RegRD}
		</label>
		<div class="" >
			{$RegRD_value}
		</div>
	</div>
{END RegRD_tabfieldblock}
{BEGIN RHRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRD}" data-fieldname="RHRD" >
		<label class=" control-label" for="{$labelfor_RHRD}">
			{$label indschedule RHRD}
		</label>
		<div class="" >
			{$RHRD_value}
		</div>
	</div>
{END RHRD_tabfieldblock}
{BEGIN SHRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRD}" data-fieldname="SHRD" >
		<label class=" control-label" for="{$labelfor_SHRD}">
			{$label indschedule SHRD}
		</label>
		<div class="" >
			{$SHRD_value}
		</div>
	</div>
{END SHRD_tabfieldblock}
{BEGIN DHRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHRD}" data-fieldname="DHRD" >
		<label class=" control-label" for="{$labelfor_DHRD}">
			{$label indschedule DHRD}
		</label>
		<div class="" >
			{$DHRD_value}
		</div>
	</div>
{END DHRD_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>