<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN ExcessHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" data-signal-error-for="ExcessHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ExcessHrs}">
			{BEGIN ExcessHrs_label}{$label indschedule ExcessHrs}{END ExcessHrs_label}
		</label>
		<div class="col-md-6 " >
			{$ExcessHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ExcessHrs">
			<div class="text-muted" >
			{$tooltip indschedule ExcessHrs}
			</div>
		</div>
	</div>
</div>
{END ExcessHrs_tabfieldblock}
{BEGIN ApprovedOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT" data-signal-error-for="ApprovedOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedOT}">
			{BEGIN ApprovedOT_label}{$label indschedule ApprovedOT}{END ApprovedOT_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedOT">
			<div class="text-muted" >
			{$tooltip indschedule ApprovedOT}
			</div>
		</div>
	</div>
</div>
{END ApprovedOT_tabfieldblock}
{BEGIN RegOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" data-signal-error-for="RegOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegOTHrs}">
			{BEGIN RegOTHrs_label}{$label indschedule RegOTHrs}{END RegOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RegOTHrs}
			</div>
		</div>
	</div>
</div>
{END RegOTHrs_tabfieldblock}
{BEGIN RHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" data-signal-error-for="RHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHOTHrs}">
			{BEGIN RHOTHrs_label}{$label indschedule RHOTHrs}{END RHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHOTHrs}
			</div>
		</div>
	</div>
</div>
{END RHOTHrs_tabfieldblock}
{BEGIN SHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTHrs}" data-fieldname="SHOTHrs" data-signal-error-for="SHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTHrs}">
			{BEGIN SHOTHrs_label}{$label indschedule SHOTHrs}{END SHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHOTHrs}
			</div>
		</div>
	</div>
</div>
{END SHOTHrs_tabfieldblock}
{BEGIN SHOTD_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTD}" data-fieldname="SHOTD" data-signal-error-for="SHOTD{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTD}">
			{BEGIN SHOTD_label}{$label indschedule SHOTD}{END SHOTD_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTD_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTD">
			<div class="text-muted" >
			{$tooltip indschedule SHOTD}
			</div>
		</div>
	</div>
</div>
{END SHOTD_tabfieldblock}
{BEGIN DHOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHOT}" data-fieldname="DHOT" data-signal-error-for="DHOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHOT}">
			{BEGIN DHOT_label}{$label indschedule DHOT}{END DHOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHOT">
			<div class="text-muted" >
			{$tooltip indschedule DHOT}
			</div>
		</div>
	</div>
</div>
{END DHOT_tabfieldblock}
{BEGIN RDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" data-signal-error-for="RDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDOTHrs}">
			{BEGIN RDOTHrs_label}{$label indschedule RDOTHrs}{END RDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RDOTHrs_tabfieldblock}
{BEGIN NDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NDOT}" data-fieldname="NDOT" data-signal-error-for="NDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NDOT}">
			{BEGIN NDOT_label}{$label indschedule NDOT}{END NDOT_label}
		</label>
		<div class="col-md-6 " >
			{$NDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NDOT">
			<div class="text-muted" >
			{$tooltip indschedule NDOT}
			</div>
		</div>
	</div>
</div>
{END NDOT_tabfieldblock}
{BEGIN RHNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDOTHrs}" data-fieldname="RHNDOTHrs" data-signal-error-for="RHNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDOTHrs}">
			{BEGIN RHNDOTHrs_label}{$label indschedule RHNDOTHrs}{END RHNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RHNDOTHrs_tabfieldblock}
{BEGIN SHNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDOTHrs}" data-fieldname="SHNDOTHrs" data-signal-error-for="SHNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDOTHrs}">
			{BEGIN SHNDOTHrs_label}{$label indschedule SHNDOTHrs}{END SHNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END SHNDOTHrs_tabfieldblock}
{BEGIN DHNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHNDOT}" data-fieldname="DHNDOT" data-signal-error-for="DHNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHNDOT}">
			{BEGIN DHNDOT_label}{$label indschedule DHNDOT}{END DHNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHNDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHNDOT}
			</div>
		</div>
	</div>
</div>
{END DHNDOT_tabfieldblock}
{BEGIN RDNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDOTHrs}" data-fieldname="RDNDOTHrs" data-signal-error-for="RDNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDOTHrs}">
			{BEGIN RDNDOTHrs_label}{$label indschedule RDNDOTHrs}{END RDNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RDNDOTHrs_tabfieldblock}
{BEGIN RHRDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDOT}" data-fieldname="RHRDOT" data-signal-error-for="RHRDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDOT}">
			{BEGIN RHRDOT_label}{$label indschedule RHRDOT}{END RHRDOT_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDOT">
			<div class="text-muted" >
			{$tooltip indschedule RHRDOT}
			</div>
		</div>
	</div>
</div>
{END RHRDOT_tabfieldblock}
{BEGIN SHRDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDOT}" data-fieldname="SHRDOT" data-signal-error-for="SHRDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDOT}">
			{BEGIN SHRDOT_label}{$label indschedule SHRDOT}{END SHRDOT_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDOT">
			<div class="text-muted" >
			{$tooltip indschedule SHRDOT}
			</div>
		</div>
	</div>
</div>
{END SHRDOT_tabfieldblock}
{BEGIN SHRDOTD_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDOTD}" data-fieldname="SHRDOTD" data-signal-error-for="SHRDOTD{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDOTD}">
			{BEGIN SHRDOTD_label}{$label indschedule SHRDOTD}{END SHRDOTD_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDOTD_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDOTD">
			<div class="text-muted" >
			{$tooltip indschedule SHRDOTD}
			</div>
		</div>
	</div>
</div>
{END SHRDOTD_tabfieldblock}
{BEGIN DHRDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDOT}" data-fieldname="DHRDOT" data-signal-error-for="DHRDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDOT}">
			{BEGIN DHRDOT_label}{$label indschedule DHRDOT}{END DHRDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHRDOT}
			</div>
		</div>
	</div>
</div>
{END DHRDOT_tabfieldblock}
{BEGIN RHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDNDOT}" data-fieldname="RHRDNDOT" data-signal-error-for="RHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDNDOT}">
			{BEGIN RHRDNDOT_label}{$label indschedule RHRDNDOT}{END RHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule RHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END RHRDNDOT_tabfieldblock}
{BEGIN SHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDNDOT}" data-fieldname="SHRDNDOT" data-signal-error-for="SHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDNDOT}">
			{BEGIN SHRDNDOT_label}{$label indschedule SHRDNDOT}{END SHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule SHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END SHRDNDOT_tabfieldblock}
{BEGIN DHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDNDOT}" data-fieldname="DHRDNDOT" data-signal-error-for="DHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDNDOT}">
			{BEGIN DHRDNDOT_label}{$label indschedule DHRDNDOT}{END DHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END DHRDNDOT_tabfieldblock}





</div>
{END container_tabfields}

</div>