<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN HolidayType_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_HolidayType}" data-fieldname="HolidayType" data-signal-error-for="HolidayType{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_HolidayType}">
			{BEGIN HolidayType_label}{$label indscheduleemp HolidayType}{END HolidayType_label}
		</label>
		<div class="col-md-6 " >
			{$HolidayType_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="HolidayType">
			<div class="text-muted" >
			{$tooltip indscheduleemp HolidayType}
			</div>
		</div>
	</div>
</div>
{END HolidayType_tabfieldblock}
{BEGIN Holiday1stHalf_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Holiday1stHalf}" data-fieldname="Holiday1stHalf" data-signal-error-for="Holiday1stHalf{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Holiday1stHalf}">
			{BEGIN Holiday1stHalf_label}{$label indscheduleemp Holiday1stHalf}{END Holiday1stHalf_label}
		</label>
		<div class="col-md-6 " >
			{$Holiday1stHalf_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Holiday1stHalf">
			<div class="text-muted" >
			{$tooltip indscheduleemp Holiday1stHalf}
			</div>
		</div>
	</div>
</div>
{END Holiday1stHalf_tabfieldblock}
{BEGIN Holiday2ndHalf_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_Holiday2ndHalf}" data-fieldname="Holiday2ndHalf" data-signal-error-for="Holiday2ndHalf{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_Holiday2ndHalf}">
			{BEGIN Holiday2ndHalf_label}{$label indscheduleemp Holiday2ndHalf}{END Holiday2ndHalf_label}
		</label>
		<div class="col-md-6 " >
			{$Holiday2ndHalf_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="Holiday2ndHalf">
			<div class="text-muted" >
			{$tooltip indscheduleemp Holiday2ndHalf}
			</div>
		</div>
	</div>
</div>
{END Holiday2ndHalf_tabfieldblock}
{BEGIN RHolidayHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHolidayHrs}" data-fieldname="RHolidayHrs" data-signal-error-for="RHolidayHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHolidayHrs}">
			{BEGIN RHolidayHrs_label}{$label indscheduleemp RHolidayHrs}{END RHolidayHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHolidayHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHolidayHrs">
			<div class="text-muted" >
			{$tooltip indscheduleemp RHolidayHrs}
			</div>
		</div>
	</div>
</div>
{END RHolidayHrs_tabfieldblock}
{BEGIN SHolidayHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHolidayHrs}" data-fieldname="SHolidayHrs" data-signal-error-for="SHolidayHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHolidayHrs}">
			{BEGIN SHolidayHrs_label}{$label indscheduleemp SHolidayHrs}{END SHolidayHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHolidayHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHolidayHrs">
			<div class="text-muted" >
			{$tooltip indscheduleemp SHolidayHrs}
			</div>
		</div>
	</div>
</div>
{END SHolidayHrs_tabfieldblock}
{BEGIN DH_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DH}" data-fieldname="DH" data-signal-error-for="DH{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DH}">
			{BEGIN DH_label}{$label indscheduleemp DH}{END DH_label}
		</label>
		<div class="col-md-6 " >
			{$DH_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DH">
			<div class="text-muted" >
			{$tooltip indscheduleemp DH}
			</div>
		</div>
	</div>
</div>
{END DH_tabfieldblock}





</div>
{END container_tabfields}

</div>