<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN ApprovedNightDiff_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff" >
		<label class=" control-label" for="{$labelfor_ApprovedNightDiff}">
			{$label indscheduleemp ApprovedNightDiff}
		</label>
		<div class="" >
			{$ApprovedNightDiff_value}
		</div>
	</div>
{END ApprovedNightDiff_tabfieldblock}
{BEGIN RegND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegND}" data-fieldname="RegND" >
		<label class=" control-label" for="{$labelfor_RegND}">
			{$label indscheduleemp RegND}
		</label>
		<div class="" >
			{$RegND_value}
		</div>
	</div>
{END RegND_tabfieldblock}
{BEGIN RHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" >
		<label class=" control-label" for="{$labelfor_RHNDHrs}">
			{$label indscheduleemp RHNDHrs}
		</label>
		<div class="" >
			{$RHNDHrs_value}
		</div>
	</div>
{END RHNDHrs_tabfieldblock}
{BEGIN SHNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" >
		<label class=" control-label" for="{$labelfor_SHNDHrs}">
			{$label indscheduleemp SHNDHrs}
		</label>
		<div class="" >
			{$SHNDHrs_value}
		</div>
	</div>
{END SHNDHrs_tabfieldblock}
{BEGIN DHND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHND}" data-fieldname="DHND" >
		<label class=" control-label" for="{$labelfor_DHND}">
			{$label indscheduleemp DHND}
		</label>
		<div class="" >
			{$DHND_value}
		</div>
	</div>
{END DHND_tabfieldblock}
{BEGIN RDNDHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" >
		<label class=" control-label" for="{$labelfor_RDNDHrs}">
			{$label indscheduleemp RDNDHrs}
		</label>
		<div class="" >
			{$RDNDHrs_value}
		</div>
	</div>
{END RDNDHrs_tabfieldblock}
{BEGIN RHRDND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDND}" data-fieldname="RHRDND" >
		<label class=" control-label" for="{$labelfor_RHRDND}">
			{$label indscheduleemp RHRDND}
		</label>
		<div class="" >
			{$RHRDND_value}
		</div>
	</div>
{END RHRDND_tabfieldblock}
{BEGIN SHRDND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDND}" data-fieldname="SHRDND" >
		<label class=" control-label" for="{$labelfor_SHRDND}">
			{$label indscheduleemp SHRDND}
		</label>
		<div class="" >
			{$SHRDND_value}
		</div>
	</div>
{END SHRDND_tabfieldblock}
{BEGIN DHRDND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHRDND}" data-fieldname="DHRDND" >
		<label class=" control-label" for="{$labelfor_DHRDND}">
			{$label indscheduleemp DHRDND}
		</label>
		<div class="" >
			{$DHRDND_value}
		</div>
	</div>
{END DHRDND_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>