<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN ExcessHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" data-signal-error-for="ExcessHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ExcessHrs}">
			{BEGIN ExcessHrs_label}{$label indschedule ExcessHrs}{END ExcessHrs_label}
		</label>
		<div class="col-md-6 " >
			{$ExcessHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ExcessHrs">
			<div class="text-muted" >
			{$tooltip indschedule ExcessHrs}
			</div>
		</div>
	</div>
</div>
{END ExcessHrs_tabfieldblock}
{BEGIN ApprovedOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT" data-signal-error-for="ApprovedOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ApprovedOT}">
			{BEGIN ApprovedOT_label}{$label indschedule ApprovedOT}{END ApprovedOT_label}
		</label>
		<div class="col-md-6 " >
			{$ApprovedOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ApprovedOT">
			<div class="text-muted" >
			{$tooltip indschedule ApprovedOT}
			</div>
		</div>
	</div>
</div>
{END ApprovedOT_tabfieldblock}
{BEGIN AOTMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AOTMins}" data-fieldname="AOTMins" data-signal-error-for="AOTMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AOTMins}">
			{BEGIN AOTMins_label}{$label indschedule AOTMins}{END AOTMins_label}
		</label>
		<div class="col-md-6 " >
			{$AOTMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AOTMins">
			<div class="text-muted" >
			{$tooltip indschedule AOTMins}
			</div>
		</div>
	</div>
</div>
{END AOTMins_tabfieldblock}
{BEGIN RegOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" data-signal-error-for="RegOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegOTHrs}">
			{BEGIN RegOTHrs_label}{$label indschedule RegOTHrs}{END RegOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RegOTHrs}
			</div>
		</div>
	</div>
</div>
{END RegOTHrs_tabfieldblock}
{BEGIN SHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTHrs}" data-fieldname="SHOTHrs" data-signal-error-for="SHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTHrs}">
			{BEGIN SHOTHrs_label}{$label indschedule SHOTHrs}{END SHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHOTHrs}
			</div>
		</div>
	</div>
</div>
{END SHOTHrs_tabfieldblock}
{BEGIN CHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHOTHrs}" data-fieldname="CHOTHrs" data-signal-error-for="CHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHOTHrs}">
			{BEGIN CHOTHrs_label}{$label indschedule CHOTHrs}{END CHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$CHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule CHOTHrs}
			</div>
		</div>
	</div>
</div>
{END CHOTHrs_tabfieldblock}
{BEGIN RDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" data-signal-error-for="RDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDOTHrs}">
			{BEGIN RDOTHrs_label}{$label indschedule RDOTHrs}{END RDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RDOTHrs_tabfieldblock}
{BEGIN RHOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" data-signal-error-for="RHOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHOTHrs}">
			{BEGIN RHOTHrs_label}{$label indschedule RHOTHrs}{END RHOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHOTHrs}
			</div>
		</div>
	</div>
</div>
{END RHOTHrs_tabfieldblock}
{BEGIN TrODay_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TrODay}" data-fieldname="TrODay" data-signal-error-for="TrODay{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TrODay}">
			{BEGIN TrODay_label}{$label indschedule TrODay}{END TrODay_label}
		</label>
		<div class="col-md-6 " >
			{$TrODay_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TrODay">
			<div class="text-muted" >
			{$tooltip indschedule TrODay}
			</div>
		</div>
	</div>
</div>
{END TrODay_tabfieldblock}
{BEGIN RegNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegNDOTHrs}" data-fieldname="RegNDOTHrs" data-signal-error-for="RegNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegNDOTHrs}">
			{BEGIN RegNDOTHrs_label}{$label indschedule RegNDOTHrs}{END RegNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RegNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RegNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RegNDOTHrs_tabfieldblock}
{BEGIN RHNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDOTHrs}" data-fieldname="RHNDOTHrs" data-signal-error-for="RHNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDOTHrs}">
			{BEGIN RHNDOTHrs_label}{$label indschedule RHNDOTHrs}{END RHNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RHNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RHNDOTHrs_tabfieldblock}
{BEGIN SHNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDOTHrs}" data-fieldname="SHNDOTHrs" data-signal-error-for="SHNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDOTHrs}">
			{BEGIN SHNDOTHrs_label}{$label indschedule SHNDOTHrs}{END SHNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule SHNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END SHNDOTHrs_tabfieldblock}
{BEGIN CHNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHNDOTHrs}" data-fieldname="CHNDOTHrs" data-signal-error-for="CHNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHNDOTHrs}">
			{BEGIN CHNDOTHrs_label}{$label indschedule CHNDOTHrs}{END CHNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$CHNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule CHNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END CHNDOTHrs_tabfieldblock}
{BEGIN RDNDOTHrs_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDOTHrs}" data-fieldname="RDNDOTHrs" data-signal-error-for="RDNDOTHrs{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDOTHrs}">
			{BEGIN RDNDOTHrs_label}{$label indschedule RDNDOTHrs}{END RDNDOTHrs_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDOTHrs_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDOTHrs">
			<div class="text-muted" >
			{$tooltip indschedule RDNDOTHrs}
			</div>
		</div>
	</div>
</div>
{END RDNDOTHrs_tabfieldblock}
{BEGIN RHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDNDOT}" data-fieldname="RHRDNDOT" data-signal-error-for="RHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDNDOT}">
			{BEGIN RHRDNDOT_label}{$label indschedule RHRDNDOT}{END RHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule RHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END RHRDNDOT_tabfieldblock}
{BEGIN SHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDNDOT}" data-fieldname="SHRDNDOT" data-signal-error-for="SHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDNDOT}">
			{BEGIN SHRDNDOT_label}{$label indschedule SHRDNDOT}{END SHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule SHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END SHRDNDOT_tabfieldblock}
{BEGIN DHRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDNDOT}" data-fieldname="DHRDNDOT" data-signal-error-for="DHRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDNDOT}">
			{BEGIN DHRDNDOT_label}{$label indschedule DHRDNDOT}{END DHRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDNDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHRDNDOT}
			</div>
		</div>
	</div>
</div>
{END DHRDNDOT_tabfieldblock}
{BEGIN DHOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHOT}" data-fieldname="DHOT" data-signal-error-for="DHOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHOT}">
			{BEGIN DHOT_label}{$label indschedule DHOT}{END DHOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHOT">
			<div class="text-muted" >
			{$tooltip indschedule DHOT}
			</div>
		</div>
	</div>
</div>
{END DHOT_tabfieldblock}
{BEGIN DHNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHNDOT}" data-fieldname="DHNDOT" data-signal-error-for="DHNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHNDOT}">
			{BEGIN DHNDOT_label}{$label indschedule DHNDOT}{END DHNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHNDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHNDOT}
			</div>
		</div>
	</div>
</div>
{END DHNDOT_tabfieldblock}
{BEGIN DHRDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DHRDOT}" data-fieldname="DHRDOT" data-signal-error-for="DHRDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DHRDOT}">
			{BEGIN DHRDOT_label}{$label indschedule DHRDOT}{END DHRDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DHRDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DHRDOT">
			<div class="text-muted" >
			{$tooltip indschedule DHRDOT}
			</div>
		</div>
	</div>
</div>
{END DHRDOT_tabfieldblock}





</div>
{END container_tabfields}

</div>