<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel indschedule1 edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN SDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SDate}" data-fieldname="SDate" data-signal-error-for="SDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SDate}">
		{BEGIN SDate_label}{$label indschedule1 SDate}{END SDate_label}
	</label>
	<div class="col-md-6" >
		{$SDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SDate">
		<div class="text-muted" >
		{$tooltip indschedule1 SDate}
		</div>
	</div>
</div>
</div>
{END SDate_fieldblock}

			{BEGIN UserName_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_UserName}" data-fieldname="UserName" data-signal-error-for="UserName{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_UserName}">
		{BEGIN UserName_label}{$label indschedule1 UserName}{END UserName_label}
	</label>
	<div class="col-md-6" >
		{$UserName_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="UserName">
		<div class="text-muted" >
		{$tooltip indschedule1 UserName}
		</div>
	</div>
</div>
</div>
{END UserName_fieldblock}

			{BEGIN TempOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TempOT}" data-fieldname="TempOT" data-signal-error-for="TempOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TempOT}">
		{BEGIN TempOT_label}{$label indschedule1 TempOT}{END TempOT_label}
	</label>
	<div class="col-md-6" >
		{$TempOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TempOT">
		<div class="text-muted" >
		{$tooltip indschedule1 TempOT}
		</div>
	</div>
</div>
</div>
{END TempOT_fieldblock}

			{BEGIN FiledOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FiledOT}" data-fieldname="FiledOT" data-signal-error-for="FiledOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FiledOT}">
		{BEGIN FiledOT_label}{$label indschedule1 FiledOT}{END FiledOT_label}
	</label>
	<div class="col-md-6" >
		{$FiledOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FiledOT">
		<div class="text-muted" >
		{$tooltip indschedule1 FiledOT}
		</div>
	</div>
</div>
</div>
{END FiledOT_fieldblock}

			{BEGIN ApprovedOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT" data-signal-error-for="ApprovedOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedOT}">
		{BEGIN ApprovedOT_label}{$label indschedule1 ApprovedOT}{END ApprovedOT_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedOT">
		<div class="text-muted" >
		{$tooltip indschedule1 ApprovedOT}
		</div>
	</div>
</div>
</div>
{END ApprovedOT_fieldblock}

			{BEGIN AOTMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AOTMins}" data-fieldname="AOTMins" data-signal-error-for="AOTMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AOTMins}">
		{BEGIN AOTMins_label}{$label indschedule1 AOTMins}{END AOTMins_label}
	</label>
	<div class="col-md-6" >
		{$AOTMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AOTMins">
		<div class="text-muted" >
		{$tooltip indschedule1 AOTMins}
		</div>
	</div>
</div>
</div>
{END AOTMins_fieldblock}

			{BEGIN NDMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDMins}" data-fieldname="NDMins" data-signal-error-for="NDMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDMins}">
		{BEGIN NDMins_label}{$label indschedule1 NDMins}{END NDMins_label}
	</label>
	<div class="col-md-6" >
		{$NDMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDMins">
		<div class="text-muted" >
		{$tooltip indschedule1 NDMins}
		</div>
	</div>
</div>
</div>
{END NDMins_fieldblock}

			{BEGIN ApprovedNightDiff_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedNightDiff}" data-fieldname="ApprovedNightDiff" data-signal-error-for="ApprovedNightDiff{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedNightDiff}">
		{BEGIN ApprovedNightDiff_label}{$label indschedule1 ApprovedNightDiff}{END ApprovedNightDiff_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedNightDiff_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedNightDiff">
		<div class="text-muted" >
		{$tooltip indschedule1 ApprovedNightDiff}
		</div>
	</div>
</div>
</div>
{END ApprovedNightDiff_fieldblock}

			{BEGIN ANDiff_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ANDiff}" data-fieldname="ANDiff" data-signal-error-for="ANDiff{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ANDiff}">
		{BEGIN ANDiff_label}{$label indschedule1 ANDiff}{END ANDiff_label}
	</label>
	<div class="col-md-6" >
		{$ANDiff_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ANDiff">
		<div class="text-muted" >
		{$tooltip indschedule1 ANDiff}
		</div>
	</div>
</div>
</div>
{END ANDiff_fieldblock}

			{BEGIN ANDOTMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ANDOTMins}" data-fieldname="ANDOTMins" data-signal-error-for="ANDOTMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ANDOTMins}">
		{BEGIN ANDOTMins_label}{$label indschedule1 ANDOTMins}{END ANDOTMins_label}
	</label>
	<div class="col-md-6" >
		{$ANDOTMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ANDOTMins">
		<div class="text-muted" >
		{$tooltip indschedule1 ANDOTMins}
		</div>
	</div>
</div>
</div>
{END ANDOTMins_fieldblock}

			{BEGIN NDMealAllowancePerShift_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDMealAllowancePerShift}" data-fieldname="NDMealAllowancePerShift" data-signal-error-for="NDMealAllowancePerShift{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDMealAllowancePerShift}">
		{BEGIN NDMealAllowancePerShift_label}{$label indschedule1 NDMealAllowancePerShift}{END NDMealAllowancePerShift_label}
	</label>
	<div class="col-md-6" >
		{$NDMealAllowancePerShift_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDMealAllowancePerShift">
		<div class="text-muted" >
		{$tooltip indschedule1 NDMealAllowancePerShift}
		</div>
	</div>
</div>
</div>
{END NDMealAllowancePerShift_fieldblock}

			{BEGIN NDMinimumHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDMinimumHrs}" data-fieldname="NDMinimumHrs" data-signal-error-for="NDMinimumHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDMinimumHrs}">
		{BEGIN NDMinimumHrs_label}{$label indschedule1 NDMinimumHrs}{END NDMinimumHrs_label}
	</label>
	<div class="col-md-6" >
		{$NDMinimumHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDMinimumHrs">
		<div class="text-muted" >
		{$tooltip indschedule1 NDMinimumHrs}
		</div>
	</div>
</div>
</div>
{END NDMinimumHrs_fieldblock}

			{BEGIN NDMealAllowance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDMealAllowance}" data-fieldname="NDMealAllowance" data-signal-error-for="NDMealAllowance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDMealAllowance}">
		{BEGIN NDMealAllowance_label}{$label indschedule1 NDMealAllowance}{END NDMealAllowance_label}
	</label>
	<div class="col-md-6" >
		{$NDMealAllowance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDMealAllowance">
		<div class="text-muted" >
		{$tooltip indschedule1 NDMealAllowance}
		</div>
	</div>
</div>
</div>
{END NDMealAllowance_fieldblock}

			{BEGIN WorkMinsNet_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_WorkMinsNet}" data-fieldname="WorkMinsNet" data-signal-error-for="WorkMinsNet{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_WorkMinsNet}">
		{BEGIN WorkMinsNet_label}{$label indschedule1 WorkMinsNet}{END WorkMinsNet_label}
	</label>
	<div class="col-md-6" >
		{$WorkMinsNet_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="WorkMinsNet">
		<div class="text-muted" >
		{$tooltip indschedule1 WorkMinsNet}
		</div>
	</div>
</div>
</div>
{END WorkMinsNet_fieldblock}

			{BEGIN ApprovedRD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedRD}" data-fieldname="ApprovedRD" data-signal-error-for="ApprovedRD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedRD}">
		{BEGIN ApprovedRD_label}{$label indschedule1 ApprovedRD}{END ApprovedRD_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedRD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedRD">
		<div class="text-muted" >
		{$tooltip indschedule1 ApprovedRD}
		</div>
	</div>
</div>
</div>
{END ApprovedRD_fieldblock}

			{BEGIN RDMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RDMins}" data-fieldname="RDMins" data-signal-error-for="RDMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RDMins}">
		{BEGIN RDMins_label}{$label indschedule1 RDMins}{END RDMins_label}
	</label>
	<div class="col-md-6" >
		{$RDMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RDMins">
		<div class="text-muted" >
		{$tooltip indschedule1 RDMins}
		</div>
	</div>
</div>
</div>
{END RDMins_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN updsel_button}
	<button class="btn btn-primary" {$updselbutton_attrs}>{$update_selected}</button>
	{END updsel_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
