<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN ExcessHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" >
		<label class=" control-label" for="{$labelfor_ExcessHrs}">
			{$label indscheduleemp ExcessHrs}
		</label>
		<div class="" >
			{$ExcessHrs_value}
		</div>
	</div>
{END ExcessHrs_tabfieldblock}
{BEGIN ApprovedOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ApprovedOT}" data-fieldname="ApprovedOT" >
		<label class=" control-label" for="{$labelfor_ApprovedOT}">
			{$label indscheduleemp ApprovedOT}
		</label>
		<div class="" >
			{$ApprovedOT_value}
		</div>
	</div>
{END ApprovedOT_tabfieldblock}
{BEGIN RegOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" >
		<label class=" control-label" for="{$labelfor_RegOTHrs}">
			{$label indscheduleemp RegOTHrs}
		</label>
		<div class="" >
			{$RegOTHrs_value}
		</div>
	</div>
{END RegOTHrs_tabfieldblock}
{BEGIN RHOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" >
		<label class=" control-label" for="{$labelfor_RHOTHrs}">
			{$label indscheduleemp RHOTHrs}
		</label>
		<div class="" >
			{$RHOTHrs_value}
		</div>
	</div>
{END RHOTHrs_tabfieldblock}
{BEGIN SHOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTHrs}" data-fieldname="SHOTHrs" >
		<label class=" control-label" for="{$labelfor_SHOTHrs}">
			{$label indscheduleemp SHOTHrs}
		</label>
		<div class="" >
			{$SHOTHrs_value}
		</div>
	</div>
{END SHOTHrs_tabfieldblock}
{BEGIN SHOTD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTD}" data-fieldname="SHOTD" >
		<label class=" control-label" for="{$labelfor_SHOTD}">
			{$label indscheduleemp SHOTD}
		</label>
		<div class="" >
			{$SHOTD_value}
		</div>
	</div>
{END SHOTD_tabfieldblock}
{BEGIN DHOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHOT}" data-fieldname="DHOT" >
		<label class=" control-label" for="{$labelfor_DHOT}">
			{$label indscheduleemp DHOT}
		</label>
		<div class="" >
			{$DHOT_value}
		</div>
	</div>
{END DHOT_tabfieldblock}
{BEGIN RDOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" >
		<label class=" control-label" for="{$labelfor_RDOTHrs}">
			{$label indscheduleemp RDOTHrs}
		</label>
		<div class="" >
			{$RDOTHrs_value}
		</div>
	</div>
{END RDOTHrs_tabfieldblock}
{BEGIN NDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NDOT}" data-fieldname="NDOT" >
		<label class=" control-label" for="{$labelfor_NDOT}">
			{$label indscheduleemp NDOT}
		</label>
		<div class="" >
			{$NDOT_value}
		</div>
	</div>
{END NDOT_tabfieldblock}
{BEGIN RHNDOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDOTHrs}" data-fieldname="RHNDOTHrs" >
		<label class=" control-label" for="{$labelfor_RHNDOTHrs}">
			{$label indscheduleemp RHNDOTHrs}
		</label>
		<div class="" >
			{$RHNDOTHrs_value}
		</div>
	</div>
{END RHNDOTHrs_tabfieldblock}
{BEGIN SHNDOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDOTHrs}" data-fieldname="SHNDOTHrs" >
		<label class=" control-label" for="{$labelfor_SHNDOTHrs}">
			{$label indscheduleemp SHNDOTHrs}
		</label>
		<div class="" >
			{$SHNDOTHrs_value}
		</div>
	</div>
{END SHNDOTHrs_tabfieldblock}
{BEGIN DHNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHNDOT}" data-fieldname="DHNDOT" >
		<label class=" control-label" for="{$labelfor_DHNDOT}">
			{$label indscheduleemp DHNDOT}
		</label>
		<div class="" >
			{$DHNDOT_value}
		</div>
	</div>
{END DHNDOT_tabfieldblock}
{BEGIN RDNDOTHrs_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDOTHrs}" data-fieldname="RDNDOTHrs" >
		<label class=" control-label" for="{$labelfor_RDNDOTHrs}">
			{$label indscheduleemp RDNDOTHrs}
		</label>
		<div class="" >
			{$RDNDOTHrs_value}
		</div>
	</div>
{END RDNDOTHrs_tabfieldblock}
{BEGIN RHRDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDOT}" data-fieldname="RHRDOT" >
		<label class=" control-label" for="{$labelfor_RHRDOT}">
			{$label indscheduleemp RHRDOT}
		</label>
		<div class="" >
			{$RHRDOT_value}
		</div>
	</div>
{END RHRDOT_tabfieldblock}
{BEGIN SHRDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOT}" data-fieldname="SHRDOT" >
		<label class=" control-label" for="{$labelfor_SHRDOT}">
			{$label indscheduleemp SHRDOT}
		</label>
		<div class="" >
			{$SHRDOT_value}
		</div>
	</div>
{END SHRDOT_tabfieldblock}
{BEGIN SHRDOTD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOTD}" data-fieldname="SHRDOTD" >
		<label class=" control-label" for="{$labelfor_SHRDOTD}">
			{$label indscheduleemp SHRDOTD}
		</label>
		<div class="" >
			{$SHRDOTD_value}
		</div>
	</div>
{END SHRDOTD_tabfieldblock}
{BEGIN DHRDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHRDOT}" data-fieldname="DHRDOT" >
		<label class=" control-label" for="{$labelfor_DHRDOT}">
			{$label indscheduleemp DHRDOT}
		</label>
		<div class="" >
			{$DHRDOT_value}
		</div>
	</div>
{END DHRDOT_tabfieldblock}
{BEGIN RHRDNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDNDOT}" data-fieldname="RHRDNDOT" >
		<label class=" control-label" for="{$labelfor_RHRDNDOT}">
			{$label indscheduleemp RHRDNDOT}
		</label>
		<div class="" >
			{$RHRDNDOT_value}
		</div>
	</div>
{END RHRDNDOT_tabfieldblock}
{BEGIN SHRDNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDNDOT}" data-fieldname="SHRDNDOT" >
		<label class=" control-label" for="{$labelfor_SHRDNDOT}">
			{$label indscheduleemp SHRDNDOT}
		</label>
		<div class="" >
			{$SHRDNDOT_value}
		</div>
	</div>
{END SHRDNDOT_tabfieldblock}
{BEGIN DHRDNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DHRDNDOT}" data-fieldname="DHRDNDOT" >
		<label class=" control-label" for="{$labelfor_DHRDNDOT}">
			{$label indscheduleemp DHRDNDOT}
		</label>
		<div class="" >
			{$DHRDNDOT_value}
		</div>
	</div>
{END DHRDNDOT_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>