<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN VLDay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_VLDay}" data-fieldname="VLDay" >
		<label class=" control-label" for="{$labelfor_VLDay}">
			{$label indschedule VLDay}
		</label>
		<div class="" >
			{$VLDay_value}
		</div>
	</div>
{END VLDay_tabfieldblock}
{BEGIN SLDay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SLDay}" data-fieldname="SLDay" >
		<label class=" control-label" for="{$labelfor_SLDay}">
			{$label indschedule SLDay}
		</label>
		<div class="" >
			{$SLDay_value}
		</div>
	</div>
{END SLDay_tabfieldblock}
{BEGIN ELDay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ELDay}" data-fieldname="ELDay" >
		<label class=" control-label" for="{$labelfor_ELDay}">
			{$label indschedule ELDay}
		</label>
		<div class="" >
			{$ELDay_value}
		</div>
	</div>
{END ELDay_tabfieldblock}
{BEGIN PLDay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PLDay}" data-fieldname="PLDay" >
		<label class=" control-label" for="{$labelfor_PLDay}">
			{$label indschedule PLDay}
		</label>
		<div class="" >
			{$PLDay_value}
		</div>
	</div>
{END PLDay_tabfieldblock}
{BEGIN TrODay_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_TrODay}" data-fieldname="TrODay" >
		<label class=" control-label" for="{$labelfor_TrODay}">
			{$label indschedule TrODay}
		</label>
		<div class="" >
			{$TrODay_value}
		</div>
	</div>
{END TrODay_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>