<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN PreLogMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PreLogMins}" data-fieldname="PreLogMins" data-signal-error-for="PreLogMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PreLogMins}">
			{BEGIN PreLogMins_label}{$label indschedule PreLogMins}{END PreLogMins_label}
		</label>
		<div class="col-md-6 " >
			{$PreLogMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PreLogMins">
			<div class="text-muted" >
			{$tooltip indschedule PreLogMins}
			</div>
		</div>
	</div>
</div>
{END PreLogMins_tabfieldblock}
{BEGIN IncludeBreakLate_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_IncludeBreakLate}" data-fieldname="IncludeBreakLate" data-signal-error-for="IncludeBreakLate{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_IncludeBreakLate}">
			{BEGIN IncludeBreakLate_label}{$label indschedule IncludeBreakLate}{END IncludeBreakLate_label}
		</label>
		<div class="col-md-6 " >
			{$IncludeBreakLate_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="IncludeBreakLate">
			<div class="text-muted" >
			{$tooltip indschedule IncludeBreakLate}
			</div>
		</div>
	</div>
</div>
{END IncludeBreakLate_tabfieldblock}
{BEGIN GracePeriodMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_GracePeriodMins}" data-fieldname="GracePeriodMins" data-signal-error-for="GracePeriodMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_GracePeriodMins}">
			{BEGIN GracePeriodMins_label}{$label indschedule GracePeriodMins}{END GracePeriodMins_label}
		</label>
		<div class="col-md-6 " >
			{$GracePeriodMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="GracePeriodMins">
			<div class="text-muted" >
			{$tooltip indschedule GracePeriodMins}
			</div>
		</div>
	</div>
</div>
{END GracePeriodMins_tabfieldblock}
{BEGIN LateMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_LateMins}" data-fieldname="LateMins" data-signal-error-for="LateMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_LateMins}">
			{BEGIN LateMins_label}{$label indschedule LateMins}{END LateMins_label}
		</label>
		<div class="col-md-6 " >
			{$LateMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="LateMins">
			<div class="text-muted" >
			{$tooltip indschedule LateMins}
			</div>
		</div>
	</div>
</div>
{END LateMins_tabfieldblock}
{BEGIN UndertimeMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_UndertimeMins}" data-fieldname="UndertimeMins" data-signal-error-for="UndertimeMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_UndertimeMins}">
			{BEGIN UndertimeMins_label}{$label indschedule UndertimeMins}{END UndertimeMins_label}
		</label>
		<div class="col-md-6 " >
			{$UndertimeMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="UndertimeMins">
			<div class="text-muted" >
			{$tooltip indschedule UndertimeMins}
			</div>
		</div>
	</div>
</div>
{END UndertimeMins_tabfieldblock}
{BEGIN LatePenaltyMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_LatePenaltyMins}" data-fieldname="LatePenaltyMins" data-signal-error-for="LatePenaltyMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_LatePenaltyMins}">
			{BEGIN LatePenaltyMins_label}{$label indschedule LatePenaltyMins}{END LatePenaltyMins_label}
		</label>
		<div class="col-md-6 " >
			{$LatePenaltyMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="LatePenaltyMins">
			<div class="text-muted" >
			{$tooltip indschedule LatePenaltyMins}
			</div>
		</div>
	</div>
</div>
{END LatePenaltyMins_tabfieldblock}
{BEGIN TotLateMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_TotLateMins}" data-fieldname="TotLateMins" data-signal-error-for="TotLateMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_TotLateMins}">
			{BEGIN TotLateMins_label}{$label indschedule TotLateMins}{END TotLateMins_label}
		</label>
		<div class="col-md-6 " >
			{$TotLateMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="TotLateMins">
			<div class="text-muted" >
			{$tooltip indschedule TotLateMins}
			</div>
		</div>
	</div>
</div>
{END TotLateMins_tabfieldblock}
{BEGIN LateFixPenalty_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_LateFixPenalty}" data-fieldname="LateFixPenalty" data-signal-error-for="LateFixPenalty{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_LateFixPenalty}">
			{BEGIN LateFixPenalty_label}{$label indschedule LateFixPenalty}{END LateFixPenalty_label}
		</label>
		<div class="col-md-6 " >
			{$LateFixPenalty_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="LateFixPenalty">
			<div class="text-muted" >
			{$tooltip indschedule LateFixPenalty}
			</div>
		</div>
	</div>
</div>
{END LateFixPenalty_tabfieldblock}
{BEGIN BreakLateMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_BreakLateMins}" data-fieldname="BreakLateMins" data-signal-error-for="BreakLateMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_BreakLateMins}">
			{BEGIN BreakLateMins_label}{$label indschedule BreakLateMins}{END BreakLateMins_label}
		</label>
		<div class="col-md-6 " >
			{$BreakLateMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="BreakLateMins">
			<div class="text-muted" >
			{$tooltip indschedule BreakLateMins}
			</div>
		</div>
	</div>
</div>
{END BreakLateMins_tabfieldblock}





</div>
{END container_tabfields}

</div>