<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel indschedule1 view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN SDate_fieldblock}
	<div class="{$fielddispclass_SDate} col-md-6 bs-viewcontrolgroup" data-fieldname="SDate">
		<label class="control-label" for="{$labelfor_SDate}">
			{$label indschedule1 SDate}
		</label>
		<div class="" >
			{$SDate_value}&nbsp;
		</div>
	</div>
{END SDate_fieldblock}
					{BEGIN ScID_fieldblock}
	<div class="{$fielddispclass_ScID} col-md-6 bs-viewcontrolgroup" data-fieldname="ScID">
		<label class="control-label" for="{$labelfor_ScID}">
			{$label indschedule1 ScID}
		</label>
		<div class="" >
			{$ScID_value}&nbsp;
		</div>
	</div>
{END ScID_fieldblock}
					{BEGIN UserName_fieldblock}
	<div class="{$fielddispclass_UserName} col-md-6 bs-viewcontrolgroup" data-fieldname="UserName">
		<label class="control-label" for="{$labelfor_UserName}">
			{$label indschedule1 UserName}
		</label>
		<div class="" >
			{$UserName_value}&nbsp;
		</div>
	</div>
{END UserName_fieldblock}
					{BEGIN TempOT_fieldblock}
	<div class="{$fielddispclass_TempOT} col-md-6 bs-viewcontrolgroup" data-fieldname="TempOT">
		<label class="control-label" for="{$labelfor_TempOT}">
			{$label indschedule1 TempOT}
		</label>
		<div class="" >
			{$TempOT_value}&nbsp;
		</div>
	</div>
{END TempOT_fieldblock}
					{BEGIN FiledOT_fieldblock}
	<div class="{$fielddispclass_FiledOT} col-md-6 bs-viewcontrolgroup" data-fieldname="FiledOT">
		<label class="control-label" for="{$labelfor_FiledOT}">
			{$label indschedule1 FiledOT}
		</label>
		<div class="" >
			{$FiledOT_value}&nbsp;
		</div>
	</div>
{END FiledOT_fieldblock}
					{BEGIN ApprovedOT_fieldblock}
	<div class="{$fielddispclass_ApprovedOT} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedOT">
		<label class="control-label" for="{$labelfor_ApprovedOT}">
			{$label indschedule1 ApprovedOT}
		</label>
		<div class="" >
			{$ApprovedOT_value}&nbsp;
		</div>
	</div>
{END ApprovedOT_fieldblock}
					{BEGIN AOTMins_fieldblock}
	<div class="{$fielddispclass_AOTMins} col-md-6 bs-viewcontrolgroup" data-fieldname="AOTMins">
		<label class="control-label" for="{$labelfor_AOTMins}">
			{$label indschedule1 AOTMins}
		</label>
		<div class="" >
			{$AOTMins_value}&nbsp;
		</div>
	</div>
{END AOTMins_fieldblock}
					{BEGIN NDMins_fieldblock}
	<div class="{$fielddispclass_NDMins} col-md-6 bs-viewcontrolgroup" data-fieldname="NDMins">
		<label class="control-label" for="{$labelfor_NDMins}">
			{$label indschedule1 NDMins}
		</label>
		<div class="" >
			{$NDMins_value}&nbsp;
		</div>
	</div>
{END NDMins_fieldblock}
					{BEGIN ApprovedNightDiff_fieldblock}
	<div class="{$fielddispclass_ApprovedNightDiff} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedNightDiff">
		<label class="control-label" for="{$labelfor_ApprovedNightDiff}">
			{$label indschedule1 ApprovedNightDiff}
		</label>
		<div class="" >
			{$ApprovedNightDiff_value}&nbsp;
		</div>
	</div>
{END ApprovedNightDiff_fieldblock}
					{BEGIN ANDiff_fieldblock}
	<div class="{$fielddispclass_ANDiff} col-md-6 bs-viewcontrolgroup" data-fieldname="ANDiff">
		<label class="control-label" for="{$labelfor_ANDiff}">
			{$label indschedule1 ANDiff}
		</label>
		<div class="" >
			{$ANDiff_value}&nbsp;
		</div>
	</div>
{END ANDiff_fieldblock}
					{BEGIN NDMealAllowancePerShift_fieldblock}
	<div class="{$fielddispclass_NDMealAllowancePerShift} col-md-6 bs-viewcontrolgroup" data-fieldname="NDMealAllowancePerShift">
		<label class="control-label" for="{$labelfor_NDMealAllowancePerShift}">
			{$label indschedule1 NDMealAllowancePerShift}
		</label>
		<div class="" >
			{$NDMealAllowancePerShift_value}&nbsp;
		</div>
	</div>
{END NDMealAllowancePerShift_fieldblock}
					{BEGIN NDMinimumHrs_fieldblock}
	<div class="{$fielddispclass_NDMinimumHrs} col-md-6 bs-viewcontrolgroup" data-fieldname="NDMinimumHrs">
		<label class="control-label" for="{$labelfor_NDMinimumHrs}">
			{$label indschedule1 NDMinimumHrs}
		</label>
		<div class="" >
			{$NDMinimumHrs_value}&nbsp;
		</div>
	</div>
{END NDMinimumHrs_fieldblock}
					{BEGIN NDMealAllowance_fieldblock}
	<div class="{$fielddispclass_NDMealAllowance} col-md-6 bs-viewcontrolgroup" data-fieldname="NDMealAllowance">
		<label class="control-label" for="{$labelfor_NDMealAllowance}">
			{$label indschedule1 NDMealAllowance}
		</label>
		<div class="" >
			{$NDMealAllowance_value}&nbsp;
		</div>
	</div>
{END NDMealAllowance_fieldblock}
					{BEGIN WorkMinsNet_fieldblock}
	<div class="{$fielddispclass_WorkMinsNet} col-md-6 bs-viewcontrolgroup" data-fieldname="WorkMinsNet">
		<label class="control-label" for="{$labelfor_WorkMinsNet}">
			{$label indschedule1 WorkMinsNet}
		</label>
		<div class="" >
			{$WorkMinsNet_value}&nbsp;
		</div>
	</div>
{END WorkMinsNet_fieldblock}
					{BEGIN ApprovedRD_fieldblock}
	<div class="{$fielddispclass_ApprovedRD} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedRD">
		<label class="control-label" for="{$labelfor_ApprovedRD}">
			{$label indschedule1 ApprovedRD}
		</label>
		<div class="" >
			{$ApprovedRD_value}&nbsp;
		</div>
	</div>
{END ApprovedRD_fieldblock}
					{BEGIN RDMins_fieldblock}
	<div class="{$fielddispclass_RDMins} col-md-6 bs-viewcontrolgroup" data-fieldname="RDMins">
		<label class="control-label" for="{$labelfor_RDMins}">
			{$label indschedule1 RDMins}
		</label>
		<div class="" >
			{$RDMins_value}&nbsp;
		</div>
	</div>
{END RDMins_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
