<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="LateFrom1">
	{$LateFrom1_editcontrol}
	</control>
	<control field="LateTo1">
	{$LateTo1_editcontrol}
	</control>
	<control field="Penalty1">
	{$Penalty1_editcontrol}
	</control>
	<control field="LateFrom2">
	{$LateFrom2_editcontrol}
	</control>
	<control field="LateTo2">
	{$LateTo2_editcontrol}
	</control>
	<control field="Penalty2">
	{$Penalty2_editcontrol}
	</control>
	<control field="LateFrom3">
	{$LateFrom3_editcontrol}
	</control>
	<control field="LateTo3">
	{$LateTo3_editcontrol}
	</control>
	<control field="Penalty3">
	{$Penalty3_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>