<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="AllowableSickLeave">
	{$AllowableSickLeave_editcontrol}
	</control>
	<control field="TotalSL">
	{$TotalSL_editcontrol}
	</control>
	<control field="AllowableVacationLeave">
	{$AllowableVacationLeave_editcontrol}
	</control>
	<control field="TotalVL">
	{$TotalVL_editcontrol}
	</control>
	<control field="AllowableEmergencyLeave">
	{$AllowableEmergencyLeave_editcontrol}
	</control>
	<control field="TotalEL">
	{$TotalEL_editcontrol}
	</control>
	<control field="AllowablePaternityLeave">
	{$AllowablePaternityLeave_editcontrol}
	</control>
	<control field="TotalPL">
	{$TotalPL_editcontrol}
	</control>
	<control field="SLBalance">
	{$SLBalance_editcontrol}
	</control>
	<control field="VLBalance">
	{$VLBalance_editcontrol}
	</control>
	<control field="ELBalance">
	{$ELBalance_editcontrol}
	</control>
	<control field="PLBalance">
	{$PLBalance_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>