<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="DateCreated">
	{$DateCreated_editcontrol}
	</control>
	<control 
	field="LeaveType">
	{$LeaveType_editcontrol}
	</control>
	<control 
	field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control 
	field="FromDate">
	{$FromDate_editcontrol}
	</control>
	<control 
	field="ToDate">
	{$ToDate_editcontrol}
	</control>
	<control 
	field="Reason">
	{$Reason_editcontrol}
	</control>
	<control 
	field="FirstHalf">
	{$FirstHalf_editcontrol}
	</control>
	<control 
	field="SecondHalf">
	{$SecondHalf_editcontrol}
	</control>
	<control 
	field="Days">
	{$Days_editcontrol}
	</control>
	<control 
	field="Superior">
	{$Superior_editcontrol}
	</control>
	<control 
	field="Superior2">
	{$Superior2_editcontrol}
	</control>
	<control 
	field="ApprovedTime">
	{$ApprovedTime_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
