<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel leaves11 view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN LvID_fieldblock}
	<div class="{$fielddispclass_LvID} col-md-6 bs-viewcontrolgroup" data-fieldname="LvID">
		<label class="control-label" for="{$labelfor_LvID}">
			{$label leaves11 LvID}
		</label>
		<div class="" >
			{$LvID_value}&nbsp;
		</div>
	</div>
{END LvID_fieldblock}
					{BEGIN DateCreated_fieldblock}
	<div class="{$fielddispclass_DateCreated} col-md-6 bs-viewcontrolgroup" data-fieldname="DateCreated">
		<label class="control-label" for="{$labelfor_DateCreated}">
			{$label leaves11 DateCreated}
		</label>
		<div class="" >
			{$DateCreated_value}&nbsp;
		</div>
	</div>
{END DateCreated_fieldblock}
					{BEGIN LeaveType_fieldblock}
	<div class="{$fielddispclass_LeaveType} col-md-6 bs-viewcontrolgroup" data-fieldname="LeaveType">
		<label class="control-label" for="{$labelfor_LeaveType}">
			{$label leaves11 LeaveType}
		</label>
		<div class="" >
			{$LeaveType_value}&nbsp;
		</div>
	</div>
{END LeaveType_fieldblock}
					{BEGIN EmployeeID_fieldblock}
	<div class="{$fielddispclass_EmployeeID} col-md-6 bs-viewcontrolgroup" data-fieldname="EmployeeID">
		<label class="control-label" for="{$labelfor_EmployeeID}">
			{$label leaves11 EmployeeID}
		</label>
		<div class="" >
			{$EmployeeID_value}&nbsp;
		</div>
	</div>
{END EmployeeID_fieldblock}
					{BEGIN FromDate_fieldblock}
	<div class="{$fielddispclass_FromDate} col-md-6 bs-viewcontrolgroup" data-fieldname="FromDate">
		<label class="control-label" for="{$labelfor_FromDate}">
			{$label leaves11 FromDate}
		</label>
		<div class="" >
			{$FromDate_value}&nbsp;
		</div>
	</div>
{END FromDate_fieldblock}
					{BEGIN ToDate_fieldblock}
	<div class="{$fielddispclass_ToDate} col-md-6 bs-viewcontrolgroup" data-fieldname="ToDate">
		<label class="control-label" for="{$labelfor_ToDate}">
			{$label leaves11 ToDate}
		</label>
		<div class="" >
			{$ToDate_value}&nbsp;
		</div>
	</div>
{END ToDate_fieldblock}
					{BEGIN Reason_fieldblock}
	<div class="{$fielddispclass_Reason} col-md-6 bs-viewcontrolgroup" data-fieldname="Reason">
		<label class="control-label" for="{$labelfor_Reason}">
			{$label leaves11 Reason}
		</label>
		<div class="" >
			{$Reason_value}&nbsp;
		</div>
	</div>
{END Reason_fieldblock}
					{BEGIN FirstHalf_fieldblock}
	<div class="{$fielddispclass_FirstHalf} col-md-6 bs-viewcontrolgroup" data-fieldname="FirstHalf">
		<label class="control-label" for="{$labelfor_FirstHalf}">
			{$label leaves11 FirstHalf}
		</label>
		<div class="" >
			{$FirstHalf_value}&nbsp;
		</div>
	</div>
{END FirstHalf_fieldblock}
					{BEGIN SecondHalf_fieldblock}
	<div class="{$fielddispclass_SecondHalf} col-md-6 bs-viewcontrolgroup" data-fieldname="SecondHalf">
		<label class="control-label" for="{$labelfor_SecondHalf}">
			{$label leaves11 SecondHalf}
		</label>
		<div class="" >
			{$SecondHalf_value}&nbsp;
		</div>
	</div>
{END SecondHalf_fieldblock}
					{BEGIN Days_fieldblock}
	<div class="{$fielddispclass_Days} col-md-6 bs-viewcontrolgroup" data-fieldname="Days">
		<label class="control-label" for="{$labelfor_Days}">
			{$label leaves11 Days}
		</label>
		<div class="" >
			{$Days_value}&nbsp;
		</div>
	</div>
{END Days_fieldblock}
					{BEGIN TotalDays_fieldblock}
	<div class="{$fielddispclass_TotalDays} col-md-6 bs-viewcontrolgroup" data-fieldname="TotalDays">
		<label class="control-label" for="{$labelfor_TotalDays}">
			{$label leaves11 TotalDays}
		</label>
		<div class="" >
			{$TotalDays_value}&nbsp;
		</div>
	</div>
{END TotalDays_fieldblock}
					{BEGIN Superior_fieldblock}
	<div class="{$fielddispclass_Superior} col-md-6 bs-viewcontrolgroup" data-fieldname="Superior">
		<label class="control-label" for="{$labelfor_Superior}">
			{$label leaves11 Superior}
		</label>
		<div class="" >
			{$Superior_value}&nbsp;
		</div>
	</div>
{END Superior_fieldblock}
					{BEGIN 1stApproval_fieldblock}
	<div class="{$fielddispclass_1stApproval} col-md-6 bs-viewcontrolgroup" data-fieldname="1stApproval">
		<label class="control-label" for="{$labelfor_1stApproval}">
			{$label leaves11 1stApproval}
		</label>
		<div class="" >
			{$1stApproval_value}&nbsp;
		</div>
	</div>
{END 1stApproval_fieldblock}
					{BEGIN Superior2_fieldblock}
	<div class="{$fielddispclass_Superior2} col-md-6 bs-viewcontrolgroup" data-fieldname="Superior2">
		<label class="control-label" for="{$labelfor_Superior2}">
			{$label leaves11 Superior2}
		</label>
		<div class="" >
			{$Superior2_value}&nbsp;
		</div>
	</div>
{END Superior2_fieldblock}
					{BEGIN 2ndApproval_fieldblock}
	<div class="{$fielddispclass_2ndApproval} col-md-6 bs-viewcontrolgroup" data-fieldname="2ndApproval">
		<label class="control-label" for="{$labelfor_2ndApproval}">
			{$label leaves11 2ndApproval}
		</label>
		<div class="" >
			{$2ndApproval_value}&nbsp;
		</div>
	</div>
{END 2ndApproval_fieldblock}
					{BEGIN Approved_fieldblock}
	<div class="{$fielddispclass_Approved} col-md-6 bs-viewcontrolgroup" data-fieldname="Approved">
		<label class="control-label" for="{$labelfor_Approved}">
			{$label leaves11 Approved}
		</label>
		<div class="" >
			{$Approved_value}&nbsp;
		</div>
	</div>
{END Approved_fieldblock}
					{BEGIN ApprovedDate_fieldblock}
	<div class="{$fielddispclass_ApprovedDate} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedDate">
		<label class="control-label" for="{$labelfor_ApprovedDate}">
			{$label leaves11 ApprovedDate}
		</label>
		<div class="" >
			{$ApprovedDate_value}&nbsp;
		</div>
	</div>
{END ApprovedDate_fieldblock}
					{BEGIN ApprovedTime_fieldblock}
	<div class="{$fielddispclass_ApprovedTime} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedTime">
		<label class="control-label" for="{$labelfor_ApprovedTime}">
			{$label leaves11 ApprovedTime}
		</label>
		<div class="" >
			{$ApprovedTime_value}&nbsp;
		</div>
	</div>
{END ApprovedTime_fieldblock}
					{BEGIN Approvedby_fieldblock}
	<div class="{$fielddispclass_Approvedby} col-md-6 bs-viewcontrolgroup" data-fieldname="Approvedby">
		<label class="control-label" for="{$labelfor_Approvedby}">
			{$label leaves11 Approvedby}
		</label>
		<div class="" >
			{$Approvedby_value}&nbsp;
		</div>
	</div>
{END Approvedby_fieldblock}
					{BEGIN Posted_fieldblock}
	<div class="{$fielddispclass_Posted} col-md-6 bs-viewcontrolgroup" data-fieldname="Posted">
		<label class="control-label" for="{$labelfor_Posted}">
			{$label leaves11 Posted}
		</label>
		<div class="" >
			{$Posted_value}&nbsp;
		</div>
	</div>
{END Posted_fieldblock}
					{BEGIN Locked_fieldblock}
	<div class="{$fielddispclass_Locked} col-md-6 bs-viewcontrolgroup" data-fieldname="Locked">
		<label class="control-label" for="{$labelfor_Locked}">
			{$label leaves11 Locked}
		</label>
		<div class="" >
			{$Locked_value}&nbsp;
		</div>
	</div>
{END Locked_fieldblock}
			</div>
	<div class="bs-2column">
			
			

{BEGIN details_leaveremarks}
<div data-pageid="1" data-container="detailscontainer" class=" bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">Leave Remarks</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_leaveremarks}
		</div>
	</div>
</div>
{END details_leaveremarks}
	
	</div>
	<div class="container">
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
