<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel leaves11 edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN Reason_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Reason}" data-fieldname="Reason" data-signal-error-for="Reason{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Reason}">
		{BEGIN Reason_label}{$label leaves11 Reason}{END Reason_label}
	</label>
	<div class="col-md-6" >
		{$Reason_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Reason">
		<div class="text-muted" >
		{$tooltip leaves11 Reason}
		</div>
	</div>
</div>
</div>
{END Reason_fieldblock}

			{BEGIN DateCreated_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DateCreated}" data-fieldname="DateCreated" data-signal-error-for="DateCreated{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DateCreated}">
		{BEGIN DateCreated_label}{$label leaves11 DateCreated}{END DateCreated_label}
	</label>
	<div class="col-md-6" >
		{$DateCreated_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DateCreated">
		<div class="text-muted" >
		{$tooltip leaves11 DateCreated}
		</div>
	</div>
</div>
</div>
{END DateCreated_fieldblock}

			{BEGIN LeaveType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LeaveType}" data-fieldname="LeaveType" data-signal-error-for="LeaveType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LeaveType}">
		{BEGIN LeaveType_label}{$label leaves11 LeaveType}{END LeaveType_label}
	</label>
	<div class="col-md-6" >
		{$LeaveType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LeaveType">
		<div class="text-muted" >
		{$tooltip leaves11 LeaveType}
		</div>
	</div>
</div>
</div>
{END LeaveType_fieldblock}

			{BEGIN EmployeeID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
		{BEGIN EmployeeID_label}{$label leaves11 EmployeeID}{END EmployeeID_label}
	</label>
	<div class="col-md-6" >
		{$EmployeeID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EmployeeID">
		<div class="text-muted" >
		{$tooltip leaves11 EmployeeID}
		</div>
	</div>
</div>
</div>
{END EmployeeID_fieldblock}

			{BEGIN FromDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FromDate}" data-fieldname="FromDate" data-signal-error-for="FromDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FromDate}">
		{BEGIN FromDate_label}{$label leaves11 FromDate}{END FromDate_label}
	</label>
	<div class="col-md-6" >
		{$FromDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FromDate">
		<div class="text-muted" >
		{$tooltip leaves11 FromDate}
		</div>
	</div>
</div>
</div>
{END FromDate_fieldblock}

			{BEGIN ToDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ToDate}" data-fieldname="ToDate" data-signal-error-for="ToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ToDate}">
		{BEGIN ToDate_label}{$label leaves11 ToDate}{END ToDate_label}
	</label>
	<div class="col-md-6" >
		{$ToDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ToDate">
		<div class="text-muted" >
		{$tooltip leaves11 ToDate}
		</div>
	</div>
</div>
</div>
{END ToDate_fieldblock}

			{BEGIN FirstHalf_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FirstHalf}" data-fieldname="FirstHalf" data-signal-error-for="FirstHalf{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FirstHalf}">
		{BEGIN FirstHalf_label}{$label leaves11 FirstHalf}{END FirstHalf_label}
	</label>
	<div class="col-md-6" >
		{$FirstHalf_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FirstHalf">
		<div class="text-muted" >
		{$tooltip leaves11 FirstHalf}
		</div>
	</div>
</div>
</div>
{END FirstHalf_fieldblock}

			{BEGIN SecondHalf_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SecondHalf}" data-fieldname="SecondHalf" data-signal-error-for="SecondHalf{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SecondHalf}">
		{BEGIN SecondHalf_label}{$label leaves11 SecondHalf}{END SecondHalf_label}
	</label>
	<div class="col-md-6" >
		{$SecondHalf_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SecondHalf">
		<div class="text-muted" >
		{$tooltip leaves11 SecondHalf}
		</div>
	</div>
</div>
</div>
{END SecondHalf_fieldblock}

			{BEGIN Days_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Days}" data-fieldname="Days" data-signal-error-for="Days{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Days}">
		{BEGIN Days_label}{$label leaves11 Days}{END Days_label}
	</label>
	<div class="col-md-6" >
		{$Days_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Days">
		<div class="text-muted" >
		{$tooltip leaves11 Days}
		</div>
	</div>
</div>
</div>
{END Days_fieldblock}

			{BEGIN Approved_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Approved}" data-fieldname="Approved" data-signal-error-for="Approved{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Approved}">
		{BEGIN Approved_label}{$label leaves11 Approved}{END Approved_label}
	</label>
	<div class="col-md-6" >
		{$Approved_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Approved">
		<div class="text-muted" >
		{$tooltip leaves11 Approved}
		</div>
	</div>
</div>
</div>
{END Approved_fieldblock}

			{BEGIN ApprovedDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedDate}" data-fieldname="ApprovedDate" data-signal-error-for="ApprovedDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedDate}">
		{BEGIN ApprovedDate_label}{$label leaves11 ApprovedDate}{END ApprovedDate_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedDate">
		<div class="text-muted" >
		{$tooltip leaves11 ApprovedDate}
		</div>
	</div>
</div>
</div>
{END ApprovedDate_fieldblock}

			{BEGIN ApprovedTime_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedTime}" data-fieldname="ApprovedTime" data-signal-error-for="ApprovedTime{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedTime}">
		{BEGIN ApprovedTime_label}{$label leaves11 ApprovedTime}{END ApprovedTime_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedTime_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedTime">
		<div class="text-muted" >
		{$tooltip leaves11 ApprovedTime}
		</div>
	</div>
</div>
</div>
{END ApprovedTime_fieldblock}

			{BEGIN Approvedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Approvedby}" data-fieldname="Approvedby" data-signal-error-for="Approvedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Approvedby}">
		{BEGIN Approvedby_label}{$label leaves11 Approvedby}{END Approvedby_label}
	</label>
	<div class="col-md-6" >
		{$Approvedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Approvedby">
		<div class="text-muted" >
		{$tooltip leaves11 Approvedby}
		</div>
	</div>
</div>
</div>
{END Approvedby_fieldblock}

			{BEGIN Posted_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Posted}" data-fieldname="Posted" data-signal-error-for="Posted{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Posted}">
		{BEGIN Posted_label}{$label leaves11 Posted}{END Posted_label}
	</label>
	<div class="col-md-6" >
		{$Posted_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Posted">
		<div class="text-muted" >
		{$tooltip leaves11 Posted}
		</div>
	</div>
</div>
</div>
{END Posted_fieldblock}

			{BEGIN Locked_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Locked}" data-fieldname="Locked" data-signal-error-for="Locked{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Locked}">
		{BEGIN Locked_label}{$label leaves11 Locked}{END Locked_label}
	</label>
	<div class="col-md-6" >
		{$Locked_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Locked">
		<div class="text-muted" >
		{$tooltip leaves11 Locked}
		</div>
	</div>
</div>
</div>
{END Locked_fieldblock}

			{BEGIN Superior_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Superior}" data-fieldname="Superior" data-signal-error-for="Superior{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Superior}">
		{BEGIN Superior_label}{$label leaves11 Superior}{END Superior_label}
	</label>
	<div class="col-md-6" >
		{$Superior_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Superior">
		<div class="text-muted" >
		{$tooltip leaves11 Superior}
		</div>
	</div>
</div>
</div>
{END Superior_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
