<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control 
	field="DType">
	{$DType_editcontrol}
	</control>
	<control 
	field="PaymentPeriod">
	{$PaymentPeriod_editcontrol}
	</control>
	<control 
	field="LoanDescription">
	{$LoanDescription_editcontrol}
	</control>
	<control 
	field="OPrincipal">
	{$OPrincipal_editcontrol}
	</control>
	<control 
	field="Principal">
	{$Principal_editcontrol}
	</control>
	<control 
	field="PerDay">
	{$PerDay_editcontrol}
	</control>
	<control 
	field="PerPayrollAmount">
	{$PerPayrollAmount_editcontrol}
	</control>
	<control 
	field="MonthlyAmortization">
	{$MonthlyAmortization_editcontrol}
	</control>
	<control 
	field="LessAbsences">
	{$LessAbsences_editcontrol}
	</control>
	<control 
	field="StartDate">
	{$StartDate_editcontrol}
	</control>
	<control 
	field="Inactive">
	{$Inactive_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
