<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel loanbalance3 search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN LoanType_fieldblock}		
	<div class="container {$fielddispclass_LoanType}" data-fieldname="LoanType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LoanType}">
				{$label loanbalance3 LoanType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LoanType}
			</div>
			<div class="col-md-4" >
				{$LoanType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LoanType_editcontrol1}
			</div>
		</div>
	</div>
{END LoanType_fieldblock}
	{BEGIN LoanID_fieldblock}		
	<div class="container {$fielddispclass_LoanID}" data-fieldname="LoanID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LoanID}">
				{$label loanbalance3 LoanID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LoanID}
			</div>
			<div class="col-md-4" >
				{$LoanID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LoanID_editcontrol1}
			</div>
		</div>
	</div>
{END LoanID_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label loanbalance3 EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN LoanDescription_fieldblock}		
	<div class="container {$fielddispclass_LoanDescription}" data-fieldname="LoanDescription">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LoanDescription}">
				{$label loanbalance3 LoanDescription}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LoanDescription}
			</div>
			<div class="col-md-4" >
				{$LoanDescription_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LoanDescription_editcontrol1}
			</div>
		</div>
	</div>
{END LoanDescription_fieldblock}
	{BEGIN StartDate_fieldblock}		
	<div class="container {$fielddispclass_StartDate}" data-fieldname="StartDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_StartDate}">
				{$label loanbalance3 StartDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_StartDate}
			</div>
			<div class="col-md-4" >
				{$StartDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$StartDate_editcontrol1}
			</div>
		</div>
	</div>
{END StartDate_fieldblock}
	{BEGIN Principal_fieldblock}		
	<div class="container {$fielddispclass_Principal}" data-fieldname="Principal">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Principal}">
				{$label loanbalance3 Principal}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Principal}
			</div>
			<div class="col-md-4" >
				{$Principal_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Principal_editcontrol1}
			</div>
		</div>
	</div>
{END Principal_fieldblock}
	{BEGIN PerPayrollAmount_fieldblock}		
	<div class="container {$fielddispclass_PerPayrollAmount}" data-fieldname="PerPayrollAmount">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PerPayrollAmount}">
				{$label loanbalance3 PerPayrollAmount}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PerPayrollAmount}
			</div>
			<div class="col-md-4" >
				{$PerPayrollAmount_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PerPayrollAmount_editcontrol1}
			</div>
		</div>
	</div>
{END PerPayrollAmount_fieldblock}
	{BEGIN Payment_fieldblock}		
	<div class="container {$fielddispclass_Payment}" data-fieldname="Payment">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Payment}">
				{$label loanbalance3 Payment}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Payment}
			</div>
			<div class="col-md-4" >
				{$Payment_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Payment_editcontrol1}
			</div>
		</div>
	</div>
{END Payment_fieldblock}
	{BEGIN Balance_fieldblock}		
	<div class="container {$fielddispclass_Balance}" data-fieldname="Balance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Balance}">
				{$label loanbalance3 Balance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Balance}
			</div>
			<div class="col-md-4" >
				{$Balance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Balance_editcontrol1}
			</div>
		</div>
	</div>
{END Balance_fieldblock}
	{BEGIN ForPayment_fieldblock}		
	<div class="container {$fielddispclass_ForPayment}" data-fieldname="ForPayment">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ForPayment}">
				{$label loanbalance3 ForPayment}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ForPayment}
			</div>
			<div class="col-md-4" >
				{$ForPayment_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ForPayment_editcontrol1}
			</div>
		</div>
	</div>
{END ForPayment_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
