<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Month">
	{$Month_editcontrol}
	</control>
	<control 
	field="Year">
	{$Year_editcontrol}
	</control>
	<control 
	field="AmendedReturn">
	{$AmendedReturn_editcontrol}
	</control>
	<control 
	field="AnyTaxWithheld">
	{$AnyTaxWithheld_editcontrol}
	</control>
	<control 
	field="EmployerID">
	{$EmployerID_editcontrol}
	</control>
	<control 
	field="TIN">
	{$TIN_editcontrol}
	</control>
	<control 
	field="TelNo">
	{$TelNo_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="ZipCode">
	{$ZipCode_editcontrol}
	</control>
	<control 
	field="RDOCode">
	{$RDOCode_editcontrol}
	</control>
	<control 
	field="CategoryWithholdingAgent">
	{$CategoryWithholdingAgent_editcontrol}
	</control>
	<control 
	field="AwaitingTaxRelief">
	{$AwaitingTaxRelief_editcontrol}
	</control>
	<control 
	field="TotalAmountOfCompensation">
	{$TotalAmountOfCompensation_editcontrol}
	</control>
	<control 
	field="StatutoryMinimumWage">
	{$StatutoryMinimumWage_editcontrol}
	</control>
	<control 
	field="OtherNonTaxableCompensation">
	{$OtherNonTaxableCompensation_editcontrol}
	</control>
	<control 
	field="TaxableCompensation">
	{$TaxableCompensation_editcontrol}
	</control>
	<control 
	field="TaxRequiredToBeWithheld">
	{$TaxRequiredToBeWithheld_editcontrol}
	</control>
	<control 
	field="TaxRefund">
	{$TaxRefund_editcontrol}
	</control>
	<control 
	field="TaxRequiredForRemittance">
	{$TaxRequiredForRemittance_editcontrol}
	</control>
	<control 
	field="TotalAmountStillDue">
	{$TotalAmountStillDue_editcontrol}
	</control>
	<control 
	field="AuthorizedRepresentative">
	{$AuthorizedRepresentative_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
