<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel notes search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN NID_fieldblock}		
	<div class="container {$fielddispclass_NID}" data-fieldname="NID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NID}">
				{$label notes NID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NID}
			</div>
			<div class="col-md-4" >
				{$NID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NID_editcontrol1}
			</div>
		</div>
	</div>
{END NID_fieldblock}
	{BEGIN CreatedDate_fieldblock}		
	<div class="container {$fielddispclass_CreatedDate}" data-fieldname="CreatedDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CreatedDate}">
				{$label notes CreatedDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CreatedDate}
			</div>
			<div class="col-md-4" >
				{$CreatedDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CreatedDate_editcontrol1}
			</div>
		</div>
	</div>
{END CreatedDate_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label notes EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN NoteType_fieldblock}		
	<div class="container {$fielddispclass_NoteType}" data-fieldname="NoteType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NoteType}">
				{$label notes NoteType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NoteType}
			</div>
			<div class="col-md-4" >
				{$NoteType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NoteType_editcontrol1}
			</div>
		</div>
	</div>
{END NoteType_fieldblock}
	{BEGIN StartDate_fieldblock}		
	<div class="container {$fielddispclass_StartDate}" data-fieldname="StartDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_StartDate}">
				{$label notes StartDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_StartDate}
			</div>
			<div class="col-md-4" >
				{$StartDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$StartDate_editcontrol1}
			</div>
		</div>
	</div>
{END StartDate_fieldblock}
	{BEGIN EndDate_fieldblock}		
	<div class="container {$fielddispclass_EndDate}" data-fieldname="EndDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EndDate}">
				{$label notes EndDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EndDate}
			</div>
			<div class="col-md-4" >
				{$EndDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EndDate_editcontrol1}
			</div>
		</div>
	</div>
{END EndDate_fieldblock}
	{BEGIN Remarks_fieldblock}		
	<div class="container {$fielddispclass_Remarks}" data-fieldname="Remarks">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Remarks}">
				{$label notes Remarks}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Remarks}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Remarks_editcontrol1}
			</div>
		</div>
	</div>
{END Remarks_fieldblock}
	{BEGIN UploadFile_fieldblock}		
	<div class="container {$fielddispclass_UploadFile}" data-fieldname="UploadFile">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UploadFile}">
				{$label notes UploadFile}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UploadFile}
			</div>
			<div class="col-md-4" >
				{$UploadFile_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UploadFile_editcontrol1}
			</div>
		</div>
	</div>
{END UploadFile_fieldblock}
	{BEGIN Status_fieldblock}		
	<div class="container {$fielddispclass_Status}" data-fieldname="Status">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Status}">
				{$label notes Status}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Status}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol1}
			</div>
		</div>
	</div>
{END Status_fieldblock}
	{BEGIN NotifyDays_fieldblock}		
	<div class="container {$fielddispclass_NotifyDays}" data-fieldname="NotifyDays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NotifyDays}">
				{$label notes NotifyDays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NotifyDays}
			</div>
			<div class="col-md-4" >
				{$NotifyDays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NotifyDays_editcontrol1}
			</div>
		</div>
	</div>
{END NotifyDays_fieldblock}
	{BEGIN NotifyDaysLeft_fieldblock}		
	<div class="container {$fielddispclass_NotifyDaysLeft}" data-fieldname="NotifyDaysLeft">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NotifyDaysLeft}">
				{$label notes NotifyDaysLeft}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NotifyDaysLeft}
			</div>
			<div class="col-md-4" >
				{$NotifyDaysLeft_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NotifyDaysLeft_editcontrol1}
			</div>
		</div>
	</div>
{END NotifyDaysLeft_fieldblock}
	{BEGIN DaysLeft_fieldblock}		
	<div class="container {$fielddispclass_DaysLeft}" data-fieldname="DaysLeft">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DaysLeft}">
				{$label notes DaysLeft}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DaysLeft}
			</div>
			<div class="col-md-4" >
				{$DaysLeft_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DaysLeft_editcontrol1}
			</div>
		</div>
	</div>
{END DaysLeft_fieldblock}
	{BEGIN Closed_fieldblock}		
	<div class="container {$fielddispclass_Closed}" data-fieldname="Closed">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Closed}">
				{$label notes Closed}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Closed}
			</div>
			<div class="col-md-4" >
				{$Closed_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Closed_editcontrol1}
			</div>
		</div>
	</div>
{END Closed_fieldblock}
	{BEGIN Encodedby_fieldblock}		
	<div class="container {$fielddispclass_Encodedby}" data-fieldname="Encodedby">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Encodedby}">
				{$label notes Encodedby}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Encodedby}
			</div>
			<div class="col-md-4" >
				{$Encodedby_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Encodedby_editcontrol1}
			</div>
		</div>
	</div>
{END Encodedby_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
