<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CreatedDate">
	{$CreatedDate_editcontrol}
	</control>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="NoteType">
	{$NoteType_editcontrol}
	</control>
	<control field="StartDate">
	{$StartDate_editcontrol}
	</control>
	<control field="EndDate">
	{$EndDate_editcontrol}
	</control>
	<control field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<control field="UploadFile">
	{$UploadFile_editcontrol}
	</control>
	<control field="Status">
	{$Status_editcontrol}
	</control>
	<control field="NotifyDays">
	{$NotifyDays_editcontrol}
	</control>
	<control field="Closed">
	{$Closed_editcontrol}
	</control>
	<control field="Encodedby">
	{$Encodedby_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>