<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CreatedDate">
	{$CreatedDate_editcontrol}
	</control>
	<control field="NStatusDate">
	{$NStatusDate_editcontrol}
	</control>
	<control field="NoteStatus">
	{$NoteStatus_editcontrol}
	</control>
	<control field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<control field="UploadFile">
	{$UploadFile_editcontrol}
	</control>
	<control field="Closed">
	{$Closed_editcontrol}
	</control>
	<control field="Encodedby">
	{$Encodedby_editcontrol}
	</control>
	<control field="NID">
	{$NID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>