<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel notes edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN CreatedDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_CreatedDate}" data-fieldname="CreatedDate" data-signal-error-for="CreatedDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_CreatedDate}">
		{BEGIN CreatedDate_label}{$label notes CreatedDate}{END CreatedDate_label}
	</label>
	<div class="col-md-6" >
		{$CreatedDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="CreatedDate">
		<div class="text-muted" >
		{$tooltip notes CreatedDate}
		</div>
	</div>
</div>
</div>
{END CreatedDate_fieldblock}

			{BEGIN EmployeeID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
		{BEGIN EmployeeID_label}{$label notes EmployeeID}{END EmployeeID_label}
	</label>
	<div class="col-md-6" >
		{$EmployeeID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EmployeeID">
		<div class="text-muted" >
		{$tooltip notes EmployeeID}
		</div>
	</div>
</div>
</div>
{END EmployeeID_fieldblock}

			{BEGIN NoteType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NoteType}" data-fieldname="NoteType" data-signal-error-for="NoteType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NoteType}">
		{BEGIN NoteType_label}{$label notes NoteType}{END NoteType_label}
	</label>
	<div class="col-md-6" >
		{$NoteType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NoteType">
		<div class="text-muted" >
		{$tooltip notes NoteType}
		</div>
	</div>
</div>
</div>
{END NoteType_fieldblock}

			{BEGIN StartDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_StartDate}" data-fieldname="StartDate" data-signal-error-for="StartDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_StartDate}">
		{BEGIN StartDate_label}{$label notes StartDate}{END StartDate_label}
	</label>
	<div class="col-md-6" >
		{$StartDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="StartDate">
		<div class="text-muted" >
		{$tooltip notes StartDate}
		</div>
	</div>
</div>
</div>
{END StartDate_fieldblock}

			{BEGIN EndDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EndDate}" data-fieldname="EndDate" data-signal-error-for="EndDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EndDate}">
		{BEGIN EndDate_label}{$label notes EndDate}{END EndDate_label}
	</label>
	<div class="col-md-6" >
		{$EndDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EndDate">
		<div class="text-muted" >
		{$tooltip notes EndDate}
		</div>
	</div>
</div>
</div>
{END EndDate_fieldblock}

			{BEGIN Remarks_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Remarks}" data-fieldname="Remarks" data-signal-error-for="Remarks{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label notes Remarks}{END Remarks_label}
	</label>
	<div class="col-md-6" >
		{$Remarks_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip notes Remarks}
		</div>
	</div>
</div>
</div>
{END Remarks_fieldblock}

			{BEGIN UploadFile_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_UploadFile}" data-fieldname="UploadFile" data-signal-error-for="UploadFile{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_UploadFile}">
		{BEGIN UploadFile_label}{$label notes UploadFile}{END UploadFile_label}
	</label>
	<div class="col-md-6" >
		{$UploadFile_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="UploadFile">
		<div class="text-muted" >
		{$tooltip notes UploadFile}
		</div>
	</div>
</div>
</div>
{END UploadFile_fieldblock}

			{BEGIN Status_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Status}" data-fieldname="Status" data-signal-error-for="Status{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Status}">
		{BEGIN Status_label}{$label notes Status}{END Status_label}
	</label>
	<div class="col-md-6" >
		{$Status_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Status">
		<div class="text-muted" >
		{$tooltip notes Status}
		</div>
	</div>
</div>
</div>
{END Status_fieldblock}

			{BEGIN NotifyDays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NotifyDays}" data-fieldname="NotifyDays" data-signal-error-for="NotifyDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NotifyDays}">
		{BEGIN NotifyDays_label}{$label notes NotifyDays}{END NotifyDays_label}
	</label>
	<div class="col-md-6" >
		{$NotifyDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NotifyDays">
		<div class="text-muted" >
		{$tooltip notes NotifyDays}
		</div>
	</div>
</div>
</div>
{END NotifyDays_fieldblock}

			{BEGIN Closed_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Closed}" data-fieldname="Closed" data-signal-error-for="Closed{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Closed}">
		{BEGIN Closed_label}{$label notes Closed}{END Closed_label}
	</label>
	<div class="col-md-6" >
		{$Closed_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Closed">
		<div class="text-muted" >
		{$tooltip notes Closed}
		</div>
	</div>
</div>
</div>
{END Closed_fieldblock}

			{BEGIN Encodedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Encodedby}" data-fieldname="Encodedby" data-signal-error-for="Encodedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Encodedby}">
		{BEGIN Encodedby_label}{$label notes Encodedby}{END Encodedby_label}
	</label>
	<div class="col-md-6" >
		{$Encodedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Encodedby">
		<div class="text-muted" >
		{$tooltip notes Encodedby}
		</div>
	</div>
</div>
</div>
{END Encodedby_fieldblock}

			
		





{BEGIN details_notestatus}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">Note Status
		<span>
{BEGIN details_inlineadd_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_notestatus_attrs}>Inline Add</button>
{END details_inlineadd_notestatus_link}		
{BEGIN details_add_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_notestatus_attrs}>Add new</button>
{END details_add_notestatus_link}
{BEGIN details_edit_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_notestatus_attrs}>Edit</button>
{END details_edit_notestatus_link}
{BEGIN details_updateselected_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_notestatus_attrs}>Update selected</button>
{END details_updateselected_notestatus_link}


{BEGIN details_delete_notestatus_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_notestatus_attrs}>Delete</button>
{END details_delete_notestatus_link}

{BEGIN saveall_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_notestatus_attrs} {$savealllink_notestatus_span}>Save all</button>
{END saveall_notestatus_link}
{BEGIN cancelall_notestatus_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_notestatus_attrs} {$cancelalllink_notestatus_span}>Cancel</button>
{END cancelall_notestatus_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_notestatus}
</div>
</div>
</div>
{END details_notestatus}
	
	
	


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN updsel_button}
	<button class="btn btn-primary" {$updselbutton_attrs}>{$update_selected}</button>
	{END updsel_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
