<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}<style>
{$containerCss}
</style>
<div class="sidebar bs-fixed clearfix mCustomScrollbar" data-mcs-theme="minimal-dark" {$blockattr_left}>
	<div class="sidebar-contents mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside">
		

{BEGIN container_logo}<div {$logo_chiddenattr} data-pageid="{$pageid}" data-container="logo" class=" bs-sidebarlogo   "> 

{BEGIN logo_block}<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}



</div>
{END container_logo}



{BEGIN container_hdr}<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-default clearfix   "> 

{BEGIN collapse_block}<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}

{BEGIN container_sidemenu}<div {$sidemenu_chiddenattr} data-pageid="{$pageid}" data-container="sidemenu" class="bs-navform navbar-collapse sidebar-menu bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   
{BEGIN menu_block}{$menu main}

{END menu_block}

												</div>						{END container_sidemenu}

{BEGIN container_left}<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class=" sidebar-container   "> 

{BEGIN searchPanel}<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>
		Show all
		</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


	</div>
</div>	
<div class="bs-wrapper">
	<div class="bs-fixedheader" id="fixedheader{$id}">
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default bs-fullwidth-navbar">					



{BEGIN container_bc}<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class=" navbar-form navbar-left   "> 

{BEGIN breadcrumbs}<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}<li class="{$crumb_item_class}">
{BEGIN crumb_title_link}<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   



{BEGIN container_more}<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
				{BEGIN editselected_link}<li class="massButton{$id} disabled"><a href="#" {$editselectedlink_attrs} {$editselectedlink_span} >Edit selected</a></li>
		{END editselected_link}

				{BEGIN exportselected_link}<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Export selected</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Delete selected</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}<li><a href="overtimes_search.php" {$advsearchlink_attrs}>Advanced search</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}<li><a href=# id="showOptPanel{$id}">Show search panel</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}<li><a target="_blank" href="overtimes_export.php"  {$exportlink_attrs}>Export results</a></li>
		{END export_link}

				{BEGIN import_link}<li><a href="overtimes_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Import</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Login</button>
	{END guestloginbutton}
	{BEGIN loggedas_message}<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}<li><a href="#" {$logoutlink_attrs}>Log out</a></li>
		{END logoutbutton}
		
		{BEGIN adminarea_link}<li><a href="admin_rights_list.php" {$adminarealink_attrs}>Admin Area</a></li>
		{END adminarea_link}


			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
	</div>	
	<div class="container-fluid bs-underheader bs-fixedsidebarmain" id="underheader{$id}">
		{$header}
		<div class="bs-sidebar-screenbound">
			



{BEGIN container_gridcontrols}<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class=" bs-navcontrolled bs-hidden-xs   "> 




{BEGIN container_add_delete}<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}{BEGIN add_link}<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Add new</a>
	{END add_link}

		{BEGIN inlineadd_link}<button {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$inlineaddlink_attrs}>Inline Add</button>
	{END inlineadd_link}

{END newrecord_controls_block}


{BEGIN record_controls_block}<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>Delete</button>
	{END deleteselected_link}
		{BEGIN updateselected_link}<button type="button" class="btn btn-default" {$updateselectedlink_attrs} disabled>Update selected</button>
	{END updateselected_link}
		{BEGIN saveall_link}<button type="button" class="btn btn-primary" {$savealllink_attrs} {$savealllink_span}>Save all</button>
	{END saveall_link}
	{BEGIN cancelall_link}<button type="button" class="btn btn-default" {$cancelalllink_attrs} {$cancelalllink_span}>Cancel</button>
	{END cancelall_link}
</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin text-right col-md-6 "> 

{BEGIN details_found}<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print-friendly page">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Scope:</div>
										{BEGIN print_friendly_all}<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="overtimes_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Print all pages
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="overtimes_print.php?{$crosstable_attrs}" name="printScope" checked>
							Print this page
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							Print selected
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

				<li>			
		{BEGIN print_details}<div class="rnr-printdetails">
				<label for="printDetailsToggler{$id}">
					<input type="checkbox" id="printDetailsToggler{$id}">
					Print details
				</label>
				<div class="rnr-printdetailstables"  id="printdetailstables{$id}" style="display:none;">
					{BEGIN print_details_overtimetab}<div class="rnr-printdetialstable">
								<label for="printDetailsovertimetab{$id}">
									<input type="checkbox" value="overtimetab" id="printDetailsovertimetab{$id}" checked>
									Overtimetab
								</label>
							</div>
					{END print_details_overtimetab}
				</div>
			</div>
		{END print_details}
		</li>
		<li class="divider" role="separator"></li>

				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Records Per Page:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Print</button>			
		</li>
	</ul>	
</span>

{END print_friendly}




</div>
{END container_gridinfo}







</div>
{END container_gridcontrols}


		</div>
		<div></div>
		<div class="bs-sidebar-screenbound bs-minwidth">
			

{BEGIN container_tabs}<div {$tabs_chiddenattr} data-pageid="{$pageid}" data-container="tabs" class="    "> 

{BEGIN grid_tabs}<div {$bsgrid_tabs_hiddenattr} data-pageid="{$pageid}" data-brick="bsgrid_tabs">
<ul class="nav nav-tabs">
{$grid_tabs_content}
</ul>
</div>
{END grid_tabs}



</div>
{END container_tabs}



{BEGIN container_message}<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="    "> 

{BEGIN message_block}<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}



{BEGIN container_center}<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}<style>
	.bs-gridcell[data-field=OtiD]:before {
		content: "{$label overtimes OtiD}";
	}
	.bs-gridcell[data-field=DateCreated]:before {
		content: "{$label overtimes DateCreated}";
	}
	.bs-gridcell[data-field=FromTime]:before {
		content: "{$label overtimes FromTime}";
	}
	.bs-gridcell[data-field=ToTime]:before {
		content: "{$label overtimes ToTime}";
	}
	.bs-gridcell[data-field=Approved]:before {
		content: "{$label overtimes Approved}";
	}
	.bs-gridcell[data-field=Approvedby]:before {
		content: "{$label overtimes Approvedby}";
	}
	.bs-gridcell[data-field=ApprovedTime]:before {
		content: "{$label overtimes ApprovedTime}";
	}
	.bs-gridcell[data-field=Posted]:before {
		content: "{$label overtimes Posted}";
	}
	.bs-gridcell[data-field=NoMins]:before {
		content: "{$label overtimes NoMins}";
	}
	.bs-gridcell[data-field=ApprovedDate]:before {
		content: "{$label overtimes ApprovedDate}";
	}
	.bs-gridcell[data-field=Reason]:before {
		content: "{$label overtimes Reason}";
	}
	.bs-gridcell[data-field=Employer]:before {
		content: "{$label overtimes Employer}";
	}
	.bs-gridcell[data-field=Division]:before {
		content: "{$label overtimes Division}";
	}
	.bs-gridcell[data-field=CostCenter]:before {
		content: "{$label overtimes CostCenter}";
	}
	.bs-gridcell[data-field=AllEmployees]:before {
		content: "{$label overtimes AllEmployees}";
	}
	.bs-gridcell[data-field=DateOT]:before {
		content: "{$label overtimes DateOT}";
	}
	.bs-gridcell[data-field=PreparedBy]:before {
		content: "{$label overtimes PreparedBy}";
	}
	.bs-gridcell[data-field=Remarks]:before {
		content: "{$label overtimes Remarks}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}{BEGIN listIcons_column}<TH style="width: 56px;" ieditcont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}<TH><input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		{BEGIN overtimes_dtable_column}<th >&nbsp;</th>
									{END overtimes_dtable_column}
									
									{BEGIN OtiD_fieldheadercolumn}<th class="rnr-gridfieldlabel {$OtiD_class}" data-field=OtiD>
									{BEGIN OtiD_fieldheader}<span {$OtiD_orderlinkattrs}>
											{$label overtimes OtiD}
										</span>
									{END OtiD_fieldheader}
									</th>
									{END OtiD_fieldheadercolumn}
									
									
									
									
									{BEGIN DateOT_fieldheadercolumn}<th class="rnr-gridfieldlabel {$DateOT_class}" data-field=DateOT>
									{BEGIN DateOT_fieldheader}<span {$DateOT_orderlinkattrs}>
											{$label overtimes DateOT}
										</span>
									{END DateOT_fieldheader}
									</th>
									{END DateOT_fieldheadercolumn}
									
									
									
									
									{BEGIN Employer_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Employer_class}" data-field=Employer>
									{BEGIN Employer_fieldheader}<span {$Employer_orderlinkattrs}>
											{$label overtimes Employer}
										</span>
									{END Employer_fieldheader}
									</th>
									{END Employer_fieldheadercolumn}
									
									
									
									
									{BEGIN Division_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Division_class}" data-field=Division>
									{BEGIN Division_fieldheader}<span {$Division_orderlinkattrs}>
											{$label overtimes Division}
										</span>
									{END Division_fieldheader}
									</th>
									{END Division_fieldheadercolumn}
									
									
									
									
									{BEGIN AllEmployees_fieldheadercolumn}<th class="rnr-gridfieldlabel {$AllEmployees_class}" data-field=AllEmployees>
									{BEGIN AllEmployees_fieldheader}<span {$AllEmployees_orderlinkattrs}>
											{$label overtimes AllEmployees}
										</span>
									{END AllEmployees_fieldheader}
									</th>
									{END AllEmployees_fieldheadercolumn}
									
									
									
									
									{BEGIN FromTime_fieldheadercolumn}<th class="rnr-gridfieldlabel {$FromTime_class}" data-field=FromTime>
									{BEGIN FromTime_fieldheader}<span {$FromTime_orderlinkattrs}>
											{$label overtimes FromTime}
										</span>
									{END FromTime_fieldheader}
									</th>
									{END FromTime_fieldheadercolumn}
									
									
									
									
									{BEGIN ToTime_fieldheadercolumn}<th class="rnr-gridfieldlabel {$ToTime_class}" data-field=ToTime>
									{BEGIN ToTime_fieldheader}<span {$ToTime_orderlinkattrs}>
											{$label overtimes ToTime}
										</span>
									{END ToTime_fieldheader}
									</th>
									{END ToTime_fieldheadercolumn}
									
									
									
									
									{BEGIN Reason_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Reason_class}" data-field=Reason>
									{BEGIN Reason_fieldheader}<span {$Reason_orderlinkattrs}>
											{$label overtimes Reason}
										</span>
									{END Reason_fieldheader}
									</th>
									{END Reason_fieldheadercolumn}
									
									
									
									
									{BEGIN NoMins_fieldheadercolumn}<th class="rnr-gridfieldlabel {$NoMins_class}" data-field=NoMins>
									{BEGIN NoMins_fieldheader}<span {$NoMins_orderlinkattrs}>
											{$label overtimes NoMins}
										</span>
									{END NoMins_fieldheader}
									</th>
									{END NoMins_fieldheadercolumn}
									
									
									
									
									{BEGIN CostCenter_fieldheadercolumn}<th class="rnr-gridfieldlabel {$CostCenter_class}" data-field=CostCenter>
									{BEGIN CostCenter_fieldheader}<span {$CostCenter_orderlinkattrs}>
											{$label overtimes CostCenter}
										</span>
									{END CostCenter_fieldheader}
									</th>
									{END CostCenter_fieldheadercolumn}
									
									
									
									
									{BEGIN Remarks_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Remarks_class}" data-field=Remarks>
									{BEGIN Remarks_fieldheader}<span {$Remarks_orderlinkattrs}>
											{$label overtimes Remarks}
										</span>
									{END Remarks_fieldheader}
									</th>
									{END Remarks_fieldheadercolumn}
									
									
									
									
									{BEGIN Approved_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Approved_class}" data-field=Approved>
									{BEGIN Approved_fieldheader}<span {$Approved_orderlinkattrs}>
											{$label overtimes Approved}
										</span>
									{END Approved_fieldheader}
									</th>
									{END Approved_fieldheadercolumn}
									
									
									
									
									{BEGIN Approvedby_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Approvedby_class}" data-field=Approvedby>
									{BEGIN Approvedby_fieldheader}<span {$Approvedby_orderlinkattrs}>
											{$label overtimes Approvedby}
										</span>
									{END Approvedby_fieldheader}
									</th>
									{END Approvedby_fieldheadercolumn}
									
									
									
									
									{BEGIN ApprovedDate_fieldheadercolumn}<th class="rnr-gridfieldlabel {$ApprovedDate_class}" data-field=ApprovedDate>
									{BEGIN ApprovedDate_fieldheader}<span {$ApprovedDate_orderlinkattrs}>
											{$label overtimes ApprovedDate}
										</span>
									{END ApprovedDate_fieldheader}
									</th>
									{END ApprovedDate_fieldheadercolumn}
									
									
									
									
									{BEGIN ApprovedTime_fieldheadercolumn}<th class="rnr-gridfieldlabel {$ApprovedTime_class}" data-field=ApprovedTime>
									{BEGIN ApprovedTime_fieldheader}<span {$ApprovedTime_orderlinkattrs}>
											{$label overtimes ApprovedTime}
										</span>
									{END ApprovedTime_fieldheader}
									</th>
									{END ApprovedTime_fieldheadercolumn}
									
									
									
									
									{BEGIN Posted_fieldheadercolumn}<th class="rnr-gridfieldlabel {$Posted_class}" data-field=Posted>
									{BEGIN Posted_fieldheader}<span {$Posted_orderlinkattrs}>
											{$label overtimes Posted}
										</span>
									{END Posted_fieldheader}
									</th>
									{END Posted_fieldheadercolumn}
									
									
									
									
									{BEGIN DateCreated_fieldheadercolumn}<th class="rnr-gridfieldlabel {$DateCreated_class}" data-field=DateCreated>
									{BEGIN DateCreated_fieldheader}<span {$DateCreated_orderlinkattrs}>
											{$label overtimes DateCreated}
										</span>
									{END DateCreated_fieldheader}
									</th>
									{END DateCreated_fieldheadercolumn}
									
									
									
									
									{BEGIN PreparedBy_fieldheadercolumn}<th class="rnr-gridfieldlabel {$PreparedBy_class}" data-field=PreparedBy>
									{BEGIN PreparedBy_fieldheader}<span {$PreparedBy_orderlinkattrs}>
											{$label overtimes PreparedBy}
										</span>
									{END PreparedBy_fieldheader}
									</th>
									{END PreparedBy_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}<TH class="rnr-cs" style="width: 3px;">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}{BEGIN listIcons_column}<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}{BEGIN edit_link}<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="Edit"></a>
	{END edit_link}
	{END edit_column}

		{BEGIN inlineedit_column}{BEGIN inlineedit_link}<a class="glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Inline Edit"></a>
	{END inlineedit_link}
	{END inlineedit_column}
	
	<span data-hidden {$ieditbuttonsholder_attrs}></span>

		{BEGIN copy_column}{BEGIN copy_link}<a class="glyphicon glyphicon-duplicate" {$copylink_attrs} title="Copy"></a>
	{END copy_link}
	{END copy_column}

		{BEGIN view_column}{BEGIN view_link}<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="View"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

		{BEGIN overtimes_dtable_column}<td class="rnr-nowrap bs-griddetails" {$rowstyle} {$recordattrs}>
	
			{BEGIN dtables_link}<a {$dtables_link_attrs}  title="Show details">
				<span class="badge overtimetab_badge" {$overtimetab_childnumber_attr}>
					<span class="glyphicon glyphicon-th-list"></span> 
					<span class="{$overtimetab_cntspan_class}" >{$overtimetab_childnumber}</span>
				</span></a>
		{END dtables_link}
	
	
	</td>
	{END overtimes_dtable_column}


	{BEGIN OtiD_fieldcolumn}<td class="bs-gridcell {$OtiD_class}"  data-field=OtiD {$rowstyle} {$recordattrs}>
		{$OtiD_value}
	</td>
{END OtiD_fieldcolumn}


	{BEGIN DateOT_fieldcolumn}<td class="bs-gridcell {$DateOT_class}"  data-field=DateOT {$rowstyle} {$recordattrs}>
		{$DateOT_value}
	</td>
{END DateOT_fieldcolumn}


	{BEGIN Employer_fieldcolumn}<td class="bs-gridcell {$Employer_class}"  data-field=Employer {$rowstyle} {$recordattrs}>
		{$Employer_value}
	</td>
{END Employer_fieldcolumn}


	{BEGIN Division_fieldcolumn}<td class="bs-gridcell {$Division_class}"  data-field=Division {$rowstyle} {$recordattrs}>
		{$Division_value}
	</td>
{END Division_fieldcolumn}


	{BEGIN AllEmployees_fieldcolumn}<td class="bs-gridcell {$AllEmployees_class}"  data-field=AllEmployees {$rowstyle} {$recordattrs}>
		{$AllEmployees_value}
	</td>
{END AllEmployees_fieldcolumn}


	{BEGIN FromTime_fieldcolumn}<td class="bs-gridcell {$FromTime_class}"  data-field=FromTime {$rowstyle} {$recordattrs}>
		{$FromTime_value}
	</td>
{END FromTime_fieldcolumn}


	{BEGIN ToTime_fieldcolumn}<td class="bs-gridcell {$ToTime_class}"  data-field=ToTime {$rowstyle} {$recordattrs}>
		{$ToTime_value}
	</td>
{END ToTime_fieldcolumn}


	{BEGIN Reason_fieldcolumn}<td class="bs-gridcell {$Reason_class}"  data-field=Reason {$rowstyle} {$recordattrs}>
		{$Reason_value}
	</td>
{END Reason_fieldcolumn}


	{BEGIN NoMins_fieldcolumn}<td class="bs-gridcell {$NoMins_class}"  data-field=NoMins {$rowstyle} {$recordattrs}>
		{$NoMins_value}
	</td>
{END NoMins_fieldcolumn}


	{BEGIN CostCenter_fieldcolumn}<td class="bs-gridcell {$CostCenter_class}"  data-field=CostCenter {$rowstyle} {$recordattrs}>
		{$CostCenter_value}
	</td>
{END CostCenter_fieldcolumn}


	{BEGIN Remarks_fieldcolumn}<td class="bs-gridcell {$Remarks_class}"  data-field=Remarks {$rowstyle} {$recordattrs}>
		{$Remarks_value}
	</td>
{END Remarks_fieldcolumn}


	{BEGIN Approved_fieldcolumn}<td class="bs-gridcell {$Approved_class}"  data-field=Approved {$rowstyle} {$recordattrs}>
		{$Approved_value}
	</td>
{END Approved_fieldcolumn}


	{BEGIN Approvedby_fieldcolumn}<td class="bs-gridcell {$Approvedby_class}"  data-field=Approvedby {$rowstyle} {$recordattrs}>
		{$Approvedby_value}
	</td>
{END Approvedby_fieldcolumn}


	{BEGIN ApprovedDate_fieldcolumn}<td class="bs-gridcell {$ApprovedDate_class}"  data-field=ApprovedDate {$rowstyle} {$recordattrs}>
		{$ApprovedDate_value}
	</td>
{END ApprovedDate_fieldcolumn}


	{BEGIN ApprovedTime_fieldcolumn}<td class="bs-gridcell {$ApprovedTime_class}"  data-field=ApprovedTime {$rowstyle} {$recordattrs}>
		{$ApprovedTime_value}
	</td>
{END ApprovedTime_fieldcolumn}


	{BEGIN Posted_fieldcolumn}<td class="bs-gridcell {$Posted_class}"  data-field=Posted {$rowstyle} {$recordattrs}>
		{$Posted_value}
	</td>
{END Posted_fieldcolumn}


	{BEGIN DateCreated_fieldcolumn}<td class="bs-gridcell {$DateCreated_class}"  data-field=DateCreated {$rowstyle} {$recordattrs}>
		{$DateCreated_value}
	</td>
{END DateCreated_fieldcolumn}


	{BEGIN PreparedBy_fieldcolumn}<td class="bs-gridcell {$PreparedBy_class}"  data-field=PreparedBy {$rowstyle} {$recordattrs}>
		{$PreparedBy_value}
	</td>
{END PreparedBy_fieldcolumn}

	{BEGIN endrecord_block}<TD class="rnr-cs" style="width: 3px;" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


		</div>
	</div>
</div>
	

		{$footer}
	{END body}
	</body>
</html>
