<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DateOT">
	{$DateOT_editcontrol}
	</control>
	<control field="Employer">
	{$Employer_editcontrol}
	</control>
	<control field="Division">
	{$Division_editcontrol}
	</control>
	<control field="AllEmployees">
	{$AllEmployees_editcontrol}
	</control>
	<control field="SelectEmployees">
	{$SelectEmployees_editcontrol}
	</control>
	<control field="FromTime">
	{$FromTime_editcontrol}
	</control>
	<control field="ToTime">
	{$ToTime_editcontrol}
	</control>
	<control field="Reason">
	{$Reason_editcontrol}
	</control>
	<control field="NoMins">
	{$NoMins_editcontrol}
	</control>
	<control field="Remarks">
	{$Remarks_editcontrol}
	</control>
	<control field="Approved">
	{$Approved_editcontrol}
	</control>
	<control field="Approvedby">
	{$Approvedby_editcontrol}
	</control>
	<control field="ApprovedDate">
	{$ApprovedDate_editcontrol}
	</control>
	<control field="Posted">
	{$Posted_editcontrol}
	</control>
	<control field="DateCreated">
	{$DateCreated_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>