<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel overtimes print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN OtiD_fieldheadercolumn}
			<th class="{$OtiD_class}" {$OtiD_style}  data-field="OtiD">
				{$label overtimes OtiD}
			</th>
			{END OtiD_fieldheadercolumn}
			{BEGIN DateOT_fieldheadercolumn}
			<th class="{$DateOT_class}" {$DateOT_style}  data-field="DateOT">
				{$label overtimes DateOT}
			</th>
			{END DateOT_fieldheadercolumn}
			{BEGIN Employer_fieldheadercolumn}
			<th class="{$Employer_class}" {$Employer_style}  data-field="Employer">
				{$label overtimes Employer}
			</th>
			{END Employer_fieldheadercolumn}
			{BEGIN Division_fieldheadercolumn}
			<th class="{$Division_class}" {$Division_style}  data-field="Division">
				{$label overtimes Division}
			</th>
			{END Division_fieldheadercolumn}
			{BEGIN AllEmployees_fieldheadercolumn}
			<th class="{$AllEmployees_class}" {$AllEmployees_style}  data-field="AllEmployees">
				{$label overtimes AllEmployees}
			</th>
			{END AllEmployees_fieldheadercolumn}
			{BEGIN FromTime_fieldheadercolumn}
			<th class="{$FromTime_class}" {$FromTime_style}  data-field="FromTime">
				{$label overtimes FromTime}
			</th>
			{END FromTime_fieldheadercolumn}
			{BEGIN ToTime_fieldheadercolumn}
			<th class="{$ToTime_class}" {$ToTime_style}  data-field="ToTime">
				{$label overtimes ToTime}
			</th>
			{END ToTime_fieldheadercolumn}
			{BEGIN Reason_fieldheadercolumn}
			<th class="{$Reason_class}" {$Reason_style}  data-field="Reason">
				{$label overtimes Reason}
			</th>
			{END Reason_fieldheadercolumn}
			{BEGIN NoMins_fieldheadercolumn}
			<th class="{$NoMins_class}" {$NoMins_style}  data-field="NoMins">
				{$label overtimes NoMins}
			</th>
			{END NoMins_fieldheadercolumn}
			{BEGIN Remarks_fieldheadercolumn}
			<th class="{$Remarks_class}" {$Remarks_style}  data-field="Remarks">
				{$label overtimes Remarks}
			</th>
			{END Remarks_fieldheadercolumn}
			{BEGIN Approved_fieldheadercolumn}
			<th class="{$Approved_class}" {$Approved_style}  data-field="Approved">
				{$label overtimes Approved}
			</th>
			{END Approved_fieldheadercolumn}
			{BEGIN Approvedby_fieldheadercolumn}
			<th class="{$Approvedby_class}" {$Approvedby_style}  data-field="Approvedby">
				{$label overtimes Approvedby}
			</th>
			{END Approvedby_fieldheadercolumn}
			{BEGIN ApprovedDate_fieldheadercolumn}
			<th class="{$ApprovedDate_class}" {$ApprovedDate_style}  data-field="ApprovedDate">
				{$label overtimes ApprovedDate}
			</th>
			{END ApprovedDate_fieldheadercolumn}
			{BEGIN Posted_fieldheadercolumn}
			<th class="{$Posted_class}" {$Posted_style}  data-field="Posted">
				{$label overtimes Posted}
			</th>
			{END Posted_fieldheadercolumn}
			{BEGIN DateCreated_fieldheadercolumn}
			<th class="{$DateCreated_class}" {$DateCreated_style}  data-field="DateCreated">
				{$label overtimes DateCreated}
			</th>
			{END DateCreated_fieldheadercolumn}
			{BEGIN PreparedBy_fieldheadercolumn}
			<th class="{$PreparedBy_class}" {$PreparedBy_style}  data-field="PreparedBy">
				{$label overtimes PreparedBy}
			</th>
			{END PreparedBy_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN OtiD_fieldcolumn}
			<td  class="{$OtiD_class}" {$OtiD_style} {$recordattrs}>
				{$OtiD_value}
			</td>
			{END OtiD_fieldcolumn}
			{BEGIN DateOT_fieldcolumn}
			<td  class="{$DateOT_class}" {$DateOT_style} {$recordattrs}>
				{$DateOT_value}
			</td>
			{END DateOT_fieldcolumn}
			{BEGIN Employer_fieldcolumn}
			<td  class="{$Employer_class}" {$Employer_style} {$recordattrs}>
				{$Employer_value}
			</td>
			{END Employer_fieldcolumn}
			{BEGIN Division_fieldcolumn}
			<td  class="{$Division_class}" {$Division_style} {$recordattrs}>
				{$Division_value}
			</td>
			{END Division_fieldcolumn}
			{BEGIN AllEmployees_fieldcolumn}
			<td  class="{$AllEmployees_class}" {$AllEmployees_style} {$recordattrs}>
				{$AllEmployees_value}
			</td>
			{END AllEmployees_fieldcolumn}
			{BEGIN FromTime_fieldcolumn}
			<td  class="{$FromTime_class}" {$FromTime_style} {$recordattrs}>
				{$FromTime_value}
			</td>
			{END FromTime_fieldcolumn}
			{BEGIN ToTime_fieldcolumn}
			<td  class="{$ToTime_class}" {$ToTime_style} {$recordattrs}>
				{$ToTime_value}
			</td>
			{END ToTime_fieldcolumn}
			{BEGIN Reason_fieldcolumn}
			<td  class="{$Reason_class}" {$Reason_style} {$recordattrs}>
				{$Reason_value}
			</td>
			{END Reason_fieldcolumn}
			{BEGIN NoMins_fieldcolumn}
			<td  class="{$NoMins_class}" {$NoMins_style} {$recordattrs}>
				{$NoMins_value}
			</td>
			{END NoMins_fieldcolumn}
			{BEGIN Remarks_fieldcolumn}
			<td  class="{$Remarks_class}" {$Remarks_style} {$recordattrs}>
				{$Remarks_value}
			</td>
			{END Remarks_fieldcolumn}
			{BEGIN Approved_fieldcolumn}
			<td  class="{$Approved_class}" {$Approved_style} {$recordattrs}>
				{$Approved_value}
			</td>
			{END Approved_fieldcolumn}
			{BEGIN Approvedby_fieldcolumn}
			<td  class="{$Approvedby_class}" {$Approvedby_style} {$recordattrs}>
				{$Approvedby_value}
			</td>
			{END Approvedby_fieldcolumn}
			{BEGIN ApprovedDate_fieldcolumn}
			<td  class="{$ApprovedDate_class}" {$ApprovedDate_style} {$recordattrs}>
				{$ApprovedDate_value}
			</td>
			{END ApprovedDate_fieldcolumn}
			{BEGIN Posted_fieldcolumn}
			<td  class="{$Posted_class}" {$Posted_style} {$recordattrs}>
				{$Posted_value}
			</td>
			{END Posted_fieldcolumn}
			{BEGIN DateCreated_fieldcolumn}
			<td  class="{$DateCreated_class}" {$DateCreated_style} {$recordattrs}>
				{$DateCreated_value}
			</td>
			{END DateCreated_fieldcolumn}
			{BEGIN PreparedBy_fieldcolumn}
			<td  class="{$PreparedBy_class}" {$PreparedBy_style} {$recordattrs}>
				{$PreparedBy_value}
			</td>
			{END PreparedBy_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
	{BEGIN details_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
			{BEGIN details_record}
				<td colspan="17">
					{BEGIN details_table}
						{$details}
					{END details_table}
				</td>
				{BEGIN endrecord_block}
				<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
				{END endrecord_block}
			{END details_record}
		</tr>
	{END details_row}
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
