<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DateCreated">
	{$DateCreated_editcontrol}
	</control>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="Reason">
	{$Reason_editcontrol}
	</control>
	<control field="FromDateTime">
	{$FromDateTime_editcontrol}
	</control>
	<control field="ToDateTime">
	{$ToDateTime_editcontrol}
	</control>
	<control field="NoMins">
	{$NoMins_editcontrol}
	</control>
	<control field="Approved">
	{$Approved_editcontrol}
	</control>
	<control field="Approvedby">
	{$Approvedby_editcontrol}
	</control>
	<control field="ApprovedDate">
	{$ApprovedDate_editcontrol}
	</control>
	<control field="ApprovedTime">
	{$ApprovedTime_editcontrol}
	</control>
	<control field="Posted">
	{$Posted_editcontrol}
	</control>
	<control field="Locked">
	{$Locked_editcontrol}
	</control>
	<control field="Superior">
	{$Superior_editcontrol}
	</control>
	<control field="1stApproval">
	{$1stApproval_editcontrol}
	</control>
	<control field="Superior2">
	{$Superior2_editcontrol}
	</control>
	<control field="2ndApproval">
	{$2ndApproval_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>