<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Employer">
	{$Employer_editcontrol}
	</control>
	<control 
	field="Division">
	{$Division_editcontrol}
	</control>
	<control 
	field="DateCreated">
	{$DateCreated_editcontrol}
	</control>
	<control 
	field="Reason">
	{$Reason_editcontrol}
	</control>
	<control 
	field="FromDateTime">
	{$FromDateTime_editcontrol}
	</control>
	<control 
	field="ToDateTime">
	{$ToDateTime_editcontrol}
	</control>
	<control 
	field="NoMins">
	{$NoMins_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
