<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel overtimes view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN OtiD_fieldblock}
	<div class="{$fielddispclass_OtiD} col-md-6 bs-viewcontrolgroup" data-fieldname="OtiD">
		<label class="control-label" for="{$labelfor_OtiD}">
			{$label overtimes OtiD}
		</label>
		<div class="" >
			{$OtiD_value}&nbsp;
		</div>
	</div>
{END OtiD_fieldblock}
					{BEGIN DateOT_fieldblock}
	<div class="{$fielddispclass_DateOT} col-md-6 bs-viewcontrolgroup" data-fieldname="DateOT">
		<label class="control-label" for="{$labelfor_DateOT}">
			{$label overtimes DateOT}
		</label>
		<div class="" >
			{$DateOT_value}&nbsp;
		</div>
	</div>
{END DateOT_fieldblock}
					{BEGIN Employer_fieldblock}
	<div class="{$fielddispclass_Employer} col-md-6 bs-viewcontrolgroup" data-fieldname="Employer">
		<label class="control-label" for="{$labelfor_Employer}">
			{$label overtimes Employer}
		</label>
		<div class="" >
			{$Employer_value}&nbsp;
		</div>
	</div>
{END Employer_fieldblock}
					{BEGIN Division_fieldblock}
	<div class="{$fielddispclass_Division} col-md-6 bs-viewcontrolgroup" data-fieldname="Division">
		<label class="control-label" for="{$labelfor_Division}">
			{$label overtimes Division}
		</label>
		<div class="" >
			{$Division_value}&nbsp;
		</div>
	</div>
{END Division_fieldblock}
					{BEGIN AllEmployees_fieldblock}
	<div class="{$fielddispclass_AllEmployees} col-md-6 bs-viewcontrolgroup" data-fieldname="AllEmployees">
		<label class="control-label" for="{$labelfor_AllEmployees}">
			{$label overtimes AllEmployees}
		</label>
		<div class="" >
			{$AllEmployees_value}&nbsp;
		</div>
	</div>
{END AllEmployees_fieldblock}
					{BEGIN FromTime_fieldblock}
	<div class="{$fielddispclass_FromTime} col-md-6 bs-viewcontrolgroup" data-fieldname="FromTime">
		<label class="control-label" for="{$labelfor_FromTime}">
			{$label overtimes FromTime}
		</label>
		<div class="" >
			{$FromTime_value}&nbsp;
		</div>
	</div>
{END FromTime_fieldblock}
					{BEGIN ToTime_fieldblock}
	<div class="{$fielddispclass_ToTime} col-md-6 bs-viewcontrolgroup" data-fieldname="ToTime">
		<label class="control-label" for="{$labelfor_ToTime}">
			{$label overtimes ToTime}
		</label>
		<div class="" >
			{$ToTime_value}&nbsp;
		</div>
	</div>
{END ToTime_fieldblock}
					{BEGIN Reason_fieldblock}
	<div class="{$fielddispclass_Reason} col-md-6 bs-viewcontrolgroup" data-fieldname="Reason">
		<label class="control-label" for="{$labelfor_Reason}">
			{$label overtimes Reason}
		</label>
		<div class="" >
			{$Reason_value}&nbsp;
		</div>
	</div>
{END Reason_fieldblock}
					{BEGIN NoMins_fieldblock}
	<div class="{$fielddispclass_NoMins} col-md-6 bs-viewcontrolgroup" data-fieldname="NoMins">
		<label class="control-label" for="{$labelfor_NoMins}">
			{$label overtimes NoMins}
		</label>
		<div class="" >
			{$NoMins_value}&nbsp;
		</div>
	</div>
{END NoMins_fieldblock}
					{BEGIN CostCenter_fieldblock}
	<div class="{$fielddispclass_CostCenter} col-md-6 bs-viewcontrolgroup" data-fieldname="CostCenter">
		<label class="control-label" for="{$labelfor_CostCenter}">
			{$label overtimes CostCenter}
		</label>
		<div class="" >
			{$CostCenter_value}&nbsp;
		</div>
	</div>
{END CostCenter_fieldblock}
					{BEGIN Remarks_fieldblock}
	<div class="{$fielddispclass_Remarks} col-md-6 bs-viewcontrolgroup" data-fieldname="Remarks">
		<label class="control-label" for="{$labelfor_Remarks}">
			{$label overtimes Remarks}
		</label>
		<div class="" >
			{$Remarks_value}&nbsp;
		</div>
	</div>
{END Remarks_fieldblock}
					{BEGIN Approved_fieldblock}
	<div class="{$fielddispclass_Approved} col-md-6 bs-viewcontrolgroup" data-fieldname="Approved">
		<label class="control-label" for="{$labelfor_Approved}">
			{$label overtimes Approved}
		</label>
		<div class="" >
			{$Approved_value}&nbsp;
		</div>
	</div>
{END Approved_fieldblock}
					{BEGIN Approvedby_fieldblock}
	<div class="{$fielddispclass_Approvedby} col-md-6 bs-viewcontrolgroup" data-fieldname="Approvedby">
		<label class="control-label" for="{$labelfor_Approvedby}">
			{$label overtimes Approvedby}
		</label>
		<div class="" >
			{$Approvedby_value}&nbsp;
		</div>
	</div>
{END Approvedby_fieldblock}
					{BEGIN ApprovedDate_fieldblock}
	<div class="{$fielddispclass_ApprovedDate} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedDate">
		<label class="control-label" for="{$labelfor_ApprovedDate}">
			{$label overtimes ApprovedDate}
		</label>
		<div class="" >
			{$ApprovedDate_value}&nbsp;
		</div>
	</div>
{END ApprovedDate_fieldblock}
					{BEGIN ApprovedTime_fieldblock}
	<div class="{$fielddispclass_ApprovedTime} col-md-6 bs-viewcontrolgroup" data-fieldname="ApprovedTime">
		<label class="control-label" for="{$labelfor_ApprovedTime}">
			{$label overtimes ApprovedTime}
		</label>
		<div class="" >
			{$ApprovedTime_value}&nbsp;
		</div>
	</div>
{END ApprovedTime_fieldblock}
					{BEGIN Posted_fieldblock}
	<div class="{$fielddispclass_Posted} col-md-6 bs-viewcontrolgroup" data-fieldname="Posted">
		<label class="control-label" for="{$labelfor_Posted}">
			{$label overtimes Posted}
		</label>
		<div class="" >
			{$Posted_value}&nbsp;
		</div>
	</div>
{END Posted_fieldblock}
					{BEGIN DateCreated_fieldblock}
	<div class="{$fielddispclass_DateCreated} col-md-6 bs-viewcontrolgroup" data-fieldname="DateCreated">
		<label class="control-label" for="{$labelfor_DateCreated}">
			{$label overtimes DateCreated}
		</label>
		<div class="" >
			{$DateCreated_value}&nbsp;
		</div>
	</div>
{END DateCreated_fieldblock}
					{BEGIN PreparedBy_fieldblock}
	<div class="{$fielddispclass_PreparedBy} col-md-6 bs-viewcontrolgroup" data-fieldname="PreparedBy">
		<label class="control-label" for="{$labelfor_PreparedBy}">
			{$label overtimes PreparedBy}
		</label>
		<div class="" >
			{$PreparedBy_value}&nbsp;
		</div>
	</div>
{END PreparedBy_fieldblock}
			</div>
	<div class="bs-2column">
			
			

{BEGIN details_overtimetab}
<div data-pageid="1" data-container="detailscontainer" class=" bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">Overtimetab</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_overtimetab}
		</div>
	</div>
</div>
{END details_overtimetab}
	
	</div>
	<div class="container">
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
