<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel overtimes edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN DateOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DateOT}" data-fieldname="DateOT" data-signal-error-for="DateOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DateOT}">
		{BEGIN DateOT_label}{$label overtimes DateOT}{END DateOT_label}
	</label>
	<div class="col-md-6" >
		{$DateOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DateOT">
		<div class="text-muted" >
		{$tooltip overtimes DateOT}
		</div>
	</div>
</div>
</div>
{END DateOT_fieldblock}

			{BEGIN Employer_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Employer}" data-fieldname="Employer" data-signal-error-for="Employer{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Employer}">
		{BEGIN Employer_label}{$label overtimes Employer}{END Employer_label}
	</label>
	<div class="col-md-6" >
		{$Employer_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Employer">
		<div class="text-muted" >
		{$tooltip overtimes Employer}
		</div>
	</div>
</div>
</div>
{END Employer_fieldblock}

			{BEGIN Division_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Division}" data-fieldname="Division" data-signal-error-for="Division{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Division}">
		{BEGIN Division_label}{$label overtimes Division}{END Division_label}
	</label>
	<div class="col-md-6" >
		{$Division_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Division">
		<div class="text-muted" >
		{$tooltip overtimes Division}
		</div>
	</div>
</div>
</div>
{END Division_fieldblock}

			{BEGIN AllEmployees_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AllEmployees}" data-fieldname="AllEmployees" data-signal-error-for="AllEmployees{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AllEmployees}">
		{BEGIN AllEmployees_label}{$label overtimes AllEmployees}{END AllEmployees_label}
	</label>
	<div class="col-md-6" >
		{$AllEmployees_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AllEmployees">
		<div class="text-muted" >
		{$tooltip overtimes AllEmployees}
		</div>
	</div>
</div>
</div>
{END AllEmployees_fieldblock}

			{BEGIN FromTime_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FromTime}" data-fieldname="FromTime" data-signal-error-for="FromTime{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FromTime}">
		{BEGIN FromTime_label}{$label overtimes FromTime}{END FromTime_label}
	</label>
	<div class="col-md-6" >
		{$FromTime_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FromTime">
		<div class="text-muted" >
		{$tooltip overtimes FromTime}
		</div>
	</div>
</div>
</div>
{END FromTime_fieldblock}

			{BEGIN ToTime_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ToTime}" data-fieldname="ToTime" data-signal-error-for="ToTime{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ToTime}">
		{BEGIN ToTime_label}{$label overtimes ToTime}{END ToTime_label}
	</label>
	<div class="col-md-6" >
		{$ToTime_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ToTime">
		<div class="text-muted" >
		{$tooltip overtimes ToTime}
		</div>
	</div>
</div>
</div>
{END ToTime_fieldblock}

			{BEGIN Reason_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Reason}" data-fieldname="Reason" data-signal-error-for="Reason{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Reason}">
		{BEGIN Reason_label}{$label overtimes Reason}{END Reason_label}
	</label>
	<div class="col-md-6" >
		{$Reason_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Reason">
		<div class="text-muted" >
		{$tooltip overtimes Reason}
		</div>
	</div>
</div>
</div>
{END Reason_fieldblock}

			{BEGIN NoMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NoMins}" data-fieldname="NoMins" data-signal-error-for="NoMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NoMins}">
		{BEGIN NoMins_label}{$label overtimes NoMins}{END NoMins_label}
	</label>
	<div class="col-md-6" >
		{$NoMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NoMins">
		<div class="text-muted" >
		{$tooltip overtimes NoMins}
		</div>
	</div>
</div>
</div>
{END NoMins_fieldblock}

			{BEGIN Remarks_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Remarks}" data-fieldname="Remarks" data-signal-error-for="Remarks{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label overtimes Remarks}{END Remarks_label}
	</label>
	<div class="col-md-6" >
		{$Remarks_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip overtimes Remarks}
		</div>
	</div>
</div>
</div>
{END Remarks_fieldblock}

			{BEGIN Approved_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Approved}" data-fieldname="Approved" data-signal-error-for="Approved{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Approved}">
		{BEGIN Approved_label}{$label overtimes Approved}{END Approved_label}
	</label>
	<div class="col-md-6" >
		{$Approved_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Approved">
		<div class="text-muted" >
		{$tooltip overtimes Approved}
		</div>
	</div>
</div>
</div>
{END Approved_fieldblock}

			{BEGIN Approvedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Approvedby}" data-fieldname="Approvedby" data-signal-error-for="Approvedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Approvedby}">
		{BEGIN Approvedby_label}{$label overtimes Approvedby}{END Approvedby_label}
	</label>
	<div class="col-md-6" >
		{$Approvedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Approvedby">
		<div class="text-muted" >
		{$tooltip overtimes Approvedby}
		</div>
	</div>
</div>
</div>
{END Approvedby_fieldblock}

			{BEGIN ApprovedDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ApprovedDate}" data-fieldname="ApprovedDate" data-signal-error-for="ApprovedDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ApprovedDate}">
		{BEGIN ApprovedDate_label}{$label overtimes ApprovedDate}{END ApprovedDate_label}
	</label>
	<div class="col-md-6" >
		{$ApprovedDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ApprovedDate">
		<div class="text-muted" >
		{$tooltip overtimes ApprovedDate}
		</div>
	</div>
</div>
</div>
{END ApprovedDate_fieldblock}

			{BEGIN DateCreated_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DateCreated}" data-fieldname="DateCreated" data-signal-error-for="DateCreated{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DateCreated}">
		{BEGIN DateCreated_label}{$label overtimes DateCreated}{END DateCreated_label}
	</label>
	<div class="col-md-6" >
		{$DateCreated_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DateCreated">
		<div class="text-muted" >
		{$tooltip overtimes DateCreated}
		</div>
	</div>
</div>
</div>
{END DateCreated_fieldblock}

			
		





{BEGIN details_overtimetab}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">Overtimetab
		<span>
{BEGIN details_inlineadd_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_overtimetab_attrs}>Inline Add</button>
{END details_inlineadd_overtimetab_link}		
{BEGIN details_add_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_overtimetab_attrs}>Add new</button>
{END details_add_overtimetab_link}
{BEGIN details_edit_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_overtimetab_attrs}>Edit</button>
{END details_edit_overtimetab_link}
{BEGIN details_updateselected_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_overtimetab_attrs}>Update selected</button>
{END details_updateselected_overtimetab_link}


{BEGIN details_delete_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_overtimetab_attrs}>Delete</button>
{END details_delete_overtimetab_link}

{BEGIN saveall_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_overtimetab_attrs} {$savealllink_overtimetab_span}>Save all</button>
{END saveall_overtimetab_link}
{BEGIN cancelall_overtimetab_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_overtimetab_attrs} {$cancelalllink_overtimetab_span}>Cancel</button>
{END cancelall_overtimetab_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_overtimetab}
</div>
</div>
</div>
{END details_overtimetab}
	
	
	


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN updsel_button}
	<button class="btn btn-primary" {$updselbutton_attrs}>{$update_selected}</button>
	{END updsel_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
