<div {$pageattrs}>

{BEGIN container_dcount}
<div {$dcount_chiddenattr} data-pageid="{$pageid}" data-container="dcount" class="    "> 


<span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Details found: <strong>{$row_count}</strong></span>





</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$PtabID_class}">{$label payrolltab PtabID}</th>
			<th class="{$Locked_class}">{$label payrolltab Locked}</th>
			<th class="{$FromDate_class}">{$label payrolltab FromDate}</th>
			<th class="{$ToDate_class}">{$label payrolltab ToDate}</th>
			<th class="{$EmployeeID_class}">{$label payrolltab EmployeeID}</th>
			<th class="{$UserName_class}">{$label payrolltab UserName}</th>
			<th class="{$Email_class}">{$label payrolltab Email}</th>
			<th class="{$Position_class}">{$label payrolltab Position}</th>
			<th class="{$Division_class}">{$label payrolltab Division}</th>
			<th class="{$Employer_class}">{$label payrolltab Employer}</th>
			<th class="{$WageType_class}">{$label payrolltab WageType}</th>
			<th class="{$Status_class}">{$label payrolltab Status}</th>
			<th class="{$BasicMonthly_class}">{$label payrolltab BasicMonthly}</th>
			<th class="{$BasicDaily_class}">{$label payrolltab BasicDaily}</th>
			<th class="{$DWork_class}">{$label payrolltab DWork}</th>
			<th class="{$Absent_class}">{$label payrolltab Absent}</th>
			<th class="{$LateMins_class}">{$label payrolltab LateMins}</th>
			<th class="{$UndertimeMins_class}">{$label payrolltab UndertimeMins}</th>
			<th class="{$RHolidayHrs_class}">{$label payrolltab RHolidayHrs}</th>
			<th class="{$SHolidayHrs_class}">{$label payrolltab SHolidayHrs}</th>
			<th class="{$CHolidayHrs_class}">{$label payrolltab CHolidayHrs}</th>
			<th class="{$ExcessHrs_class}">{$label payrolltab ExcessHrs}</th>
			<th class="{$RegOTHrs_class}">{$label payrolltab RegOTHrs}</th>
			<th class="{$RHOTHrs_class}">{$label payrolltab RHOTHrs}</th>
			<th class="{$SHOTHRs_class}">{$label payrolltab SHOTHRs}</th>
			<th class="{$CHOTHrs_class}">{$label payrolltab CHOTHrs}</th>
			<th class="{$TrODays_class}">{$label payrolltab TrODays}</th>
			<th class="{$RDOTHrs_class}">{$label payrolltab RDOTHrs}</th>
			<th class="{$NDHrs_class}">{$label payrolltab NDHrs}</th>
			<th class="{$NDOTHrs_class}">{$label payrolltab NDOTHrs}</th>
			<th class="{$RegNDOTHrs_class}">{$label payrolltab RegNDOTHrs}</th>
			<th class="{$RHNDOTHrs_class}">{$label payrolltab RHNDOTHrs}</th>
			<th class="{$CHNDOTHrs_class}">{$label payrolltab CHNDOTHrs}</th>
			<th class="{$SHNDOTHrs_class}">{$label payrolltab SHNDOTHrs}</th>
			<th class="{$SHRDNDOT_class}">{$label payrolltab SHRDNDOT}</th>
			<th class="{$RHRDNDOT_class}">{$label payrolltab RHRDNDOT}</th>
			<th class="{$RDNDOTHrs_class}">{$label payrolltab RDNDOTHrs}</th>
			<th class="{$DHRDOT_class}">{$label payrolltab DHRDOT}</th>
			<th class="{$DHRDNDOT_class}">{$label payrolltab DHRDNDOT}</th>
			<th class="{$DHNDOT_class}">{$label payrolltab DHNDOT}</th>
			<th class="{$RDHrs_class}">{$label payrolltab RDHrs}</th>
			<th class="{$RegNDHrs_class}">{$label payrolltab RegNDHrs}</th>
			<th class="{$RHNDHrs_class}">{$label payrolltab RHNDHrs}</th>
			<th class="{$SHNDHrs_class}">{$label payrolltab SHNDHrs}</th>
			<th class="{$CHNDHrs_class}">{$label payrolltab CHNDHrs}</th>
			<th class="{$RDNDHrs_class}">{$label payrolltab RDNDHrs}</th>
			<th class="{$DHRDND_class}">{$label payrolltab DHRDND}</th>
			<th class="{$DHND_class}">{$label payrolltab DHND}</th>
			<th class="{$RHRDND_class}">{$label payrolltab RHRDND}</th>
			<th class="{$SHRDND_class}">{$label payrolltab SHRDND}</th>
			<th class="{$DHOT_class}">{$label payrolltab DHOT}</th>
			<th class="{$DHRD_class}">{$label payrolltab DHRD}</th>
			<th class="{$DH_class}">{$label payrolltab DH}</th>
			<th class="{$VLDays_class}">{$label payrolltab VLDays}</th>
			<th class="{$SLDays_class}">{$label payrolltab SLDays}</th>
			<th class="{$ELDays_class}">{$label payrolltab ELDays}</th>
			<th class="{$PLDays_class}">{$label payrolltab PLDays}</th>
			<th class="{$PLBalance_class}">{$label payrolltab PLBalance}</th>
			<th class="{$ELBalance_class}">{$label payrolltab ELBalance}</th>
			<th class="{$SLBalance_class}">{$label payrolltab SLBalance}</th>
			<th class="{$VLBalance_class}">{$label payrolltab VLBalance}</th>
			<th class="{$AllowancePerDay_class}">{$label payrolltab AllowancePerDay}</th>
			<th class="{$AgencyShare_class}">{$label payrolltab AgencyShare}</th>
			<th class="{$NDMealAllowance_class}">{$label payrolltab NDMealAllowance}</th>
			<th class="{$Thirteenth_class}">{$label payrolltab Thirteenth}</th>
			<th class="{$Taxable_class}">{$label payrolltab Taxable}</th>
			<th class="{$ThirToDate_class}">{$label payrolltab ThirToDate}</th>
			<th class="{$TaxableToDate_class}">{$label payrolltab TaxableToDate}</th>
			<th class="{$TaxToDate_class}">{$label payrolltab TaxToDate}</th>
			<th class="{$PayrollID_class}">{$label payrolltab PayrollID}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$PtabID_class}">{$PtabID_value}</td>
			<td class="{$Locked_class}">{$Locked_value}</td>
			<td class="{$FromDate_class}">{$FromDate_value}</td>
			<td class="{$ToDate_class}">{$ToDate_value}</td>
			<td class="{$EmployeeID_class}">{$EmployeeID_value}</td>
			<td class="{$UserName_class}">{$UserName_value}</td>
			<td class="{$Email_class}">{$Email_value}</td>
			<td class="{$Position_class}">{$Position_value}</td>
			<td class="{$Division_class}">{$Division_value}</td>
			<td class="{$Employer_class}">{$Employer_value}</td>
			<td class="{$WageType_class}">{$WageType_value}</td>
			<td class="{$Status_class}">{$Status_value}</td>
			<td class="{$BasicMonthly_class}">{$BasicMonthly_value}</td>
			<td class="{$BasicDaily_class}">{$BasicDaily_value}</td>
			<td class="{$DWork_class}">{$DWork_value}</td>
			<td class="{$Absent_class}">{$Absent_value}</td>
			<td class="{$LateMins_class}">{$LateMins_value}</td>
			<td class="{$UndertimeMins_class}">{$UndertimeMins_value}</td>
			<td class="{$RHolidayHrs_class}">{$RHolidayHrs_value}</td>
			<td class="{$SHolidayHrs_class}">{$SHolidayHrs_value}</td>
			<td class="{$CHolidayHrs_class}">{$CHolidayHrs_value}</td>
			<td class="{$ExcessHrs_class}">{$ExcessHrs_value}</td>
			<td class="{$RegOTHrs_class}">{$RegOTHrs_value}</td>
			<td class="{$RHOTHrs_class}">{$RHOTHrs_value}</td>
			<td class="{$SHOTHRs_class}">{$SHOTHRs_value}</td>
			<td class="{$CHOTHrs_class}">{$CHOTHrs_value}</td>
			<td class="{$TrODays_class}">{$TrODays_value}</td>
			<td class="{$RDOTHrs_class}">{$RDOTHrs_value}</td>
			<td class="{$NDHrs_class}">{$NDHrs_value}</td>
			<td class="{$NDOTHrs_class}">{$NDOTHrs_value}</td>
			<td class="{$RegNDOTHrs_class}">{$RegNDOTHrs_value}</td>
			<td class="{$RHNDOTHrs_class}">{$RHNDOTHrs_value}</td>
			<td class="{$CHNDOTHrs_class}">{$CHNDOTHrs_value}</td>
			<td class="{$SHNDOTHrs_class}">{$SHNDOTHrs_value}</td>
			<td class="{$SHRDNDOT_class}">{$SHRDNDOT_value}</td>
			<td class="{$RHRDNDOT_class}">{$RHRDNDOT_value}</td>
			<td class="{$RDNDOTHrs_class}">{$RDNDOTHrs_value}</td>
			<td class="{$DHRDOT_class}">{$DHRDOT_value}</td>
			<td class="{$DHRDNDOT_class}">{$DHRDNDOT_value}</td>
			<td class="{$DHNDOT_class}">{$DHNDOT_value}</td>
			<td class="{$RDHrs_class}">{$RDHrs_value}</td>
			<td class="{$RegNDHrs_class}">{$RegNDHrs_value}</td>
			<td class="{$RHNDHrs_class}">{$RHNDHrs_value}</td>
			<td class="{$SHNDHrs_class}">{$SHNDHrs_value}</td>
			<td class="{$CHNDHrs_class}">{$CHNDHrs_value}</td>
			<td class="{$RDNDHrs_class}">{$RDNDHrs_value}</td>
			<td class="{$DHRDND_class}">{$DHRDND_value}</td>
			<td class="{$DHND_class}">{$DHND_value}</td>
			<td class="{$RHRDND_class}">{$RHRDND_value}</td>
			<td class="{$SHRDND_class}">{$SHRDND_value}</td>
			<td class="{$DHOT_class}">{$DHOT_value}</td>
			<td class="{$DHRD_class}">{$DHRD_value}</td>
			<td class="{$DH_class}">{$DH_value}</td>
			<td class="{$VLDays_class}">{$VLDays_value}</td>
			<td class="{$SLDays_class}">{$SLDays_value}</td>
			<td class="{$ELDays_class}">{$ELDays_value}</td>
			<td class="{$PLDays_class}">{$PLDays_value}</td>
			<td class="{$PLBalance_class}">{$PLBalance_value}</td>
			<td class="{$ELBalance_class}">{$ELBalance_value}</td>
			<td class="{$SLBalance_class}">{$SLBalance_value}</td>
			<td class="{$VLBalance_class}">{$VLBalance_value}</td>
			<td class="{$AllowancePerDay_class}">{$AllowancePerDay_value}</td>
			<td class="{$AgencyShare_class}">{$AgencyShare_value}</td>
			<td class="{$NDMealAllowance_class}">{$NDMealAllowance_value}</td>
			<td class="{$Thirteenth_class}">{$Thirteenth_value}</td>
			<td class="{$Taxable_class}">{$Taxable_value}</td>
			<td class="{$ThirToDate_class}">{$ThirToDate_value}</td>
			<td class="{$TaxableToDate_class}">{$TaxableToDate_value}</td>
			<td class="{$TaxToDate_class}">{$TaxToDate_value}</td>
			<td class="{$PayrollID_class}">{$PayrollID_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>