<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Locked">
	{$Locked_editcontrol}
	</control>
	<control field="PayDate">
	{$PayDate_editcontrol}
	</control>
	<control field="Statutories">
	{$Statutories_editcontrol}
	</control>
	<control field="Stat_Loans">
	{$Stat_Loans_editcontrol}
	</control>
	<control field="Deductions">
	{$Deductions_editcontrol}
	</control>
	<control field="Adjustments">
	{$Adjustments_editcontrol}
	</control>
	<control field="PresetTax">
	{$PresetTax_editcontrol}
	</control>
	<control field="13thMonth">
	{$13thMonth_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>