<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel payroll21 search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN PSID_fieldblock}		
	<div class="container {$fielddispclass_PSID}" data-fieldname="PSID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PSID}">
				{$label payroll21 PSID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PSID}
			</div>
			<div class="col-md-4" >
				{$PSID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PSID_editcontrol1}
			</div>
		</div>
	</div>
{END PSID_fieldblock}
	{BEGIN PayFromDate_fieldblock}		
	<div class="container {$fielddispclass_PayFromDate}" data-fieldname="PayFromDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PayFromDate}">
				{$label payroll21 PayFromDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PayFromDate}
			</div>
			<div class="col-md-4" >
				{$PayFromDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PayFromDate_editcontrol1}
			</div>
		</div>
	</div>
{END PayFromDate_fieldblock}
	{BEGIN PayToDate_fieldblock}		
	<div class="container {$fielddispclass_PayToDate}" data-fieldname="PayToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PayToDate}">
				{$label payroll21 PayToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PayToDate}
			</div>
			<div class="col-md-4" >
				{$PayToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PayToDate_editcontrol1}
			</div>
		</div>
	</div>
{END PayToDate_fieldblock}
	{BEGIN PayPeriod_fieldblock}		
	<div class="container {$fielddispclass_PayPeriod}" data-fieldname="PayPeriod">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PayPeriod}">
				{$label payroll21 PayPeriod}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PayPeriod}
			</div>
			<div class="col-md-4" >
				{$PayPeriod_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PayPeriod_editcontrol1}
			</div>
		</div>
	</div>
{END PayPeriod_fieldblock}
	{BEGIN PayDate_fieldblock}		
	<div class="container {$fielddispclass_PayDate}" data-fieldname="PayDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PayDate}">
				{$label payroll21 PayDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PayDate}
			</div>
			<div class="col-md-4" >
				{$PayDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PayDate_editcontrol1}
			</div>
		</div>
	</div>
{END PayDate_fieldblock}
	{BEGIN Locked_fieldblock}		
	<div class="container {$fielddispclass_Locked}" data-fieldname="Locked">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Locked}">
				{$label payroll21 Locked}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Locked}
			</div>
			<div class="col-md-4" >
				{$Locked_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Locked_editcontrol1}
			</div>
		</div>
	</div>
{END Locked_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
