<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel payrolltab1 print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN PtabID_fieldheadercolumn}
			<th class="{$PtabID_class}" {$PtabID_style}  data-field="PtabID">
				{$label payrolltab1 PtabID}
			</th>
			{END PtabID_fieldheadercolumn}
			{BEGIN Locked_fieldheadercolumn}
			<th class="{$Locked_class}" {$Locked_style}  data-field="Locked">
				{$label payrolltab1 Locked}
			</th>
			{END Locked_fieldheadercolumn}
			{BEGIN FromDate_fieldheadercolumn}
			<th class="{$FromDate_class}" {$FromDate_style}  data-field="FromDate">
				{$label payrolltab1 FromDate}
			</th>
			{END FromDate_fieldheadercolumn}
			{BEGIN ToDate_fieldheadercolumn}
			<th class="{$ToDate_class}" {$ToDate_style}  data-field="ToDate">
				{$label payrolltab1 ToDate}
			</th>
			{END ToDate_fieldheadercolumn}
			{BEGIN EmployeeID_fieldheadercolumn}
			<th class="{$EmployeeID_class}" {$EmployeeID_style}  data-field="EmployeeID">
				{$label payrolltab1 EmployeeID}
			</th>
			{END EmployeeID_fieldheadercolumn}
			{BEGIN UserName_fieldheadercolumn}
			<th class="{$UserName_class}" {$UserName_style}  data-field="UserName">
				{$label payrolltab1 UserName}
			</th>
			{END UserName_fieldheadercolumn}
			{BEGIN Email_fieldheadercolumn}
			<th class="{$Email_class}" {$Email_style}  data-field="Email">
				{$label payrolltab1 Email}
			</th>
			{END Email_fieldheadercolumn}
			{BEGIN Position_fieldheadercolumn}
			<th class="{$Position_class}" {$Position_style}  data-field="Position">
				{$label payrolltab1 Position}
			</th>
			{END Position_fieldheadercolumn}
			{BEGIN Division_fieldheadercolumn}
			<th class="{$Division_class}" {$Division_style}  data-field="Division">
				{$label payrolltab1 Division}
			</th>
			{END Division_fieldheadercolumn}
			{BEGIN Employer_fieldheadercolumn}
			<th class="{$Employer_class}" {$Employer_style}  data-field="Employer">
				{$label payrolltab1 Employer}
			</th>
			{END Employer_fieldheadercolumn}
			{BEGIN WageType_fieldheadercolumn}
			<th class="{$WageType_class}" {$WageType_style}  data-field="WageType">
				{$label payrolltab1 WageType}
			</th>
			{END WageType_fieldheadercolumn}
			{BEGIN Status_fieldheadercolumn}
			<th class="{$Status_class}" {$Status_style}  data-field="Status">
				{$label payrolltab1 Status}
			</th>
			{END Status_fieldheadercolumn}
			{BEGIN BasicMonthly_fieldheadercolumn}
			<th class="{$BasicMonthly_class}" {$BasicMonthly_style}  data-field="BasicMonthly">
				{$label payrolltab1 BasicMonthly}
			</th>
			{END BasicMonthly_fieldheadercolumn}
			{BEGIN BasicDaily_fieldheadercolumn}
			<th class="{$BasicDaily_class}" {$BasicDaily_style}  data-field="BasicDaily">
				{$label payrolltab1 BasicDaily}
			</th>
			{END BasicDaily_fieldheadercolumn}
			{BEGIN DWork_fieldheadercolumn}
			<th class="{$DWork_class}" {$DWork_style}  data-field="DWork">
				{$label payrolltab1 DWork}
			</th>
			{END DWork_fieldheadercolumn}
			{BEGIN Absent_fieldheadercolumn}
			<th class="{$Absent_class}" {$Absent_style}  data-field="Absent">
				{$label payrolltab1 Absent}
			</th>
			{END Absent_fieldheadercolumn}
			{BEGIN LateMins_fieldheadercolumn}
			<th class="{$LateMins_class}" {$LateMins_style}  data-field="LateMins">
				{$label payrolltab1 LateMins}
			</th>
			{END LateMins_fieldheadercolumn}
			{BEGIN UndertimeMins_fieldheadercolumn}
			<th class="{$UndertimeMins_class}" {$UndertimeMins_style}  data-field="UndertimeMins">
				{$label payrolltab1 UndertimeMins}
			</th>
			{END UndertimeMins_fieldheadercolumn}
			{BEGIN RHolidayHrs_fieldheadercolumn}
			<th class="{$RHolidayHrs_class}" {$RHolidayHrs_style}  data-field="RHolidayHrs">
				{$label payrolltab1 RHolidayHrs}
			</th>
			{END RHolidayHrs_fieldheadercolumn}
			{BEGIN SHolidayHrs_fieldheadercolumn}
			<th class="{$SHolidayHrs_class}" {$SHolidayHrs_style}  data-field="SHolidayHrs">
				{$label payrolltab1 SHolidayHrs}
			</th>
			{END SHolidayHrs_fieldheadercolumn}
			{BEGIN CHolidayHrs_fieldheadercolumn}
			<th class="{$CHolidayHrs_class}" {$CHolidayHrs_style}  data-field="CHolidayHrs">
				{$label payrolltab1 CHolidayHrs}
			</th>
			{END CHolidayHrs_fieldheadercolumn}
			{BEGIN ExcessHrs_fieldheadercolumn}
			<th class="{$ExcessHrs_class}" {$ExcessHrs_style}  data-field="ExcessHrs">
				{$label payrolltab1 ExcessHrs}
			</th>
			{END ExcessHrs_fieldheadercolumn}
			{BEGIN RegOTHrs_fieldheadercolumn}
			<th class="{$RegOTHrs_class}" {$RegOTHrs_style}  data-field="RegOTHrs">
				{$label payrolltab1 RegOTHrs}
			</th>
			{END RegOTHrs_fieldheadercolumn}
			{BEGIN RHOTHrs_fieldheadercolumn}
			<th class="{$RHOTHrs_class}" {$RHOTHrs_style}  data-field="RHOTHrs">
				{$label payrolltab1 RHOTHrs}
			</th>
			{END RHOTHrs_fieldheadercolumn}
			{BEGIN SHOTHRs_fieldheadercolumn}
			<th class="{$SHOTHRs_class}" {$SHOTHRs_style}  data-field="SHOTHRs">
				{$label payrolltab1 SHOTHRs}
			</th>
			{END SHOTHRs_fieldheadercolumn}
			{BEGIN CHOTHrs_fieldheadercolumn}
			<th class="{$CHOTHrs_class}" {$CHOTHrs_style}  data-field="CHOTHrs">
				{$label payrolltab1 CHOTHrs}
			</th>
			{END CHOTHrs_fieldheadercolumn}
			{BEGIN TrODays_fieldheadercolumn}
			<th class="{$TrODays_class}" {$TrODays_style}  data-field="TrODays">
				{$label payrolltab1 TrODays}
			</th>
			{END TrODays_fieldheadercolumn}
			{BEGIN RDOTHrs_fieldheadercolumn}
			<th class="{$RDOTHrs_class}" {$RDOTHrs_style}  data-field="RDOTHrs">
				{$label payrolltab1 RDOTHrs}
			</th>
			{END RDOTHrs_fieldheadercolumn}
			{BEGIN NDHrs_fieldheadercolumn}
			<th class="{$NDHrs_class}" {$NDHrs_style}  data-field="NDHrs">
				{$label payrolltab1 NDHrs}
			</th>
			{END NDHrs_fieldheadercolumn}
			{BEGIN NDOTHrs_fieldheadercolumn}
			<th class="{$NDOTHrs_class}" {$NDOTHrs_style}  data-field="NDOTHrs">
				{$label payrolltab1 NDOTHrs}
			</th>
			{END NDOTHrs_fieldheadercolumn}
			{BEGIN RegNDOTHrs_fieldheadercolumn}
			<th class="{$RegNDOTHrs_class}" {$RegNDOTHrs_style}  data-field="RegNDOTHrs">
				{$label payrolltab1 RegNDOTHrs}
			</th>
			{END RegNDOTHrs_fieldheadercolumn}
			{BEGIN RHNDOTHrs_fieldheadercolumn}
			<th class="{$RHNDOTHrs_class}" {$RHNDOTHrs_style}  data-field="RHNDOTHrs">
				{$label payrolltab1 RHNDOTHrs}
			</th>
			{END RHNDOTHrs_fieldheadercolumn}
			{BEGIN CHNDOTHrs_fieldheadercolumn}
			<th class="{$CHNDOTHrs_class}" {$CHNDOTHrs_style}  data-field="CHNDOTHrs">
				{$label payrolltab1 CHNDOTHrs}
			</th>
			{END CHNDOTHrs_fieldheadercolumn}
			{BEGIN SHNDOTHrs_fieldheadercolumn}
			<th class="{$SHNDOTHrs_class}" {$SHNDOTHrs_style}  data-field="SHNDOTHrs">
				{$label payrolltab1 SHNDOTHrs}
			</th>
			{END SHNDOTHrs_fieldheadercolumn}
			{BEGIN SHRDNDOT_fieldheadercolumn}
			<th class="{$SHRDNDOT_class}" {$SHRDNDOT_style}  data-field="SHRDNDOT">
				{$label payrolltab1 SHRDNDOT}
			</th>
			{END SHRDNDOT_fieldheadercolumn}
			{BEGIN RHRDNDOT_fieldheadercolumn}
			<th class="{$RHRDNDOT_class}" {$RHRDNDOT_style}  data-field="RHRDNDOT">
				{$label payrolltab1 RHRDNDOT}
			</th>
			{END RHRDNDOT_fieldheadercolumn}
			{BEGIN RDNDOTHrs_fieldheadercolumn}
			<th class="{$RDNDOTHrs_class}" {$RDNDOTHrs_style}  data-field="RDNDOTHrs">
				{$label payrolltab1 RDNDOTHrs}
			</th>
			{END RDNDOTHrs_fieldheadercolumn}
			{BEGIN DHRDOT_fieldheadercolumn}
			<th class="{$DHRDOT_class}" {$DHRDOT_style}  data-field="DHRDOT">
				{$label payrolltab1 DHRDOT}
			</th>
			{END DHRDOT_fieldheadercolumn}
			{BEGIN DHRDNDOT_fieldheadercolumn}
			<th class="{$DHRDNDOT_class}" {$DHRDNDOT_style}  data-field="DHRDNDOT">
				{$label payrolltab1 DHRDNDOT}
			</th>
			{END DHRDNDOT_fieldheadercolumn}
			{BEGIN DHNDOT_fieldheadercolumn}
			<th class="{$DHNDOT_class}" {$DHNDOT_style}  data-field="DHNDOT">
				{$label payrolltab1 DHNDOT}
			</th>
			{END DHNDOT_fieldheadercolumn}
			{BEGIN RDHrs_fieldheadercolumn}
			<th class="{$RDHrs_class}" {$RDHrs_style}  data-field="RDHrs">
				{$label payrolltab1 RDHrs}
			</th>
			{END RDHrs_fieldheadercolumn}
			{BEGIN RegNDHrs_fieldheadercolumn}
			<th class="{$RegNDHrs_class}" {$RegNDHrs_style}  data-field="RegNDHrs">
				{$label payrolltab1 RegNDHrs}
			</th>
			{END RegNDHrs_fieldheadercolumn}
			{BEGIN RHNDHrs_fieldheadercolumn}
			<th class="{$RHNDHrs_class}" {$RHNDHrs_style}  data-field="RHNDHrs">
				{$label payrolltab1 RHNDHrs}
			</th>
			{END RHNDHrs_fieldheadercolumn}
			{BEGIN SHNDHrs_fieldheadercolumn}
			<th class="{$SHNDHrs_class}" {$SHNDHrs_style}  data-field="SHNDHrs">
				{$label payrolltab1 SHNDHrs}
			</th>
			{END SHNDHrs_fieldheadercolumn}
			{BEGIN CHNDHrs_fieldheadercolumn}
			<th class="{$CHNDHrs_class}" {$CHNDHrs_style}  data-field="CHNDHrs">
				{$label payrolltab1 CHNDHrs}
			</th>
			{END CHNDHrs_fieldheadercolumn}
			{BEGIN RDNDHrs_fieldheadercolumn}
			<th class="{$RDNDHrs_class}" {$RDNDHrs_style}  data-field="RDNDHrs">
				{$label payrolltab1 RDNDHrs}
			</th>
			{END RDNDHrs_fieldheadercolumn}
			{BEGIN DHRDND_fieldheadercolumn}
			<th class="{$DHRDND_class}" {$DHRDND_style}  data-field="DHRDND">
				{$label payrolltab1 DHRDND}
			</th>
			{END DHRDND_fieldheadercolumn}
			{BEGIN DHND_fieldheadercolumn}
			<th class="{$DHND_class}" {$DHND_style}  data-field="DHND">
				{$label payrolltab1 DHND}
			</th>
			{END DHND_fieldheadercolumn}
			{BEGIN RHRDND_fieldheadercolumn}
			<th class="{$RHRDND_class}" {$RHRDND_style}  data-field="RHRDND">
				{$label payrolltab1 RHRDND}
			</th>
			{END RHRDND_fieldheadercolumn}
			{BEGIN SHRDND_fieldheadercolumn}
			<th class="{$SHRDND_class}" {$SHRDND_style}  data-field="SHRDND">
				{$label payrolltab1 SHRDND}
			</th>
			{END SHRDND_fieldheadercolumn}
			{BEGIN DHOT_fieldheadercolumn}
			<th class="{$DHOT_class}" {$DHOT_style}  data-field="DHOT">
				{$label payrolltab1 DHOT}
			</th>
			{END DHOT_fieldheadercolumn}
			{BEGIN DHRD_fieldheadercolumn}
			<th class="{$DHRD_class}" {$DHRD_style}  data-field="DHRD">
				{$label payrolltab1 DHRD}
			</th>
			{END DHRD_fieldheadercolumn}
			{BEGIN DH_fieldheadercolumn}
			<th class="{$DH_class}" {$DH_style}  data-field="DH">
				{$label payrolltab1 DH}
			</th>
			{END DH_fieldheadercolumn}
			{BEGIN VLDays_fieldheadercolumn}
			<th class="{$VLDays_class}" {$VLDays_style}  data-field="VLDays">
				{$label payrolltab1 VLDays}
			</th>
			{END VLDays_fieldheadercolumn}
			{BEGIN SLDays_fieldheadercolumn}
			<th class="{$SLDays_class}" {$SLDays_style}  data-field="SLDays">
				{$label payrolltab1 SLDays}
			</th>
			{END SLDays_fieldheadercolumn}
			{BEGIN ELDays_fieldheadercolumn}
			<th class="{$ELDays_class}" {$ELDays_style}  data-field="ELDays">
				{$label payrolltab1 ELDays}
			</th>
			{END ELDays_fieldheadercolumn}
			{BEGIN PLDays_fieldheadercolumn}
			<th class="{$PLDays_class}" {$PLDays_style}  data-field="PLDays">
				{$label payrolltab1 PLDays}
			</th>
			{END PLDays_fieldheadercolumn}
			{BEGIN PLBalance_fieldheadercolumn}
			<th class="{$PLBalance_class}" {$PLBalance_style}  data-field="PLBalance">
				{$label payrolltab1 PLBalance}
			</th>
			{END PLBalance_fieldheadercolumn}
			{BEGIN ELBalance_fieldheadercolumn}
			<th class="{$ELBalance_class}" {$ELBalance_style}  data-field="ELBalance">
				{$label payrolltab1 ELBalance}
			</th>
			{END ELBalance_fieldheadercolumn}
			{BEGIN SLBalance_fieldheadercolumn}
			<th class="{$SLBalance_class}" {$SLBalance_style}  data-field="SLBalance">
				{$label payrolltab1 SLBalance}
			</th>
			{END SLBalance_fieldheadercolumn}
			{BEGIN VLBalance_fieldheadercolumn}
			<th class="{$VLBalance_class}" {$VLBalance_style}  data-field="VLBalance">
				{$label payrolltab1 VLBalance}
			</th>
			{END VLBalance_fieldheadercolumn}
			{BEGIN AllowancePerDay_fieldheadercolumn}
			<th class="{$AllowancePerDay_class}" {$AllowancePerDay_style}  data-field="AllowancePerDay">
				{$label payrolltab1 AllowancePerDay}
			</th>
			{END AllowancePerDay_fieldheadercolumn}
			{BEGIN AgencyShare_fieldheadercolumn}
			<th class="{$AgencyShare_class}" {$AgencyShare_style}  data-field="AgencyShare">
				{$label payrolltab1 AgencyShare}
			</th>
			{END AgencyShare_fieldheadercolumn}
			{BEGIN NDMealAllowance_fieldheadercolumn}
			<th class="{$NDMealAllowance_class}" {$NDMealAllowance_style}  data-field="NDMealAllowance">
				{$label payrolltab1 NDMealAllowance}
			</th>
			{END NDMealAllowance_fieldheadercolumn}
			{BEGIN Thirteenth_fieldheadercolumn}
			<th class="{$Thirteenth_class}" {$Thirteenth_style}  data-field="Thirteenth">
				{$label payrolltab1 Thirteenth}
			</th>
			{END Thirteenth_fieldheadercolumn}
			{BEGIN Taxable_fieldheadercolumn}
			<th class="{$Taxable_class}" {$Taxable_style}  data-field="Taxable">
				{$label payrolltab1 Taxable}
			</th>
			{END Taxable_fieldheadercolumn}
			{BEGIN ThirToDate_fieldheadercolumn}
			<th class="{$ThirToDate_class}" {$ThirToDate_style}  data-field="ThirToDate">
				{$label payrolltab1 ThirToDate}
			</th>
			{END ThirToDate_fieldheadercolumn}
			{BEGIN TaxableToDate_fieldheadercolumn}
			<th class="{$TaxableToDate_class}" {$TaxableToDate_style}  data-field="TaxableToDate">
				{$label payrolltab1 TaxableToDate}
			</th>
			{END TaxableToDate_fieldheadercolumn}
			{BEGIN TaxToDate_fieldheadercolumn}
			<th class="{$TaxToDate_class}" {$TaxToDate_style}  data-field="TaxToDate">
				{$label payrolltab1 TaxToDate}
			</th>
			{END TaxToDate_fieldheadercolumn}
			{BEGIN PayrollID_fieldheadercolumn}
			<th class="{$PayrollID_class}" {$PayrollID_style}  data-field="PayrollID">
				{$label payrolltab1 PayrollID}
			</th>
			{END PayrollID_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN PtabID_fieldcolumn}
			<td  class="{$PtabID_class}" {$PtabID_style} {$recordattrs}>
				{$PtabID_value}
			</td>
			{END PtabID_fieldcolumn}
			{BEGIN Locked_fieldcolumn}
			<td  class="{$Locked_class}" {$Locked_style} {$recordattrs}>
				{$Locked_value}
			</td>
			{END Locked_fieldcolumn}
			{BEGIN FromDate_fieldcolumn}
			<td  class="{$FromDate_class}" {$FromDate_style} {$recordattrs}>
				{$FromDate_value}
			</td>
			{END FromDate_fieldcolumn}
			{BEGIN ToDate_fieldcolumn}
			<td  class="{$ToDate_class}" {$ToDate_style} {$recordattrs}>
				{$ToDate_value}
			</td>
			{END ToDate_fieldcolumn}
			{BEGIN EmployeeID_fieldcolumn}
			<td  class="{$EmployeeID_class}" {$EmployeeID_style} {$recordattrs}>
				{$EmployeeID_value}
			</td>
			{END EmployeeID_fieldcolumn}
			{BEGIN UserName_fieldcolumn}
			<td  class="{$UserName_class}" {$UserName_style} {$recordattrs}>
				{$UserName_value}
			</td>
			{END UserName_fieldcolumn}
			{BEGIN Email_fieldcolumn}
			<td  class="{$Email_class}" {$Email_style} {$recordattrs}>
				{$Email_value}
			</td>
			{END Email_fieldcolumn}
			{BEGIN Position_fieldcolumn}
			<td  class="{$Position_class}" {$Position_style} {$recordattrs}>
				{$Position_value}
			</td>
			{END Position_fieldcolumn}
			{BEGIN Division_fieldcolumn}
			<td  class="{$Division_class}" {$Division_style} {$recordattrs}>
				{$Division_value}
			</td>
			{END Division_fieldcolumn}
			{BEGIN Employer_fieldcolumn}
			<td  class="{$Employer_class}" {$Employer_style} {$recordattrs}>
				{$Employer_value}
			</td>
			{END Employer_fieldcolumn}
			{BEGIN WageType_fieldcolumn}
			<td  class="{$WageType_class}" {$WageType_style} {$recordattrs}>
				{$WageType_value}
			</td>
			{END WageType_fieldcolumn}
			{BEGIN Status_fieldcolumn}
			<td  class="{$Status_class}" {$Status_style} {$recordattrs}>
				{$Status_value}
			</td>
			{END Status_fieldcolumn}
			{BEGIN BasicMonthly_fieldcolumn}
			<td  class="{$BasicMonthly_class}" {$BasicMonthly_style} {$recordattrs}>
				{$BasicMonthly_value}
			</td>
			{END BasicMonthly_fieldcolumn}
			{BEGIN BasicDaily_fieldcolumn}
			<td  class="{$BasicDaily_class}" {$BasicDaily_style} {$recordattrs}>
				{$BasicDaily_value}
			</td>
			{END BasicDaily_fieldcolumn}
			{BEGIN DWork_fieldcolumn}
			<td  class="{$DWork_class}" {$DWork_style} {$recordattrs}>
				{$DWork_value}
			</td>
			{END DWork_fieldcolumn}
			{BEGIN Absent_fieldcolumn}
			<td  class="{$Absent_class}" {$Absent_style} {$recordattrs}>
				{$Absent_value}
			</td>
			{END Absent_fieldcolumn}
			{BEGIN LateMins_fieldcolumn}
			<td  class="{$LateMins_class}" {$LateMins_style} {$recordattrs}>
				{$LateMins_value}
			</td>
			{END LateMins_fieldcolumn}
			{BEGIN UndertimeMins_fieldcolumn}
			<td  class="{$UndertimeMins_class}" {$UndertimeMins_style} {$recordattrs}>
				{$UndertimeMins_value}
			</td>
			{END UndertimeMins_fieldcolumn}
			{BEGIN RHolidayHrs_fieldcolumn}
			<td  class="{$RHolidayHrs_class}" {$RHolidayHrs_style} {$recordattrs}>
				{$RHolidayHrs_value}
			</td>
			{END RHolidayHrs_fieldcolumn}
			{BEGIN SHolidayHrs_fieldcolumn}
			<td  class="{$SHolidayHrs_class}" {$SHolidayHrs_style} {$recordattrs}>
				{$SHolidayHrs_value}
			</td>
			{END SHolidayHrs_fieldcolumn}
			{BEGIN CHolidayHrs_fieldcolumn}
			<td  class="{$CHolidayHrs_class}" {$CHolidayHrs_style} {$recordattrs}>
				{$CHolidayHrs_value}
			</td>
			{END CHolidayHrs_fieldcolumn}
			{BEGIN ExcessHrs_fieldcolumn}
			<td  class="{$ExcessHrs_class}" {$ExcessHrs_style} {$recordattrs}>
				{$ExcessHrs_value}
			</td>
			{END ExcessHrs_fieldcolumn}
			{BEGIN RegOTHrs_fieldcolumn}
			<td  class="{$RegOTHrs_class}" {$RegOTHrs_style} {$recordattrs}>
				{$RegOTHrs_value}
			</td>
			{END RegOTHrs_fieldcolumn}
			{BEGIN RHOTHrs_fieldcolumn}
			<td  class="{$RHOTHrs_class}" {$RHOTHrs_style} {$recordattrs}>
				{$RHOTHrs_value}
			</td>
			{END RHOTHrs_fieldcolumn}
			{BEGIN SHOTHRs_fieldcolumn}
			<td  class="{$SHOTHRs_class}" {$SHOTHRs_style} {$recordattrs}>
				{$SHOTHRs_value}
			</td>
			{END SHOTHRs_fieldcolumn}
			{BEGIN CHOTHrs_fieldcolumn}
			<td  class="{$CHOTHrs_class}" {$CHOTHrs_style} {$recordattrs}>
				{$CHOTHrs_value}
			</td>
			{END CHOTHrs_fieldcolumn}
			{BEGIN TrODays_fieldcolumn}
			<td  class="{$TrODays_class}" {$TrODays_style} {$recordattrs}>
				{$TrODays_value}
			</td>
			{END TrODays_fieldcolumn}
			{BEGIN RDOTHrs_fieldcolumn}
			<td  class="{$RDOTHrs_class}" {$RDOTHrs_style} {$recordattrs}>
				{$RDOTHrs_value}
			</td>
			{END RDOTHrs_fieldcolumn}
			{BEGIN NDHrs_fieldcolumn}
			<td  class="{$NDHrs_class}" {$NDHrs_style} {$recordattrs}>
				{$NDHrs_value}
			</td>
			{END NDHrs_fieldcolumn}
			{BEGIN NDOTHrs_fieldcolumn}
			<td  class="{$NDOTHrs_class}" {$NDOTHrs_style} {$recordattrs}>
				{$NDOTHrs_value}
			</td>
			{END NDOTHrs_fieldcolumn}
			{BEGIN RegNDOTHrs_fieldcolumn}
			<td  class="{$RegNDOTHrs_class}" {$RegNDOTHrs_style} {$recordattrs}>
				{$RegNDOTHrs_value}
			</td>
			{END RegNDOTHrs_fieldcolumn}
			{BEGIN RHNDOTHrs_fieldcolumn}
			<td  class="{$RHNDOTHrs_class}" {$RHNDOTHrs_style} {$recordattrs}>
				{$RHNDOTHrs_value}
			</td>
			{END RHNDOTHrs_fieldcolumn}
			{BEGIN CHNDOTHrs_fieldcolumn}
			<td  class="{$CHNDOTHrs_class}" {$CHNDOTHrs_style} {$recordattrs}>
				{$CHNDOTHrs_value}
			</td>
			{END CHNDOTHrs_fieldcolumn}
			{BEGIN SHNDOTHrs_fieldcolumn}
			<td  class="{$SHNDOTHrs_class}" {$SHNDOTHrs_style} {$recordattrs}>
				{$SHNDOTHrs_value}
			</td>
			{END SHNDOTHrs_fieldcolumn}
			{BEGIN SHRDNDOT_fieldcolumn}
			<td  class="{$SHRDNDOT_class}" {$SHRDNDOT_style} {$recordattrs}>
				{$SHRDNDOT_value}
			</td>
			{END SHRDNDOT_fieldcolumn}
			{BEGIN RHRDNDOT_fieldcolumn}
			<td  class="{$RHRDNDOT_class}" {$RHRDNDOT_style} {$recordattrs}>
				{$RHRDNDOT_value}
			</td>
			{END RHRDNDOT_fieldcolumn}
			{BEGIN RDNDOTHrs_fieldcolumn}
			<td  class="{$RDNDOTHrs_class}" {$RDNDOTHrs_style} {$recordattrs}>
				{$RDNDOTHrs_value}
			</td>
			{END RDNDOTHrs_fieldcolumn}
			{BEGIN DHRDOT_fieldcolumn}
			<td  class="{$DHRDOT_class}" {$DHRDOT_style} {$recordattrs}>
				{$DHRDOT_value}
			</td>
			{END DHRDOT_fieldcolumn}
			{BEGIN DHRDNDOT_fieldcolumn}
			<td  class="{$DHRDNDOT_class}" {$DHRDNDOT_style} {$recordattrs}>
				{$DHRDNDOT_value}
			</td>
			{END DHRDNDOT_fieldcolumn}
			{BEGIN DHNDOT_fieldcolumn}
			<td  class="{$DHNDOT_class}" {$DHNDOT_style} {$recordattrs}>
				{$DHNDOT_value}
			</td>
			{END DHNDOT_fieldcolumn}
			{BEGIN RDHrs_fieldcolumn}
			<td  class="{$RDHrs_class}" {$RDHrs_style} {$recordattrs}>
				{$RDHrs_value}
			</td>
			{END RDHrs_fieldcolumn}
			{BEGIN RegNDHrs_fieldcolumn}
			<td  class="{$RegNDHrs_class}" {$RegNDHrs_style} {$recordattrs}>
				{$RegNDHrs_value}
			</td>
			{END RegNDHrs_fieldcolumn}
			{BEGIN RHNDHrs_fieldcolumn}
			<td  class="{$RHNDHrs_class}" {$RHNDHrs_style} {$recordattrs}>
				{$RHNDHrs_value}
			</td>
			{END RHNDHrs_fieldcolumn}
			{BEGIN SHNDHrs_fieldcolumn}
			<td  class="{$SHNDHrs_class}" {$SHNDHrs_style} {$recordattrs}>
				{$SHNDHrs_value}
			</td>
			{END SHNDHrs_fieldcolumn}
			{BEGIN CHNDHrs_fieldcolumn}
			<td  class="{$CHNDHrs_class}" {$CHNDHrs_style} {$recordattrs}>
				{$CHNDHrs_value}
			</td>
			{END CHNDHrs_fieldcolumn}
			{BEGIN RDNDHrs_fieldcolumn}
			<td  class="{$RDNDHrs_class}" {$RDNDHrs_style} {$recordattrs}>
				{$RDNDHrs_value}
			</td>
			{END RDNDHrs_fieldcolumn}
			{BEGIN DHRDND_fieldcolumn}
			<td  class="{$DHRDND_class}" {$DHRDND_style} {$recordattrs}>
				{$DHRDND_value}
			</td>
			{END DHRDND_fieldcolumn}
			{BEGIN DHND_fieldcolumn}
			<td  class="{$DHND_class}" {$DHND_style} {$recordattrs}>
				{$DHND_value}
			</td>
			{END DHND_fieldcolumn}
			{BEGIN RHRDND_fieldcolumn}
			<td  class="{$RHRDND_class}" {$RHRDND_style} {$recordattrs}>
				{$RHRDND_value}
			</td>
			{END RHRDND_fieldcolumn}
			{BEGIN SHRDND_fieldcolumn}
			<td  class="{$SHRDND_class}" {$SHRDND_style} {$recordattrs}>
				{$SHRDND_value}
			</td>
			{END SHRDND_fieldcolumn}
			{BEGIN DHOT_fieldcolumn}
			<td  class="{$DHOT_class}" {$DHOT_style} {$recordattrs}>
				{$DHOT_value}
			</td>
			{END DHOT_fieldcolumn}
			{BEGIN DHRD_fieldcolumn}
			<td  class="{$DHRD_class}" {$DHRD_style} {$recordattrs}>
				{$DHRD_value}
			</td>
			{END DHRD_fieldcolumn}
			{BEGIN DH_fieldcolumn}
			<td  class="{$DH_class}" {$DH_style} {$recordattrs}>
				{$DH_value}
			</td>
			{END DH_fieldcolumn}
			{BEGIN VLDays_fieldcolumn}
			<td  class="{$VLDays_class}" {$VLDays_style} {$recordattrs}>
				{$VLDays_value}
			</td>
			{END VLDays_fieldcolumn}
			{BEGIN SLDays_fieldcolumn}
			<td  class="{$SLDays_class}" {$SLDays_style} {$recordattrs}>
				{$SLDays_value}
			</td>
			{END SLDays_fieldcolumn}
			{BEGIN ELDays_fieldcolumn}
			<td  class="{$ELDays_class}" {$ELDays_style} {$recordattrs}>
				{$ELDays_value}
			</td>
			{END ELDays_fieldcolumn}
			{BEGIN PLDays_fieldcolumn}
			<td  class="{$PLDays_class}" {$PLDays_style} {$recordattrs}>
				{$PLDays_value}
			</td>
			{END PLDays_fieldcolumn}
			{BEGIN PLBalance_fieldcolumn}
			<td  class="{$PLBalance_class}" {$PLBalance_style} {$recordattrs}>
				{$PLBalance_value}
			</td>
			{END PLBalance_fieldcolumn}
			{BEGIN ELBalance_fieldcolumn}
			<td  class="{$ELBalance_class}" {$ELBalance_style} {$recordattrs}>
				{$ELBalance_value}
			</td>
			{END ELBalance_fieldcolumn}
			{BEGIN SLBalance_fieldcolumn}
			<td  class="{$SLBalance_class}" {$SLBalance_style} {$recordattrs}>
				{$SLBalance_value}
			</td>
			{END SLBalance_fieldcolumn}
			{BEGIN VLBalance_fieldcolumn}
			<td  class="{$VLBalance_class}" {$VLBalance_style} {$recordattrs}>
				{$VLBalance_value}
			</td>
			{END VLBalance_fieldcolumn}
			{BEGIN AllowancePerDay_fieldcolumn}
			<td  class="{$AllowancePerDay_class}" {$AllowancePerDay_style} {$recordattrs}>
				{$AllowancePerDay_value}
			</td>
			{END AllowancePerDay_fieldcolumn}
			{BEGIN AgencyShare_fieldcolumn}
			<td  class="{$AgencyShare_class}" {$AgencyShare_style} {$recordattrs}>
				{$AgencyShare_value}
			</td>
			{END AgencyShare_fieldcolumn}
			{BEGIN NDMealAllowance_fieldcolumn}
			<td  class="{$NDMealAllowance_class}" {$NDMealAllowance_style} {$recordattrs}>
				{$NDMealAllowance_value}
			</td>
			{END NDMealAllowance_fieldcolumn}
			{BEGIN Thirteenth_fieldcolumn}
			<td  class="{$Thirteenth_class}" {$Thirteenth_style} {$recordattrs}>
				{$Thirteenth_value}
			</td>
			{END Thirteenth_fieldcolumn}
			{BEGIN Taxable_fieldcolumn}
			<td  class="{$Taxable_class}" {$Taxable_style} {$recordattrs}>
				{$Taxable_value}
			</td>
			{END Taxable_fieldcolumn}
			{BEGIN ThirToDate_fieldcolumn}
			<td  class="{$ThirToDate_class}" {$ThirToDate_style} {$recordattrs}>
				{$ThirToDate_value}
			</td>
			{END ThirToDate_fieldcolumn}
			{BEGIN TaxableToDate_fieldcolumn}
			<td  class="{$TaxableToDate_class}" {$TaxableToDate_style} {$recordattrs}>
				{$TaxableToDate_value}
			</td>
			{END TaxableToDate_fieldcolumn}
			{BEGIN TaxToDate_fieldcolumn}
			<td  class="{$TaxToDate_class}" {$TaxToDate_style} {$recordattrs}>
				{$TaxToDate_value}
			</td>
			{END TaxToDate_fieldcolumn}
			{BEGIN PayrollID_fieldcolumn}
			<td  class="{$PayrollID_class}" {$PayrollID_style} {$recordattrs}>
				{$PayrollID_value}
			</td>
			{END PayrollID_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

{BEGIN totals_row}
	<tfoot>
		<tr class=" style1">
		{BEGIN totals_record}
			{BEGIN PtabID_fieldfootercolumn}
			<td>
						</td>
			{END PtabID_fieldfootercolumn}
			{BEGIN Locked_fieldfootercolumn}
			<td>
							{BEGIN Locked_showtotal}
									Count:
				{$Locked_total}
				{END Locked_showtotal}
			</td>
			{END Locked_fieldfootercolumn}
			{BEGIN FromDate_fieldfootercolumn}
			<td>
						</td>
			{END FromDate_fieldfootercolumn}
			{BEGIN ToDate_fieldfootercolumn}
			<td>
						</td>
			{END ToDate_fieldfootercolumn}
			{BEGIN EmployeeID_fieldfootercolumn}
			<td>
						</td>
			{END EmployeeID_fieldfootercolumn}
			{BEGIN UserName_fieldfootercolumn}
			<td>
						</td>
			{END UserName_fieldfootercolumn}
			{BEGIN Email_fieldfootercolumn}
			<td>
						</td>
			{END Email_fieldfootercolumn}
			{BEGIN Position_fieldfootercolumn}
			<td>
						</td>
			{END Position_fieldfootercolumn}
			{BEGIN Division_fieldfootercolumn}
			<td>
						</td>
			{END Division_fieldfootercolumn}
			{BEGIN Employer_fieldfootercolumn}
			<td>
						</td>
			{END Employer_fieldfootercolumn}
			{BEGIN WageType_fieldfootercolumn}
			<td>
						</td>
			{END WageType_fieldfootercolumn}
			{BEGIN Status_fieldfootercolumn}
			<td>
						</td>
			{END Status_fieldfootercolumn}
			{BEGIN BasicMonthly_fieldfootercolumn}
			<td>
						</td>
			{END BasicMonthly_fieldfootercolumn}
			{BEGIN BasicDaily_fieldfootercolumn}
			<td>
						</td>
			{END BasicDaily_fieldfootercolumn}
			{BEGIN DWork_fieldfootercolumn}
			<td>
						</td>
			{END DWork_fieldfootercolumn}
			{BEGIN Absent_fieldfootercolumn}
			<td>
						</td>
			{END Absent_fieldfootercolumn}
			{BEGIN LateMins_fieldfootercolumn}
			<td>
						</td>
			{END LateMins_fieldfootercolumn}
			{BEGIN UndertimeMins_fieldfootercolumn}
			<td>
						</td>
			{END UndertimeMins_fieldfootercolumn}
			{BEGIN RHolidayHrs_fieldfootercolumn}
			<td>
						</td>
			{END RHolidayHrs_fieldfootercolumn}
			{BEGIN SHolidayHrs_fieldfootercolumn}
			<td>
						</td>
			{END SHolidayHrs_fieldfootercolumn}
			{BEGIN CHolidayHrs_fieldfootercolumn}
			<td>
						</td>
			{END CHolidayHrs_fieldfootercolumn}
			{BEGIN ExcessHrs_fieldfootercolumn}
			<td>
						</td>
			{END ExcessHrs_fieldfootercolumn}
			{BEGIN RegOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RegOTHrs_fieldfootercolumn}
			{BEGIN RHOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RHOTHrs_fieldfootercolumn}
			{BEGIN SHOTHRs_fieldfootercolumn}
			<td>
						</td>
			{END SHOTHRs_fieldfootercolumn}
			{BEGIN CHOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END CHOTHrs_fieldfootercolumn}
			{BEGIN TrODays_fieldfootercolumn}
			<td>
						</td>
			{END TrODays_fieldfootercolumn}
			{BEGIN RDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RDOTHrs_fieldfootercolumn}
			{BEGIN NDHrs_fieldfootercolumn}
			<td>
						</td>
			{END NDHrs_fieldfootercolumn}
			{BEGIN NDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END NDOTHrs_fieldfootercolumn}
			{BEGIN RegNDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RegNDOTHrs_fieldfootercolumn}
			{BEGIN RHNDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RHNDOTHrs_fieldfootercolumn}
			{BEGIN CHNDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END CHNDOTHrs_fieldfootercolumn}
			{BEGIN SHNDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END SHNDOTHrs_fieldfootercolumn}
			{BEGIN SHRDNDOT_fieldfootercolumn}
			<td>
						</td>
			{END SHRDNDOT_fieldfootercolumn}
			{BEGIN RHRDNDOT_fieldfootercolumn}
			<td>
						</td>
			{END RHRDNDOT_fieldfootercolumn}
			{BEGIN RDNDOTHrs_fieldfootercolumn}
			<td>
						</td>
			{END RDNDOTHrs_fieldfootercolumn}
			{BEGIN DHRDOT_fieldfootercolumn}
			<td>
						</td>
			{END DHRDOT_fieldfootercolumn}
			{BEGIN DHRDNDOT_fieldfootercolumn}
			<td>
						</td>
			{END DHRDNDOT_fieldfootercolumn}
			{BEGIN DHNDOT_fieldfootercolumn}
			<td>
						</td>
			{END DHNDOT_fieldfootercolumn}
			{BEGIN RDHrs_fieldfootercolumn}
			<td>
						</td>
			{END RDHrs_fieldfootercolumn}
			{BEGIN RegNDHrs_fieldfootercolumn}
			<td>
						</td>
			{END RegNDHrs_fieldfootercolumn}
			{BEGIN RHNDHrs_fieldfootercolumn}
			<td>
						</td>
			{END RHNDHrs_fieldfootercolumn}
			{BEGIN SHNDHrs_fieldfootercolumn}
			<td>
						</td>
			{END SHNDHrs_fieldfootercolumn}
			{BEGIN CHNDHrs_fieldfootercolumn}
			<td>
						</td>
			{END CHNDHrs_fieldfootercolumn}
			{BEGIN RDNDHrs_fieldfootercolumn}
			<td>
						</td>
			{END RDNDHrs_fieldfootercolumn}
			{BEGIN DHRDND_fieldfootercolumn}
			<td>
						</td>
			{END DHRDND_fieldfootercolumn}
			{BEGIN DHND_fieldfootercolumn}
			<td>
						</td>
			{END DHND_fieldfootercolumn}
			{BEGIN RHRDND_fieldfootercolumn}
			<td>
						</td>
			{END RHRDND_fieldfootercolumn}
			{BEGIN SHRDND_fieldfootercolumn}
			<td>
						</td>
			{END SHRDND_fieldfootercolumn}
			{BEGIN DHOT_fieldfootercolumn}
			<td>
						</td>
			{END DHOT_fieldfootercolumn}
			{BEGIN DHRD_fieldfootercolumn}
			<td>
						</td>
			{END DHRD_fieldfootercolumn}
			{BEGIN DH_fieldfootercolumn}
			<td>
						</td>
			{END DH_fieldfootercolumn}
			{BEGIN VLDays_fieldfootercolumn}
			<td>
						</td>
			{END VLDays_fieldfootercolumn}
			{BEGIN SLDays_fieldfootercolumn}
			<td>
						</td>
			{END SLDays_fieldfootercolumn}
			{BEGIN ELDays_fieldfootercolumn}
			<td>
						</td>
			{END ELDays_fieldfootercolumn}
			{BEGIN PLDays_fieldfootercolumn}
			<td>
						</td>
			{END PLDays_fieldfootercolumn}
			{BEGIN PLBalance_fieldfootercolumn}
			<td>
						</td>
			{END PLBalance_fieldfootercolumn}
			{BEGIN ELBalance_fieldfootercolumn}
			<td>
						</td>
			{END ELBalance_fieldfootercolumn}
			{BEGIN SLBalance_fieldfootercolumn}
			<td>
						</td>
			{END SLBalance_fieldfootercolumn}
			{BEGIN VLBalance_fieldfootercolumn}
			<td>
						</td>
			{END VLBalance_fieldfootercolumn}
			{BEGIN AllowancePerDay_fieldfootercolumn}
			<td>
						</td>
			{END AllowancePerDay_fieldfootercolumn}
			{BEGIN AgencyShare_fieldfootercolumn}
			<td>
						</td>
			{END AgencyShare_fieldfootercolumn}
			{BEGIN NDMealAllowance_fieldfootercolumn}
			<td>
						</td>
			{END NDMealAllowance_fieldfootercolumn}
			{BEGIN Thirteenth_fieldfootercolumn}
			<td>
						</td>
			{END Thirteenth_fieldfootercolumn}
			{BEGIN Taxable_fieldfootercolumn}
			<td>
						</td>
			{END Taxable_fieldfootercolumn}
			{BEGIN ThirToDate_fieldfootercolumn}
			<td>
						</td>
			{END ThirToDate_fieldfootercolumn}
			{BEGIN TaxableToDate_fieldfootercolumn}
			<td>
						</td>
			{END TaxableToDate_fieldfootercolumn}
			{BEGIN TaxToDate_fieldfootercolumn}
			<td>
						</td>
			{END TaxToDate_fieldfootercolumn}
			{BEGIN PayrollID_fieldfootercolumn}
			<td>
						</td>
			{END PayrollID_fieldfootercolumn}
			{BEGIN endrecordtotals_block}
			<td class="rnr-cs"></td>
			{END endrecordtotals_block}
		{END totals_record}
		</tr>
	</tfoot>
{END totals_row}
</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
