<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel payroll masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=PSID]:before {
		content: "{$label payroll PSID}";
	}
	.bs-gridcell[data-field=PayDate]:before {
		content: "{$label payroll PayDate}";
	}
	.bs-gridcell[data-field=PayFromDate]:before {
		content: "{$label payroll PayFromDate}";
	}
	.bs-gridcell[data-field=PayToDate]:before {
		content: "{$label payroll PayToDate}";
	}
	.bs-gridcell[data-field=Locked]:before {
		content: "{$label payroll Locked}";
	}
	.bs-gridcell[data-field=Statutories]:before {
		content: "{$label payroll Statutories}";
	}
	.bs-gridcell[data-field=Stat_Loans]:before {
		content: "{$label payroll Stat_Loans}";
	}
	.bs-gridcell[data-field=Deductions]:before {
		content: "{$label payroll Deductions}";
	}
	.bs-gridcell[data-field=Adjustments]:before {
		content: "{$label payroll Adjustments}";
	}
	.bs-gridcell[data-field=PresetTax]:before {
		content: "{$label payroll PresetTax}";
	}
	.bs-gridcell[data-field=13thMonth]:before {
		content: "{$label payroll 13thMonth}";
	}
	.bs-gridcell[data-field=Employer]:before {
		content: "{$label payroll Employer}";
	}
	.bs-gridcell[data-field=Division]:before {
		content: "{$label payroll Division}";
	}
	.bs-gridcell[data-field=WageType]:before {
		content: "{$label payroll WageType}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$PSID_class}">{$label payroll PSID}</th>
			<th class="{$Locked_class}">{$label payroll Locked}</th>
			<th class="{$Employer_class}">{$label payroll Employer}</th>
			<th class="{$Division_class}">{$label payroll Division}</th>
			<th class="{$WageType_class}">{$label payroll WageType}</th>
			<th class="{$PayFromDate_class}">{$label payroll PayFromDate}</th>
			<th class="{$PayToDate_class}">{$label payroll PayToDate}</th>
			<th class="{$PayDate_class}">{$label payroll PayDate}</th>
			<th class="{$Statutories_class}">{$label payroll Statutories}</th>
			<th class="{$Stat_Loans_class}">{$label payroll Stat_Loans}</th>
			<th class="{$Deductions_class}">{$label payroll Deductions}</th>
			<th class="{$Adjustments_class}">{$label payroll Adjustments}</th>
			<th class="{$PresetTax_class}">{$label payroll PresetTax}</th>
			<th class="{$13thMonth_class}">{$label payroll 13thMonth}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$PSID_class} bs-gridcell" data-field=PSID>{$PSID_mastervalue}</td>
			<td class="{$Locked_class} bs-gridcell" data-field=Locked>{$Locked_mastervalue}</td>
			<td class="{$Employer_class} bs-gridcell" data-field=Employer>{$Employer_mastervalue}</td>
			<td class="{$Division_class} bs-gridcell" data-field=Division>{$Division_mastervalue}</td>
			<td class="{$WageType_class} bs-gridcell" data-field=WageType>{$WageType_mastervalue}</td>
			<td class="{$PayFromDate_class} bs-gridcell" data-field=PayFromDate>{$PayFromDate_mastervalue}</td>
			<td class="{$PayToDate_class} bs-gridcell" data-field=PayToDate>{$PayToDate_mastervalue}</td>
			<td class="{$PayDate_class} bs-gridcell" data-field=PayDate>{$PayDate_mastervalue}</td>
			<td class="{$Statutories_class} bs-gridcell" data-field=Statutories>{$Statutories_mastervalue}</td>
			<td class="{$Stat_Loans_class} bs-gridcell" data-field=Stat_Loans>{$Stat_Loans_mastervalue}</td>
			<td class="{$Deductions_class} bs-gridcell" data-field=Deductions>{$Deductions_mastervalue}</td>
			<td class="{$Adjustments_class} bs-gridcell" data-field=Adjustments>{$Adjustments_mastervalue}</td>
			<td class="{$PresetTax_class} bs-gridcell" data-field=PresetTax>{$PresetTax_mastervalue}</td>
			<td class="{$13thMonth_class} bs-gridcell" data-field=13thMonth>{$13thMonth_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>