<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel payrollstatutories view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN PstID_fieldblock}
	<div class="{$fielddispclass_PstID} col-md-6 bs-viewcontrolgroup" data-fieldname="PstID">
		<label class="control-label" for="{$labelfor_PstID}">
			{$label payrollstatutories PstID}
		</label>
		<div class="" >
			{$PstID_value}&nbsp;
		</div>
	</div>
{END PstID_fieldblock}
					{BEGIN Employer_fieldblock}
	<div class="{$fielddispclass_Employer} col-md-6 bs-viewcontrolgroup" data-fieldname="Employer">
		<label class="control-label" for="{$labelfor_Employer}">
			{$label payrollstatutories Employer}
		</label>
		<div class="" >
			{$Employer_value}&nbsp;
		</div>
	</div>
{END Employer_fieldblock}
					{BEGIN Division_fieldblock}
	<div class="{$fielddispclass_Division} col-md-6 bs-viewcontrolgroup" data-fieldname="Division">
		<label class="control-label" for="{$labelfor_Division}">
			{$label payrollstatutories Division}
		</label>
		<div class="" >
			{$Division_value}&nbsp;
		</div>
	</div>
{END Division_fieldblock}
					{BEGIN WageType_fieldblock}
	<div class="{$fielddispclass_WageType} col-md-6 bs-viewcontrolgroup" data-fieldname="WageType">
		<label class="control-label" for="{$labelfor_WageType}">
			{$label payrollstatutories WageType}
		</label>
		<div class="" >
			{$WageType_value}&nbsp;
		</div>
	</div>
{END WageType_fieldblock}
					{BEGIN EmployeeID_fieldblock}
	<div class="{$fielddispclass_EmployeeID} col-md-6 bs-viewcontrolgroup" data-fieldname="EmployeeID">
		<label class="control-label" for="{$labelfor_EmployeeID}">
			{$label payrollstatutories EmployeeID}
		</label>
		<div class="" >
			{$EmployeeID_value}&nbsp;
		</div>
	</div>
{END EmployeeID_fieldblock}
					{BEGIN FromDate_fieldblock}
	<div class="{$fielddispclass_FromDate} col-md-6 bs-viewcontrolgroup" data-fieldname="FromDate">
		<label class="control-label" for="{$labelfor_FromDate}">
			{$label payrollstatutories FromDate}
		</label>
		<div class="" >
			{$FromDate_value}&nbsp;
		</div>
	</div>
{END FromDate_fieldblock}
					{BEGIN ToDate_fieldblock}
	<div class="{$fielddispclass_ToDate} col-md-6 bs-viewcontrolgroup" data-fieldname="ToDate">
		<label class="control-label" for="{$labelfor_ToDate}">
			{$label payrollstatutories ToDate}
		</label>
		<div class="" >
			{$ToDate_value}&nbsp;
		</div>
	</div>
{END ToDate_fieldblock}
					{BEGIN SSS_fieldblock}
	<div class="{$fielddispclass_SSS} col-md-6 bs-viewcontrolgroup" data-fieldname="SSS">
		<label class="control-label" for="{$labelfor_SSS}">
			{$label payrollstatutories SSS}
		</label>
		<div class="" >
			{$SSS_value}&nbsp;
		</div>
	</div>
{END SSS_fieldblock}
					{BEGIN SSSER_fieldblock}
	<div class="{$fielddispclass_SSSER} col-md-6 bs-viewcontrolgroup" data-fieldname="SSSER">
		<label class="control-label" for="{$labelfor_SSSER}">
			{$label payrollstatutories SSSER}
		</label>
		<div class="" >
			{$SSSER_value}&nbsp;
		</div>
	</div>
{END SSSER_fieldblock}
					{BEGIN SSSEC_fieldblock}
	<div class="{$fielddispclass_SSSEC} col-md-6 bs-viewcontrolgroup" data-fieldname="SSSEC">
		<label class="control-label" for="{$labelfor_SSSEC}">
			{$label payrollstatutories SSSEC}
		</label>
		<div class="" >
			{$SSSEC_value}&nbsp;
		</div>
	</div>
{END SSSEC_fieldblock}
					{BEGIN SSSTotal_fieldblock}
	<div class="{$fielddispclass_SSSTotal} col-md-6 bs-viewcontrolgroup" data-fieldname="SSSTotal">
		<label class="control-label" for="{$labelfor_SSSTotal}">
			{$label payrollstatutories SSSTotal}
		</label>
		<div class="" >
			{$SSSTotal_value}&nbsp;
		</div>
	</div>
{END SSSTotal_fieldblock}
					{BEGIN PagIbig_fieldblock}
	<div class="{$fielddispclass_PagIbig} col-md-6 bs-viewcontrolgroup" data-fieldname="PagIbig">
		<label class="control-label" for="{$labelfor_PagIbig}">
			{$label payrollstatutories PagIbig}
		</label>
		<div class="" >
			{$PagIbig_value}&nbsp;
		</div>
	</div>
{END PagIbig_fieldblock}
					{BEGIN PagIbigER_fieldblock}
	<div class="{$fielddispclass_PagIbigER} col-md-6 bs-viewcontrolgroup" data-fieldname="PagIbigER">
		<label class="control-label" for="{$labelfor_PagIbigER}">
			{$label payrollstatutories PagIbigER}
		</label>
		<div class="" >
			{$PagIbigER_value}&nbsp;
		</div>
	</div>
{END PagIbigER_fieldblock}
					{BEGIN PagIbigTotal_fieldblock}
	<div class="{$fielddispclass_PagIbigTotal} col-md-6 bs-viewcontrolgroup" data-fieldname="PagIbigTotal">
		<label class="control-label" for="{$labelfor_PagIbigTotal}">
			{$label payrollstatutories PagIbigTotal}
		</label>
		<div class="" >
			{$PagIbigTotal_value}&nbsp;
		</div>
	</div>
{END PagIbigTotal_fieldblock}
					{BEGIN PHIC_fieldblock}
	<div class="{$fielddispclass_PHIC} col-md-6 bs-viewcontrolgroup" data-fieldname="PHIC">
		<label class="control-label" for="{$labelfor_PHIC}">
			{$label payrollstatutories PHIC}
		</label>
		<div class="" >
			{$PHIC_value}&nbsp;
		</div>
	</div>
{END PHIC_fieldblock}
					{BEGIN PHICER_fieldblock}
	<div class="{$fielddispclass_PHICER} col-md-6 bs-viewcontrolgroup" data-fieldname="PHICER">
		<label class="control-label" for="{$labelfor_PHICER}">
			{$label payrollstatutories PHICER}
		</label>
		<div class="" >
			{$PHICER_value}&nbsp;
		</div>
	</div>
{END PHICER_fieldblock}
					{BEGIN PHICTotal_fieldblock}
	<div class="{$fielddispclass_PHICTotal} col-md-6 bs-viewcontrolgroup" data-fieldname="PHICTotal">
		<label class="control-label" for="{$labelfor_PHICTotal}">
			{$label payrollstatutories PHICTotal}
		</label>
		<div class="" >
			{$PHICTotal_value}&nbsp;
		</div>
	</div>
{END PHICTotal_fieldblock}
					{BEGIN PSID_fieldblock}
	<div class="{$fielddispclass_PSID} col-md-6 bs-viewcontrolgroup" data-fieldname="PSID">
		<label class="control-label" for="{$labelfor_PSID}">
			{$label payrollstatutories PSID}
		</label>
		<div class="" >
			{$PSID_value}&nbsp;
		</div>
	</div>
{END PSID_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
