<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel payrollamt33 search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN FromDate_fieldblock}		
	<div class="container {$fielddispclass_FromDate}" data-fieldname="FromDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FromDate}">
				{$label payrollamt33 FromDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FromDate}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol1}
			</div>
		</div>
	</div>
{END FromDate_fieldblock}
	{BEGIN ToDate_fieldblock}		
	<div class="container {$fielddispclass_ToDate}" data-fieldname="ToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ToDate}">
				{$label payrollamt33 ToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ToDate}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol1}
			</div>
		</div>
	</div>
{END ToDate_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label payrollamt33 EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN UserName_fieldblock}		
	<div class="container {$fielddispclass_UserName}" data-fieldname="UserName">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UserName}">
				{$label payrollamt33 UserName}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UserName}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol1}
			</div>
		</div>
	</div>
{END UserName_fieldblock}
	{BEGIN Status_fieldblock}		
	<div class="container {$fielddispclass_Status}" data-fieldname="Status">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Status}">
				{$label payrollamt33 Status}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Status}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol1}
			</div>
		</div>
	</div>
{END Status_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label payrollamt33 Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label payrollamt33 Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN DHOT_fieldblock}		
	<div class="container {$fielddispclass_DHOT}" data-fieldname="DHOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHOT}">
				{$label payrollamt33 DHOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHOT}
			</div>
			<div class="col-md-4" >
				{$DHOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHOT_editcontrol1}
			</div>
		</div>
	</div>
{END DHOT_fieldblock}
	{BEGIN DHOTpay_fieldblock}		
	<div class="container {$fielddispclass_DHOTpay}" data-fieldname="DHOTpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHOTpay}">
				{$label payrollamt33 DHOTpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHOTpay}
			</div>
			<div class="col-md-4" >
				{$DHOTpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHOTpay_editcontrol1}
			</div>
		</div>
	</div>
{END DHOTpay_fieldblock}
	{BEGIN RHRDOT_fieldblock}		
	<div class="container {$fielddispclass_RHRDOT}" data-fieldname="RHRDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDOT}">
				{$label payrollamt33 RHRDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDOT}
			</div>
			<div class="col-md-4" >
				{$RHRDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDOT_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDOT_fieldblock}
	{BEGIN RHRDOTpay_fieldblock}		
	<div class="container {$fielddispclass_RHRDOTpay}" data-fieldname="RHRDOTpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDOTpay}">
				{$label payrollamt33 RHRDOTpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDOTpay}
			</div>
			<div class="col-md-4" >
				{$RHRDOTpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDOTpay_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDOTpay_fieldblock}
	{BEGIN SHRDOT_fieldblock}		
	<div class="container {$fielddispclass_SHRDOT}" data-fieldname="SHRDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDOT}">
				{$label payrollamt33 SHRDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDOT}
			</div>
			<div class="col-md-4" >
				{$SHRDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDOT_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDOT_fieldblock}
	{BEGIN SHRDOTpay_fieldblock}		
	<div class="container {$fielddispclass_SHRDOTpay}" data-fieldname="SHRDOTpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDOTpay}">
				{$label payrollamt33 SHRDOTpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDOTpay}
			</div>
			<div class="col-md-4" >
				{$SHRDOTpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDOTpay_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDOTpay_fieldblock}
	{BEGIN DHRDOT_fieldblock}		
	<div class="container {$fielddispclass_DHRDOT}" data-fieldname="DHRDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHRDOT}">
				{$label payrollamt33 DHRDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHRDOT}
			</div>
			<div class="col-md-4" >
				{$DHRDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHRDOT_editcontrol1}
			</div>
		</div>
	</div>
{END DHRDOT_fieldblock}
	{BEGIN DHRDOTpay_fieldblock}		
	<div class="container {$fielddispclass_DHRDOTpay}" data-fieldname="DHRDOTpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHRDOTpay}">
				{$label payrollamt33 DHRDOTpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHRDOTpay}
			</div>
			<div class="col-md-4" >
				{$DHRDOTpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHRDOTpay_editcontrol1}
			</div>
		</div>
	</div>
{END DHRDOTpay_fieldblock}
	{BEGIN TNDOTHr_fieldblock}		
	<div class="container {$fielddispclass_TNDOTHr}" data-fieldname="TNDOTHr">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TNDOTHr}">
				{$label payrollamt33 TNDOTHr}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TNDOTHr}
			</div>
			<div class="col-md-4" >
				{$TNDOTHr_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TNDOTHr_editcontrol1}
			</div>
		</div>
	</div>
{END TNDOTHr_fieldblock}
	{BEGIN TNDOT_fieldblock}		
	<div class="container {$fielddispclass_TNDOT}" data-fieldname="TNDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TNDOT}">
				{$label payrollamt33 TNDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TNDOT}
			</div>
			<div class="col-md-4" >
				{$TNDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TNDOT_editcontrol1}
			</div>
		</div>
	</div>
{END TNDOT_fieldblock}
	{BEGIN DH_fieldblock}		
	<div class="container {$fielddispclass_DH}" data-fieldname="DH">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DH}">
				{$label payrollamt33 DH}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DH}
			</div>
			<div class="col-md-4" >
				{$DH_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DH_editcontrol1}
			</div>
		</div>
	</div>
{END DH_fieldblock}
	{BEGIN DHpay_fieldblock}		
	<div class="container {$fielddispclass_DHpay}" data-fieldname="DHpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHpay}">
				{$label payrollamt33 DHpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHpay}
			</div>
			<div class="col-md-4" >
				{$DHpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHpay_editcontrol1}
			</div>
		</div>
	</div>
{END DHpay_fieldblock}
	{BEGIN RHRD_fieldblock}		
	<div class="container {$fielddispclass_RHRD}" data-fieldname="RHRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRD}">
				{$label payrollamt33 RHRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRD}
			</div>
			<div class="col-md-4" >
				{$RHRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRD_editcontrol1}
			</div>
		</div>
	</div>
{END RHRD_fieldblock}
	{BEGIN RHRDpay_fieldblock}		
	<div class="container {$fielddispclass_RHRDpay}" data-fieldname="RHRDpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDpay}">
				{$label payrollamt33 RHRDpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDpay}
			</div>
			<div class="col-md-4" >
				{$RHRDpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDpay_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDpay_fieldblock}
	{BEGIN SHRD_fieldblock}		
	<div class="container {$fielddispclass_SHRD}" data-fieldname="SHRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRD}">
				{$label payrollamt33 SHRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRD}
			</div>
			<div class="col-md-4" >
				{$SHRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRD_editcontrol1}
			</div>
		</div>
	</div>
{END SHRD_fieldblock}
	{BEGIN SHRDpay_fieldblock}		
	<div class="container {$fielddispclass_SHRDpay}" data-fieldname="SHRDpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDpay}">
				{$label payrollamt33 SHRDpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDpay}
			</div>
			<div class="col-md-4" >
				{$SHRDpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDpay_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDpay_fieldblock}
	{BEGIN DHRD_fieldblock}		
	<div class="container {$fielddispclass_DHRD}" data-fieldname="DHRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHRD}">
				{$label payrollamt33 DHRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHRD}
			</div>
			<div class="col-md-4" >
				{$DHRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHRD_editcontrol1}
			</div>
		</div>
	</div>
{END DHRD_fieldblock}
	{BEGIN DHRDpay_fieldblock}		
	<div class="container {$fielddispclass_DHRDpay}" data-fieldname="DHRDpay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DHRDpay}">
				{$label payrollamt33 DHRDpay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DHRDpay}
			</div>
			<div class="col-md-4" >
				{$DHRDpay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DHRDpay_editcontrol1}
			</div>
		</div>
	</div>
{END DHRDpay_fieldblock}
	{BEGIN TNDHr_fieldblock}		
	<div class="container {$fielddispclass_TNDHr}" data-fieldname="TNDHr">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TNDHr}">
				{$label payrollamt33 TNDHr}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TNDHr}
			</div>
			<div class="col-md-4" >
				{$TNDHr_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TNDHr_editcontrol1}
			</div>
		</div>
	</div>
{END TNDHr_fieldblock}
	{BEGIN OTHrs_fieldblock}		
	<div class="container {$fielddispclass_OTHrs}" data-fieldname="OTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OTHrs}">
				{$label payrollamt33 OTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OTHrs}
			</div>
			<div class="col-md-4" >
				{$OTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END OTHrs_fieldblock}
	{BEGIN TaxableToDate_fieldblock}		
	<div class="container {$fielddispclass_TaxableToDate}" data-fieldname="TaxableToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TaxableToDate}">
				{$label payrollamt33 TaxableToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TaxableToDate}
			</div>
			<div class="col-md-4" >
				{$TaxableToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TaxableToDate_editcontrol1}
			</div>
		</div>
	</div>
{END TaxableToDate_fieldblock}
	{BEGIN ThirToDate_fieldblock}		
	<div class="container {$fielddispclass_ThirToDate}" data-fieldname="ThirToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ThirToDate}">
				{$label payrollamt33 ThirToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ThirToDate}
			</div>
			<div class="col-md-4" >
				{$ThirToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ThirToDate_editcontrol1}
			</div>
		</div>
	</div>
{END ThirToDate_fieldblock}
	{BEGIN TaxToDate_fieldblock}		
	<div class="container {$fielddispclass_TaxToDate}" data-fieldname="TaxToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TaxToDate}">
				{$label payrollamt33 TaxToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TaxToDate}
			</div>
			<div class="col-md-4" >
				{$TaxToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TaxToDate_editcontrol1}
			</div>
		</div>
	</div>
{END TaxToDate_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
