<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel payrolltab search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN PtabID_fieldblock}		
	<div class="container {$fielddispclass_PtabID}" data-fieldname="PtabID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PtabID}">
				{$label payrolltab PtabID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PtabID}
			</div>
			<div class="col-md-4" >
				{$PtabID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PtabID_editcontrol1}
			</div>
		</div>
	</div>
{END PtabID_fieldblock}
	{BEGIN Locked_fieldblock}		
	<div class="container {$fielddispclass_Locked}" data-fieldname="Locked">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Locked}">
				{$label payrolltab Locked}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Locked}
			</div>
			<div class="col-md-4" >
				{$Locked_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Locked_editcontrol1}
			</div>
		</div>
	</div>
{END Locked_fieldblock}
	{BEGIN Email_fieldblock}		
	<div class="container {$fielddispclass_Email}" data-fieldname="Email">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Email}">
				{$label payrolltab Email}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Email}
			</div>
			<div class="col-md-4" >
				{$Email_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Email_editcontrol1}
			</div>
		</div>
	</div>
{END Email_fieldblock}
	{BEGIN PayrollID_fieldblock}		
	<div class="container {$fielddispclass_PayrollID}" data-fieldname="PayrollID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PayrollID}">
				{$label payrolltab PayrollID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PayrollID}
			</div>
			<div class="col-md-4" >
				{$PayrollID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PayrollID_editcontrol1}
			</div>
		</div>
	</div>
{END PayrollID_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label payrolltab EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN UserName_fieldblock}		
	<div class="container {$fielddispclass_UserName}" data-fieldname="UserName">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UserName}">
				{$label payrolltab UserName}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UserName}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UserName_editcontrol1}
			</div>
		</div>
	</div>
{END UserName_fieldblock}
	{BEGIN Position_fieldblock}		
	<div class="container {$fielddispclass_Position}" data-fieldname="Position">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Position}">
				{$label payrolltab Position}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Position}
			</div>
			<div class="col-md-4" >
				{$Position_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Position_editcontrol1}
			</div>
		</div>
	</div>
{END Position_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label payrolltab Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label payrolltab Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN WageType_fieldblock}		
	<div class="container {$fielddispclass_WageType}" data-fieldname="WageType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WageType}">
				{$label payrolltab WageType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WageType}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol1}
			</div>
		</div>
	</div>
{END WageType_fieldblock}
	{BEGIN Status_fieldblock}		
	<div class="container {$fielddispclass_Status}" data-fieldname="Status">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Status}">
				{$label payrolltab Status}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Status}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Status_editcontrol1}
			</div>
		</div>
	</div>
{END Status_fieldblock}
	{BEGIN FromDate_fieldblock}		
	<div class="container {$fielddispclass_FromDate}" data-fieldname="FromDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FromDate}">
				{$label payrolltab FromDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FromDate}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol1}
			</div>
		</div>
	</div>
{END FromDate_fieldblock}
	{BEGIN ToDate_fieldblock}		
	<div class="container {$fielddispclass_ToDate}" data-fieldname="ToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ToDate}">
				{$label payrolltab ToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ToDate}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol1}
			</div>
		</div>
	</div>
{END ToDate_fieldblock}
	{BEGIN BasicMonthly_fieldblock}		
	<div class="container {$fielddispclass_BasicMonthly}" data-fieldname="BasicMonthly">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BasicMonthly}">
				{$label payrolltab BasicMonthly}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BasicMonthly}
			</div>
			<div class="col-md-4" >
				{$BasicMonthly_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BasicMonthly_editcontrol1}
			</div>
		</div>
	</div>
{END BasicMonthly_fieldblock}
	{BEGIN BasicDaily_fieldblock}		
	<div class="container {$fielddispclass_BasicDaily}" data-fieldname="BasicDaily">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BasicDaily}">
				{$label payrolltab BasicDaily}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BasicDaily}
			</div>
			<div class="col-md-4" >
				{$BasicDaily_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BasicDaily_editcontrol1}
			</div>
		</div>
	</div>
{END BasicDaily_fieldblock}
	{BEGIN DWork_fieldblock}		
	<div class="container {$fielddispclass_DWork}" data-fieldname="DWork">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DWork}">
				{$label payrolltab DWork}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DWork}
			</div>
			<div class="col-md-4" >
				{$DWork_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DWork_editcontrol1}
			</div>
		</div>
	</div>
{END DWork_fieldblock}
	{BEGIN Absent_fieldblock}		
	<div class="container {$fielddispclass_Absent}" data-fieldname="Absent">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Absent}">
				{$label payrolltab Absent}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Absent}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Absent_editcontrol1}
			</div>
		</div>
	</div>
{END Absent_fieldblock}
	{BEGIN LateMins_fieldblock}		
	<div class="container {$fielddispclass_LateMins}" data-fieldname="LateMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LateMins}">
				{$label payrolltab LateMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LateMins}
			</div>
			<div class="col-md-4" >
				{$LateMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LateMins_editcontrol1}
			</div>
		</div>
	</div>
{END LateMins_fieldblock}
	{BEGIN UndertimeMins_fieldblock}		
	<div class="container {$fielddispclass_UndertimeMins}" data-fieldname="UndertimeMins">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UndertimeMins}">
				{$label payrolltab UndertimeMins}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UndertimeMins}
			</div>
			<div class="col-md-4" >
				{$UndertimeMins_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UndertimeMins_editcontrol1}
			</div>
		</div>
	</div>
{END UndertimeMins_fieldblock}
	{BEGIN RHolidayHrs_fieldblock}		
	<div class="container {$fielddispclass_RHolidayHrs}" data-fieldname="RHolidayHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHolidayHrs}">
				{$label payrolltab RHolidayHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHolidayHrs}
			</div>
			<div class="col-md-4" >
				{$RHolidayHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHolidayHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RHolidayHrs_fieldblock}
	{BEGIN SHolidayHrs_fieldblock}		
	<div class="container {$fielddispclass_SHolidayHrs}" data-fieldname="SHolidayHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHolidayHrs}">
				{$label payrolltab SHolidayHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHolidayHrs}
			</div>
			<div class="col-md-4" >
				{$SHolidayHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHolidayHrs_editcontrol1}
			</div>
		</div>
	</div>
{END SHolidayHrs_fieldblock}
	{BEGIN CHolidayHrs_fieldblock}		
	<div class="container {$fielddispclass_CHolidayHrs}" data-fieldname="CHolidayHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CHolidayHrs}">
				{$label payrolltab CHolidayHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CHolidayHrs}
			</div>
			<div class="col-md-4" >
				{$CHolidayHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CHolidayHrs_editcontrol1}
			</div>
		</div>
	</div>
{END CHolidayHrs_fieldblock}
	{BEGIN ExcessHrs_fieldblock}		
	<div class="container {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ExcessHrs}">
				{$label payrolltab ExcessHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ExcessHrs}
			</div>
			<div class="col-md-4" >
				{$ExcessHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ExcessHrs_editcontrol1}
			</div>
		</div>
	</div>
{END ExcessHrs_fieldblock}
	{BEGIN RegOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegOTHrs}">
				{$label payrolltab RegOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegOTHrs}
			</div>
			<div class="col-md-4" >
				{$RegOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RegOTHrs_fieldblock}
	{BEGIN RHOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHOTHrs}">
				{$label payrolltab RHOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHOTHrs}
			</div>
			<div class="col-md-4" >
				{$RHOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RHOTHrs_fieldblock}
	{BEGIN SHOTHRs_fieldblock}		
	<div class="container {$fielddispclass_SHOTHRs}" data-fieldname="SHOTHRs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHOTHRs}">
				{$label payrolltab SHOTHRs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHOTHRs}
			</div>
			<div class="col-md-4" >
				{$SHOTHRs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHOTHRs_editcontrol1}
			</div>
		</div>
	</div>
{END SHOTHRs_fieldblock}
	{BEGIN CHOTHrs_fieldblock}		
	<div class="container {$fielddispclass_CHOTHrs}" data-fieldname="CHOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CHOTHrs}">
				{$label payrolltab CHOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CHOTHrs}
			</div>
			<div class="col-md-4" >
				{$CHOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CHOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END CHOTHrs_fieldblock}
	{BEGIN TrODays_fieldblock}		
	<div class="container {$fielddispclass_TrODays}" data-fieldname="TrODays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TrODays}">
				{$label payrolltab TrODays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TrODays}
			</div>
			<div class="col-md-4" >
				{$TrODays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TrODays_editcontrol1}
			</div>
		</div>
	</div>
{END TrODays_fieldblock}
	{BEGIN RDOTHrs_fieldblock}		
	<div class="container {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDOTHrs}">
				{$label payrolltab RDOTHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDOTHrs}
			</div>
			<div class="col-md-4" >
				{$RDOTHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDOTHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RDOTHrs_fieldblock}
	{BEGIN NDHrs_fieldblock}		
	<div class="container {$fielddispclass_NDHrs}" data-fieldname="NDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NDHrs}">
				{$label payrolltab NDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NDHrs}
			</div>
			<div class="col-md-4" >
				{$NDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END NDHrs_fieldblock}
	{BEGIN RDHrs_fieldblock}		
	<div class="container {$fielddispclass_RDHrs}" data-fieldname="RDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDHrs}">
				{$label payrolltab RDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDHrs}
			</div>
			<div class="col-md-4" >
				{$RDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RDHrs_fieldblock}
	{BEGIN RegNDHrs_fieldblock}		
	<div class="container {$fielddispclass_RegNDHrs}" data-fieldname="RegNDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegNDHrs}">
				{$label payrolltab RegNDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegNDHrs}
			</div>
			<div class="col-md-4" >
				{$RegNDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegNDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RegNDHrs_fieldblock}
	{BEGIN RHNDHrs_fieldblock}		
	<div class="container {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHNDHrs}">
				{$label payrolltab RHNDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHNDHrs}
			</div>
			<div class="col-md-4" >
				{$RHNDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHNDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RHNDHrs_fieldblock}
	{BEGIN SHNDHrs_fieldblock}		
	<div class="container {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHNDHrs}">
				{$label payrolltab SHNDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHNDHrs}
			</div>
			<div class="col-md-4" >
				{$SHNDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHNDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END SHNDHrs_fieldblock}
	{BEGIN CHNDHrs_fieldblock}		
	<div class="container {$fielddispclass_CHNDHrs}" data-fieldname="CHNDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CHNDHrs}">
				{$label payrolltab CHNDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CHNDHrs}
			</div>
			<div class="col-md-4" >
				{$CHNDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CHNDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END CHNDHrs_fieldblock}
	{BEGIN RDNDHrs_fieldblock}		
	<div class="container {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDNDHrs}">
				{$label payrolltab RDNDHrs}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDNDHrs}
			</div>
			<div class="col-md-4" >
				{$RDNDHrs_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDNDHrs_editcontrol1}
			</div>
		</div>
	</div>
{END RDNDHrs_fieldblock}
	{BEGIN VLDays_fieldblock}		
	<div class="container {$fielddispclass_VLDays}" data-fieldname="VLDays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VLDays}">
				{$label payrolltab VLDays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VLDays}
			</div>
			<div class="col-md-4" >
				{$VLDays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VLDays_editcontrol1}
			</div>
		</div>
	</div>
{END VLDays_fieldblock}
	{BEGIN SLDays_fieldblock}		
	<div class="container {$fielddispclass_SLDays}" data-fieldname="SLDays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SLDays}">
				{$label payrolltab SLDays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SLDays}
			</div>
			<div class="col-md-4" >
				{$SLDays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SLDays_editcontrol1}
			</div>
		</div>
	</div>
{END SLDays_fieldblock}
	{BEGIN ELDays_fieldblock}		
	<div class="container {$fielddispclass_ELDays}" data-fieldname="ELDays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ELDays}">
				{$label payrolltab ELDays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ELDays}
			</div>
			<div class="col-md-4" >
				{$ELDays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ELDays_editcontrol1}
			</div>
		</div>
	</div>
{END ELDays_fieldblock}
	{BEGIN PLDays_fieldblock}		
	<div class="container {$fielddispclass_PLDays}" data-fieldname="PLDays">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PLDays}">
				{$label payrolltab PLDays}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PLDays}
			</div>
			<div class="col-md-4" >
				{$PLDays_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PLDays_editcontrol1}
			</div>
		</div>
	</div>
{END PLDays_fieldblock}
	{BEGIN PLBalance_fieldblock}		
	<div class="container {$fielddispclass_PLBalance}" data-fieldname="PLBalance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PLBalance}">
				{$label payrolltab PLBalance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PLBalance}
			</div>
			<div class="col-md-4" >
				{$PLBalance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PLBalance_editcontrol1}
			</div>
		</div>
	</div>
{END PLBalance_fieldblock}
	{BEGIN ELBalance_fieldblock}		
	<div class="container {$fielddispclass_ELBalance}" data-fieldname="ELBalance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ELBalance}">
				{$label payrolltab ELBalance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ELBalance}
			</div>
			<div class="col-md-4" >
				{$ELBalance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ELBalance_editcontrol1}
			</div>
		</div>
	</div>
{END ELBalance_fieldblock}
	{BEGIN SLBalance_fieldblock}		
	<div class="container {$fielddispclass_SLBalance}" data-fieldname="SLBalance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SLBalance}">
				{$label payrolltab SLBalance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SLBalance}
			</div>
			<div class="col-md-4" >
				{$SLBalance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SLBalance_editcontrol1}
			</div>
		</div>
	</div>
{END SLBalance_fieldblock}
	{BEGIN VLBalance_fieldblock}		
	<div class="container {$fielddispclass_VLBalance}" data-fieldname="VLBalance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VLBalance}">
				{$label payrolltab VLBalance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VLBalance}
			</div>
			<div class="col-md-4" >
				{$VLBalance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VLBalance_editcontrol1}
			</div>
		</div>
	</div>
{END VLBalance_fieldblock}
	{BEGIN AllowancePerDay_fieldblock}		
	<div class="container {$fielddispclass_AllowancePerDay}" data-fieldname="AllowancePerDay">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AllowancePerDay}">
				{$label payrolltab AllowancePerDay}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AllowancePerDay}
			</div>
			<div class="col-md-4" >
				{$AllowancePerDay_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AllowancePerDay_editcontrol1}
			</div>
		</div>
	</div>
{END AllowancePerDay_fieldblock}
	{BEGIN AgencyShare_fieldblock}		
	<div class="container {$fielddispclass_AgencyShare}" data-fieldname="AgencyShare">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AgencyShare}">
				{$label payrolltab AgencyShare}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AgencyShare}
			</div>
			<div class="col-md-4" >
				{$AgencyShare_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AgencyShare_editcontrol1}
			</div>
		</div>
	</div>
{END AgencyShare_fieldblock}
	{BEGIN NDMealAllowance_fieldblock}		
	<div class="container {$fielddispclass_NDMealAllowance}" data-fieldname="NDMealAllowance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NDMealAllowance}">
				{$label payrolltab NDMealAllowance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NDMealAllowance}
			</div>
			<div class="col-md-4" >
				{$NDMealAllowance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NDMealAllowance_editcontrol1}
			</div>
		</div>
	</div>
{END NDMealAllowance_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
