<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}
	<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel payrolltab1 edit}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END editheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN Locked_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Locked}" data-fieldname="Locked" data-signal-error-for="Locked{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Locked}">
		{BEGIN Locked_label}{$label payrolltab1 Locked}{END Locked_label}
	</label>
	<div class="col-md-6" >
		{$Locked_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Locked">
		<div class="text-muted" >
		{$tooltip payrolltab1 Locked}
		</div>
	</div>
</div>
</div>
{END Locked_fieldblock}

			{BEGIN FromDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_FromDate}" data-fieldname="FromDate" data-signal-error-for="FromDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FromDate}">
		{BEGIN FromDate_label}{$label payrolltab1 FromDate}{END FromDate_label}
	</label>
	<div class="col-md-6" >
		{$FromDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FromDate">
		<div class="text-muted" >
		{$tooltip payrolltab1 FromDate}
		</div>
	</div>
</div>
</div>
{END FromDate_fieldblock}

			{BEGIN ToDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ToDate}" data-fieldname="ToDate" data-signal-error-for="ToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ToDate}">
		{BEGIN ToDate_label}{$label payrolltab1 ToDate}{END ToDate_label}
	</label>
	<div class="col-md-6" >
		{$ToDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ToDate">
		<div class="text-muted" >
		{$tooltip payrolltab1 ToDate}
		</div>
	</div>
</div>
</div>
{END ToDate_fieldblock}

			{BEGIN EmployeeID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID" data-signal-error-for="EmployeeID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_EmployeeID}">
		{BEGIN EmployeeID_label}{$label payrolltab1 EmployeeID}{END EmployeeID_label}
	</label>
	<div class="col-md-6" >
		{$EmployeeID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="EmployeeID">
		<div class="text-muted" >
		{$tooltip payrolltab1 EmployeeID}
		</div>
	</div>
</div>
</div>
{END EmployeeID_fieldblock}

			{BEGIN UserName_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_UserName}" data-fieldname="UserName" data-signal-error-for="UserName{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_UserName}">
		{BEGIN UserName_label}{$label payrolltab1 UserName}{END UserName_label}
	</label>
	<div class="col-md-6" >
		{$UserName_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="UserName">
		<div class="text-muted" >
		{$tooltip payrolltab1 UserName}
		</div>
	</div>
</div>
</div>
{END UserName_fieldblock}

			{BEGIN Email_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Email}" data-fieldname="Email" data-signal-error-for="Email{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Email}">
		{BEGIN Email_label}{$label payrolltab1 Email}{END Email_label}
	</label>
	<div class="col-md-6" >
		{$Email_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Email">
		<div class="text-muted" >
		{$tooltip payrolltab1 Email}
		</div>
	</div>
</div>
</div>
{END Email_fieldblock}

			{BEGIN Position_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Position}" data-fieldname="Position" data-signal-error-for="Position{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Position}">
		{BEGIN Position_label}{$label payrolltab1 Position}{END Position_label}
	</label>
	<div class="col-md-6" >
		{$Position_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Position">
		<div class="text-muted" >
		{$tooltip payrolltab1 Position}
		</div>
	</div>
</div>
</div>
{END Position_fieldblock}

			{BEGIN Division_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Division}" data-fieldname="Division" data-signal-error-for="Division{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Division}">
		{BEGIN Division_label}{$label payrolltab1 Division}{END Division_label}
	</label>
	<div class="col-md-6" >
		{$Division_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Division">
		<div class="text-muted" >
		{$tooltip payrolltab1 Division}
		</div>
	</div>
</div>
</div>
{END Division_fieldblock}

			{BEGIN Employer_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Employer}" data-fieldname="Employer" data-signal-error-for="Employer{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Employer}">
		{BEGIN Employer_label}{$label payrolltab1 Employer}{END Employer_label}
	</label>
	<div class="col-md-6" >
		{$Employer_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Employer">
		<div class="text-muted" >
		{$tooltip payrolltab1 Employer}
		</div>
	</div>
</div>
</div>
{END Employer_fieldblock}

			{BEGIN WageType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_WageType}" data-fieldname="WageType" data-signal-error-for="WageType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_WageType}">
		{BEGIN WageType_label}{$label payrolltab1 WageType}{END WageType_label}
	</label>
	<div class="col-md-6" >
		{$WageType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="WageType">
		<div class="text-muted" >
		{$tooltip payrolltab1 WageType}
		</div>
	</div>
</div>
</div>
{END WageType_fieldblock}

			{BEGIN Status_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Status}" data-fieldname="Status" data-signal-error-for="Status{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Status}">
		{BEGIN Status_label}{$label payrolltab1 Status}{END Status_label}
	</label>
	<div class="col-md-6" >
		{$Status_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Status">
		<div class="text-muted" >
		{$tooltip payrolltab1 Status}
		</div>
	</div>
</div>
</div>
{END Status_fieldblock}

			{BEGIN BasicMonthly_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BasicMonthly}" data-fieldname="BasicMonthly" data-signal-error-for="BasicMonthly{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BasicMonthly}">
		{BEGIN BasicMonthly_label}{$label payrolltab1 BasicMonthly}{END BasicMonthly_label}
	</label>
	<div class="col-md-6" >
		{$BasicMonthly_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BasicMonthly">
		<div class="text-muted" >
		{$tooltip payrolltab1 BasicMonthly}
		</div>
	</div>
</div>
</div>
{END BasicMonthly_fieldblock}

			{BEGIN BasicDaily_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BasicDaily}" data-fieldname="BasicDaily" data-signal-error-for="BasicDaily{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BasicDaily}">
		{BEGIN BasicDaily_label}{$label payrolltab1 BasicDaily}{END BasicDaily_label}
	</label>
	<div class="col-md-6" >
		{$BasicDaily_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BasicDaily">
		<div class="text-muted" >
		{$tooltip payrolltab1 BasicDaily}
		</div>
	</div>
</div>
</div>
{END BasicDaily_fieldblock}

			{BEGIN DWork_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DWork}" data-fieldname="DWork" data-signal-error-for="DWork{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DWork}">
		{BEGIN DWork_label}{$label payrolltab1 DWork}{END DWork_label}
	</label>
	<div class="col-md-6" >
		{$DWork_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DWork">
		<div class="text-muted" >
		{$tooltip payrolltab1 DWork}
		</div>
	</div>
</div>
</div>
{END DWork_fieldblock}

			{BEGIN Absent_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Absent}" data-fieldname="Absent" data-signal-error-for="Absent{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Absent}">
		{BEGIN Absent_label}{$label payrolltab1 Absent}{END Absent_label}
	</label>
	<div class="col-md-6" >
		{$Absent_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Absent">
		<div class="text-muted" >
		{$tooltip payrolltab1 Absent}
		</div>
	</div>
</div>
</div>
{END Absent_fieldblock}

			{BEGIN LateMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_LateMins}" data-fieldname="LateMins" data-signal-error-for="LateMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_LateMins}">
		{BEGIN LateMins_label}{$label payrolltab1 LateMins}{END LateMins_label}
	</label>
	<div class="col-md-6" >
		{$LateMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="LateMins">
		<div class="text-muted" >
		{$tooltip payrolltab1 LateMins}
		</div>
	</div>
</div>
</div>
{END LateMins_fieldblock}

			{BEGIN UndertimeMins_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_UndertimeMins}" data-fieldname="UndertimeMins" data-signal-error-for="UndertimeMins{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_UndertimeMins}">
		{BEGIN UndertimeMins_label}{$label payrolltab1 UndertimeMins}{END UndertimeMins_label}
	</label>
	<div class="col-md-6" >
		{$UndertimeMins_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="UndertimeMins">
		<div class="text-muted" >
		{$tooltip payrolltab1 UndertimeMins}
		</div>
	</div>
</div>
</div>
{END UndertimeMins_fieldblock}

			{BEGIN VLDays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VLDays}" data-fieldname="VLDays" data-signal-error-for="VLDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VLDays}">
		{BEGIN VLDays_label}{$label payrolltab1 VLDays}{END VLDays_label}
	</label>
	<div class="col-md-6" >
		{$VLDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VLDays">
		<div class="text-muted" >
		{$tooltip payrolltab1 VLDays}
		</div>
	</div>
</div>
</div>
{END VLDays_fieldblock}

			{BEGIN SLDays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SLDays}" data-fieldname="SLDays" data-signal-error-for="SLDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SLDays}">
		{BEGIN SLDays_label}{$label payrolltab1 SLDays}{END SLDays_label}
	</label>
	<div class="col-md-6" >
		{$SLDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SLDays">
		<div class="text-muted" >
		{$tooltip payrolltab1 SLDays}
		</div>
	</div>
</div>
</div>
{END SLDays_fieldblock}

			{BEGIN ELDays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ELDays}" data-fieldname="ELDays" data-signal-error-for="ELDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ELDays}">
		{BEGIN ELDays_label}{$label payrolltab1 ELDays}{END ELDays_label}
	</label>
	<div class="col-md-6" >
		{$ELDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ELDays">
		<div class="text-muted" >
		{$tooltip payrolltab1 ELDays}
		</div>
	</div>
</div>
</div>
{END ELDays_fieldblock}

			{BEGIN PLDays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PLDays}" data-fieldname="PLDays" data-signal-error-for="PLDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PLDays}">
		{BEGIN PLDays_label}{$label payrolltab1 PLDays}{END PLDays_label}
	</label>
	<div class="col-md-6" >
		{$PLDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PLDays">
		<div class="text-muted" >
		{$tooltip payrolltab1 PLDays}
		</div>
	</div>
</div>
</div>
{END PLDays_fieldblock}

			{BEGIN TrODays_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TrODays}" data-fieldname="TrODays" data-signal-error-for="TrODays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TrODays}">
		{BEGIN TrODays_label}{$label payrolltab1 TrODays}{END TrODays_label}
	</label>
	<div class="col-md-6" >
		{$TrODays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TrODays">
		<div class="text-muted" >
		{$tooltip payrolltab1 TrODays}
		</div>
	</div>
</div>
</div>
{END TrODays_fieldblock}

			{BEGIN PLBalance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PLBalance}" data-fieldname="PLBalance" data-signal-error-for="PLBalance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PLBalance}">
		{BEGIN PLBalance_label}{$label payrolltab1 PLBalance}{END PLBalance_label}
	</label>
	<div class="col-md-6" >
		{$PLBalance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PLBalance">
		<div class="text-muted" >
		{$tooltip payrolltab1 PLBalance}
		</div>
	</div>
</div>
</div>
{END PLBalance_fieldblock}

			{BEGIN ELBalance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ELBalance}" data-fieldname="ELBalance" data-signal-error-for="ELBalance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ELBalance}">
		{BEGIN ELBalance_label}{$label payrolltab1 ELBalance}{END ELBalance_label}
	</label>
	<div class="col-md-6" >
		{$ELBalance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ELBalance">
		<div class="text-muted" >
		{$tooltip payrolltab1 ELBalance}
		</div>
	</div>
</div>
</div>
{END ELBalance_fieldblock}

			{BEGIN SLBalance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SLBalance}" data-fieldname="SLBalance" data-signal-error-for="SLBalance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SLBalance}">
		{BEGIN SLBalance_label}{$label payrolltab1 SLBalance}{END SLBalance_label}
	</label>
	<div class="col-md-6" >
		{$SLBalance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SLBalance">
		<div class="text-muted" >
		{$tooltip payrolltab1 SLBalance}
		</div>
	</div>
</div>
</div>
{END SLBalance_fieldblock}

			{BEGIN VLBalance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_VLBalance}" data-fieldname="VLBalance" data-signal-error-for="VLBalance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_VLBalance}">
		{BEGIN VLBalance_label}{$label payrolltab1 VLBalance}{END VLBalance_label}
	</label>
	<div class="col-md-6" >
		{$VLBalance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="VLBalance">
		<div class="text-muted" >
		{$tooltip payrolltab1 VLBalance}
		</div>
	</div>
</div>
</div>
{END VLBalance_fieldblock}

			{BEGIN RHolidayHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHolidayHrs}" data-fieldname="RHolidayHrs" data-signal-error-for="RHolidayHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHolidayHrs}">
		{BEGIN RHolidayHrs_label}{$label payrolltab1 RHolidayHrs}{END RHolidayHrs_label}
	</label>
	<div class="col-md-6" >
		{$RHolidayHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHolidayHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHolidayHrs}
		</div>
	</div>
</div>
</div>
{END RHolidayHrs_fieldblock}

			{BEGIN SHolidayHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHolidayHrs}" data-fieldname="SHolidayHrs" data-signal-error-for="SHolidayHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHolidayHrs}">
		{BEGIN SHolidayHrs_label}{$label payrolltab1 SHolidayHrs}{END SHolidayHrs_label}
	</label>
	<div class="col-md-6" >
		{$SHolidayHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHolidayHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHolidayHrs}
		</div>
	</div>
</div>
</div>
{END SHolidayHrs_fieldblock}

			{BEGIN DH_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DH}" data-fieldname="DH" data-signal-error-for="DH{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DH}">
		{BEGIN DH_label}{$label payrolltab1 DH}{END DH_label}
	</label>
	<div class="col-md-6" >
		{$DH_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DH">
		<div class="text-muted" >
		{$tooltip payrolltab1 DH}
		</div>
	</div>
</div>
</div>
{END DH_fieldblock}

			{BEGIN RegRD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RegRD}" data-fieldname="RegRD" data-signal-error-for="RegRD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RegRD}">
		{BEGIN RegRD_label}{$label payrolltab1 RegRD}{END RegRD_label}
	</label>
	<div class="col-md-6" >
		{$RegRD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RegRD">
		<div class="text-muted" >
		{$tooltip payrolltab1 RegRD}
		</div>
	</div>
</div>
</div>
{END RegRD_fieldblock}

			{BEGIN ExcessHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ExcessHrs}" data-fieldname="ExcessHrs" data-signal-error-for="ExcessHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ExcessHrs}">
		{BEGIN ExcessHrs_label}{$label payrolltab1 ExcessHrs}{END ExcessHrs_label}
	</label>
	<div class="col-md-6" >
		{$ExcessHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ExcessHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 ExcessHrs}
		</div>
	</div>
</div>
</div>
{END ExcessHrs_fieldblock}

			{BEGIN RegOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RegOTHrs}" data-fieldname="RegOTHrs" data-signal-error-for="RegOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RegOTHrs}">
		{BEGIN RegOTHrs_label}{$label payrolltab1 RegOTHrs}{END RegOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$RegOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RegOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RegOTHrs}
		</div>
	</div>
</div>
</div>
{END RegOTHrs_fieldblock}

			{BEGIN RHOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHOTHrs}" data-fieldname="RHOTHrs" data-signal-error-for="RHOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHOTHrs}">
		{BEGIN RHOTHrs_label}{$label payrolltab1 RHOTHrs}{END RHOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$RHOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHOTHrs}
		</div>
	</div>
</div>
</div>
{END RHOTHrs_fieldblock}

			{BEGIN SHOTHRs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHOTHRs}" data-fieldname="SHOTHRs" data-signal-error-for="SHOTHRs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHOTHRs}">
		{BEGIN SHOTHRs_label}{$label payrolltab1 SHOTHRs}{END SHOTHRs_label}
	</label>
	<div class="col-md-6" >
		{$SHOTHRs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHOTHRs">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHOTHRs}
		</div>
	</div>
</div>
</div>
{END SHOTHRs_fieldblock}

			{BEGIN SHOTD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHOTD}" data-fieldname="SHOTD" data-signal-error-for="SHOTD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHOTD}">
		{BEGIN SHOTD_label}{$label payrolltab1 SHOTD}{END SHOTD_label}
	</label>
	<div class="col-md-6" >
		{$SHOTD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHOTD">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHOTD}
		</div>
	</div>
</div>
</div>
{END SHOTD_fieldblock}

			{BEGIN RDOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RDOTHrs}" data-fieldname="RDOTHrs" data-signal-error-for="RDOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RDOTHrs}">
		{BEGIN RDOTHrs_label}{$label payrolltab1 RDOTHrs}{END RDOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$RDOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RDOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RDOTHrs}
		</div>
	</div>
</div>
</div>
{END RDOTHrs_fieldblock}

			{BEGIN DHOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHOT}" data-fieldname="DHOT" data-signal-error-for="DHOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHOT}">
		{BEGIN DHOT_label}{$label payrolltab1 DHOT}{END DHOT_label}
	</label>
	<div class="col-md-6" >
		{$DHOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHOT}
		</div>
	</div>
</div>
</div>
{END DHOT_fieldblock}

			{BEGIN NDOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDOTHrs}" data-fieldname="NDOTHrs" data-signal-error-for="NDOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDOTHrs}">
		{BEGIN NDOTHrs_label}{$label payrolltab1 NDOTHrs}{END NDOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$NDOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 NDOTHrs}
		</div>
	</div>
</div>
</div>
{END NDOTHrs_fieldblock}

			{BEGIN RegND_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RegND}" data-fieldname="RegND" data-signal-error-for="RegND{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RegND}">
		{BEGIN RegND_label}{$label payrolltab1 RegND}{END RegND_label}
	</label>
	<div class="col-md-6" >
		{$RegND_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RegND">
		<div class="text-muted" >
		{$tooltip payrolltab1 RegND}
		</div>
	</div>
</div>
</div>
{END RegND_fieldblock}

			{BEGIN RHNDHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHNDHrs}" data-fieldname="RHNDHrs" data-signal-error-for="RHNDHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHNDHrs}">
		{BEGIN RHNDHrs_label}{$label payrolltab1 RHNDHrs}{END RHNDHrs_label}
	</label>
	<div class="col-md-6" >
		{$RHNDHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHNDHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHNDHrs}
		</div>
	</div>
</div>
</div>
{END RHNDHrs_fieldblock}

			{BEGIN SHNDHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHNDHrs}" data-fieldname="SHNDHrs" data-signal-error-for="SHNDHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHNDHrs}">
		{BEGIN SHNDHrs_label}{$label payrolltab1 SHNDHrs}{END SHNDHrs_label}
	</label>
	<div class="col-md-6" >
		{$SHNDHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHNDHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHNDHrs}
		</div>
	</div>
</div>
</div>
{END SHNDHrs_fieldblock}

			{BEGIN DHND_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHND}" data-fieldname="DHND" data-signal-error-for="DHND{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHND}">
		{BEGIN DHND_label}{$label payrolltab1 DHND}{END DHND_label}
	</label>
	<div class="col-md-6" >
		{$DHND_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHND">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHND}
		</div>
	</div>
</div>
</div>
{END DHND_fieldblock}

			{BEGIN RDNDHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RDNDHrs}" data-fieldname="RDNDHrs" data-signal-error-for="RDNDHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RDNDHrs}">
		{BEGIN RDNDHrs_label}{$label payrolltab1 RDNDHrs}{END RDNDHrs_label}
	</label>
	<div class="col-md-6" >
		{$RDNDHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RDNDHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RDNDHrs}
		</div>
	</div>
</div>
</div>
{END RDNDHrs_fieldblock}

			{BEGIN RHNDOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHNDOTHrs}" data-fieldname="RHNDOTHrs" data-signal-error-for="RHNDOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHNDOTHrs}">
		{BEGIN RHNDOTHrs_label}{$label payrolltab1 RHNDOTHrs}{END RHNDOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$RHNDOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHNDOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHNDOTHrs}
		</div>
	</div>
</div>
</div>
{END RHNDOTHrs_fieldblock}

			{BEGIN SHNDOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHNDOTHrs}" data-fieldname="SHNDOTHrs" data-signal-error-for="SHNDOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHNDOTHrs}">
		{BEGIN SHNDOTHrs_label}{$label payrolltab1 SHNDOTHrs}{END SHNDOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$SHNDOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHNDOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHNDOTHrs}
		</div>
	</div>
</div>
</div>
{END SHNDOTHrs_fieldblock}

			{BEGIN DHNDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHNDOT}" data-fieldname="DHNDOT" data-signal-error-for="DHNDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHNDOT}">
		{BEGIN DHNDOT_label}{$label payrolltab1 DHNDOT}{END DHNDOT_label}
	</label>
	<div class="col-md-6" >
		{$DHNDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHNDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHNDOT}
		</div>
	</div>
</div>
</div>
{END DHNDOT_fieldblock}

			{BEGIN RDNDOTHrs_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RDNDOTHrs}" data-fieldname="RDNDOTHrs" data-signal-error-for="RDNDOTHrs{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RDNDOTHrs}">
		{BEGIN RDNDOTHrs_label}{$label payrolltab1 RDNDOTHrs}{END RDNDOTHrs_label}
	</label>
	<div class="col-md-6" >
		{$RDNDOTHrs_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RDNDOTHrs">
		<div class="text-muted" >
		{$tooltip payrolltab1 RDNDOTHrs}
		</div>
	</div>
</div>
</div>
{END RDNDOTHrs_fieldblock}

			{BEGIN RHRD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHRD}" data-fieldname="RHRD" data-signal-error-for="RHRD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHRD}">
		{BEGIN RHRD_label}{$label payrolltab1 RHRD}{END RHRD_label}
	</label>
	<div class="col-md-6" >
		{$RHRD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHRD">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHRD}
		</div>
	</div>
</div>
</div>
{END RHRD_fieldblock}

			{BEGIN SHRD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHRD}" data-fieldname="SHRD" data-signal-error-for="SHRD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHRD}">
		{BEGIN SHRD_label}{$label payrolltab1 SHRD}{END SHRD_label}
	</label>
	<div class="col-md-6" >
		{$SHRD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHRD">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHRD}
		</div>
	</div>
</div>
</div>
{END SHRD_fieldblock}

			{BEGIN DHRD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHRD}" data-fieldname="DHRD" data-signal-error-for="DHRD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHRD}">
		{BEGIN DHRD_label}{$label payrolltab1 DHRD}{END DHRD_label}
	</label>
	<div class="col-md-6" >
		{$DHRD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHRD">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHRD}
		</div>
	</div>
</div>
</div>
{END DHRD_fieldblock}

			{BEGIN RHRDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHRDOT}" data-fieldname="RHRDOT" data-signal-error-for="RHRDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHRDOT}">
		{BEGIN RHRDOT_label}{$label payrolltab1 RHRDOT}{END RHRDOT_label}
	</label>
	<div class="col-md-6" >
		{$RHRDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHRDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHRDOT}
		</div>
	</div>
</div>
</div>
{END RHRDOT_fieldblock}

			{BEGIN SHRDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHRDOT}" data-fieldname="SHRDOT" data-signal-error-for="SHRDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHRDOT}">
		{BEGIN SHRDOT_label}{$label payrolltab1 SHRDOT}{END SHRDOT_label}
	</label>
	<div class="col-md-6" >
		{$SHRDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHRDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHRDOT}
		</div>
	</div>
</div>
</div>
{END SHRDOT_fieldblock}

			{BEGIN SHRDOTD_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHRDOTD}" data-fieldname="SHRDOTD" data-signal-error-for="SHRDOTD{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHRDOTD}">
		{BEGIN SHRDOTD_label}{$label payrolltab1 SHRDOTD}{END SHRDOTD_label}
	</label>
	<div class="col-md-6" >
		{$SHRDOTD_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHRDOTD">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHRDOTD}
		</div>
	</div>
</div>
</div>
{END SHRDOTD_fieldblock}

			{BEGIN DHRDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHRDOT}" data-fieldname="DHRDOT" data-signal-error-for="DHRDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHRDOT}">
		{BEGIN DHRDOT_label}{$label payrolltab1 DHRDOT}{END DHRDOT_label}
	</label>
	<div class="col-md-6" >
		{$DHRDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHRDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHRDOT}
		</div>
	</div>
</div>
</div>
{END DHRDOT_fieldblock}

			{BEGIN RHRDND_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHRDND}" data-fieldname="RHRDND" data-signal-error-for="RHRDND{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHRDND}">
		{BEGIN RHRDND_label}{$label payrolltab1 RHRDND}{END RHRDND_label}
	</label>
	<div class="col-md-6" >
		{$RHRDND_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHRDND">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHRDND}
		</div>
	</div>
</div>
</div>
{END RHRDND_fieldblock}

			{BEGIN SHRDND_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHRDND}" data-fieldname="SHRDND" data-signal-error-for="SHRDND{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHRDND}">
		{BEGIN SHRDND_label}{$label payrolltab1 SHRDND}{END SHRDND_label}
	</label>
	<div class="col-md-6" >
		{$SHRDND_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHRDND">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHRDND}
		</div>
	</div>
</div>
</div>
{END SHRDND_fieldblock}

			{BEGIN DHRDND_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHRDND}" data-fieldname="DHRDND" data-signal-error-for="DHRDND{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHRDND}">
		{BEGIN DHRDND_label}{$label payrolltab1 DHRDND}{END DHRDND_label}
	</label>
	<div class="col-md-6" >
		{$DHRDND_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHRDND">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHRDND}
		</div>
	</div>
</div>
</div>
{END DHRDND_fieldblock}

			{BEGIN RHRDNDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_RHRDNDOT}" data-fieldname="RHRDNDOT" data-signal-error-for="RHRDNDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RHRDNDOT}">
		{BEGIN RHRDNDOT_label}{$label payrolltab1 RHRDNDOT}{END RHRDNDOT_label}
	</label>
	<div class="col-md-6" >
		{$RHRDNDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RHRDNDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 RHRDNDOT}
		</div>
	</div>
</div>
</div>
{END RHRDNDOT_fieldblock}

			{BEGIN SHRDNDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_SHRDNDOT}" data-fieldname="SHRDNDOT" data-signal-error-for="SHRDNDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_SHRDNDOT}">
		{BEGIN SHRDNDOT_label}{$label payrolltab1 SHRDNDOT}{END SHRDNDOT_label}
	</label>
	<div class="col-md-6" >
		{$SHRDNDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="SHRDNDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 SHRDNDOT}
		</div>
	</div>
</div>
</div>
{END SHRDNDOT_fieldblock}

			{BEGIN DHRDNDOT_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_DHRDNDOT}" data-fieldname="DHRDNDOT" data-signal-error-for="DHRDNDOT{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_DHRDNDOT}">
		{BEGIN DHRDNDOT_label}{$label payrolltab1 DHRDNDOT}{END DHRDNDOT_label}
	</label>
	<div class="col-md-6" >
		{$DHRDNDOT_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="DHRDNDOT">
		<div class="text-muted" >
		{$tooltip payrolltab1 DHRDNDOT}
		</div>
	</div>
</div>
</div>
{END DHRDNDOT_fieldblock}

			{BEGIN AgencyShare_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AgencyShare}" data-fieldname="AgencyShare" data-signal-error-for="AgencyShare{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AgencyShare}">
		{BEGIN AgencyShare_label}{$label payrolltab1 AgencyShare}{END AgencyShare_label}
	</label>
	<div class="col-md-6" >
		{$AgencyShare_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AgencyShare">
		<div class="text-muted" >
		{$tooltip payrolltab1 AgencyShare}
		</div>
	</div>
</div>
</div>
{END AgencyShare_fieldblock}

			{BEGIN NDMealAllowance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_NDMealAllowance}" data-fieldname="NDMealAllowance" data-signal-error-for="NDMealAllowance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_NDMealAllowance}">
		{BEGIN NDMealAllowance_label}{$label payrolltab1 NDMealAllowance}{END NDMealAllowance_label}
	</label>
	<div class="col-md-6" >
		{$NDMealAllowance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="NDMealAllowance">
		<div class="text-muted" >
		{$tooltip payrolltab1 NDMealAllowance}
		</div>
	</div>
</div>
</div>
{END NDMealAllowance_fieldblock}

			{BEGIN Thirteenth_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Thirteenth}" data-fieldname="Thirteenth" data-signal-error-for="Thirteenth{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Thirteenth}">
		{BEGIN Thirteenth_label}{$label payrolltab1 Thirteenth}{END Thirteenth_label}
	</label>
	<div class="col-md-6" >
		{$Thirteenth_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Thirteenth">
		<div class="text-muted" >
		{$tooltip payrolltab1 Thirteenth}
		</div>
	</div>
</div>
</div>
{END Thirteenth_fieldblock}

			{BEGIN Taxable_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Taxable}" data-fieldname="Taxable" data-signal-error-for="Taxable{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Taxable}">
		{BEGIN Taxable_label}{$label payrolltab1 Taxable}{END Taxable_label}
	</label>
	<div class="col-md-6" >
		{$Taxable_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Taxable">
		<div class="text-muted" >
		{$tooltip payrolltab1 Taxable}
		</div>
	</div>
</div>
</div>
{END Taxable_fieldblock}

			{BEGIN ThirToDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_ThirToDate}" data-fieldname="ThirToDate" data-signal-error-for="ThirToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ThirToDate}">
		{BEGIN ThirToDate_label}{$label payrolltab1 ThirToDate}{END ThirToDate_label}
	</label>
	<div class="col-md-6" >
		{$ThirToDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="ThirToDate">
		<div class="text-muted" >
		{$tooltip payrolltab1 ThirToDate}
		</div>
	</div>
</div>
</div>
{END ThirToDate_fieldblock}

			{BEGIN TaxableToDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TaxableToDate}" data-fieldname="TaxableToDate" data-signal-error-for="TaxableToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TaxableToDate}">
		{BEGIN TaxableToDate_label}{$label payrolltab1 TaxableToDate}{END TaxableToDate_label}
	</label>
	<div class="col-md-6" >
		{$TaxableToDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TaxableToDate">
		<div class="text-muted" >
		{$tooltip payrolltab1 TaxableToDate}
		</div>
	</div>
</div>
</div>
{END TaxableToDate_fieldblock}

			{BEGIN TaxToDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TaxToDate}" data-fieldname="TaxToDate" data-signal-error-for="TaxToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TaxToDate}">
		{BEGIN TaxToDate_label}{$label payrolltab1 TaxToDate}{END TaxToDate_label}
	</label>
	<div class="col-md-6" >
		{$TaxToDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TaxToDate">
		<div class="text-muted" >
		{$tooltip payrolltab1 TaxToDate}
		</div>
	</div>
</div>
</div>
{END TaxToDate_fieldblock}

			{BEGIN PayrollID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_PayrollID}" data-fieldname="PayrollID" data-signal-error-for="PayrollID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PayrollID}">
		{BEGIN PayrollID_label}{$label payrolltab1 PayrollID}{END PayrollID_label}
	</label>
	<div class="col-md-6" >
		{$PayrollID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PayrollID">
		<div class="text-muted" >
		{$tooltip payrolltab1 PayrollID}
		</div>
	</div>
</div>
</div>
{END PayrollID_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN updsel_button}
	<button class="btn btn-primary" {$updselbutton_attrs}>{$update_selected}</button>
	{END updsel_button}
	{BEGIN back_button}
		<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}
<div class="btn-group" role="group">

	{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default  {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}
				<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}
				<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
