<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="PtabID">
	{$PtabID_editcontrol}
	</control>
	<control field="Employer">
	{$Employer_editcontrol}
	</control>
	<control field="Division">
	{$Division_editcontrol}
	</control>
	<control field="WageType">
	{$WageType_editcontrol}
	</control>
	<control field="EmployeeID">
	{$EmployeeID_editcontrol}
	</control>
	<control field="FromDate">
	{$FromDate_editcontrol}
	</control>
	<control field="ToDate">
	{$ToDate_editcontrol}
	</control>
	<control field="Adjustment">
	{$Adjustment_editcontrol}
	</control>
	<control field="Amount">
	{$Amount_editcontrol}
	</control>
	<control field="eaID">
	{$eaID_editcontrol}
	</control>
	<control field="PSID">
	{$PSID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>