<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel payrolldeductions search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN PdeID_fieldblock}		
	<div class="container {$fielddispclass_PdeID}" data-fieldname="PdeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PdeID}">
				{$label payrolldeductions PdeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PdeID}
			</div>
			<div class="col-md-4" >
				{$PdeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PdeID_editcontrol1}
			</div>
		</div>
	</div>
{END PdeID_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label payrolldeductions Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label payrolldeductions Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN WageType_fieldblock}		
	<div class="container {$fielddispclass_WageType}" data-fieldname="WageType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WageType}">
				{$label payrolldeductions WageType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WageType}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol1}
			</div>
		</div>
	</div>
{END WageType_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label payrolldeductions EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN FromDate_fieldblock}		
	<div class="container {$fielddispclass_FromDate}" data-fieldname="FromDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FromDate}">
				{$label payrolldeductions FromDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FromDate}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol1}
			</div>
		</div>
	</div>
{END FromDate_fieldblock}
	{BEGIN ToDate_fieldblock}		
	<div class="container {$fielddispclass_ToDate}" data-fieldname="ToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ToDate}">
				{$label payrolldeductions ToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ToDate}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol1}
			</div>
		</div>
	</div>
{END ToDate_fieldblock}
	{BEGIN Deduction_fieldblock}		
	<div class="container {$fielddispclass_Deduction}" data-fieldname="Deduction">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Deduction}">
				{$label payrolldeductions Deduction}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Deduction}
			</div>
			<div class="col-md-4" >
				{$Deduction_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Deduction_editcontrol1}
			</div>
		</div>
	</div>
{END Deduction_fieldblock}
	{BEGIN Balance_fieldblock}		
	<div class="container {$fielddispclass_Balance}" data-fieldname="Balance">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Balance}">
				{$label payrolldeductions Balance}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Balance}
			</div>
			<div class="col-md-4" >
				{$Balance_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Balance_editcontrol1}
			</div>
		</div>
	</div>
{END Balance_fieldblock}
	{BEGIN Amount_fieldblock}		
	<div class="container {$fielddispclass_Amount}" data-fieldname="Amount">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Amount}">
				{$label payrolldeductions Amount}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Amount}
			</div>
			<div class="col-md-4" >
				{$Amount_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Amount_editcontrol1}
			</div>
		</div>
	</div>
{END Amount_fieldblock}
	{BEGIN LoanID_fieldblock}		
	<div class="container {$fielddispclass_LoanID}" data-fieldname="LoanID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LoanID}">
				{$label payrolldeductions LoanID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LoanID}
			</div>
			<div class="col-md-4" >
				{$LoanID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LoanID_editcontrol1}
			</div>
		</div>
	</div>
{END LoanID_fieldblock}
	{BEGIN PSID_fieldblock}		
	<div class="container {$fielddispclass_PSID}" data-fieldname="PSID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PSID}">
				{$label payrolldeductions PSID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PSID}
			</div>
			<div class="col-md-4" >
				{$PSID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PSID_editcontrol1}
			</div>
		</div>
	</div>
{END PSID_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
