<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}



{BEGIN container_master}
<div {$master_chiddenattr} data-pageid="{$pageid}" data-container="master" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_master}



{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel payrollearnadj print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN PtabID_fieldheadercolumn}
			<th class="{$PtabID_class}" {$PtabID_style}  data-field="PtabID">
				{$label payrollearnadj PtabID}
			</th>
			{END PtabID_fieldheadercolumn}
			{BEGIN Employer_fieldheadercolumn}
			<th class="{$Employer_class}" {$Employer_style}  data-field="Employer">
				{$label payrollearnadj Employer}
			</th>
			{END Employer_fieldheadercolumn}
			{BEGIN Division_fieldheadercolumn}
			<th class="{$Division_class}" {$Division_style}  data-field="Division">
				{$label payrollearnadj Division}
			</th>
			{END Division_fieldheadercolumn}
			{BEGIN WageType_fieldheadercolumn}
			<th class="{$WageType_class}" {$WageType_style}  data-field="WageType">
				{$label payrollearnadj WageType}
			</th>
			{END WageType_fieldheadercolumn}
			{BEGIN PadjID_fieldheadercolumn}
			<th class="{$PadjID_class}" {$PadjID_style}  data-field="PadjID">
				{$label payrollearnadj PadjID}
			</th>
			{END PadjID_fieldheadercolumn}
			{BEGIN EmployeeID_fieldheadercolumn}
			<th class="{$EmployeeID_class}" {$EmployeeID_style}  data-field="EmployeeID">
				{$label payrollearnadj EmployeeID}
			</th>
			{END EmployeeID_fieldheadercolumn}
			{BEGIN FromDate_fieldheadercolumn}
			<th class="{$FromDate_class}" {$FromDate_style}  data-field="FromDate">
				{$label payrollearnadj FromDate}
			</th>
			{END FromDate_fieldheadercolumn}
			{BEGIN ToDate_fieldheadercolumn}
			<th class="{$ToDate_class}" {$ToDate_style}  data-field="ToDate">
				{$label payrollearnadj ToDate}
			</th>
			{END ToDate_fieldheadercolumn}
			{BEGIN Adjustment_fieldheadercolumn}
			<th class="{$Adjustment_class}" {$Adjustment_style}  data-field="Adjustment">
				{$label payrollearnadj Adjustment}
			</th>
			{END Adjustment_fieldheadercolumn}
			{BEGIN Amount_fieldheadercolumn}
			<th class="{$Amount_class}" {$Amount_style}  data-field="Amount">
				{$label payrollearnadj Amount}
			</th>
			{END Amount_fieldheadercolumn}
			{BEGIN eaID_fieldheadercolumn}
			<th class="{$eaID_class}" {$eaID_style}  data-field="eaID">
				{$label payrollearnadj eaID}
			</th>
			{END eaID_fieldheadercolumn}
			{BEGIN PSID_fieldheadercolumn}
			<th class="{$PSID_class}" {$PSID_style}  data-field="PSID">
				{$label payrollearnadj PSID}
			</th>
			{END PSID_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN PtabID_fieldcolumn}
			<td  class="{$PtabID_class}" {$PtabID_style} {$recordattrs}>
				{$PtabID_value}
			</td>
			{END PtabID_fieldcolumn}
			{BEGIN Employer_fieldcolumn}
			<td  class="{$Employer_class}" {$Employer_style} {$recordattrs}>
				{$Employer_value}
			</td>
			{END Employer_fieldcolumn}
			{BEGIN Division_fieldcolumn}
			<td  class="{$Division_class}" {$Division_style} {$recordattrs}>
				{$Division_value}
			</td>
			{END Division_fieldcolumn}
			{BEGIN WageType_fieldcolumn}
			<td  class="{$WageType_class}" {$WageType_style} {$recordattrs}>
				{$WageType_value}
			</td>
			{END WageType_fieldcolumn}
			{BEGIN PadjID_fieldcolumn}
			<td  class="{$PadjID_class}" {$PadjID_style} {$recordattrs}>
				{$PadjID_value}
			</td>
			{END PadjID_fieldcolumn}
			{BEGIN EmployeeID_fieldcolumn}
			<td  class="{$EmployeeID_class}" {$EmployeeID_style} {$recordattrs}>
				{$EmployeeID_value}
			</td>
			{END EmployeeID_fieldcolumn}
			{BEGIN FromDate_fieldcolumn}
			<td  class="{$FromDate_class}" {$FromDate_style} {$recordattrs}>
				{$FromDate_value}
			</td>
			{END FromDate_fieldcolumn}
			{BEGIN ToDate_fieldcolumn}
			<td  class="{$ToDate_class}" {$ToDate_style} {$recordattrs}>
				{$ToDate_value}
			</td>
			{END ToDate_fieldcolumn}
			{BEGIN Adjustment_fieldcolumn}
			<td  class="{$Adjustment_class}" {$Adjustment_style} {$recordattrs}>
				{$Adjustment_value}
			</td>
			{END Adjustment_fieldcolumn}
			{BEGIN Amount_fieldcolumn}
			<td  class="{$Amount_class}" {$Amount_style} {$recordattrs}>
				{$Amount_value}
			</td>
			{END Amount_fieldcolumn}
			{BEGIN eaID_fieldcolumn}
			<td  class="{$eaID_class}" {$eaID_style} {$recordattrs}>
				{$eaID_value}
			</td>
			{END eaID_fieldcolumn}
			{BEGIN PSID_fieldcolumn}
			<td  class="{$PSID_class}" {$PSID_style} {$recordattrs}>
				{$PSID_value}
			</td>
			{END PSID_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

{BEGIN totals_row}
	<tfoot>
		<tr class=" style1">
		{BEGIN totals_record}
			{BEGIN PtabID_fieldfootercolumn}
			<td>
						</td>
			{END PtabID_fieldfootercolumn}
			{BEGIN Employer_fieldfootercolumn}
			<td>
						</td>
			{END Employer_fieldfootercolumn}
			{BEGIN Division_fieldfootercolumn}
			<td>
						</td>
			{END Division_fieldfootercolumn}
			{BEGIN WageType_fieldfootercolumn}
			<td>
						</td>
			{END WageType_fieldfootercolumn}
			{BEGIN PadjID_fieldfootercolumn}
			<td>
						</td>
			{END PadjID_fieldfootercolumn}
			{BEGIN EmployeeID_fieldfootercolumn}
			<td>
						</td>
			{END EmployeeID_fieldfootercolumn}
			{BEGIN FromDate_fieldfootercolumn}
			<td>
						</td>
			{END FromDate_fieldfootercolumn}
			{BEGIN ToDate_fieldfootercolumn}
			<td>
						</td>
			{END ToDate_fieldfootercolumn}
			{BEGIN Adjustment_fieldfootercolumn}
			<td>
						</td>
			{END Adjustment_fieldfootercolumn}
			{BEGIN Amount_fieldfootercolumn}
			<td>
							{BEGIN Amount_showtotal}
									Total:
				{$Amount_total}
				{END Amount_showtotal}
			</td>
			{END Amount_fieldfootercolumn}
			{BEGIN eaID_fieldfootercolumn}
			<td>
						</td>
			{END eaID_fieldfootercolumn}
			{BEGIN PSID_fieldfootercolumn}
			<td>
						</td>
			{END PSID_fieldfootercolumn}
			{BEGIN endrecordtotals_block}
			<td class="rnr-cs"></td>
			{END endrecordtotals_block}
		{END totals_record}
		</tr>
	</tfoot>
{END totals_row}
</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
