<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Employer">
	{$Employer_editcontrol}
	</control>
	<control 
	field="Division">
	{$Division_editcontrol}
	</control>
	<control 
	field="Shift">
	{$Shift_editcontrol}
	</control>
	<control 
	field="FromDate">
	{$FromDate_editcontrol}
	</control>
	<control 
	field="ToDate">
	{$ToDate_editcontrol}
	</control>
	<control 
	field="SchedType">
	{$SchedType_editcontrol}
	</control>
	<control 
	field="SchedBy">
	{$SchedBy_editcontrol}
	</control>
	<control 
	field="RestDays">
	{$RestDays_editcontrol}
	</control>
	<control 
	field="TimeIn">
	{$TimeIn_editcontrol}
	</control>
	<control 
	field="TimeOut">
	{$TimeOut_editcontrol}
	</control>
	<control 
	field="LunchBreakTimeFrom">
	{$LunchBreakTimeFrom_editcontrol}
	</control>
	<control 
	field="LunchBreakTimeTo">
	{$LunchBreakTimeTo_editcontrol}
	</control>
	<control 
	field="MinsPerDay">
	{$MinsPerDay_editcontrol}
	</control>
	<control 
	field="FirstHalfMins">
	{$FirstHalfMins_editcontrol}
	</control>
	<control 
	field="BreakMins">
	{$BreakMins_editcontrol}
	</control>
	<control 
	field="SecondHalfMins">
	{$SecondHalfMins_editcontrol}
	</control>
	<control 
	field="Posted">
	{$Posted_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
