<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel shifts masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=shID]:before {
		content: "{$label shifts shID}";
	}
	.bs-gridcell[data-field=Shift]:before {
		content: "{$label shifts Shift}";
	}
	.bs-gridcell[data-field=TimeIn]:before {
		content: "{$label shifts TimeIn}";
	}
	.bs-gridcell[data-field=TimeOut]:before {
		content: "{$label shifts TimeOut}";
	}
	.bs-gridcell[data-field=BreakMins]:before {
		content: "{$label shifts BreakMins}";
	}
	.bs-gridcell[data-field=MinsPerDay]:before {
		content: "{$label shifts MinsPerDay}";
	}
	.bs-gridcell[data-field=LunchBreakTimeFrom]:before {
		content: "{$label shifts LunchBreakTimeFrom}";
	}
	.bs-gridcell[data-field=LunchBreakTimeTo]:before {
		content: "{$label shifts LunchBreakTimeTo}";
	}
	.bs-gridcell[data-field=FirstHalfMins]:before {
		content: "{$label shifts FirstHalfMins}";
	}
	.bs-gridcell[data-field=SecondHalfMins]:before {
		content: "{$label shifts SecondHalfMins}";
	}
	.bs-gridcell[data-field=AutoApproveNDiff]:before {
		content: "{$label shifts AutoApproveNDiff}";
	}
	.bs-gridcell[data-field=ReqLogOutInOnBreak]:before {
		content: "{$label shifts ReqLogOutInOnBreak}";
	}
	.bs-gridcell[data-field=SchedType]:before {
		content: "{$label shifts SchedType}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$shID_class}">{$label shifts shID}</th>
			<th class="{$Shift_class}">{$label shifts Shift}</th>
			<th class="{$SchedType_class}">{$label shifts SchedType}</th>
			<th class="{$TimeIn_class}">{$label shifts TimeIn}</th>
			<th class="{$TimeOut_class}">{$label shifts TimeOut}</th>
			<th class="{$LunchBreakTimeFrom_class}">{$label shifts LunchBreakTimeFrom}</th>
			<th class="{$LunchBreakTimeTo_class}">{$label shifts LunchBreakTimeTo}</th>
			<th class="{$ReqLogOutInOnBreak_class}">{$label shifts ReqLogOutInOnBreak}</th>
			<th class="{$FirstHalfMins_class}">{$label shifts FirstHalfMins}</th>
			<th class="{$BreakMins_class}">{$label shifts BreakMins}</th>
			<th class="{$SecondHalfMins_class}">{$label shifts SecondHalfMins}</th>
			<th class="{$MinsPerDay_class}">{$label shifts MinsPerDay}</th>
			<th class="{$AutoApproveNDiff_class}">{$label shifts AutoApproveNDiff}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$shID_class} bs-gridcell" data-field=shID>{$shID_mastervalue}</td>
			<td class="{$Shift_class} bs-gridcell" data-field=Shift>{$Shift_mastervalue}</td>
			<td class="{$SchedType_class} bs-gridcell" data-field=SchedType>{$SchedType_mastervalue}</td>
			<td class="{$TimeIn_class} bs-gridcell" data-field=TimeIn>{$TimeIn_mastervalue}</td>
			<td class="{$TimeOut_class} bs-gridcell" data-field=TimeOut>{$TimeOut_mastervalue}</td>
			<td class="{$LunchBreakTimeFrom_class} bs-gridcell" data-field=LunchBreakTimeFrom>{$LunchBreakTimeFrom_mastervalue}</td>
			<td class="{$LunchBreakTimeTo_class} bs-gridcell" data-field=LunchBreakTimeTo>{$LunchBreakTimeTo_mastervalue}</td>
			<td class="{$ReqLogOutInOnBreak_class} bs-gridcell" data-field=ReqLogOutInOnBreak>{$ReqLogOutInOnBreak_mastervalue}</td>
			<td class="{$FirstHalfMins_class} bs-gridcell" data-field=FirstHalfMins>{$FirstHalfMins_mastervalue}</td>
			<td class="{$BreakMins_class} bs-gridcell" data-field=BreakMins>{$BreakMins_mastervalue}</td>
			<td class="{$SecondHalfMins_class} bs-gridcell" data-field=SecondHalfMins>{$SecondHalfMins_mastervalue}</td>
			<td class="{$MinsPerDay_class} bs-gridcell" data-field=MinsPerDay>{$MinsPerDay_mastervalue}</td>
			<td class="{$AutoApproveNDiff_class} bs-gridcell" data-field=AutoApproveNDiff>{$AutoApproveNDiff_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>