<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
<style>
{$containerCss}
</style>
<div class="sidebar bs-fixed clearfix mCustomScrollbar" data-mcs-theme="minimal-dark" {$blockattr_left}>
	<div class="sidebar-contents mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside">
		

{BEGIN container_logo}
<div {$logo_chiddenattr} data-pageid="{$pageid}" data-container="logo" class=" bs-sidebarlogo   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}



</div>
{END container_logo}



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-default clearfix   "> 

{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}

{BEGIN container_sidemenu}<div {$sidemenu_chiddenattr} data-pageid="{$pageid}" data-container="sidemenu" class="bs-navform navbar-collapse sidebar-menu bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main}

{END menu_block}

												</div>						{END container_sidemenu}

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class=" sidebar-container   "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>
		Show all
		</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


	</div>
</div>	
<div class="bs-wrapper">
	<div class="bs-fixedheader" id="fixedheader{$id}">
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default bs-fullwidth-navbar">					



{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class=" navbar-form navbar-left   "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-hidden-xs bs-navcontrolled" aria-expanded="false" >												   



{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
				{BEGIN editselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$editselectedlink_attrs} {$editselectedlink_span} >Edit selected</a></li>
		{END editselected_link}

				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Export selected</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Delete selected</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="shifts_search.php" {$advsearchlink_attrs}>Advanced search</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">Show search panel</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="shifts_export.php"  {$exportlink_attrs}>Export results</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="shifts_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Import</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Login</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>Log out</a></li>
		{END logoutbutton}
		
		{BEGIN adminarea_link}
				<li><a href="admin_rights_list.php" {$adminarealink_attrs}>Admin Area</a></li>
		{END adminarea_link}


			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
	</div>	
	<div class="container-fluid bs-underheader bs-fixedsidebarmain" id="underheader{$id}">
		{$header}
		<div class="bs-sidebar-screenbound">
			



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class=" bs-navcontrolled bs-hidden-xs   "> 




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Add new</a>
	{END add_link}

		{BEGIN inlineadd_link}
		<button {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$inlineaddlink_attrs}>Inline Add</button>
	{END inlineadd_link}

{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>Delete</button>
	{END deleteselected_link}
		{BEGIN updateselected_link}
		<button type="button" class="btn btn-default" {$updateselectedlink_attrs} disabled>Update selected</button>
	{END updateselected_link}
		{BEGIN saveall_link}
		<button type="button" class="btn btn-primary" {$savealllink_attrs} {$savealllink_span}>Save all</button>
	{END saveall_link}
	{BEGIN cancelall_link}
		<button type="button" class="btn btn-default" {$cancelalllink_attrs} {$cancelalllink_span}>Cancel</button>
	{END cancelall_link}
</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print-friendly page">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Scope:</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="shifts_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Print all pages
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="shifts_print.php?{$crosstable_attrs}" name="printScope" checked>
							Print this page
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							Print selected
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

				<li>			
		{BEGIN print_details}
			<div class="rnr-printdetails">
				<label for="printDetailsToggler{$id}">
					<input type="checkbox" id="printDetailsToggler{$id}">
					Print details
				</label>
				<div class="rnr-printdetailstables"  id="printdetailstables{$id}" style="display:none;">
					{BEGIN print_details_addbreaks}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailsaddbreaks{$id}">
									<input type="checkbox" value="addbreaks" id="printDetailsaddbreaks{$id}" checked>
									Addbreaks
								</label>
							</div>
					{END print_details_addbreaks}
				</div>
			</div>
		{END print_details}
		</li>
		<li class="divider" role="separator"></li>

				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Records Per Page:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Print</button>			
		</li>
	</ul>	
</span>

{END print_friendly}




</div>
{END container_gridinfo}







</div>
{END container_gridcontrols}


		</div>
		<div></div>
		<div class="bs-sidebar-screenbound bs-minwidth">
			

{BEGIN container_tabs}
<div {$tabs_chiddenattr} data-pageid="{$pageid}" data-container="tabs" class="    "> 

{BEGIN grid_tabs}
<div {$bsgrid_tabs_hiddenattr} data-pageid="{$pageid}" data-brick="bsgrid_tabs">
<ul class="nav nav-tabs">
{$grid_tabs_content}
</ul>
</div>
{END grid_tabs}



</div>
{END container_tabs}



{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="    "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}



{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=shID]:before {
		content: "{$label shifts shID}";
	}
	.bs-gridcell[data-field=Shift]:before {
		content: "{$label shifts Shift}";
	}
	.bs-gridcell[data-field=TimeIn]:before {
		content: "{$label shifts TimeIn}";
	}
	.bs-gridcell[data-field=TimeOut]:before {
		content: "{$label shifts TimeOut}";
	}
	.bs-gridcell[data-field=BreakMins]:before {
		content: "{$label shifts BreakMins}";
	}
	.bs-gridcell[data-field=MinsPerDay]:before {
		content: "{$label shifts MinsPerDay}";
	}
	.bs-gridcell[data-field=LunchBreakTimeFrom]:before {
		content: "{$label shifts LunchBreakTimeFrom}";
	}
	.bs-gridcell[data-field=LunchBreakTimeTo]:before {
		content: "{$label shifts LunchBreakTimeTo}";
	}
	.bs-gridcell[data-field=FirstHalfMins]:before {
		content: "{$label shifts FirstHalfMins}";
	}
	.bs-gridcell[data-field=SecondHalfMins]:before {
		content: "{$label shifts SecondHalfMins}";
	}
	.bs-gridcell[data-field=AutoApproveNDiff]:before {
		content: "{$label shifts AutoApproveNDiff}";
	}
	.bs-gridcell[data-field=ReqLogOutInOnBreak]:before {
		content: "{$label shifts ReqLogOutInOnBreak}";
	}
	.bs-gridcell[data-field=SchedType]:before {
		content: "{$label shifts SchedType}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		{BEGIN shifts_dtable_column}
									<th >&nbsp;</th>
									{END shifts_dtable_column}
									
									{BEGIN shID_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$shID_class}" data-field=shID>
									{BEGIN shID_fieldheader}
																				<span {$shID_orderlinkattrs}>
											{$label shifts shID}
										</span>
									{END shID_fieldheader}
									</th>
									{END shID_fieldheadercolumn}
									
									
									
									
									{BEGIN Shift_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Shift_class}" data-field=Shift>
									{BEGIN Shift_fieldheader}
																				<span {$Shift_orderlinkattrs}>
											{$label shifts Shift}
										</span>
									{END Shift_fieldheader}
									</th>
									{END Shift_fieldheadercolumn}
									
									
									
									
									{BEGIN SchedType_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$SchedType_class}" data-field=SchedType>
									{BEGIN SchedType_fieldheader}
																				<span {$SchedType_orderlinkattrs}>
											{$label shifts SchedType}
										</span>
									{END SchedType_fieldheader}
									</th>
									{END SchedType_fieldheadercolumn}
									
									
									
									
									{BEGIN TimeIn_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TimeIn_class}" data-field=TimeIn>
									{BEGIN TimeIn_fieldheader}
																				<span {$TimeIn_orderlinkattrs}>
											{$label shifts TimeIn}
										</span>
									{END TimeIn_fieldheader}
									</th>
									{END TimeIn_fieldheadercolumn}
									
									
									
									
									{BEGIN TimeOut_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TimeOut_class}" data-field=TimeOut>
									{BEGIN TimeOut_fieldheader}
																				<span {$TimeOut_orderlinkattrs}>
											{$label shifts TimeOut}
										</span>
									{END TimeOut_fieldheader}
									</th>
									{END TimeOut_fieldheadercolumn}
									
									
									
									
									{BEGIN LunchBreakTimeFrom_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$LunchBreakTimeFrom_class}" data-field=LunchBreakTimeFrom>
									{BEGIN LunchBreakTimeFrom_fieldheader}
																				<span {$LunchBreakTimeFrom_orderlinkattrs}>
											{$label shifts LunchBreakTimeFrom}
										</span>
									{END LunchBreakTimeFrom_fieldheader}
									</th>
									{END LunchBreakTimeFrom_fieldheadercolumn}
									
									
									
									
									{BEGIN LunchBreakTimeTo_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$LunchBreakTimeTo_class}" data-field=LunchBreakTimeTo>
									{BEGIN LunchBreakTimeTo_fieldheader}
																				<span {$LunchBreakTimeTo_orderlinkattrs}>
											{$label shifts LunchBreakTimeTo}
										</span>
									{END LunchBreakTimeTo_fieldheader}
									</th>
									{END LunchBreakTimeTo_fieldheadercolumn}
									
									
									
									
									{BEGIN ReqLogOutInOnBreak_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ReqLogOutInOnBreak_class}" data-field=ReqLogOutInOnBreak>
									{BEGIN ReqLogOutInOnBreak_fieldheader}
																				<span {$ReqLogOutInOnBreak_orderlinkattrs}>
											{$label shifts ReqLogOutInOnBreak}
										</span>
									{END ReqLogOutInOnBreak_fieldheader}
									</th>
									{END ReqLogOutInOnBreak_fieldheadercolumn}
									
									
									
									
									{BEGIN FirstHalfMins_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$FirstHalfMins_class}" data-field=FirstHalfMins>
									{BEGIN FirstHalfMins_fieldheader}
																				<span {$FirstHalfMins_orderlinkattrs}>
											{$label shifts FirstHalfMins}
										</span>
									{END FirstHalfMins_fieldheader}
									</th>
									{END FirstHalfMins_fieldheadercolumn}
									
									
									
									
									{BEGIN BreakMins_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$BreakMins_class}" data-field=BreakMins>
									{BEGIN BreakMins_fieldheader}
																				<span {$BreakMins_orderlinkattrs}>
											{$label shifts BreakMins}
										</span>
									{END BreakMins_fieldheader}
									</th>
									{END BreakMins_fieldheadercolumn}
									
									
									
									
									{BEGIN SecondHalfMins_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$SecondHalfMins_class}" data-field=SecondHalfMins>
									{BEGIN SecondHalfMins_fieldheader}
																				<span {$SecondHalfMins_orderlinkattrs}>
											{$label shifts SecondHalfMins}
										</span>
									{END SecondHalfMins_fieldheader}
									</th>
									{END SecondHalfMins_fieldheadercolumn}
									
									
									
									
									{BEGIN MinsPerDay_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$MinsPerDay_class}" data-field=MinsPerDay>
									{BEGIN MinsPerDay_fieldheader}
																				<span {$MinsPerDay_orderlinkattrs}>
											{$label shifts MinsPerDay}
										</span>
									{END MinsPerDay_fieldheader}
									</th>
									{END MinsPerDay_fieldheadercolumn}
									
									
									
									
									{BEGIN AutoApproveNDiff_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$AutoApproveNDiff_class}" data-field=AutoApproveNDiff>
									{BEGIN AutoApproveNDiff_fieldheader}
																				<span {$AutoApproveNDiff_orderlinkattrs}>
											{$label shifts AutoApproveNDiff}
										</span>
									{END AutoApproveNDiff_fieldheader}
									</th>
									{END AutoApproveNDiff_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="Edit"></a>
	{END edit_link}
	{END edit_column}

		{BEGIN inlineedit_column}
	{BEGIN inlineedit_link}
			<a class="glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Inline Edit"></a>
	{END inlineedit_link}
	{END inlineedit_column}
	
	<span data-hidden {$ieditbuttonsholder_attrs}></span>

		{BEGIN copy_column}
	{BEGIN copy_link}
			<a class="glyphicon glyphicon-duplicate" {$copylink_attrs} title="Copy"></a>
	{END copy_link}
	{END copy_column}

		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="View"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

		{BEGIN shifts_dtable_column}
	<td class="rnr-nowrap bs-griddetails" {$rowstyle} {$recordattrs}>
	
			{BEGIN dtables_link}
		
							
				
					<a {$dtables_link_attrs}  title="Show details">
				<span class="badge addbreaks_badge" {$addbreaks_childnumber_attr}>
					<span class="glyphicon glyphicon-th-list"></span> 
					<span class="{$addbreaks_cntspan_class}" >{$addbreaks_childnumber}</span>
				</span></a>
		{END dtables_link}
	
	
	</td>
	{END shifts_dtable_column}


	{BEGIN shID_fieldcolumn}
	<td class="bs-gridcell {$shID_class}"  data-field=shID {$rowstyle} {$recordattrs}>
		{$shID_value}
	</td>
{END shID_fieldcolumn}


	{BEGIN Shift_fieldcolumn}
	<td class="bs-gridcell {$Shift_class}"  data-field=Shift {$rowstyle} {$recordattrs}>
		{$Shift_value}
	</td>
{END Shift_fieldcolumn}


	{BEGIN SchedType_fieldcolumn}
	<td class="bs-gridcell {$SchedType_class}"  data-field=SchedType {$rowstyle} {$recordattrs}>
		{$SchedType_value}
	</td>
{END SchedType_fieldcolumn}


	{BEGIN TimeIn_fieldcolumn}
	<td class="bs-gridcell {$TimeIn_class}"  data-field=TimeIn {$rowstyle} {$recordattrs}>
		{$TimeIn_value}
	</td>
{END TimeIn_fieldcolumn}


	{BEGIN TimeOut_fieldcolumn}
	<td class="bs-gridcell {$TimeOut_class}"  data-field=TimeOut {$rowstyle} {$recordattrs}>
		{$TimeOut_value}
	</td>
{END TimeOut_fieldcolumn}


	{BEGIN LunchBreakTimeFrom_fieldcolumn}
	<td class="bs-gridcell {$LunchBreakTimeFrom_class}"  data-field=LunchBreakTimeFrom {$rowstyle} {$recordattrs}>
		{$LunchBreakTimeFrom_value}
	</td>
{END LunchBreakTimeFrom_fieldcolumn}


	{BEGIN LunchBreakTimeTo_fieldcolumn}
	<td class="bs-gridcell {$LunchBreakTimeTo_class}"  data-field=LunchBreakTimeTo {$rowstyle} {$recordattrs}>
		{$LunchBreakTimeTo_value}
	</td>
{END LunchBreakTimeTo_fieldcolumn}


	{BEGIN ReqLogOutInOnBreak_fieldcolumn}
	<td class="bs-gridcell {$ReqLogOutInOnBreak_class}"  data-field=ReqLogOutInOnBreak {$rowstyle} {$recordattrs}>
		{$ReqLogOutInOnBreak_value}
	</td>
{END ReqLogOutInOnBreak_fieldcolumn}


	{BEGIN FirstHalfMins_fieldcolumn}
	<td class="bs-gridcell {$FirstHalfMins_class}"  data-field=FirstHalfMins {$rowstyle} {$recordattrs}>
		{$FirstHalfMins_value}
	</td>
{END FirstHalfMins_fieldcolumn}


	{BEGIN BreakMins_fieldcolumn}
	<td class="bs-gridcell {$BreakMins_class}"  data-field=BreakMins {$rowstyle} {$recordattrs}>
		{$BreakMins_value}
	</td>
{END BreakMins_fieldcolumn}


	{BEGIN SecondHalfMins_fieldcolumn}
	<td class="bs-gridcell {$SecondHalfMins_class}"  data-field=SecondHalfMins {$rowstyle} {$recordattrs}>
		{$SecondHalfMins_value}
	</td>
{END SecondHalfMins_fieldcolumn}


	{BEGIN MinsPerDay_fieldcolumn}
	<td class="bs-gridcell {$MinsPerDay_class}"  data-field=MinsPerDay {$rowstyle} {$recordattrs}>
		{$MinsPerDay_value}
	</td>
{END MinsPerDay_fieldcolumn}


	{BEGIN AutoApproveNDiff_fieldcolumn}
	<td class="bs-gridcell {$AutoApproveNDiff_class}"  data-field=AutoApproveNDiff {$rowstyle} {$recordattrs}>
		{$AutoApproveNDiff_value}
	</td>
{END AutoApproveNDiff_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


		</div>
	</div>
</div>
	

		{$footer}
	{END body}
	</body>
</html>
