<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Shift">
	{$Shift_editcontrol}
	</control>
	<control field="SchedType">
	{$SchedType_editcontrol}
	</control>
	<control field="TimeIn">
	{$TimeIn_editcontrol}
	</control>
	<control field="TimeOut">
	{$TimeOut_editcontrol}
	</control>
	<control field="LunchBreakTimeFrom">
	{$LunchBreakTimeFrom_editcontrol}
	</control>
	<control field="LunchBreakTimeTo">
	{$LunchBreakTimeTo_editcontrol}
	</control>
	<control field="ReqLogOutInOnBreak">
	{$ReqLogOutInOnBreak_editcontrol}
	</control>
	<control field="FirstHalfMins">
	{$FirstHalfMins_editcontrol}
	</control>
	<control field="BreakMins">
	{$BreakMins_editcontrol}
	</control>
	<control field="SecondHalfMins">
	{$SecondHalfMins_editcontrol}
	</control>
	<control field="MinsPerDay">
	{$MinsPerDay_editcontrol}
	</control>
	<control field="AutoApproveNDiff">
	{$AutoApproveNDiff_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>