<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN RHFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHFactor}" data-fieldname="RHFactor" data-signal-error-for="RHFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHFactor}">
			{BEGIN RHFactor_label}{$label standardsetup RHFactor}{END RHFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHFactor}
			</div>
		</div>
	</div>
</div>
{END RHFactor_tabfieldblock}
{BEGIN SHFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHFactor}" data-fieldname="SHFactor" data-signal-error-for="SHFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHFactor}">
			{BEGIN SHFactor_label}{$label standardsetup SHFactor}{END SHFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHFactor}
			</div>
		</div>
	</div>
</div>
{END SHFactor_tabfieldblock}
{BEGIN SHFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHFactorDaily}" data-fieldname="SHFactorDaily" data-signal-error-for="SHFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHFactorDaily}">
			{BEGIN SHFactorDaily_label}{$label standardsetup SHFactorDaily}{END SHFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$SHFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup SHFactorDaily}
			</div>
		</div>
	</div>
</div>
{END SHFactorDaily_tabfieldblock}
{BEGIN CHFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHFactor}" data-fieldname="CHFactor" data-signal-error-for="CHFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHFactor}">
			{BEGIN CHFactor_label}{$label standardsetup CHFactor}{END CHFactor_label}
		</label>
		<div class="col-md-6 " >
			{$CHFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHFactor">
			<div class="text-muted" >
			{$tooltip standardsetup CHFactor}
			</div>
		</div>
	</div>
</div>
{END CHFactor_tabfieldblock}
{BEGIN CHFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHFactorDaily}" data-fieldname="CHFactorDaily" data-signal-error-for="CHFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHFactorDaily}">
			{BEGIN CHFactorDaily_label}{$label standardsetup CHFactorDaily}{END CHFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$CHFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup CHFactorDaily}
			</div>
		</div>
	</div>
</div>
{END CHFactorDaily_tabfieldblock}
{BEGIN DoubleHoliday_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHoliday}" data-fieldname="DoubleHoliday" data-signal-error-for="DoubleHoliday{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHoliday}">
			{BEGIN DoubleHoliday_label}{$label standardsetup DoubleHoliday}{END DoubleHoliday_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHoliday_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHoliday">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHoliday}
			</div>
		</div>
	</div>
</div>
{END DoubleHoliday_tabfieldblock}
{BEGIN ReqBeforeHoliday_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_ReqBeforeHoliday}" data-fieldname="ReqBeforeHoliday" data-signal-error-for="ReqBeforeHoliday{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_ReqBeforeHoliday}">
			{BEGIN ReqBeforeHoliday_label}{$label standardsetup ReqBeforeHoliday}{END ReqBeforeHoliday_label}
		</label>
		<div class="col-md-6 " >
			{$ReqBeforeHoliday_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="ReqBeforeHoliday">
			<div class="text-muted" >
			{$tooltip standardsetup ReqBeforeHoliday}
			</div>
		</div>
	</div>
</div>
{END ReqBeforeHoliday_tabfieldblock}





</div>
{END container_tabfields}

</div>