<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN RegOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegOTFactor}" data-fieldname="RegOTFactor" >
		<label class=" control-label" for="{$labelfor_RegOTFactor}">
			{$label standardsetup RegOTFactor}
		</label>
		<div class="" >
			{$RegOTFactor_value}
		</div>
	</div>
{END RegOTFactor_tabfieldblock}
{BEGIN RHOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHOTFactor}" data-fieldname="RHOTFactor" >
		<label class=" control-label" for="{$labelfor_RHOTFactor}">
			{$label standardsetup RHOTFactor}
		</label>
		<div class="" >
			{$RHOTFactor_value}
		</div>
	</div>
{END RHOTFactor_tabfieldblock}
{BEGIN SHOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTFactor}" data-fieldname="SHOTFactor" >
		<label class=" control-label" for="{$labelfor_SHOTFactor}">
			{$label standardsetup SHOTFactor}
		</label>
		<div class="" >
			{$SHOTFactor_value}
		</div>
	</div>
{END SHOTFactor_tabfieldblock}
{BEGIN SHOTDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTDFactor}" data-fieldname="SHOTDFactor" >
		<label class=" control-label" for="{$labelfor_SHOTDFactor}">
			{$label standardsetup SHOTDFactor}
		</label>
		<div class="" >
			{$SHOTDFactor_value}
		</div>
	</div>
{END SHOTDFactor_tabfieldblock}
{BEGIN SHRDOTDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOTDFactor}" data-fieldname="SHRDOTDFactor" >
		<label class=" control-label" for="{$labelfor_SHRDOTDFactor}">
			{$label standardsetup SHRDOTDFactor}
		</label>
		<div class="" >
			{$SHRDOTDFactor_value}
		</div>
	</div>
{END SHRDOTDFactor_tabfieldblock}
{BEGIN RDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDOTFactor}" data-fieldname="RDOTFactor" >
		<label class=" control-label" for="{$labelfor_RDOTFactor}">
			{$label standardsetup RDOTFactor}
		</label>
		<div class="" >
			{$RDOTFactor_value}
		</div>
	</div>
{END RDOTFactor_tabfieldblock}
{BEGIN RHRDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDOTFactor}" data-fieldname="RHRDOTFactor" >
		<label class=" control-label" for="{$labelfor_RHRDOTFactor}">
			{$label standardsetup RHRDOTFactor}
		</label>
		<div class="" >
			{$RHRDOTFactor_value}
		</div>
	</div>
{END RHRDOTFactor_tabfieldblock}
{BEGIN SHRDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOTFactor}" data-fieldname="SHRDOTFactor" >
		<label class=" control-label" for="{$labelfor_SHRDOTFactor}">
			{$label standardsetup SHRDOTFactor}
		</label>
		<div class="" >
			{$SHRDOTFactor_value}
		</div>
	</div>
{END SHRDOTFactor_tabfieldblock}
{BEGIN RHNDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDOTFactor}" data-fieldname="RHNDOTFactor" >
		<label class=" control-label" for="{$labelfor_RHNDOTFactor}">
			{$label standardsetup RHNDOTFactor}
		</label>
		<div class="" >
			{$RHNDOTFactor_value}
		</div>
	</div>
{END RHNDOTFactor_tabfieldblock}
{BEGIN SHNDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDOTFactor}" data-fieldname="SHNDOTFactor" >
		<label class=" control-label" for="{$labelfor_SHNDOTFactor}">
			{$label standardsetup SHNDOTFactor}
		</label>
		<div class="" >
			{$SHNDOTFactor_value}
		</div>
	</div>
{END SHNDOTFactor_tabfieldblock}
{BEGIN RDNDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDOTFactor}" data-fieldname="RDNDOTFactor" >
		<label class=" control-label" for="{$labelfor_RDNDOTFactor}">
			{$label standardsetup RDNDOTFactor}
		</label>
		<div class="" >
			{$RDNDOTFactor_value}
		</div>
	</div>
{END RDNDOTFactor_tabfieldblock}
{BEGIN RHRDNDOTFacotr_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDNDOTFacotr}" data-fieldname="RHRDNDOTFacotr" >
		<label class=" control-label" for="{$labelfor_RHRDNDOTFacotr}">
			{$label standardsetup RHRDNDOTFacotr}
		</label>
		<div class="" >
			{$RHRDNDOTFacotr_value}
		</div>
	</div>
{END RHRDNDOTFacotr_tabfieldblock}
{BEGIN SHRDNDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDNDOTFactor}" data-fieldname="SHRDNDOTFactor" >
		<label class=" control-label" for="{$labelfor_SHRDNDOTFactor}">
			{$label standardsetup SHRDNDOTFactor}
		</label>
		<div class="" >
			{$SHRDNDOTFactor_value}
		</div>
	</div>
{END SHRDNDOTFactor_tabfieldblock}
{BEGIN DoubleHolidayOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayOT}" data-fieldname="DoubleHolidayOT" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayOT}">
			{$label standardsetup DoubleHolidayOT}
		</label>
		<div class="" >
			{$DoubleHolidayOT_value}
		</div>
	</div>
{END DoubleHolidayOT_tabfieldblock}
{BEGIN DoubleHolidayRDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayRDOT}" data-fieldname="DoubleHolidayRDOT" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayRDOT}">
			{$label standardsetup DoubleHolidayRDOT}
		</label>
		<div class="" >
			{$DoubleHolidayRDOT_value}
		</div>
	</div>
{END DoubleHolidayRDOT_tabfieldblock}
{BEGIN DoubleHolidayNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayNDOT}" data-fieldname="DoubleHolidayNDOT" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayNDOT}">
			{$label standardsetup DoubleHolidayNDOT}
		</label>
		<div class="" >
			{$DoubleHolidayNDOT_value}
		</div>
	</div>
{END DoubleHolidayNDOT_tabfieldblock}
{BEGIN DoubleHolidayRDNDOT_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayRDNDOT}" data-fieldname="DoubleHolidayRDNDOT" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayRDNDOT}">
			{$label standardsetup DoubleHolidayRDNDOT}
		</label>
		<div class="" >
			{$DoubleHolidayRDNDOT_value}
		</div>
	</div>
{END DoubleHolidayRDNDOT_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>