<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel standardsetup search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN SID_fieldblock}		
	<div class="container {$fielddispclass_SID}" data-fieldname="SID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SID}">
				{$label standardsetup SID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SID}
			</div>
			<div class="col-md-4" >
				{$SID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SID_editcontrol1}
			</div>
		</div>
	</div>
{END SID_fieldblock}
	{BEGIN WorkingDaysInYear_fieldblock}		
	<div class="container {$fielddispclass_WorkingDaysInYear}" data-fieldname="WorkingDaysInYear">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WorkingDaysInYear}">
				{$label standardsetup WorkingDaysInYear}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WorkingDaysInYear}
			</div>
			<div class="col-md-4" >
				{$WorkingDaysInYear_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WorkingDaysInYear_editcontrol1}
			</div>
		</div>
	</div>
{END WorkingDaysInYear_fieldblock}
	{BEGIN WorkingDaysInYearDailies_fieldblock}		
	<div class="container {$fielddispclass_WorkingDaysInYearDailies}" data-fieldname="WorkingDaysInYearDailies">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WorkingDaysInYearDailies}">
				{$label standardsetup WorkingDaysInYearDailies}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WorkingDaysInYearDailies}
			</div>
			<div class="col-md-4" >
				{$WorkingDaysInYearDailies_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WorkingDaysInYearDailies_editcontrol1}
			</div>
		</div>
	</div>
{END WorkingDaysInYearDailies_fieldblock}
	{BEGIN AllowableLeaveFrom_fieldblock}		
	<div class="container {$fielddispclass_AllowableLeaveFrom}" data-fieldname="AllowableLeaveFrom">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AllowableLeaveFrom}">
				{$label standardsetup AllowableLeaveFrom}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AllowableLeaveFrom}
			</div>
			<div class="col-md-4" >
				{$AllowableLeaveFrom_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AllowableLeaveFrom_editcontrol1}
			</div>
		</div>
	</div>
{END AllowableLeaveFrom_fieldblock}
	{BEGIN AllowableLeaveTo_fieldblock}		
	<div class="container {$fielddispclass_AllowableLeaveTo}" data-fieldname="AllowableLeaveTo">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AllowableLeaveTo}">
				{$label standardsetup AllowableLeaveTo}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AllowableLeaveTo}
			</div>
			<div class="col-md-4" >
				{$AllowableLeaveTo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AllowableLeaveTo_editcontrol1}
			</div>
		</div>
	</div>
{END AllowableLeaveTo_fieldblock}
	{BEGIN RHFactor_fieldblock}		
	<div class="container {$fielddispclass_RHFactor}" data-fieldname="RHFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHFactor}">
				{$label standardsetup RHFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHFactor}
			</div>
			<div class="col-md-4" >
				{$RHFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHFactor_fieldblock}
	{BEGIN SHFactor_fieldblock}		
	<div class="container {$fielddispclass_SHFactor}" data-fieldname="SHFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHFactor}">
				{$label standardsetup SHFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHFactor}
			</div>
			<div class="col-md-4" >
				{$SHFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHFactor_fieldblock}
	{BEGIN SHFactorDaily_fieldblock}		
	<div class="container {$fielddispclass_SHFactorDaily}" data-fieldname="SHFactorDaily">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHFactorDaily}">
				{$label standardsetup SHFactorDaily}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHFactorDaily}
			</div>
			<div class="col-md-4" >
				{$SHFactorDaily_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHFactorDaily_editcontrol1}
			</div>
		</div>
	</div>
{END SHFactorDaily_fieldblock}
	{BEGIN DoubleHoliday_fieldblock}		
	<div class="container {$fielddispclass_DoubleHoliday}" data-fieldname="DoubleHoliday">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHoliday}">
				{$label standardsetup DoubleHoliday}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHoliday}
			</div>
			<div class="col-md-4" >
				{$DoubleHoliday_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHoliday_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHoliday_fieldblock}
	{BEGIN ReqBeforeHoliday_fieldblock}		
	<div class="container {$fielddispclass_ReqBeforeHoliday}" data-fieldname="ReqBeforeHoliday">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ReqBeforeHoliday}">
				{$label standardsetup ReqBeforeHoliday}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ReqBeforeHoliday}
			</div>
			<div class="col-md-4" >
				{$ReqBeforeHoliday_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ReqBeforeHoliday_editcontrol1}
			</div>
		</div>
	</div>
{END ReqBeforeHoliday_fieldblock}
	{BEGIN RegOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RegOTFactor}" data-fieldname="RegOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegOTFactor}">
				{$label standardsetup RegOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegOTFactor}
			</div>
			<div class="col-md-4" >
				{$RegOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RegOTFactor_fieldblock}
	{BEGIN RHOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RHOTFactor}" data-fieldname="RHOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHOTFactor}">
				{$label standardsetup RHOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHOTFactor}
			</div>
			<div class="col-md-4" >
				{$RHOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHOTFactor_fieldblock}
	{BEGIN SHOTFactor_fieldblock}		
	<div class="container {$fielddispclass_SHOTFactor}" data-fieldname="SHOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHOTFactor}">
				{$label standardsetup SHOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHOTFactor}
			</div>
			<div class="col-md-4" >
				{$SHOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHOTFactor_fieldblock}
	{BEGIN SHOTDFactor_fieldblock}		
	<div class="container {$fielddispclass_SHOTDFactor}" data-fieldname="SHOTDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHOTDFactor}">
				{$label standardsetup SHOTDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHOTDFactor}
			</div>
			<div class="col-md-4" >
				{$SHOTDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHOTDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHOTDFactor_fieldblock}
	{BEGIN SHRDOTDFactor_fieldblock}		
	<div class="container {$fielddispclass_SHRDOTDFactor}" data-fieldname="SHRDOTDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDOTDFactor}">
				{$label standardsetup SHRDOTDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDOTDFactor}
			</div>
			<div class="col-md-4" >
				{$SHRDOTDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDOTDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDOTDFactor_fieldblock}
	{BEGIN RDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RDOTFactor}" data-fieldname="RDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDOTFactor}">
				{$label standardsetup RDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDOTFactor}
			</div>
			<div class="col-md-4" >
				{$RDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RDOTFactor_fieldblock}
	{BEGIN RHRDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RHRDOTFactor}" data-fieldname="RHRDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDOTFactor}">
				{$label standardsetup RHRDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDOTFactor}
			</div>
			<div class="col-md-4" >
				{$RHRDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDOTFactor_fieldblock}
	{BEGIN SHRDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_SHRDOTFactor}" data-fieldname="SHRDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDOTFactor}">
				{$label standardsetup SHRDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDOTFactor}
			</div>
			<div class="col-md-4" >
				{$SHRDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDOTFactor_fieldblock}
	{BEGIN RHNDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RHNDOTFactor}" data-fieldname="RHNDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHNDOTFactor}">
				{$label standardsetup RHNDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHNDOTFactor}
			</div>
			<div class="col-md-4" >
				{$RHNDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHNDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHNDOTFactor_fieldblock}
	{BEGIN SHNDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_SHNDOTFactor}" data-fieldname="SHNDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHNDOTFactor}">
				{$label standardsetup SHNDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHNDOTFactor}
			</div>
			<div class="col-md-4" >
				{$SHNDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHNDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHNDOTFactor_fieldblock}
	{BEGIN RDNDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RDNDOTFactor}" data-fieldname="RDNDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDNDOTFactor}">
				{$label standardsetup RDNDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDNDOTFactor}
			</div>
			<div class="col-md-4" >
				{$RDNDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDNDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RDNDOTFactor_fieldblock}
	{BEGIN RHRDNDOTFacotr_fieldblock}		
	<div class="container {$fielddispclass_RHRDNDOTFacotr}" data-fieldname="RHRDNDOTFacotr">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDNDOTFacotr}">
				{$label standardsetup RHRDNDOTFacotr}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDNDOTFacotr}
			</div>
			<div class="col-md-4" >
				{$RHRDNDOTFacotr_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDNDOTFacotr_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDNDOTFacotr_fieldblock}
	{BEGIN SHRDNDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_SHRDNDOTFactor}" data-fieldname="SHRDNDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDNDOTFactor}">
				{$label standardsetup SHRDNDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDNDOTFactor}
			</div>
			<div class="col-md-4" >
				{$SHRDNDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDNDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDNDOTFactor_fieldblock}
	{BEGIN DoubleHolidayOT_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayOT}" data-fieldname="DoubleHolidayOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayOT}">
				{$label standardsetup DoubleHolidayOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayOT}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayOT_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayOT_fieldblock}
	{BEGIN DoubleHolidayRDOT_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayRDOT}" data-fieldname="DoubleHolidayRDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayRDOT}">
				{$label standardsetup DoubleHolidayRDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayRDOT}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDOT_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayRDOT_fieldblock}
	{BEGIN DoubleHolidayNDOT_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayNDOT}" data-fieldname="DoubleHolidayNDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayNDOT}">
				{$label standardsetup DoubleHolidayNDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayNDOT}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayNDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayNDOT_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayNDOT_fieldblock}
	{BEGIN DoubleHolidayRDNDOT_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayRDNDOT}" data-fieldname="DoubleHolidayRDNDOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayRDNDOT}">
				{$label standardsetup DoubleHolidayRDNDOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayRDNDOT}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDNDOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDNDOT_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayRDNDOT_fieldblock}
	{BEGIN NightDiffStartTime_fieldblock}		
	<div class="container {$fielddispclass_NightDiffStartTime}" data-fieldname="NightDiffStartTime">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NightDiffStartTime}">
				{$label standardsetup NightDiffStartTime}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NightDiffStartTime}
			</div>
			<div class="col-md-4" >
				{$NightDiffStartTime_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NightDiffStartTime_editcontrol1}
			</div>
		</div>
	</div>
{END NightDiffStartTime_fieldblock}
	{BEGIN NightDiffEndTime_fieldblock}		
	<div class="container {$fielddispclass_NightDiffEndTime}" data-fieldname="NightDiffEndTime">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_NightDiffEndTime}">
				{$label standardsetup NightDiffEndTime}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_NightDiffEndTime}
			</div>
			<div class="col-md-4" >
				{$NightDiffEndTime_editcontrol}
			</div>
			<div class="col-md-4" >
				{$NightDiffEndTime_editcontrol1}
			</div>
		</div>
	</div>
{END NightDiffEndTime_fieldblock}
	{BEGIN RegNDiffFactor_fieldblock}		
	<div class="container {$fielddispclass_RegNDiffFactor}" data-fieldname="RegNDiffFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegNDiffFactor}">
				{$label standardsetup RegNDiffFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegNDiffFactor}
			</div>
			<div class="col-md-4" >
				{$RegNDiffFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegNDiffFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RegNDiffFactor_fieldblock}
	{BEGIN RHNDiffFactor_fieldblock}		
	<div class="container {$fielddispclass_RHNDiffFactor}" data-fieldname="RHNDiffFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHNDiffFactor}">
				{$label standardsetup RHNDiffFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHNDiffFactor}
			</div>
			<div class="col-md-4" >
				{$RHNDiffFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHNDiffFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHNDiffFactor_fieldblock}
	{BEGIN SHNDiffFactor_fieldblock}		
	<div class="container {$fielddispclass_SHNDiffFactor}" data-fieldname="SHNDiffFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHNDiffFactor}">
				{$label standardsetup SHNDiffFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHNDiffFactor}
			</div>
			<div class="col-md-4" >
				{$SHNDiffFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHNDiffFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHNDiffFactor_fieldblock}
	{BEGIN RDNDiffFactor_fieldblock}		
	<div class="container {$fielddispclass_RDNDiffFactor}" data-fieldname="RDNDiffFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDNDiffFactor}">
				{$label standardsetup RDNDiffFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDNDiffFactor}
			</div>
			<div class="col-md-4" >
				{$RDNDiffFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDNDiffFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RDNDiffFactor_fieldblock}
	{BEGIN RegNDOTFactor_fieldblock}		
	<div class="container {$fielddispclass_RegNDOTFactor}" data-fieldname="RegNDOTFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegNDOTFactor}">
				{$label standardsetup RegNDOTFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegNDOTFactor}
			</div>
			<div class="col-md-4" >
				{$RegNDOTFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegNDOTFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RegNDOTFactor_fieldblock}
	{BEGIN RHRDNDFactor_fieldblock}		
	<div class="container {$fielddispclass_RHRDNDFactor}" data-fieldname="RHRDNDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDNDFactor}">
				{$label standardsetup RHRDNDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDNDFactor}
			</div>
			<div class="col-md-4" >
				{$RHRDNDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDNDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDNDFactor_fieldblock}
	{BEGIN SHRDNDFactor_fieldblock}		
	<div class="container {$fielddispclass_SHRDNDFactor}" data-fieldname="SHRDNDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDNDFactor}">
				{$label standardsetup SHRDNDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDNDFactor}
			</div>
			<div class="col-md-4" >
				{$SHRDNDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDNDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDNDFactor_fieldblock}
	{BEGIN DoubleHolidayND_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayND}" data-fieldname="DoubleHolidayND">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayND}">
				{$label standardsetup DoubleHolidayND}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayND}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayND_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayND_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayND_fieldblock}
	{BEGIN DoubleHolidayRDND_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayRDND}" data-fieldname="DoubleHolidayRDND">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayRDND}">
				{$label standardsetup DoubleHolidayRDND}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayRDND}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDND_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRDND_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayRDND_fieldblock}
	{BEGIN RDFactor_fieldblock}		
	<div class="container {$fielddispclass_RDFactor}" data-fieldname="RDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RDFactor}">
				{$label standardsetup RDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RDFactor}
			</div>
			<div class="col-md-4" >
				{$RDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RDFactor_fieldblock}
	{BEGIN RHRDFactor_fieldblock}		
	<div class="container {$fielddispclass_RHRDFactor}" data-fieldname="RHRDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RHRDFactor}">
				{$label standardsetup RHRDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RHRDFactor}
			</div>
			<div class="col-md-4" >
				{$RHRDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RHRDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END RHRDFactor_fieldblock}
	{BEGIN SHRDFactor_fieldblock}		
	<div class="container {$fielddispclass_SHRDFactor}" data-fieldname="SHRDFactor">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDFactor}">
				{$label standardsetup SHRDFactor}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDFactor}
			</div>
			<div class="col-md-4" >
				{$SHRDFactor_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDFactor_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDFactor_fieldblock}
	{BEGIN SHRDFactorDaily_fieldblock}		
	<div class="container {$fielddispclass_SHRDFactorDaily}" data-fieldname="SHRDFactorDaily">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SHRDFactorDaily}">
				{$label standardsetup SHRDFactorDaily}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SHRDFactorDaily}
			</div>
			<div class="col-md-4" >
				{$SHRDFactorDaily_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SHRDFactorDaily_editcontrol1}
			</div>
		</div>
	</div>
{END SHRDFactorDaily_fieldblock}
	{BEGIN DoubleHolidayRD_fieldblock}		
	<div class="container {$fielddispclass_DoubleHolidayRD}" data-fieldname="DoubleHolidayRD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DoubleHolidayRD}">
				{$label standardsetup DoubleHolidayRD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DoubleHolidayRD}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DoubleHolidayRD_editcontrol1}
			</div>
		</div>
	</div>
{END DoubleHolidayRD_fieldblock}
	{BEGIN BonusAnnualLimit_fieldblock}		
	<div class="container {$fielddispclass_BonusAnnualLimit}" data-fieldname="BonusAnnualLimit">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BonusAnnualLimit}">
				{$label standardsetup BonusAnnualLimit}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BonusAnnualLimit}
			</div>
			<div class="col-md-4" >
				{$BonusAnnualLimit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BonusAnnualLimit_editcontrol1}
			</div>
		</div>
	</div>
{END BonusAnnualLimit_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
