<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN RDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDFactor}" data-fieldname="RDFactor" >
		<label class=" control-label" for="{$labelfor_RDFactor}">
			{$label standardsetup RDFactor}
		</label>
		<div class="" >
			{$RDFactor_value}
		</div>
	</div>
{END RDFactor_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>