<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN RegOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegOTFactor}" data-fieldname="RegOTFactor" data-signal-error-for="RegOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegOTFactor}">
			{BEGIN RegOTFactor_label}{$label standardsetup RegOTFactor}{END RegOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RegOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RegOTFactor}
			</div>
		</div>
	</div>
</div>
{END RegOTFactor_tabfieldblock}
{BEGIN RHOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHOTFactor}" data-fieldname="RHOTFactor" data-signal-error-for="RHOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHOTFactor}">
			{BEGIN RHOTFactor_label}{$label standardsetup RHOTFactor}{END RHOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHOTFactor}
			</div>
		</div>
	</div>
</div>
{END RHOTFactor_tabfieldblock}
{BEGIN SHOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTFactor}" data-fieldname="SHOTFactor" data-signal-error-for="SHOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTFactor}">
			{BEGIN SHOTFactor_label}{$label standardsetup SHOTFactor}{END SHOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHOTFactor}
			</div>
		</div>
	</div>
</div>
{END SHOTFactor_tabfieldblock}
{BEGIN SHOTFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHOTFactorDaily}" data-fieldname="SHOTFactorDaily" data-signal-error-for="SHOTFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHOTFactorDaily}">
			{BEGIN SHOTFactorDaily_label}{$label standardsetup SHOTFactorDaily}{END SHOTFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$SHOTFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHOTFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup SHOTFactorDaily}
			</div>
		</div>
	</div>
</div>
{END SHOTFactorDaily_tabfieldblock}
{BEGIN CHOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHOTFactor}" data-fieldname="CHOTFactor" data-signal-error-for="CHOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHOTFactor}">
			{BEGIN CHOTFactor_label}{$label standardsetup CHOTFactor}{END CHOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$CHOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup CHOTFactor}
			</div>
		</div>
	</div>
</div>
{END CHOTFactor_tabfieldblock}
{BEGIN CHOTFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHOTFactorDaily}" data-fieldname="CHOTFactorDaily" data-signal-error-for="CHOTFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHOTFactorDaily}">
			{BEGIN CHOTFactorDaily_label}{$label standardsetup CHOTFactorDaily}{END CHOTFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$CHOTFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHOTFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup CHOTFactorDaily}
			</div>
		</div>
	</div>
</div>
{END CHOTFactorDaily_tabfieldblock}
{BEGIN RDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDOTFactor}" data-fieldname="RDOTFactor" data-signal-error-for="RDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDOTFactor}">
			{BEGIN RDOTFactor_label}{$label standardsetup RDOTFactor}{END RDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RDOTFactor}
			</div>
		</div>
	</div>
</div>
{END RDOTFactor_tabfieldblock}
{BEGIN RHRDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDOTFactor}" data-fieldname="RHRDOTFactor" data-signal-error-for="RHRDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDOTFactor}">
			{BEGIN RHRDOTFactor_label}{$label standardsetup RHRDOTFactor}{END RHRDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHRDOTFactor}
			</div>
		</div>
	</div>
</div>
{END RHRDOTFactor_tabfieldblock}
{BEGIN SHRDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDOTFactor}" data-fieldname="SHRDOTFactor" data-signal-error-for="SHRDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDOTFactor}">
			{BEGIN SHRDOTFactor_label}{$label standardsetup SHRDOTFactor}{END SHRDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDOTFactor}
			</div>
		</div>
	</div>
</div>
{END SHRDOTFactor_tabfieldblock}
{BEGIN SHRDOTFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDOTFactorDaily}" data-fieldname="SHRDOTFactorDaily" data-signal-error-for="SHRDOTFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDOTFactorDaily}">
			{BEGIN SHRDOTFactorDaily_label}{$label standardsetup SHRDOTFactorDaily}{END SHRDOTFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDOTFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDOTFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDOTFactorDaily}
			</div>
		</div>
	</div>
</div>
{END SHRDOTFactorDaily_tabfieldblock}
{BEGIN RHNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDOTFactor}" data-fieldname="RHNDOTFactor" data-signal-error-for="RHNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDOTFactor}">
			{BEGIN RHNDOTFactor_label}{$label standardsetup RHNDOTFactor}{END RHNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END RHNDOTFactor_tabfieldblock}
{BEGIN SHNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDOTFactor}" data-fieldname="SHNDOTFactor" data-signal-error-for="SHNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDOTFactor}">
			{BEGIN SHNDOTFactor_label}{$label standardsetup SHNDOTFactor}{END SHNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END SHNDOTFactor_tabfieldblock}
{BEGIN CHNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_CHNDOTFactor}" data-fieldname="CHNDOTFactor" data-signal-error-for="CHNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_CHNDOTFactor}">
			{BEGIN CHNDOTFactor_label}{$label standardsetup CHNDOTFactor}{END CHNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$CHNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="CHNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup CHNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END CHNDOTFactor_tabfieldblock}
{BEGIN RDNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDOTFactor}" data-fieldname="RDNDOTFactor" data-signal-error-for="RDNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDOTFactor}">
			{BEGIN RDNDOTFactor_label}{$label standardsetup RDNDOTFactor}{END RDNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RDNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END RDNDOTFactor_tabfieldblock}
{BEGIN RHRDNDOTFacotr_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDNDOTFacotr}" data-fieldname="RHRDNDOTFacotr" data-signal-error-for="RHRDNDOTFacotr{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDNDOTFacotr}">
			{BEGIN RHRDNDOTFacotr_label}{$label standardsetup RHRDNDOTFacotr}{END RHRDNDOTFacotr_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDNDOTFacotr_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDNDOTFacotr">
			<div class="text-muted" >
			{$tooltip standardsetup RHRDNDOTFacotr}
			</div>
		</div>
	</div>
</div>
{END RHRDNDOTFacotr_tabfieldblock}
{BEGIN SHRDNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDNDOTFactor}" data-fieldname="SHRDNDOTFactor" data-signal-error-for="SHRDNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDNDOTFactor}">
			{BEGIN SHRDNDOTFactor_label}{$label standardsetup SHRDNDOTFactor}{END SHRDNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END SHRDNDOTFactor_tabfieldblock}
{BEGIN DoubleHolidayOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayOT}" data-fieldname="DoubleHolidayOT" data-signal-error-for="DoubleHolidayOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayOT}">
			{BEGIN DoubleHolidayOT_label}{$label standardsetup DoubleHolidayOT}{END DoubleHolidayOT_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayOT">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayOT}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayOT_tabfieldblock}
{BEGIN DoubleHolidayRDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayRDOT}" data-fieldname="DoubleHolidayRDOT" data-signal-error-for="DoubleHolidayRDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayRDOT}">
			{BEGIN DoubleHolidayRDOT_label}{$label standardsetup DoubleHolidayRDOT}{END DoubleHolidayRDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayRDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayRDOT">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayRDOT}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayRDOT_tabfieldblock}
{BEGIN DoubleHolidayNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayNDOT}" data-fieldname="DoubleHolidayNDOT" data-signal-error-for="DoubleHolidayNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayNDOT}">
			{BEGIN DoubleHolidayNDOT_label}{$label standardsetup DoubleHolidayNDOT}{END DoubleHolidayNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayNDOT">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayNDOT}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayNDOT_tabfieldblock}
{BEGIN DoubleHolidayRDNDOT_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayRDNDOT}" data-fieldname="DoubleHolidayRDNDOT" data-signal-error-for="DoubleHolidayRDNDOT{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayRDNDOT}">
			{BEGIN DoubleHolidayRDNDOT_label}{$label standardsetup DoubleHolidayRDNDOT}{END DoubleHolidayRDNDOT_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayRDNDOT_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayRDNDOT">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayRDNDOT}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayRDNDOT_tabfieldblock}





</div>
{END container_tabfields}

</div>