<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN RegOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegOTFactor}" data-fieldname="RegOTFactor" >
		<label class=" control-label" for="{$labelfor_RegOTFactor}">
			{$label standardsetup RegOTFactor}
		</label>
		<div class="" >
			{$RegOTFactor_value}
		</div>
	</div>
{END RegOTFactor_tabfieldblock}
{BEGIN RHOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHOTFactor}" data-fieldname="RHOTFactor" >
		<label class=" control-label" for="{$labelfor_RHOTFactor}">
			{$label standardsetup RHOTFactor}
		</label>
		<div class="" >
			{$RHOTFactor_value}
		</div>
	</div>
{END RHOTFactor_tabfieldblock}
{BEGIN SHOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTFactor}" data-fieldname="SHOTFactor" >
		<label class=" control-label" for="{$labelfor_SHOTFactor}">
			{$label standardsetup SHOTFactor}
		</label>
		<div class="" >
			{$SHOTFactor_value}
		</div>
	</div>
{END SHOTFactor_tabfieldblock}
{BEGIN SHOTFactorDaily_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHOTFactorDaily}" data-fieldname="SHOTFactorDaily" >
		<label class=" control-label" for="{$labelfor_SHOTFactorDaily}">
			{$label standardsetup SHOTFactorDaily}
		</label>
		<div class="" >
			{$SHOTFactorDaily_value}
		</div>
	</div>
{END SHOTFactorDaily_tabfieldblock}
{BEGIN CHOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHOTFactor}" data-fieldname="CHOTFactor" >
		<label class=" control-label" for="{$labelfor_CHOTFactor}">
			{$label standardsetup CHOTFactor}
		</label>
		<div class="" >
			{$CHOTFactor_value}
		</div>
	</div>
{END CHOTFactor_tabfieldblock}
{BEGIN CHOTFactorDaily_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_CHOTFactorDaily}" data-fieldname="CHOTFactorDaily" >
		<label class=" control-label" for="{$labelfor_CHOTFactorDaily}">
			{$label standardsetup CHOTFactorDaily}
		</label>
		<div class="" >
			{$CHOTFactorDaily_value}
		</div>
	</div>
{END CHOTFactorDaily_tabfieldblock}
{BEGIN RDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDOTFactor}" data-fieldname="RDOTFactor" >
		<label class=" control-label" for="{$labelfor_RDOTFactor}">
			{$label standardsetup RDOTFactor}
		</label>
		<div class="" >
			{$RDOTFactor_value}
		</div>
	</div>
{END RDOTFactor_tabfieldblock}
{BEGIN RHRDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDOTFactor}" data-fieldname="RHRDOTFactor" >
		<label class=" control-label" for="{$labelfor_RHRDOTFactor}">
			{$label standardsetup RHRDOTFactor}
		</label>
		<div class="" >
			{$RHRDOTFactor_value}
		</div>
	</div>
{END RHRDOTFactor_tabfieldblock}
{BEGIN SHRDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOTFactor}" data-fieldname="SHRDOTFactor" >
		<label class=" control-label" for="{$labelfor_SHRDOTFactor}">
			{$label standardsetup SHRDOTFactor}
		</label>
		<div class="" >
			{$SHRDOTFactor_value}
		</div>
	</div>
{END SHRDOTFactor_tabfieldblock}
{BEGIN SHRDOTFactorDaily_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDOTFactorDaily}" data-fieldname="SHRDOTFactorDaily" >
		<label class=" control-label" for="{$labelfor_SHRDOTFactorDaily}">
			{$label standardsetup SHRDOTFactorDaily}
		</label>
		<div class="" >
			{$SHRDOTFactorDaily_value}
		</div>
	</div>
{END SHRDOTFactorDaily_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>