<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_pdf}
<div {$pdf_chiddenattr} data-pageid="{$pageid}" data-container="pdf" class="   col-md-12 "> 

{BEGIN printbuttons}

{END printbuttons}



</div>
{END container_pdf}





{BEGIN container_pageheader}
<div {$pageheader_chiddenattr} data-pageid="{$pageid}" data-container="pageheader" class="    "> 

{BEGIN printheader}
	<h2 {$printheader_hiddenattr} data-pageid="{$pageid}" data-brick="printheader" >{$pagetitlelabel standardsetup print}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END printheader}


{BEGIN page_number}
<span>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></span>
{END page_number}



</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="table table-bordered rp-maintable" {$printgrid_hiddenattr} data-pageid="{$pageid}" data-brick="printgrid" >
	<thead>
	{BEGIN grid_header}
		<tr class="{$gridHeader_class}" >
		{BEGIN record_header}
			{BEGIN SID_fieldheadercolumn}
			<th class="{$SID_class}" {$SID_style}  data-field="SID">
				{$label standardsetup SID}
			</th>
			{END SID_fieldheadercolumn}
			{BEGIN WorkingDaysInYear_fieldheadercolumn}
			<th class="{$WorkingDaysInYear_class}" {$WorkingDaysInYear_style}  data-field="WorkingDaysInYear">
				{$label standardsetup WorkingDaysInYear}
			</th>
			{END WorkingDaysInYear_fieldheadercolumn}
			{BEGIN WorkingDaysInYearDailies_fieldheadercolumn}
			<th class="{$WorkingDaysInYearDailies_class}" {$WorkingDaysInYearDailies_style}  data-field="WorkingDaysInYearDailies">
				{$label standardsetup WorkingDaysInYearDailies}
			</th>
			{END WorkingDaysInYearDailies_fieldheadercolumn}
			{BEGIN AllowableLeaveFrom_fieldheadercolumn}
			<th class="{$AllowableLeaveFrom_class}" {$AllowableLeaveFrom_style}  data-field="AllowableLeaveFrom">
				{$label standardsetup AllowableLeaveFrom}
			</th>
			{END AllowableLeaveFrom_fieldheadercolumn}
			{BEGIN AllowableLeaveTo_fieldheadercolumn}
			<th class="{$AllowableLeaveTo_class}" {$AllowableLeaveTo_style}  data-field="AllowableLeaveTo">
				{$label standardsetup AllowableLeaveTo}
			</th>
			{END AllowableLeaveTo_fieldheadercolumn}
			{BEGIN RegularSL_fieldheadercolumn}
			<th class="{$RegularSL_class}" {$RegularSL_style}  data-field="RegularSL">
				{$label standardsetup RegularSL}
			</th>
			{END RegularSL_fieldheadercolumn}
			{BEGIN RegularVL_fieldheadercolumn}
			<th class="{$RegularVL_class}" {$RegularVL_style}  data-field="RegularVL">
				{$label standardsetup RegularVL}
			</th>
			{END RegularVL_fieldheadercolumn}
			{BEGIN RegularPL_fieldheadercolumn}
			<th class="{$RegularPL_class}" {$RegularPL_style}  data-field="RegularPL">
				{$label standardsetup RegularPL}
			</th>
			{END RegularPL_fieldheadercolumn}
			{BEGIN RegularEL_fieldheadercolumn}
			<th class="{$RegularEL_class}" {$RegularEL_style}  data-field="RegularEL">
				{$label standardsetup RegularEL}
			</th>
			{END RegularEL_fieldheadercolumn}
			{BEGIN RHFactor_fieldheadercolumn}
			<th class="{$RHFactor_class}" {$RHFactor_style}  data-field="RHFactor">
				{$label standardsetup RHFactor}
			</th>
			{END RHFactor_fieldheadercolumn}
			{BEGIN SHFactor_fieldheadercolumn}
			<th class="{$SHFactor_class}" {$SHFactor_style}  data-field="SHFactor">
				{$label standardsetup SHFactor}
			</th>
			{END SHFactor_fieldheadercolumn}
			{BEGIN SHFactorDaily_fieldheadercolumn}
			<th class="{$SHFactorDaily_class}" {$SHFactorDaily_style}  data-field="SHFactorDaily">
				{$label standardsetup SHFactorDaily}
			</th>
			{END SHFactorDaily_fieldheadercolumn}
			{BEGIN DoubleHoliday_fieldheadercolumn}
			<th class="{$DoubleHoliday_class}" {$DoubleHoliday_style}  data-field="DoubleHoliday">
				{$label standardsetup DoubleHoliday}
			</th>
			{END DoubleHoliday_fieldheadercolumn}
			{BEGIN ReqBeforeHoliday_fieldheadercolumn}
			<th class="{$ReqBeforeHoliday_class}" {$ReqBeforeHoliday_style}  data-field="ReqBeforeHoliday">
				{$label standardsetup ReqBeforeHoliday}
			</th>
			{END ReqBeforeHoliday_fieldheadercolumn}
			{BEGIN RegOTFactor_fieldheadercolumn}
			<th class="{$RegOTFactor_class}" {$RegOTFactor_style}  data-field="RegOTFactor">
				{$label standardsetup RegOTFactor}
			</th>
			{END RegOTFactor_fieldheadercolumn}
			{BEGIN RHOTFactor_fieldheadercolumn}
			<th class="{$RHOTFactor_class}" {$RHOTFactor_style}  data-field="RHOTFactor">
				{$label standardsetup RHOTFactor}
			</th>
			{END RHOTFactor_fieldheadercolumn}
			{BEGIN SHOTFactor_fieldheadercolumn}
			<th class="{$SHOTFactor_class}" {$SHOTFactor_style}  data-field="SHOTFactor">
				{$label standardsetup SHOTFactor}
			</th>
			{END SHOTFactor_fieldheadercolumn}
			{BEGIN SHOTDFactor_fieldheadercolumn}
			<th class="{$SHOTDFactor_class}" {$SHOTDFactor_style}  data-field="SHOTDFactor">
				{$label standardsetup SHOTDFactor}
			</th>
			{END SHOTDFactor_fieldheadercolumn}
			{BEGIN SHRDOTDFactor_fieldheadercolumn}
			<th class="{$SHRDOTDFactor_class}" {$SHRDOTDFactor_style}  data-field="SHRDOTDFactor">
				{$label standardsetup SHRDOTDFactor}
			</th>
			{END SHRDOTDFactor_fieldheadercolumn}
			{BEGIN RDOTFactor_fieldheadercolumn}
			<th class="{$RDOTFactor_class}" {$RDOTFactor_style}  data-field="RDOTFactor">
				{$label standardsetup RDOTFactor}
			</th>
			{END RDOTFactor_fieldheadercolumn}
			{BEGIN RHRDOTFactor_fieldheadercolumn}
			<th class="{$RHRDOTFactor_class}" {$RHRDOTFactor_style}  data-field="RHRDOTFactor">
				{$label standardsetup RHRDOTFactor}
			</th>
			{END RHRDOTFactor_fieldheadercolumn}
			{BEGIN SHRDOTFactor_fieldheadercolumn}
			<th class="{$SHRDOTFactor_class}" {$SHRDOTFactor_style}  data-field="SHRDOTFactor">
				{$label standardsetup SHRDOTFactor}
			</th>
			{END SHRDOTFactor_fieldheadercolumn}
			{BEGIN RHNDOTFactor_fieldheadercolumn}
			<th class="{$RHNDOTFactor_class}" {$RHNDOTFactor_style}  data-field="RHNDOTFactor">
				{$label standardsetup RHNDOTFactor}
			</th>
			{END RHNDOTFactor_fieldheadercolumn}
			{BEGIN SHNDOTFactor_fieldheadercolumn}
			<th class="{$SHNDOTFactor_class}" {$SHNDOTFactor_style}  data-field="SHNDOTFactor">
				{$label standardsetup SHNDOTFactor}
			</th>
			{END SHNDOTFactor_fieldheadercolumn}
			{BEGIN RDNDOTFactor_fieldheadercolumn}
			<th class="{$RDNDOTFactor_class}" {$RDNDOTFactor_style}  data-field="RDNDOTFactor">
				{$label standardsetup RDNDOTFactor}
			</th>
			{END RDNDOTFactor_fieldheadercolumn}
			{BEGIN RHRDNDOTFacotr_fieldheadercolumn}
			<th class="{$RHRDNDOTFacotr_class}" {$RHRDNDOTFacotr_style}  data-field="RHRDNDOTFacotr">
				{$label standardsetup RHRDNDOTFacotr}
			</th>
			{END RHRDNDOTFacotr_fieldheadercolumn}
			{BEGIN SHRDNDOTFactor_fieldheadercolumn}
			<th class="{$SHRDNDOTFactor_class}" {$SHRDNDOTFactor_style}  data-field="SHRDNDOTFactor">
				{$label standardsetup SHRDNDOTFactor}
			</th>
			{END SHRDNDOTFactor_fieldheadercolumn}
			{BEGIN DoubleHolidayOT_fieldheadercolumn}
			<th class="{$DoubleHolidayOT_class}" {$DoubleHolidayOT_style}  data-field="DoubleHolidayOT">
				{$label standardsetup DoubleHolidayOT}
			</th>
			{END DoubleHolidayOT_fieldheadercolumn}
			{BEGIN DoubleHolidayRDOT_fieldheadercolumn}
			<th class="{$DoubleHolidayRDOT_class}" {$DoubleHolidayRDOT_style}  data-field="DoubleHolidayRDOT">
				{$label standardsetup DoubleHolidayRDOT}
			</th>
			{END DoubleHolidayRDOT_fieldheadercolumn}
			{BEGIN DoubleHolidayNDOT_fieldheadercolumn}
			<th class="{$DoubleHolidayNDOT_class}" {$DoubleHolidayNDOT_style}  data-field="DoubleHolidayNDOT">
				{$label standardsetup DoubleHolidayNDOT}
			</th>
			{END DoubleHolidayNDOT_fieldheadercolumn}
			{BEGIN DoubleHolidayRDNDOT_fieldheadercolumn}
			<th class="{$DoubleHolidayRDNDOT_class}" {$DoubleHolidayRDNDOT_style}  data-field="DoubleHolidayRDNDOT">
				{$label standardsetup DoubleHolidayRDNDOT}
			</th>
			{END DoubleHolidayRDNDOT_fieldheadercolumn}
			{BEGIN NightDiffStartTime_fieldheadercolumn}
			<th class="{$NightDiffStartTime_class}" {$NightDiffStartTime_style}  data-field="NightDiffStartTime">
				{$label standardsetup NightDiffStartTime}
			</th>
			{END NightDiffStartTime_fieldheadercolumn}
			{BEGIN NightDiffEndTime_fieldheadercolumn}
			<th class="{$NightDiffEndTime_class}" {$NightDiffEndTime_style}  data-field="NightDiffEndTime">
				{$label standardsetup NightDiffEndTime}
			</th>
			{END NightDiffEndTime_fieldheadercolumn}
			{BEGIN RegNDiffFactor_fieldheadercolumn}
			<th class="{$RegNDiffFactor_class}" {$RegNDiffFactor_style}  data-field="RegNDiffFactor">
				{$label standardsetup RegNDiffFactor}
			</th>
			{END RegNDiffFactor_fieldheadercolumn}
			{BEGIN RHNDiffFactor_fieldheadercolumn}
			<th class="{$RHNDiffFactor_class}" {$RHNDiffFactor_style}  data-field="RHNDiffFactor">
				{$label standardsetup RHNDiffFactor}
			</th>
			{END RHNDiffFactor_fieldheadercolumn}
			{BEGIN SHNDiffFactor_fieldheadercolumn}
			<th class="{$SHNDiffFactor_class}" {$SHNDiffFactor_style}  data-field="SHNDiffFactor">
				{$label standardsetup SHNDiffFactor}
			</th>
			{END SHNDiffFactor_fieldheadercolumn}
			{BEGIN RDNDiffFactor_fieldheadercolumn}
			<th class="{$RDNDiffFactor_class}" {$RDNDiffFactor_style}  data-field="RDNDiffFactor">
				{$label standardsetup RDNDiffFactor}
			</th>
			{END RDNDiffFactor_fieldheadercolumn}
			{BEGIN RegNDOTFactor_fieldheadercolumn}
			<th class="{$RegNDOTFactor_class}" {$RegNDOTFactor_style}  data-field="RegNDOTFactor">
				{$label standardsetup RegNDOTFactor}
			</th>
			{END RegNDOTFactor_fieldheadercolumn}
			{BEGIN RHRDNDFactor_fieldheadercolumn}
			<th class="{$RHRDNDFactor_class}" {$RHRDNDFactor_style}  data-field="RHRDNDFactor">
				{$label standardsetup RHRDNDFactor}
			</th>
			{END RHRDNDFactor_fieldheadercolumn}
			{BEGIN SHRDNDFactor_fieldheadercolumn}
			<th class="{$SHRDNDFactor_class}" {$SHRDNDFactor_style}  data-field="SHRDNDFactor">
				{$label standardsetup SHRDNDFactor}
			</th>
			{END SHRDNDFactor_fieldheadercolumn}
			{BEGIN DoubleHolidayND_fieldheadercolumn}
			<th class="{$DoubleHolidayND_class}" {$DoubleHolidayND_style}  data-field="DoubleHolidayND">
				{$label standardsetup DoubleHolidayND}
			</th>
			{END DoubleHolidayND_fieldheadercolumn}
			{BEGIN DoubleHolidayRDND_fieldheadercolumn}
			<th class="{$DoubleHolidayRDND_class}" {$DoubleHolidayRDND_style}  data-field="DoubleHolidayRDND">
				{$label standardsetup DoubleHolidayRDND}
			</th>
			{END DoubleHolidayRDND_fieldheadercolumn}
			{BEGIN RDFactor_fieldheadercolumn}
			<th class="{$RDFactor_class}" {$RDFactor_style}  data-field="RDFactor">
				{$label standardsetup RDFactor}
			</th>
			{END RDFactor_fieldheadercolumn}
			{BEGIN RHRDFactor_fieldheadercolumn}
			<th class="{$RHRDFactor_class}" {$RHRDFactor_style}  data-field="RHRDFactor">
				{$label standardsetup RHRDFactor}
			</th>
			{END RHRDFactor_fieldheadercolumn}
			{BEGIN SHRDFactor_fieldheadercolumn}
			<th class="{$SHRDFactor_class}" {$SHRDFactor_style}  data-field="SHRDFactor">
				{$label standardsetup SHRDFactor}
			</th>
			{END SHRDFactor_fieldheadercolumn}
			{BEGIN SHRDFactorDaily_fieldheadercolumn}
			<th class="{$SHRDFactorDaily_class}" {$SHRDFactorDaily_style}  data-field="SHRDFactorDaily">
				{$label standardsetup SHRDFactorDaily}
			</th>
			{END SHRDFactorDaily_fieldheadercolumn}
			{BEGIN DoubleHolidayRD_fieldheadercolumn}
			<th class="{$DoubleHolidayRD_class}" {$DoubleHolidayRD_style}  data-field="DoubleHolidayRD">
				{$label standardsetup DoubleHolidayRD}
			</th>
			{END DoubleHolidayRD_fieldheadercolumn}
			{BEGIN BonusAnnualLimit_fieldheadercolumn}
			<th class="{$BonusAnnualLimit_class}" {$BonusAnnualLimit_style}  data-field="BonusAnnualLimit">
				{$label standardsetup BonusAnnualLimit}
			</th>
			{END BonusAnnualLimit_fieldheadercolumn}
			{BEGIN endrecordheader_block}
			<th class="rnr-cs">&nbsp;</th>
			{END endrecordheader_block}
		{END record_header}
		</tr>
	{END grid_header}
	</thead>
	
	<tbody>	
	{BEGIN grid_row}
		<tr class="{$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
			{BEGIN SID_fieldcolumn}
			<td  class="{$SID_class}" {$SID_style} {$recordattrs}>
				{$SID_value}
			</td>
			{END SID_fieldcolumn}
			{BEGIN WorkingDaysInYear_fieldcolumn}
			<td  class="{$WorkingDaysInYear_class}" {$WorkingDaysInYear_style} {$recordattrs}>
				{$WorkingDaysInYear_value}
			</td>
			{END WorkingDaysInYear_fieldcolumn}
			{BEGIN WorkingDaysInYearDailies_fieldcolumn}
			<td  class="{$WorkingDaysInYearDailies_class}" {$WorkingDaysInYearDailies_style} {$recordattrs}>
				{$WorkingDaysInYearDailies_value}
			</td>
			{END WorkingDaysInYearDailies_fieldcolumn}
			{BEGIN AllowableLeaveFrom_fieldcolumn}
			<td  class="{$AllowableLeaveFrom_class}" {$AllowableLeaveFrom_style} {$recordattrs}>
				{$AllowableLeaveFrom_value}
			</td>
			{END AllowableLeaveFrom_fieldcolumn}
			{BEGIN AllowableLeaveTo_fieldcolumn}
			<td  class="{$AllowableLeaveTo_class}" {$AllowableLeaveTo_style} {$recordattrs}>
				{$AllowableLeaveTo_value}
			</td>
			{END AllowableLeaveTo_fieldcolumn}
			{BEGIN RegularSL_fieldcolumn}
			<td  class="{$RegularSL_class}" {$RegularSL_style} {$recordattrs}>
				{$RegularSL_value}
			</td>
			{END RegularSL_fieldcolumn}
			{BEGIN RegularVL_fieldcolumn}
			<td  class="{$RegularVL_class}" {$RegularVL_style} {$recordattrs}>
				{$RegularVL_value}
			</td>
			{END RegularVL_fieldcolumn}
			{BEGIN RegularPL_fieldcolumn}
			<td  class="{$RegularPL_class}" {$RegularPL_style} {$recordattrs}>
				{$RegularPL_value}
			</td>
			{END RegularPL_fieldcolumn}
			{BEGIN RegularEL_fieldcolumn}
			<td  class="{$RegularEL_class}" {$RegularEL_style} {$recordattrs}>
				{$RegularEL_value}
			</td>
			{END RegularEL_fieldcolumn}
			{BEGIN RHFactor_fieldcolumn}
			<td  class="{$RHFactor_class}" {$RHFactor_style} {$recordattrs}>
				{$RHFactor_value}
			</td>
			{END RHFactor_fieldcolumn}
			{BEGIN SHFactor_fieldcolumn}
			<td  class="{$SHFactor_class}" {$SHFactor_style} {$recordattrs}>
				{$SHFactor_value}
			</td>
			{END SHFactor_fieldcolumn}
			{BEGIN SHFactorDaily_fieldcolumn}
			<td  class="{$SHFactorDaily_class}" {$SHFactorDaily_style} {$recordattrs}>
				{$SHFactorDaily_value}
			</td>
			{END SHFactorDaily_fieldcolumn}
			{BEGIN DoubleHoliday_fieldcolumn}
			<td  class="{$DoubleHoliday_class}" {$DoubleHoliday_style} {$recordattrs}>
				{$DoubleHoliday_value}
			</td>
			{END DoubleHoliday_fieldcolumn}
			{BEGIN ReqBeforeHoliday_fieldcolumn}
			<td  class="{$ReqBeforeHoliday_class}" {$ReqBeforeHoliday_style} {$recordattrs}>
				{$ReqBeforeHoliday_value}
			</td>
			{END ReqBeforeHoliday_fieldcolumn}
			{BEGIN RegOTFactor_fieldcolumn}
			<td  class="{$RegOTFactor_class}" {$RegOTFactor_style} {$recordattrs}>
				{$RegOTFactor_value}
			</td>
			{END RegOTFactor_fieldcolumn}
			{BEGIN RHOTFactor_fieldcolumn}
			<td  class="{$RHOTFactor_class}" {$RHOTFactor_style} {$recordattrs}>
				{$RHOTFactor_value}
			</td>
			{END RHOTFactor_fieldcolumn}
			{BEGIN SHOTFactor_fieldcolumn}
			<td  class="{$SHOTFactor_class}" {$SHOTFactor_style} {$recordattrs}>
				{$SHOTFactor_value}
			</td>
			{END SHOTFactor_fieldcolumn}
			{BEGIN SHOTDFactor_fieldcolumn}
			<td  class="{$SHOTDFactor_class}" {$SHOTDFactor_style} {$recordattrs}>
				{$SHOTDFactor_value}
			</td>
			{END SHOTDFactor_fieldcolumn}
			{BEGIN SHRDOTDFactor_fieldcolumn}
			<td  class="{$SHRDOTDFactor_class}" {$SHRDOTDFactor_style} {$recordattrs}>
				{$SHRDOTDFactor_value}
			</td>
			{END SHRDOTDFactor_fieldcolumn}
			{BEGIN RDOTFactor_fieldcolumn}
			<td  class="{$RDOTFactor_class}" {$RDOTFactor_style} {$recordattrs}>
				{$RDOTFactor_value}
			</td>
			{END RDOTFactor_fieldcolumn}
			{BEGIN RHRDOTFactor_fieldcolumn}
			<td  class="{$RHRDOTFactor_class}" {$RHRDOTFactor_style} {$recordattrs}>
				{$RHRDOTFactor_value}
			</td>
			{END RHRDOTFactor_fieldcolumn}
			{BEGIN SHRDOTFactor_fieldcolumn}
			<td  class="{$SHRDOTFactor_class}" {$SHRDOTFactor_style} {$recordattrs}>
				{$SHRDOTFactor_value}
			</td>
			{END SHRDOTFactor_fieldcolumn}
			{BEGIN RHNDOTFactor_fieldcolumn}
			<td  class="{$RHNDOTFactor_class}" {$RHNDOTFactor_style} {$recordattrs}>
				{$RHNDOTFactor_value}
			</td>
			{END RHNDOTFactor_fieldcolumn}
			{BEGIN SHNDOTFactor_fieldcolumn}
			<td  class="{$SHNDOTFactor_class}" {$SHNDOTFactor_style} {$recordattrs}>
				{$SHNDOTFactor_value}
			</td>
			{END SHNDOTFactor_fieldcolumn}
			{BEGIN RDNDOTFactor_fieldcolumn}
			<td  class="{$RDNDOTFactor_class}" {$RDNDOTFactor_style} {$recordattrs}>
				{$RDNDOTFactor_value}
			</td>
			{END RDNDOTFactor_fieldcolumn}
			{BEGIN RHRDNDOTFacotr_fieldcolumn}
			<td  class="{$RHRDNDOTFacotr_class}" {$RHRDNDOTFacotr_style} {$recordattrs}>
				{$RHRDNDOTFacotr_value}
			</td>
			{END RHRDNDOTFacotr_fieldcolumn}
			{BEGIN SHRDNDOTFactor_fieldcolumn}
			<td  class="{$SHRDNDOTFactor_class}" {$SHRDNDOTFactor_style} {$recordattrs}>
				{$SHRDNDOTFactor_value}
			</td>
			{END SHRDNDOTFactor_fieldcolumn}
			{BEGIN DoubleHolidayOT_fieldcolumn}
			<td  class="{$DoubleHolidayOT_class}" {$DoubleHolidayOT_style} {$recordattrs}>
				{$DoubleHolidayOT_value}
			</td>
			{END DoubleHolidayOT_fieldcolumn}
			{BEGIN DoubleHolidayRDOT_fieldcolumn}
			<td  class="{$DoubleHolidayRDOT_class}" {$DoubleHolidayRDOT_style} {$recordattrs}>
				{$DoubleHolidayRDOT_value}
			</td>
			{END DoubleHolidayRDOT_fieldcolumn}
			{BEGIN DoubleHolidayNDOT_fieldcolumn}
			<td  class="{$DoubleHolidayNDOT_class}" {$DoubleHolidayNDOT_style} {$recordattrs}>
				{$DoubleHolidayNDOT_value}
			</td>
			{END DoubleHolidayNDOT_fieldcolumn}
			{BEGIN DoubleHolidayRDNDOT_fieldcolumn}
			<td  class="{$DoubleHolidayRDNDOT_class}" {$DoubleHolidayRDNDOT_style} {$recordattrs}>
				{$DoubleHolidayRDNDOT_value}
			</td>
			{END DoubleHolidayRDNDOT_fieldcolumn}
			{BEGIN NightDiffStartTime_fieldcolumn}
			<td  class="{$NightDiffStartTime_class}" {$NightDiffStartTime_style} {$recordattrs}>
				{$NightDiffStartTime_value}
			</td>
			{END NightDiffStartTime_fieldcolumn}
			{BEGIN NightDiffEndTime_fieldcolumn}
			<td  class="{$NightDiffEndTime_class}" {$NightDiffEndTime_style} {$recordattrs}>
				{$NightDiffEndTime_value}
			</td>
			{END NightDiffEndTime_fieldcolumn}
			{BEGIN RegNDiffFactor_fieldcolumn}
			<td  class="{$RegNDiffFactor_class}" {$RegNDiffFactor_style} {$recordattrs}>
				{$RegNDiffFactor_value}
			</td>
			{END RegNDiffFactor_fieldcolumn}
			{BEGIN RHNDiffFactor_fieldcolumn}
			<td  class="{$RHNDiffFactor_class}" {$RHNDiffFactor_style} {$recordattrs}>
				{$RHNDiffFactor_value}
			</td>
			{END RHNDiffFactor_fieldcolumn}
			{BEGIN SHNDiffFactor_fieldcolumn}
			<td  class="{$SHNDiffFactor_class}" {$SHNDiffFactor_style} {$recordattrs}>
				{$SHNDiffFactor_value}
			</td>
			{END SHNDiffFactor_fieldcolumn}
			{BEGIN RDNDiffFactor_fieldcolumn}
			<td  class="{$RDNDiffFactor_class}" {$RDNDiffFactor_style} {$recordattrs}>
				{$RDNDiffFactor_value}
			</td>
			{END RDNDiffFactor_fieldcolumn}
			{BEGIN RegNDOTFactor_fieldcolumn}
			<td  class="{$RegNDOTFactor_class}" {$RegNDOTFactor_style} {$recordattrs}>
				{$RegNDOTFactor_value}
			</td>
			{END RegNDOTFactor_fieldcolumn}
			{BEGIN RHRDNDFactor_fieldcolumn}
			<td  class="{$RHRDNDFactor_class}" {$RHRDNDFactor_style} {$recordattrs}>
				{$RHRDNDFactor_value}
			</td>
			{END RHRDNDFactor_fieldcolumn}
			{BEGIN SHRDNDFactor_fieldcolumn}
			<td  class="{$SHRDNDFactor_class}" {$SHRDNDFactor_style} {$recordattrs}>
				{$SHRDNDFactor_value}
			</td>
			{END SHRDNDFactor_fieldcolumn}
			{BEGIN DoubleHolidayND_fieldcolumn}
			<td  class="{$DoubleHolidayND_class}" {$DoubleHolidayND_style} {$recordattrs}>
				{$DoubleHolidayND_value}
			</td>
			{END DoubleHolidayND_fieldcolumn}
			{BEGIN DoubleHolidayRDND_fieldcolumn}
			<td  class="{$DoubleHolidayRDND_class}" {$DoubleHolidayRDND_style} {$recordattrs}>
				{$DoubleHolidayRDND_value}
			</td>
			{END DoubleHolidayRDND_fieldcolumn}
			{BEGIN RDFactor_fieldcolumn}
			<td  class="{$RDFactor_class}" {$RDFactor_style} {$recordattrs}>
				{$RDFactor_value}
			</td>
			{END RDFactor_fieldcolumn}
			{BEGIN RHRDFactor_fieldcolumn}
			<td  class="{$RHRDFactor_class}" {$RHRDFactor_style} {$recordattrs}>
				{$RHRDFactor_value}
			</td>
			{END RHRDFactor_fieldcolumn}
			{BEGIN SHRDFactor_fieldcolumn}
			<td  class="{$SHRDFactor_class}" {$SHRDFactor_style} {$recordattrs}>
				{$SHRDFactor_value}
			</td>
			{END SHRDFactor_fieldcolumn}
			{BEGIN SHRDFactorDaily_fieldcolumn}
			<td  class="{$SHRDFactorDaily_class}" {$SHRDFactorDaily_style} {$recordattrs}>
				{$SHRDFactorDaily_value}
			</td>
			{END SHRDFactorDaily_fieldcolumn}
			{BEGIN DoubleHolidayRD_fieldcolumn}
			<td  class="{$DoubleHolidayRD_class}" {$DoubleHolidayRD_style} {$recordattrs}>
				{$DoubleHolidayRD_value}
			</td>
			{END DoubleHolidayRD_fieldcolumn}
			{BEGIN BonusAnnualLimit_fieldcolumn}
			<td  class="{$BonusAnnualLimit_class}" {$BonusAnnualLimit_style} {$recordattrs}>
				{$BonusAnnualLimit_value}
			</td>
			{END BonusAnnualLimit_fieldcolumn}
			{BEGIN endrecord_block}
			<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
			{END endrecord_block}
		{END grid_record}
		</tr>
{END grid_row}
	</tbody>

</table>

{END grid_block}



{END container_grid}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
