<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN NightDiffStartTime_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NightDiffStartTime}" data-fieldname="NightDiffStartTime" >
		<label class=" control-label" for="{$labelfor_NightDiffStartTime}">
			{$label standardsetup NightDiffStartTime}
		</label>
		<div class="" >
			{$NightDiffStartTime_value}
		</div>
	</div>
{END NightDiffStartTime_tabfieldblock}
{BEGIN NightDiffEndTime_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_NightDiffEndTime}" data-fieldname="NightDiffEndTime" >
		<label class=" control-label" for="{$labelfor_NightDiffEndTime}">
			{$label standardsetup NightDiffEndTime}
		</label>
		<div class="" >
			{$NightDiffEndTime_value}
		</div>
	</div>
{END NightDiffEndTime_tabfieldblock}
{BEGIN RegNDiffFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegNDiffFactor}" data-fieldname="RegNDiffFactor" >
		<label class=" control-label" for="{$labelfor_RegNDiffFactor}">
			{$label standardsetup RegNDiffFactor}
		</label>
		<div class="" >
			{$RegNDiffFactor_value}
		</div>
	</div>
{END RegNDiffFactor_tabfieldblock}
{BEGIN RHNDiffFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHNDiffFactor}" data-fieldname="RHNDiffFactor" >
		<label class=" control-label" for="{$labelfor_RHNDiffFactor}">
			{$label standardsetup RHNDiffFactor}
		</label>
		<div class="" >
			{$RHNDiffFactor_value}
		</div>
	</div>
{END RHNDiffFactor_tabfieldblock}
{BEGIN SHNDiffFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHNDiffFactor}" data-fieldname="SHNDiffFactor" >
		<label class=" control-label" for="{$labelfor_SHNDiffFactor}">
			{$label standardsetup SHNDiffFactor}
		</label>
		<div class="" >
			{$SHNDiffFactor_value}
		</div>
	</div>
{END SHNDiffFactor_tabfieldblock}
{BEGIN RDNDiffFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDNDiffFactor}" data-fieldname="RDNDiffFactor" >
		<label class=" control-label" for="{$labelfor_RDNDiffFactor}">
			{$label standardsetup RDNDiffFactor}
		</label>
		<div class="" >
			{$RDNDiffFactor_value}
		</div>
	</div>
{END RDNDiffFactor_tabfieldblock}
{BEGIN RegNDOTFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegNDOTFactor}" data-fieldname="RegNDOTFactor" >
		<label class=" control-label" for="{$labelfor_RegNDOTFactor}">
			{$label standardsetup RegNDOTFactor}
		</label>
		<div class="" >
			{$RegNDOTFactor_value}
		</div>
	</div>
{END RegNDOTFactor_tabfieldblock}
{BEGIN RHRDNDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDNDFactor}" data-fieldname="RHRDNDFactor" >
		<label class=" control-label" for="{$labelfor_RHRDNDFactor}">
			{$label standardsetup RHRDNDFactor}
		</label>
		<div class="" >
			{$RHRDNDFactor_value}
		</div>
	</div>
{END RHRDNDFactor_tabfieldblock}
{BEGIN SHRDNDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDNDFactor}" data-fieldname="SHRDNDFactor" >
		<label class=" control-label" for="{$labelfor_SHRDNDFactor}">
			{$label standardsetup SHRDNDFactor}
		</label>
		<div class="" >
			{$SHRDNDFactor_value}
		</div>
	</div>
{END SHRDNDFactor_tabfieldblock}
{BEGIN DoubleHolidayND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayND}" data-fieldname="DoubleHolidayND" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayND}">
			{$label standardsetup DoubleHolidayND}
		</label>
		<div class="" >
			{$DoubleHolidayND_value}
		</div>
	</div>
{END DoubleHolidayND_tabfieldblock}
{BEGIN DoubleHolidayRDND_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayRDND}" data-fieldname="DoubleHolidayRDND" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayRDND}">
			{$label standardsetup DoubleHolidayRDND}
		</label>
		<div class="" >
			{$DoubleHolidayRDND_value}
		</div>
	</div>
{END DoubleHolidayRDND_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>