<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN AllowableLeaveFrom_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowableLeaveFrom}" data-fieldname="AllowableLeaveFrom" data-signal-error-for="AllowableLeaveFrom{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowableLeaveFrom}">
			{BEGIN AllowableLeaveFrom_label}{$label standardsetup AllowableLeaveFrom}{END AllowableLeaveFrom_label}
		</label>
		<div class="col-md-6 " >
			{$AllowableLeaveFrom_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowableLeaveFrom">
			<div class="text-muted" >
			{$tooltip standardsetup AllowableLeaveFrom}
			</div>
		</div>
	</div>
</div>
{END AllowableLeaveFrom_tabfieldblock}
{BEGIN AllowableLeaveTo_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_AllowableLeaveTo}" data-fieldname="AllowableLeaveTo" data-signal-error-for="AllowableLeaveTo{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_AllowableLeaveTo}">
			{BEGIN AllowableLeaveTo_label}{$label standardsetup AllowableLeaveTo}{END AllowableLeaveTo_label}
		</label>
		<div class="col-md-6 " >
			{$AllowableLeaveTo_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="AllowableLeaveTo">
			<div class="text-muted" >
			{$tooltip standardsetup AllowableLeaveTo}
			</div>
		</div>
	</div>
</div>
{END AllowableLeaveTo_tabfieldblock}
{BEGIN RegularSL_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegularSL}" data-fieldname="RegularSL" data-signal-error-for="RegularSL{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegularSL}">
			{BEGIN RegularSL_label}{$label standardsetup RegularSL}{END RegularSL_label}
		</label>
		<div class="col-md-6 " >
			{$RegularSL_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegularSL">
			<div class="text-muted" >
			{$tooltip standardsetup RegularSL}
			</div>
		</div>
	</div>
</div>
{END RegularSL_tabfieldblock}
{BEGIN RegularVL_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegularVL}" data-fieldname="RegularVL" data-signal-error-for="RegularVL{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegularVL}">
			{BEGIN RegularVL_label}{$label standardsetup RegularVL}{END RegularVL_label}
		</label>
		<div class="col-md-6 " >
			{$RegularVL_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegularVL">
			<div class="text-muted" >
			{$tooltip standardsetup RegularVL}
			</div>
		</div>
	</div>
</div>
{END RegularVL_tabfieldblock}
{BEGIN RegularPL_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegularPL}" data-fieldname="RegularPL" data-signal-error-for="RegularPL{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegularPL}">
			{BEGIN RegularPL_label}{$label standardsetup RegularPL}{END RegularPL_label}
		</label>
		<div class="col-md-6 " >
			{$RegularPL_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegularPL">
			<div class="text-muted" >
			{$tooltip standardsetup RegularPL}
			</div>
		</div>
	</div>
</div>
{END RegularPL_tabfieldblock}
{BEGIN RegularEL_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegularEL}" data-fieldname="RegularEL" data-signal-error-for="RegularEL{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegularEL}">
			{BEGIN RegularEL_label}{$label standardsetup RegularEL}{END RegularEL_label}
		</label>
		<div class="col-md-6 " >
			{$RegularEL_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegularEL">
			<div class="text-muted" >
			{$tooltip standardsetup RegularEL}
			</div>
		</div>
	</div>
</div>
{END RegularEL_tabfieldblock}





</div>
{END container_tabfields}

</div>