<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN AllowableLeaveFrom_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowableLeaveFrom}" data-fieldname="AllowableLeaveFrom" >
		<label class=" control-label" for="{$labelfor_AllowableLeaveFrom}">
			{$label standardsetup AllowableLeaveFrom}
		</label>
		<div class="" >
			{$AllowableLeaveFrom_value}
		</div>
	</div>
{END AllowableLeaveFrom_tabfieldblock}
{BEGIN AllowableLeaveTo_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_AllowableLeaveTo}" data-fieldname="AllowableLeaveTo" >
		<label class=" control-label" for="{$labelfor_AllowableLeaveTo}">
			{$label standardsetup AllowableLeaveTo}
		</label>
		<div class="" >
			{$AllowableLeaveTo_value}
		</div>
	</div>
{END AllowableLeaveTo_tabfieldblock}
{BEGIN RegularSL_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegularSL}" data-fieldname="RegularSL" >
		<label class=" control-label" for="{$labelfor_RegularSL}">
			{$label standardsetup RegularSL}
		</label>
		<div class="" >
			{$RegularSL_value}
		</div>
	</div>
{END RegularSL_tabfieldblock}
{BEGIN RegularVL_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegularVL}" data-fieldname="RegularVL" >
		<label class=" control-label" for="{$labelfor_RegularVL}">
			{$label standardsetup RegularVL}
		</label>
		<div class="" >
			{$RegularVL_value}
		</div>
	</div>
{END RegularVL_tabfieldblock}
{BEGIN RegularPL_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegularPL}" data-fieldname="RegularPL" >
		<label class=" control-label" for="{$labelfor_RegularPL}">
			{$label standardsetup RegularPL}
		</label>
		<div class="" >
			{$RegularPL_value}
		</div>
	</div>
{END RegularPL_tabfieldblock}
{BEGIN RegularEL_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RegularEL}" data-fieldname="RegularEL" >
		<label class=" control-label" for="{$labelfor_RegularEL}">
			{$label standardsetup RegularEL}
		</label>
		<div class="" >
			{$RegularEL_value}
		</div>
	</div>
{END RegularEL_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>