<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN PreTimeInMins_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_PreTimeInMins}" data-fieldname="PreTimeInMins" data-signal-error-for="PreTimeInMins{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_PreTimeInMins}">
			{BEGIN PreTimeInMins_label}{$label standardsetup PreTimeInMins}{END PreTimeInMins_label}
		</label>
		<div class="col-md-6 " >
			{$PreTimeInMins_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="PreTimeInMins">
			<div class="text-muted" >
			{$tooltip standardsetup PreTimeInMins}
			</div>
		</div>
	</div>
</div>
{END PreTimeInMins_tabfieldblock}
{BEGIN WorkingDaysInYear_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_WorkingDaysInYear}" data-fieldname="WorkingDaysInYear" data-signal-error-for="WorkingDaysInYear{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_WorkingDaysInYear}">
			{BEGIN WorkingDaysInYear_label}{$label standardsetup WorkingDaysInYear}{END WorkingDaysInYear_label}
		</label>
		<div class="col-md-6 " >
			{$WorkingDaysInYear_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="WorkingDaysInYear">
			<div class="text-muted" >
			{$tooltip standardsetup WorkingDaysInYear}
			</div>
		</div>
	</div>
</div>
{END WorkingDaysInYear_tabfieldblock}
{BEGIN WorkingDaysInYearDailies_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_WorkingDaysInYearDailies}" data-fieldname="WorkingDaysInYearDailies" data-signal-error-for="WorkingDaysInYearDailies{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_WorkingDaysInYearDailies}">
			{BEGIN WorkingDaysInYearDailies_label}{$label standardsetup WorkingDaysInYearDailies}{END WorkingDaysInYearDailies_label}
		</label>
		<div class="col-md-6 " >
			{$WorkingDaysInYearDailies_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="WorkingDaysInYearDailies">
			<div class="text-muted" >
			{$tooltip standardsetup WorkingDaysInYearDailies}
			</div>
		</div>
	</div>
</div>
{END WorkingDaysInYearDailies_tabfieldblock}





</div>
{END container_tabfields}

</div>