<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN RDFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDFactor}" data-fieldname="RDFactor" data-signal-error-for="RDFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDFactor}">
			{BEGIN RDFactor_label}{$label standardsetup RDFactor}{END RDFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RDFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RDFactor}
			</div>
		</div>
	</div>
</div>
{END RDFactor_tabfieldblock}
{BEGIN RHRDFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDFactor}" data-fieldname="RHRDFactor" data-signal-error-for="RHRDFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDFactor}">
			{BEGIN RHRDFactor_label}{$label standardsetup RHRDFactor}{END RHRDFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHRDFactor}
			</div>
		</div>
	</div>
</div>
{END RHRDFactor_tabfieldblock}
{BEGIN SHRDFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDFactor}" data-fieldname="SHRDFactor" data-signal-error-for="SHRDFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDFactor}">
			{BEGIN SHRDFactor_label}{$label standardsetup SHRDFactor}{END SHRDFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDFactor}
			</div>
		</div>
	</div>
</div>
{END SHRDFactor_tabfieldblock}
{BEGIN SHRDFactorDaily_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDFactorDaily}" data-fieldname="SHRDFactorDaily" data-signal-error-for="SHRDFactorDaily{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDFactorDaily}">
			{BEGIN SHRDFactorDaily_label}{$label standardsetup SHRDFactorDaily}{END SHRDFactorDaily_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDFactorDaily_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDFactorDaily">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDFactorDaily}
			</div>
		</div>
	</div>
</div>
{END SHRDFactorDaily_tabfieldblock}
{BEGIN DoubleHolidayRD_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayRD}" data-fieldname="DoubleHolidayRD" data-signal-error-for="DoubleHolidayRD{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayRD}">
			{BEGIN DoubleHolidayRD_label}{$label standardsetup DoubleHolidayRD}{END DoubleHolidayRD_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayRD_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayRD">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayRD}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayRD_tabfieldblock}





</div>
{END container_tabfields}

</div>