<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class=" form-horizontal   "> 


{BEGIN NightDiffStartTime_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NightDiffStartTime}" data-fieldname="NightDiffStartTime" data-signal-error-for="NightDiffStartTime{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NightDiffStartTime}">
			{BEGIN NightDiffStartTime_label}{$label standardsetup NightDiffStartTime}{END NightDiffStartTime_label}
		</label>
		<div class="col-md-6 " >
			{$NightDiffStartTime_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NightDiffStartTime">
			<div class="text-muted" >
			{$tooltip standardsetup NightDiffStartTime}
			</div>
		</div>
	</div>
</div>
{END NightDiffStartTime_tabfieldblock}
{BEGIN NightDiffEndTime_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_NightDiffEndTime}" data-fieldname="NightDiffEndTime" data-signal-error-for="NightDiffEndTime{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_NightDiffEndTime}">
			{BEGIN NightDiffEndTime_label}{$label standardsetup NightDiffEndTime}{END NightDiffEndTime_label}
		</label>
		<div class="col-md-6 " >
			{$NightDiffEndTime_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="NightDiffEndTime">
			<div class="text-muted" >
			{$tooltip standardsetup NightDiffEndTime}
			</div>
		</div>
	</div>
</div>
{END NightDiffEndTime_tabfieldblock}
{BEGIN RegNDiffFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegNDiffFactor}" data-fieldname="RegNDiffFactor" data-signal-error-for="RegNDiffFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegNDiffFactor}">
			{BEGIN RegNDiffFactor_label}{$label standardsetup RegNDiffFactor}{END RegNDiffFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RegNDiffFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegNDiffFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RegNDiffFactor}
			</div>
		</div>
	</div>
</div>
{END RegNDiffFactor_tabfieldblock}
{BEGIN RHNDiffFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHNDiffFactor}" data-fieldname="RHNDiffFactor" data-signal-error-for="RHNDiffFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHNDiffFactor}">
			{BEGIN RHNDiffFactor_label}{$label standardsetup RHNDiffFactor}{END RHNDiffFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHNDiffFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHNDiffFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHNDiffFactor}
			</div>
		</div>
	</div>
</div>
{END RHNDiffFactor_tabfieldblock}
{BEGIN SHNDiffFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHNDiffFactor}" data-fieldname="SHNDiffFactor" data-signal-error-for="SHNDiffFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHNDiffFactor}">
			{BEGIN SHNDiffFactor_label}{$label standardsetup SHNDiffFactor}{END SHNDiffFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHNDiffFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHNDiffFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHNDiffFactor}
			</div>
		</div>
	</div>
</div>
{END SHNDiffFactor_tabfieldblock}
{BEGIN RDNDiffFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RDNDiffFactor}" data-fieldname="RDNDiffFactor" data-signal-error-for="RDNDiffFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RDNDiffFactor}">
			{BEGIN RDNDiffFactor_label}{$label standardsetup RDNDiffFactor}{END RDNDiffFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RDNDiffFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RDNDiffFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RDNDiffFactor}
			</div>
		</div>
	</div>
</div>
{END RDNDiffFactor_tabfieldblock}
{BEGIN RegNDOTFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RegNDOTFactor}" data-fieldname="RegNDOTFactor" data-signal-error-for="RegNDOTFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RegNDOTFactor}">
			{BEGIN RegNDOTFactor_label}{$label standardsetup RegNDOTFactor}{END RegNDOTFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RegNDOTFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RegNDOTFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RegNDOTFactor}
			</div>
		</div>
	</div>
</div>
{END RegNDOTFactor_tabfieldblock}
{BEGIN RHRDNDFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_RHRDNDFactor}" data-fieldname="RHRDNDFactor" data-signal-error-for="RHRDNDFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_RHRDNDFactor}">
			{BEGIN RHRDNDFactor_label}{$label standardsetup RHRDNDFactor}{END RHRDNDFactor_label}
		</label>
		<div class="col-md-6 " >
			{$RHRDNDFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="RHRDNDFactor">
			<div class="text-muted" >
			{$tooltip standardsetup RHRDNDFactor}
			</div>
		</div>
	</div>
</div>
{END RHRDNDFactor_tabfieldblock}
{BEGIN SHRDNDFactor_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_SHRDNDFactor}" data-fieldname="SHRDNDFactor" data-signal-error-for="SHRDNDFactor{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_SHRDNDFactor}">
			{BEGIN SHRDNDFactor_label}{$label standardsetup SHRDNDFactor}{END SHRDNDFactor_label}
		</label>
		<div class="col-md-6 " >
			{$SHRDNDFactor_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="SHRDNDFactor">
			<div class="text-muted" >
			{$tooltip standardsetup SHRDNDFactor}
			</div>
		</div>
	</div>
</div>
{END SHRDNDFactor_tabfieldblock}
{BEGIN DoubleHolidayND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayND}" data-fieldname="DoubleHolidayND" data-signal-error-for="DoubleHolidayND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayND}">
			{BEGIN DoubleHolidayND_label}{$label standardsetup DoubleHolidayND}{END DoubleHolidayND_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayND">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayND}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayND_tabfieldblock}
{BEGIN DoubleHolidayRDND_tabfieldblock}
<div class="container">
	<div class="form-group in-tab {$fielddispclass_DoubleHolidayRDND}" data-fieldname="DoubleHolidayRDND" data-signal-error-for="DoubleHolidayRDND{$id}" >
		<label class="col-md-3 control-label" for="{$labelfor_DoubleHolidayRDND}">
			{BEGIN DoubleHolidayRDND_label}{$label standardsetup DoubleHolidayRDND}{END DoubleHolidayRDND_label}
		</label>
		<div class="col-md-6 " >
			{$DoubleHolidayRDND_editcontrol}
		</div>
		<div class="col-md-3 help-block " data-helpfor="DoubleHolidayRDND">
			<div class="text-muted" >
			{$tooltip standardsetup DoubleHolidayRDND}
			</div>
		</div>
	</div>
</div>
{END DoubleHolidayRDND_tabfieldblock}





</div>
{END container_tabfields}

</div>