<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN BonusAnnualLimit_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_BonusAnnualLimit}" data-fieldname="BonusAnnualLimit" >
		<label class=" control-label" for="{$labelfor_BonusAnnualLimit}">
			{$label standardsetup BonusAnnualLimit}
		</label>
		<div class="" >
			{$BonusAnnualLimit_value}
		</div>
	</div>
{END BonusAnnualLimit_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>