<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN RHFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHFactor}" data-fieldname="RHFactor" >
		<label class=" control-label" for="{$labelfor_RHFactor}">
			{$label standardsetup RHFactor}
		</label>
		<div class="" >
			{$RHFactor_value}
		</div>
	</div>
{END RHFactor_tabfieldblock}
{BEGIN SHFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHFactor}" data-fieldname="SHFactor" >
		<label class=" control-label" for="{$labelfor_SHFactor}">
			{$label standardsetup SHFactor}
		</label>
		<div class="" >
			{$SHFactor_value}
		</div>
	</div>
{END SHFactor_tabfieldblock}
{BEGIN SHFactorDaily_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHFactorDaily}" data-fieldname="SHFactorDaily" >
		<label class=" control-label" for="{$labelfor_SHFactorDaily}">
			{$label standardsetup SHFactorDaily}
		</label>
		<div class="" >
			{$SHFactorDaily_value}
		</div>
	</div>
{END SHFactorDaily_tabfieldblock}
{BEGIN DoubleHoliday_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHoliday}" data-fieldname="DoubleHoliday" >
		<label class=" control-label" for="{$labelfor_DoubleHoliday}">
			{$label standardsetup DoubleHoliday}
		</label>
		<div class="" >
			{$DoubleHoliday_value}
		</div>
	</div>
{END DoubleHoliday_tabfieldblock}
{BEGIN ReqBeforeHoliday_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_ReqBeforeHoliday}" data-fieldname="ReqBeforeHoliday" >
		<label class=" control-label" for="{$labelfor_ReqBeforeHoliday}">
			{$label standardsetup ReqBeforeHoliday}
		</label>
		<div class="" >
			{$ReqBeforeHoliday_value}
		</div>
	</div>
{END ReqBeforeHoliday_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>