<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN PreTimeInMins_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_PreTimeInMins}" data-fieldname="PreTimeInMins" >
		<label class=" control-label" for="{$labelfor_PreTimeInMins}">
			{$label standardsetup PreTimeInMins}
		</label>
		<div class="" >
			{$PreTimeInMins_value}
		</div>
	</div>
{END PreTimeInMins_tabfieldblock}
{BEGIN WorkingDaysInYear_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_WorkingDaysInYear}" data-fieldname="WorkingDaysInYear" >
		<label class=" control-label" for="{$labelfor_WorkingDaysInYear}">
			{$label standardsetup WorkingDaysInYear}
		</label>
		<div class="" >
			{$WorkingDaysInYear_value}
		</div>
	</div>
{END WorkingDaysInYear_tabfieldblock}
{BEGIN WorkingDaysInYearDailies_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_WorkingDaysInYearDailies}" data-fieldname="WorkingDaysInYearDailies" >
		<label class=" control-label" for="{$labelfor_WorkingDaysInYearDailies}">
			{$label standardsetup WorkingDaysInYearDailies}
		</label>
		<div class="" >
			{$WorkingDaysInYearDailies_value}
		</div>
	</div>
{END WorkingDaysInYearDailies_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>