<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="WorkingDaysInYear">
	{$WorkingDaysInYear_editcontrol}
	</control>
	<control field="WorkingDaysInYearDailies">
	{$WorkingDaysInYearDailies_editcontrol}
	</control>
	<control field="AllowableLeaveFrom">
	{$AllowableLeaveFrom_editcontrol}
	</control>
	<control field="AllowableLeaveTo">
	{$AllowableLeaveTo_editcontrol}
	</control>
	<control field="RegularSL">
	{$RegularSL_editcontrol}
	</control>
	<control field="RegularVL">
	{$RegularVL_editcontrol}
	</control>
	<control field="RegularPL">
	{$RegularPL_editcontrol}
	</control>
	<control field="RegularEL">
	{$RegularEL_editcontrol}
	</control>
	<control field="RHFactor">
	{$RHFactor_editcontrol}
	</control>
	<control field="SHFactor">
	{$SHFactor_editcontrol}
	</control>
	<control field="SHFactorDaily">
	{$SHFactorDaily_editcontrol}
	</control>
	<control field="DoubleHoliday">
	{$DoubleHoliday_editcontrol}
	</control>
	<control field="ReqBeforeHoliday">
	{$ReqBeforeHoliday_editcontrol}
	</control>
	<control field="RegOTFactor">
	{$RegOTFactor_editcontrol}
	</control>
	<control field="RHOTFactor">
	{$RHOTFactor_editcontrol}
	</control>
	<control field="SHOTFactor">
	{$SHOTFactor_editcontrol}
	</control>
	<control field="SHOTDFactor">
	{$SHOTDFactor_editcontrol}
	</control>
	<control field="SHRDOTDFactor">
	{$SHRDOTDFactor_editcontrol}
	</control>
	<control field="RDOTFactor">
	{$RDOTFactor_editcontrol}
	</control>
	<control field="RHRDOTFactor">
	{$RHRDOTFactor_editcontrol}
	</control>
	<control field="SHRDOTFactor">
	{$SHRDOTFactor_editcontrol}
	</control>
	<control field="RHNDOTFactor">
	{$RHNDOTFactor_editcontrol}
	</control>
	<control field="SHNDOTFactor">
	{$SHNDOTFactor_editcontrol}
	</control>
	<control field="RDNDOTFactor">
	{$RDNDOTFactor_editcontrol}
	</control>
	<control field="RHRDNDOTFacotr">
	{$RHRDNDOTFacotr_editcontrol}
	</control>
	<control field="SHRDNDOTFactor">
	{$SHRDNDOTFactor_editcontrol}
	</control>
	<control field="DoubleHolidayOT">
	{$DoubleHolidayOT_editcontrol}
	</control>
	<control field="DoubleHolidayRDOT">
	{$DoubleHolidayRDOT_editcontrol}
	</control>
	<control field="DoubleHolidayNDOT">
	{$DoubleHolidayNDOT_editcontrol}
	</control>
	<control field="DoubleHolidayRDNDOT">
	{$DoubleHolidayRDNDOT_editcontrol}
	</control>
	<control field="NightDiffStartTime">
	{$NightDiffStartTime_editcontrol}
	</control>
	<control field="NightDiffEndTime">
	{$NightDiffEndTime_editcontrol}
	</control>
	<control field="RegNDiffFactor">
	{$RegNDiffFactor_editcontrol}
	</control>
	<control field="RHNDiffFactor">
	{$RHNDiffFactor_editcontrol}
	</control>
	<control field="SHNDiffFactor">
	{$SHNDiffFactor_editcontrol}
	</control>
	<control field="RDNDiffFactor">
	{$RDNDiffFactor_editcontrol}
	</control>
	<control field="RegNDOTFactor">
	{$RegNDOTFactor_editcontrol}
	</control>
	<control field="RHRDNDFactor">
	{$RHRDNDFactor_editcontrol}
	</control>
	<control field="SHRDNDFactor">
	{$SHRDNDFactor_editcontrol}
	</control>
	<control field="DoubleHolidayND">
	{$DoubleHolidayND_editcontrol}
	</control>
	<control field="DoubleHolidayRDND">
	{$DoubleHolidayRDND_editcontrol}
	</control>
	<control field="RDFactor">
	{$RDFactor_editcontrol}
	</control>
	<control field="RHRDFactor">
	{$RHRDFactor_editcontrol}
	</control>
	<control field="SHRDFactor">
	{$SHRDFactor_editcontrol}
	</control>
	<control field="SHRDFactorDaily">
	{$SHRDFactorDaily_editcontrol}
	</control>
	<control field="DoubleHolidayRD">
	{$DoubleHolidayRD_editcontrol}
	</control>
	<control field="BonusAnnualLimit">
	{$BonusAnnualLimit_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>