<div {$pageattrs}>

{BEGIN container_tabfields}
<div {$tabfields_chiddenattr} data-pageid="{$pageid}" data-container="tabfields" class="    "> 


<div class="container">
{BEGIN RDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RDFactor}" data-fieldname="RDFactor" >
		<label class=" control-label" for="{$labelfor_RDFactor}">
			{$label standardsetup RDFactor}
		</label>
		<div class="" >
			{$RDFactor_value}
		</div>
	</div>
{END RDFactor_tabfieldblock}
{BEGIN RHRDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_RHRDFactor}" data-fieldname="RHRDFactor" >
		<label class=" control-label" for="{$labelfor_RHRDFactor}">
			{$label standardsetup RHRDFactor}
		</label>
		<div class="" >
			{$RHRDFactor_value}
		</div>
	</div>
{END RHRDFactor_tabfieldblock}
{BEGIN SHRDFactor_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDFactor}" data-fieldname="SHRDFactor" >
		<label class=" control-label" for="{$labelfor_SHRDFactor}">
			{$label standardsetup SHRDFactor}
		</label>
		<div class="" >
			{$SHRDFactor_value}
		</div>
	</div>
{END SHRDFactor_tabfieldblock}
{BEGIN SHRDFactorDaily_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_SHRDFactorDaily}" data-fieldname="SHRDFactorDaily" >
		<label class=" control-label" for="{$labelfor_SHRDFactorDaily}">
			{$label standardsetup SHRDFactorDaily}
		</label>
		<div class="" >
			{$SHRDFactorDaily_value}
		</div>
	</div>
{END SHRDFactorDaily_tabfieldblock}
{BEGIN DoubleHolidayRD_tabfieldblock}
	<div class="bs-viewcontrolgroup col-md-6 {$fielddispclass_DoubleHolidayRD}" data-fieldname="DoubleHolidayRD" >
		<label class=" control-label" for="{$labelfor_DoubleHolidayRD}">
			{$label standardsetup DoubleHolidayRD}
		</label>
		<div class="" >
			{$DoubleHolidayRD_value}
		</div>
	</div>
{END DoubleHolidayRD_tabfieldblock}
</div>






</div>
{END container_tabfields}

</div>