<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel thirtax search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN PtabID_fieldblock}		
	<div class="container {$fielddispclass_PtabID}" data-fieldname="PtabID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PtabID}">
				{$label thirtax PtabID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PtabID}
			</div>
			<div class="col-md-4" >
				{$PtabID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PtabID_editcontrol1}
			</div>
		</div>
	</div>
{END PtabID_fieldblock}
	{BEGIN EmployeeID_fieldblock}		
	<div class="container {$fielddispclass_EmployeeID}" data-fieldname="EmployeeID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EmployeeID}">
				{$label thirtax EmployeeID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EmployeeID}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EmployeeID_editcontrol1}
			</div>
		</div>
	</div>
{END EmployeeID_fieldblock}
	{BEGIN Employer_fieldblock}		
	<div class="container {$fielddispclass_Employer}" data-fieldname="Employer">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Employer}">
				{$label thirtax Employer}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Employer}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Employer_editcontrol1}
			</div>
		</div>
	</div>
{END Employer_fieldblock}
	{BEGIN Division_fieldblock}		
	<div class="container {$fielddispclass_Division}" data-fieldname="Division">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Division}">
				{$label thirtax Division}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Division}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Division_editcontrol1}
			</div>
		</div>
	</div>
{END Division_fieldblock}
	{BEGIN WageType_fieldblock}		
	<div class="container {$fielddispclass_WageType}" data-fieldname="WageType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_WageType}">
				{$label thirtax WageType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_WageType}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$WageType_editcontrol1}
			</div>
		</div>
	</div>
{END WageType_fieldblock}
	{BEGIN FromDate_fieldblock}		
	<div class="container {$fielddispclass_FromDate}" data-fieldname="FromDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FromDate}">
				{$label thirtax FromDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FromDate}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FromDate_editcontrol1}
			</div>
		</div>
	</div>
{END FromDate_fieldblock}
	{BEGIN ToDate_fieldblock}		
	<div class="container {$fielddispclass_ToDate}" data-fieldname="ToDate">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ToDate}">
				{$label thirtax ToDate}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ToDate}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ToDate_editcontrol1}
			</div>
		</div>
	</div>
{END ToDate_fieldblock}
	{BEGIN Thirteenth_fieldblock}		
	<div class="container {$fielddispclass_Thirteenth}" data-fieldname="Thirteenth">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Thirteenth}">
				{$label thirtax Thirteenth}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Thirteenth}
			</div>
			<div class="col-md-4" >
				{$Thirteenth_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Thirteenth_editcontrol1}
			</div>
		</div>
	</div>
{END Thirteenth_fieldblock}
	{BEGIN Taxable_fieldblock}		
	<div class="container {$fielddispclass_Taxable}" data-fieldname="Taxable">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Taxable}">
				{$label thirtax Taxable}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Taxable}
			</div>
			<div class="col-md-4" >
				{$Taxable_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Taxable_editcontrol1}
			</div>
		</div>
	</div>
{END Taxable_fieldblock}
	{BEGIN Tax_fieldblock}		
	<div class="container {$fielddispclass_Tax}" data-fieldname="Tax">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Tax}">
				{$label thirtax Tax}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Tax}
			</div>
			<div class="col-md-4" >
				{$Tax_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Tax_editcontrol1}
			</div>
		</div>
	</div>
{END Tax_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
