<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel userinfo search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN USERID_fieldblock}		
	<div class="container {$fielddispclass_USERID}" data-fieldname="USERID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_USERID}">
				{$label userinfo USERID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_USERID}
			</div>
			<div class="col-md-4" >
				{$USERID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$USERID_editcontrol1}
			</div>
		</div>
	</div>
{END USERID_fieldblock}
	{BEGIN Badgenumber_fieldblock}		
	<div class="container {$fielddispclass_Badgenumber}" data-fieldname="Badgenumber">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Badgenumber}">
				{$label userinfo Badgenumber}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Badgenumber}
			</div>
			<div class="col-md-4" >
				{$Badgenumber_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Badgenumber_editcontrol1}
			</div>
		</div>
	</div>
{END Badgenumber_fieldblock}
	{BEGIN SSN_fieldblock}		
	<div class="container {$fielddispclass_SSN}" data-fieldname="SSN">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SSN}">
				{$label userinfo SSN}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SSN}
			</div>
			<div class="col-md-4" >
				{$SSN_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SSN_editcontrol1}
			</div>
		</div>
	</div>
{END SSN_fieldblock}
	{BEGIN Name_fieldblock}		
	<div class="container {$fielddispclass_Name}" data-fieldname="Name">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Name}">
				{$label userinfo Name}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Name}
			</div>
			<div class="col-md-4" >
				{$Name_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Name_editcontrol1}
			</div>
		</div>
	</div>
{END Name_fieldblock}
	{BEGIN Gender_fieldblock}		
	<div class="container {$fielddispclass_Gender}" data-fieldname="Gender">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Gender}">
				{$label userinfo Gender}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Gender}
			</div>
			<div class="col-md-4" >
				{$Gender_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Gender_editcontrol1}
			</div>
		</div>
	</div>
{END Gender_fieldblock}
	{BEGIN TITLE_fieldblock}		
	<div class="container {$fielddispclass_TITLE}" data-fieldname="TITLE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TITLE}">
				{$label userinfo TITLE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TITLE}
			</div>
			<div class="col-md-4" >
				{$TITLE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TITLE_editcontrol1}
			</div>
		</div>
	</div>
{END TITLE_fieldblock}
	{BEGIN PAGER_fieldblock}		
	<div class="container {$fielddispclass_PAGER}" data-fieldname="PAGER">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PAGER}">
				{$label userinfo PAGER}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PAGER}
			</div>
			<div class="col-md-4" >
				{$PAGER_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PAGER_editcontrol1}
			</div>
		</div>
	</div>
{END PAGER_fieldblock}
	{BEGIN BIRTHDAY_fieldblock}		
	<div class="container {$fielddispclass_BIRTHDAY}" data-fieldname="BIRTHDAY">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_BIRTHDAY}">
				{$label userinfo BIRTHDAY}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_BIRTHDAY}
			</div>
			<div class="col-md-4" >
				{$BIRTHDAY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$BIRTHDAY_editcontrol1}
			</div>
		</div>
	</div>
{END BIRTHDAY_fieldblock}
	{BEGIN HIREDDAY_fieldblock}		
	<div class="container {$fielddispclass_HIREDDAY}" data-fieldname="HIREDDAY">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_HIREDDAY}">
				{$label userinfo HIREDDAY}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_HIREDDAY}
			</div>
			<div class="col-md-4" >
				{$HIREDDAY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$HIREDDAY_editcontrol1}
			</div>
		</div>
	</div>
{END HIREDDAY_fieldblock}
	{BEGIN street_fieldblock}		
	<div class="container {$fielddispclass_street}" data-fieldname="street">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_street}">
				{$label userinfo street}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_street}
			</div>
			<div class="col-md-4" >
				{$street_editcontrol}
			</div>
			<div class="col-md-4" >
				{$street_editcontrol1}
			</div>
		</div>
	</div>
{END street_fieldblock}
	{BEGIN CITY_fieldblock}		
	<div class="container {$fielddispclass_CITY}" data-fieldname="CITY">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CITY}">
				{$label userinfo CITY}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CITY}
			</div>
			<div class="col-md-4" >
				{$CITY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CITY_editcontrol1}
			</div>
		</div>
	</div>
{END CITY_fieldblock}
	{BEGIN STATE_fieldblock}		
	<div class="container {$fielddispclass_STATE}" data-fieldname="STATE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_STATE}">
				{$label userinfo STATE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_STATE}
			</div>
			<div class="col-md-4" >
				{$STATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$STATE_editcontrol1}
			</div>
		</div>
	</div>
{END STATE_fieldblock}
	{BEGIN ZIP_fieldblock}		
	<div class="container {$fielddispclass_ZIP}" data-fieldname="ZIP">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ZIP}">
				{$label userinfo ZIP}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ZIP}
			</div>
			<div class="col-md-4" >
				{$ZIP_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ZIP_editcontrol1}
			</div>
		</div>
	</div>
{END ZIP_fieldblock}
	{BEGIN OPHONE_fieldblock}		
	<div class="container {$fielddispclass_OPHONE}" data-fieldname="OPHONE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OPHONE}">
				{$label userinfo OPHONE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OPHONE}
			</div>
			<div class="col-md-4" >
				{$OPHONE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OPHONE_editcontrol1}
			</div>
		</div>
	</div>
{END OPHONE_fieldblock}
	{BEGIN FPHONE_fieldblock}		
	<div class="container {$fielddispclass_FPHONE}" data-fieldname="FPHONE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FPHONE}">
				{$label userinfo FPHONE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FPHONE}
			</div>
			<div class="col-md-4" >
				{$FPHONE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FPHONE_editcontrol1}
			</div>
		</div>
	</div>
{END FPHONE_fieldblock}
	{BEGIN VERIFICATIONMETHOD_fieldblock}		
	<div class="container {$fielddispclass_VERIFICATIONMETHOD}" data-fieldname="VERIFICATIONMETHOD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VERIFICATIONMETHOD}">
				{$label userinfo VERIFICATIONMETHOD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VERIFICATIONMETHOD}
			</div>
			<div class="col-md-4" >
				{$VERIFICATIONMETHOD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VERIFICATIONMETHOD_editcontrol1}
			</div>
		</div>
	</div>
{END VERIFICATIONMETHOD_fieldblock}
	{BEGIN DEFAULTDEPTID_fieldblock}		
	<div class="container {$fielddispclass_DEFAULTDEPTID}" data-fieldname="DEFAULTDEPTID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_DEFAULTDEPTID}">
				{$label userinfo DEFAULTDEPTID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_DEFAULTDEPTID}
			</div>
			<div class="col-md-4" >
				{$DEFAULTDEPTID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$DEFAULTDEPTID_editcontrol1}
			</div>
		</div>
	</div>
{END DEFAULTDEPTID_fieldblock}
	{BEGIN SECURITYFLAGS_fieldblock}		
	<div class="container {$fielddispclass_SECURITYFLAGS}" data-fieldname="SECURITYFLAGS">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SECURITYFLAGS}">
				{$label userinfo SECURITYFLAGS}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SECURITYFLAGS}
			</div>
			<div class="col-md-4" >
				{$SECURITYFLAGS_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SECURITYFLAGS_editcontrol1}
			</div>
		</div>
	</div>
{END SECURITYFLAGS_fieldblock}
	{BEGIN ATT_fieldblock}		
	<div class="container {$fielddispclass_ATT}" data-fieldname="ATT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ATT}">
				{$label userinfo ATT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ATT}
			</div>
			<div class="col-md-4" >
				{$ATT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ATT_editcontrol1}
			</div>
		</div>
	</div>
{END ATT_fieldblock}
	{BEGIN INLATE_fieldblock}		
	<div class="container {$fielddispclass_INLATE}" data-fieldname="INLATE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_INLATE}">
				{$label userinfo INLATE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_INLATE}
			</div>
			<div class="col-md-4" >
				{$INLATE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$INLATE_editcontrol1}
			</div>
		</div>
	</div>
{END INLATE_fieldblock}
	{BEGIN OUTEARLY_fieldblock}		
	<div class="container {$fielddispclass_OUTEARLY}" data-fieldname="OUTEARLY">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OUTEARLY}">
				{$label userinfo OUTEARLY}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OUTEARLY}
			</div>
			<div class="col-md-4" >
				{$OUTEARLY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OUTEARLY_editcontrol1}
			</div>
		</div>
	</div>
{END OUTEARLY_fieldblock}
	{BEGIN OVERTIME_fieldblock}		
	<div class="container {$fielddispclass_OVERTIME}" data-fieldname="OVERTIME">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_OVERTIME}">
				{$label userinfo OVERTIME}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_OVERTIME}
			</div>
			<div class="col-md-4" >
				{$OVERTIME_editcontrol}
			</div>
			<div class="col-md-4" >
				{$OVERTIME_editcontrol1}
			</div>
		</div>
	</div>
{END OVERTIME_fieldblock}
	{BEGIN SEP_fieldblock}		
	<div class="container {$fielddispclass_SEP}" data-fieldname="SEP">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_SEP}">
				{$label userinfo SEP}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_SEP}
			</div>
			<div class="col-md-4" >
				{$SEP_editcontrol}
			</div>
			<div class="col-md-4" >
				{$SEP_editcontrol1}
			</div>
		</div>
	</div>
{END SEP_fieldblock}
	{BEGIN HOLIDAY_fieldblock}		
	<div class="container {$fielddispclass_HOLIDAY}" data-fieldname="HOLIDAY">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_HOLIDAY}">
				{$label userinfo HOLIDAY}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_HOLIDAY}
			</div>
			<div class="col-md-4" >
				{$HOLIDAY_editcontrol}
			</div>
			<div class="col-md-4" >
				{$HOLIDAY_editcontrol1}
			</div>
		</div>
	</div>
{END HOLIDAY_fieldblock}
	{BEGIN MINZU_fieldblock}		
	<div class="container {$fielddispclass_MINZU}" data-fieldname="MINZU">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_MINZU}">
				{$label userinfo MINZU}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_MINZU}
			</div>
			<div class="col-md-4" >
				{$MINZU_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MINZU_editcontrol1}
			</div>
		</div>
	</div>
{END MINZU_fieldblock}
	{BEGIN PASSWORD_fieldblock}		
	<div class="container {$fielddispclass_PASSWORD}" data-fieldname="PASSWORD">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PASSWORD}">
				{$label userinfo PASSWORD}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PASSWORD}
			</div>
			<div class="col-md-4" >
				{$PASSWORD_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PASSWORD_editcontrol1}
			</div>
		</div>
	</div>
{END PASSWORD_fieldblock}
	{BEGIN LUNCHDURATION_fieldblock}		
	<div class="container {$fielddispclass_LUNCHDURATION}" data-fieldname="LUNCHDURATION">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_LUNCHDURATION}">
				{$label userinfo LUNCHDURATION}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_LUNCHDURATION}
			</div>
			<div class="col-md-4" >
				{$LUNCHDURATION_editcontrol}
			</div>
			<div class="col-md-4" >
				{$LUNCHDURATION_editcontrol1}
			</div>
		</div>
	</div>
{END LUNCHDURATION_fieldblock}
	{BEGIN mverifypass_fieldblock}		
	<div class="container {$fielddispclass_mverifypass}" data-fieldname="mverifypass">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_mverifypass}">
				{$label userinfo mverifypass}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_mverifypass}
			</div>
			<div class="col-md-4" >
				{$mverifypass_editcontrol}
			</div>
			<div class="col-md-4" >
				{$mverifypass_editcontrol1}
			</div>
		</div>
	</div>
{END mverifypass_fieldblock}
	{BEGIN privilege_fieldblock}		
	<div class="container {$fielddispclass_privilege}" data-fieldname="privilege">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_privilege}">
				{$label userinfo privilege}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_privilege}
			</div>
			<div class="col-md-4" >
				{$privilege_editcontrol}
			</div>
			<div class="col-md-4" >
				{$privilege_editcontrol1}
			</div>
		</div>
	</div>
{END privilege_fieldblock}
	{BEGIN InheritDeptSch_fieldblock}		
	<div class="container {$fielddispclass_InheritDeptSch}" data-fieldname="InheritDeptSch">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_InheritDeptSch}">
				{$label userinfo InheritDeptSch}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_InheritDeptSch}
			</div>
			<div class="col-md-4" >
				{$InheritDeptSch_editcontrol}
			</div>
			<div class="col-md-4" >
				{$InheritDeptSch_editcontrol1}
			</div>
		</div>
	</div>
{END InheritDeptSch_fieldblock}
	{BEGIN InheritDeptSchClass_fieldblock}		
	<div class="container {$fielddispclass_InheritDeptSchClass}" data-fieldname="InheritDeptSchClass">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_InheritDeptSchClass}">
				{$label userinfo InheritDeptSchClass}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_InheritDeptSchClass}
			</div>
			<div class="col-md-4" >
				{$InheritDeptSchClass_editcontrol}
			</div>
			<div class="col-md-4" >
				{$InheritDeptSchClass_editcontrol1}
			</div>
		</div>
	</div>
{END InheritDeptSchClass_fieldblock}
	{BEGIN AutoSchPlan_fieldblock}		
	<div class="container {$fielddispclass_AutoSchPlan}" data-fieldname="AutoSchPlan">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AutoSchPlan}">
				{$label userinfo AutoSchPlan}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AutoSchPlan}
			</div>
			<div class="col-md-4" >
				{$AutoSchPlan_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AutoSchPlan_editcontrol1}
			</div>
		</div>
	</div>
{END AutoSchPlan_fieldblock}
	{BEGIN MinAutoSchInterval_fieldblock}		
	<div class="container {$fielddispclass_MinAutoSchInterval}" data-fieldname="MinAutoSchInterval">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_MinAutoSchInterval}">
				{$label userinfo MinAutoSchInterval}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_MinAutoSchInterval}
			</div>
			<div class="col-md-4" >
				{$MinAutoSchInterval_editcontrol}
			</div>
			<div class="col-md-4" >
				{$MinAutoSchInterval_editcontrol1}
			</div>
		</div>
	</div>
{END MinAutoSchInterval_fieldblock}
	{BEGIN RegisterOT_fieldblock}		
	<div class="container {$fielddispclass_RegisterOT}" data-fieldname="RegisterOT">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_RegisterOT}">
				{$label userinfo RegisterOT}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_RegisterOT}
			</div>
			<div class="col-md-4" >
				{$RegisterOT_editcontrol}
			</div>
			<div class="col-md-4" >
				{$RegisterOT_editcontrol1}
			</div>
		</div>
	</div>
{END RegisterOT_fieldblock}
	{BEGIN InheritDeptRule_fieldblock}		
	<div class="container {$fielddispclass_InheritDeptRule}" data-fieldname="InheritDeptRule">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_InheritDeptRule}">
				{$label userinfo InheritDeptRule}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_InheritDeptRule}
			</div>
			<div class="col-md-4" >
				{$InheritDeptRule_editcontrol}
			</div>
			<div class="col-md-4" >
				{$InheritDeptRule_editcontrol1}
			</div>
		</div>
	</div>
{END InheritDeptRule_fieldblock}
	{BEGIN EMPRIVILEGE_fieldblock}		
	<div class="container {$fielddispclass_EMPRIVILEGE}" data-fieldname="EMPRIVILEGE">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_EMPRIVILEGE}">
				{$label userinfo EMPRIVILEGE}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_EMPRIVILEGE}
			</div>
			<div class="col-md-4" >
				{$EMPRIVILEGE_editcontrol}
			</div>
			<div class="col-md-4" >
				{$EMPRIVILEGE_editcontrol1}
			</div>
		</div>
	</div>
{END EMPRIVILEGE_fieldblock}
	{BEGIN CardNo_fieldblock}		
	<div class="container {$fielddispclass_CardNo}" data-fieldname="CardNo">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_CardNo}">
				{$label userinfo CardNo}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_CardNo}
			</div>
			<div class="col-md-4" >
				{$CardNo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$CardNo_editcontrol1}
			</div>
		</div>
	</div>
{END CardNo_fieldblock}
	{BEGIN FaceGroup_fieldblock}		
	<div class="container {$fielddispclass_FaceGroup}" data-fieldname="FaceGroup">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_FaceGroup}">
				{$label userinfo FaceGroup}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_FaceGroup}
			</div>
			<div class="col-md-4" >
				{$FaceGroup_editcontrol}
			</div>
			<div class="col-md-4" >
				{$FaceGroup_editcontrol1}
			</div>
		</div>
	</div>
{END FaceGroup_fieldblock}
	{BEGIN AccGroup_fieldblock}		
	<div class="container {$fielddispclass_AccGroup}" data-fieldname="AccGroup">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_AccGroup}">
				{$label userinfo AccGroup}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_AccGroup}
			</div>
			<div class="col-md-4" >
				{$AccGroup_editcontrol}
			</div>
			<div class="col-md-4" >
				{$AccGroup_editcontrol1}
			</div>
		</div>
	</div>
{END AccGroup_fieldblock}
	{BEGIN UseAccGroupTZ_fieldblock}		
	<div class="container {$fielddispclass_UseAccGroupTZ}" data-fieldname="UseAccGroupTZ">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_UseAccGroupTZ}">
				{$label userinfo UseAccGroupTZ}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_UseAccGroupTZ}
			</div>
			<div class="col-md-4" >
				{$UseAccGroupTZ_editcontrol}
			</div>
			<div class="col-md-4" >
				{$UseAccGroupTZ_editcontrol1}
			</div>
		</div>
	</div>
{END UseAccGroupTZ_fieldblock}
	{BEGIN VerifyCode_fieldblock}		
	<div class="container {$fielddispclass_VerifyCode}" data-fieldname="VerifyCode">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_VerifyCode}">
				{$label userinfo VerifyCode}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_VerifyCode}
			</div>
			<div class="col-md-4" >
				{$VerifyCode_editcontrol}
			</div>
			<div class="col-md-4" >
				{$VerifyCode_editcontrol1}
			</div>
		</div>
	</div>
{END VerifyCode_fieldblock}
	{BEGIN Expires_fieldblock}		
	<div class="container {$fielddispclass_Expires}" data-fieldname="Expires">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Expires}">
				{$label userinfo Expires}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Expires}
			</div>
			<div class="col-md-4" >
				{$Expires_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Expires_editcontrol1}
			</div>
		</div>
	</div>
{END Expires_fieldblock}
	{BEGIN ValidCount_fieldblock}		
	<div class="container {$fielddispclass_ValidCount}" data-fieldname="ValidCount">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ValidCount}">
				{$label userinfo ValidCount}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ValidCount}
			</div>
			<div class="col-md-4" >
				{$ValidCount_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ValidCount_editcontrol1}
			</div>
		</div>
	</div>
{END ValidCount_fieldblock}
	{BEGIN ValidTimeBegin_fieldblock}		
	<div class="container {$fielddispclass_ValidTimeBegin}" data-fieldname="ValidTimeBegin">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ValidTimeBegin}">
				{$label userinfo ValidTimeBegin}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ValidTimeBegin}
			</div>
			<div class="col-md-4" >
				{$ValidTimeBegin_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ValidTimeBegin_editcontrol1}
			</div>
		</div>
	</div>
{END ValidTimeBegin_fieldblock}
	{BEGIN ValidTimeEnd_fieldblock}		
	<div class="container {$fielddispclass_ValidTimeEnd}" data-fieldname="ValidTimeEnd">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_ValidTimeEnd}">
				{$label userinfo ValidTimeEnd}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_ValidTimeEnd}
			</div>
			<div class="col-md-4" >
				{$ValidTimeEnd_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ValidTimeEnd_editcontrol1}
			</div>
		</div>
	</div>
{END ValidTimeEnd_fieldblock}
	{BEGIN TimeZone1_fieldblock}		
	<div class="container {$fielddispclass_TimeZone1}" data-fieldname="TimeZone1">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeZone1}">
				{$label userinfo TimeZone1}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeZone1}
			</div>
			<div class="col-md-4" >
				{$TimeZone1_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeZone1_editcontrol1}
			</div>
		</div>
	</div>
{END TimeZone1_fieldblock}
	{BEGIN TimeZone2_fieldblock}		
	<div class="container {$fielddispclass_TimeZone2}" data-fieldname="TimeZone2">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeZone2}">
				{$label userinfo TimeZone2}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeZone2}
			</div>
			<div class="col-md-4" >
				{$TimeZone2_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeZone2_editcontrol1}
			</div>
		</div>
	</div>
{END TimeZone2_fieldblock}
	{BEGIN TimeZone3_fieldblock}		
	<div class="container {$fielddispclass_TimeZone3}" data-fieldname="TimeZone3">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TimeZone3}">
				{$label userinfo TimeZone3}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TimeZone3}
			</div>
			<div class="col-md-4" >
				{$TimeZone3_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TimeZone3_editcontrol1}
			</div>
		</div>
	</div>
{END TimeZone3_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
