<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="USERID">
	{$USERID_editcontrol}
	</control>
	<control field="Badgenumber">
	{$Badgenumber_editcontrol}
	</control>
	<control field="SSN">
	{$SSN_editcontrol}
	</control>
	<control field="Name">
	{$Name_editcontrol}
	</control>
	<control field="Gender">
	{$Gender_editcontrol}
	</control>
	<control field="TITLE">
	{$TITLE_editcontrol}
	</control>
	<control field="PAGER">
	{$PAGER_editcontrol}
	</control>
	<control field="BIRTHDAY">
	{$BIRTHDAY_editcontrol}
	</control>
	<control field="HIREDDAY">
	{$HIREDDAY_editcontrol}
	</control>
	<control field="street">
	{$street_editcontrol}
	</control>
	<control field="CITY">
	{$CITY_editcontrol}
	</control>
	<control field="STATE">
	{$STATE_editcontrol}
	</control>
	<control field="ZIP">
	{$ZIP_editcontrol}
	</control>
	<control field="OPHONE">
	{$OPHONE_editcontrol}
	</control>
	<control field="FPHONE">
	{$FPHONE_editcontrol}
	</control>
	<control field="VERIFICATIONMETHOD">
	{$VERIFICATIONMETHOD_editcontrol}
	</control>
	<control field="DEFAULTDEPTID">
	{$DEFAULTDEPTID_editcontrol}
	</control>
	<control field="SECURITYFLAGS">
	{$SECURITYFLAGS_editcontrol}
	</control>
	<control field="ATT">
	{$ATT_editcontrol}
	</control>
	<control field="INLATE">
	{$INLATE_editcontrol}
	</control>
	<control field="OUTEARLY">
	{$OUTEARLY_editcontrol}
	</control>
	<control field="OVERTIME">
	{$OVERTIME_editcontrol}
	</control>
	<control field="SEP">
	{$SEP_editcontrol}
	</control>
	<control field="HOLIDAY">
	{$HOLIDAY_editcontrol}
	</control>
	<control field="MINZU">
	{$MINZU_editcontrol}
	</control>
	<control field="PASSWORD">
	{$PASSWORD_editcontrol}
	</control>
	<control field="LUNCHDURATION">
	{$LUNCHDURATION_editcontrol}
	</control>
	<control field="PHOTO">
	{$PHOTO_editcontrol}
	</control>
	<control field="mverifypass">
	{$mverifypass_editcontrol}
	</control>
	<control field="Notes">
	{$Notes_editcontrol}
	</control>
	<control field="privilege">
	{$privilege_editcontrol}
	</control>
	<control field="InheritDeptSch">
	{$InheritDeptSch_editcontrol}
	</control>
	<control field="InheritDeptSchClass">
	{$InheritDeptSchClass_editcontrol}
	</control>
	<control field="AutoSchPlan">
	{$AutoSchPlan_editcontrol}
	</control>
	<control field="MinAutoSchInterval">
	{$MinAutoSchInterval_editcontrol}
	</control>
	<control field="RegisterOT">
	{$RegisterOT_editcontrol}
	</control>
	<control field="InheritDeptRule">
	{$InheritDeptRule_editcontrol}
	</control>
	<control field="EMPRIVILEGE">
	{$EMPRIVILEGE_editcontrol}
	</control>
	<control field="CardNo">
	{$CardNo_editcontrol}
	</control>
	<control field="FaceGroup">
	{$FaceGroup_editcontrol}
	</control>
	<control field="AccGroup">
	{$AccGroup_editcontrol}
	</control>
	<control field="UseAccGroupTZ">
	{$UseAccGroupTZ_editcontrol}
	</control>
	<control field="VerifyCode">
	{$VerifyCode_editcontrol}
	</control>
	<control field="Expires">
	{$Expires_editcontrol}
	</control>
	<control field="ValidCount">
	{$ValidCount_editcontrol}
	</control>
	<control field="ValidTimeBegin">
	{$ValidTimeBegin_editcontrol}
	</control>
	<control field="ValidTimeEnd">
	{$ValidTimeEnd_editcontrol}
	</control>
	<control field="TimeZone1">
	{$TimeZone1_editcontrol}
	</control>
	<control field="TimeZone2">
	{$TimeZone2_editcontrol}
	</control>
	<control field="TimeZone3">
	{$TimeZone3_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>